// Path: src\styles\_accordions.scss
@use "../utils/mixins";
@use "../utils/variables";
@use "../utils/_palette";
@use "../_fonts";

#external-overrides {
    .MuiPaper-root {
        &.MuiAccordion-root {
            text-align: center !important;
            box-shadow: none !important;
            border: 0 !important;
            background: palette.$lightBg !important;

            &.event-categories {
                background: transparent !important;
                padding: 12px 15px !important;
                border: 1px solid rgba(255, 255, 255, 0.1) !important;
                border-radius: variables.$bigBorderRadius !important;
                width: 100% !important;

                .MuiCollapse-root {
                    .MuiAccordionDetails-root {
                        padding: 0 !important;
                    }
                }

                .MuiAccordion-heading {
                    .MuiAccordionSummary-root {
                        .MuiAccordionSummary-content {
                            button {
                                background-color: transparent !important;
                                border-radius: variables.$buttonBorderRadius !important;
                                opacity: 0.9 !important;
                                font-weight: 500 !important;
                                svg {
                                    color: white !important;
                                    margin: 0 !important;
                                    position: relative !important;
                                    right: -2px !important;
                                    font-size: 12px !important;
                                }
                            }
                            .label {
                                border: 0 !important;
                                color: white !important;
                                opacity: 1 !important;
                                text-transform: capitalize !important;
                                letter-spacing: 1px !important;
                                font-size: 15px !important;
                                padding: 0 !important;
                                line-height: 1 !important;
                                margin: 0 !important;
                                font-weight: variables.$fwRegular !important;
                            }
                        }
                    }
                }
            }

            &#children-general,
            &#children-medical,
            &#children-schooling,
            &#children-behavior {
                .section-wrapper {
                    border-radius: variables.$cardBorderRadius !important;
                    opacity: 0 !important;
                    transition: all 0.3s ease;
                    .data-row {
                        padding: 0 10px !important;
                        .label-wrapper {
                            &.always-show {
                                &.filled-input-label {
                                    label {
                                        color: rgba(80, 71, 255, 1);
                                        @include fonts.regularFont;
                                    }
                                }
                            }
                        }
                        .input-wrapper,
                        .input-field {
                            background-color: rgba(255, 255, 255, 0.9) !important;
                            input {
                                color: palette.$primaryText;
                            }
                            .input-and-children {
                                background: palette.$grey;
                                border-radius: variables.$buttonBorderRadius;
                                input {
                                    background: palette.$grey;
                                }
                            }
                        }

                        .google-autocomplete-input {
                            color: palette.$primaryText;
                        }

                        svg {
                            color: palette.$iconGrey;
                            opacity: 1;
                        }
                    }
                }
                .MuiCollapse-entered {
                    .section-wrapper {
                        transition: all 0.3s ease;
                        opacity: 1 !important;
                        //padding: 15px;
                    }
                }
            }

            &.form-accordion {
                background: transparent !important;
                border: 0 !important;

                * {
                    background: transparent !important;
                }

                .MuiCollapse-root {
                    .MuiCollapse-wrapper {
                        p {
                            color: palette.$formSubtitleText !important;

                            b {
                                color: palette.$formSubtitleText !important;
                            }
                        }
                        a {
                            color: palette.$formLinkColor !important;
                            border-bottom: 1px solid palette.$formLinkColor !important;
                        }
                    }
                }

                .MuiAccordion-heading {
                    margin: 15px 0 !important;
                    .MuiAccordionSummary-root {
                        .MuiAccordionSummary-content {
                            width: 100% !important;
                            display: flex !important;
                            justify-content: center !important;
                            align-items: center !important;
                            height: auto !important;

                            .label-wrapper {
                                width: 100% !important;
                                label {
                                    color: white !important;
                                    white-space: nowrap !important;
                                    line-height: 1 !important;
                                    padding: 0 !important;
                                }
                            }

                            svg {
                                color: palette.$formSubtitleText !important;
                                opacity: 0.6 !important;
                                margin-left: 10px !important;
                            }
                            button {
                                background: transparent !important;
                            }
                        }
                    }
                }
            }

            // WHITE BG
            &.white-bg {
                * {
                    color: palette.$primaryText !important;
                }

                .google-autocomplete-wrapper {
                    .input-wrapper,
                    .select-dropdown {
                        border: 1px solid palette.$lightBorderColor !important;
                    }
                }
                .MuiCollapse-root {
                    background: white;
                    padding: 0 10px 10px 10px !important;
                }
                .MuiAccordionDetails-root {
                }
                .MuiCollapse-entered {
                    .MuiAccordionDetails-root {
                    }
                }

                &#updates-legend {
                    .MuiCollapse-root {
                        padding: 5px 0 0 0 !important;
                    }
                }
            }

            .MuiCollapse-entered {
                //        background: white !important;
                border-radius: 0 0 8px 8px !important;

                .checkbox-group {
                    padding-bottom: 15px !important;
                }
            }

            // EXPANDED ACCORDION
            &.Mui-expanded {
                margin-bottom: 15px !important;
                h3 {
                    border: 0 !important;
                    border-radius: 8px 8px 0 0 !important;
                    &.MuiAccordion-heading {
                        border: 0 !important;

                        button {
                            &.button {
                                &.default {
                                    &.grey {
                                        border: 0 !important;
                                        border-radius: 8px 8px 0 0 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &:before {
                display: none !important;
            }

            h3 {
                #toggle-button {
                    font-weight: 500 !important;
                }
            }
            svg {
                color: palette.$iconGrey;
            }

            button {
                border: 0 !important;
                border-radius: 8px !important;

                width: 100%;
            }

            .address-input {
                //padding-left: 40px !important;

                .css-13cymwt-control {
                    background: white !important;
                }
                * {
                    //          background: white !important;
                }
            }

            .MuiCollapse-root {
                .MuiAccordion-region {
                    padding: 0 !important;
                }
                .MuiAccordionDetails-root {
                    padding: 0 !important;
                }
            }

            &.invite-accordion {
                .MuiCollapse-entered {
                    background: white !important;
                    border-radius: 0 0 variables.$borderRadius variables.$borderRadius !important;
                }
            }

            &.invite-accordion,
            &#legend {
                .MuiCollapse-root {
                    .MuiAccordion-region {
                        padding: 0 !important;
                    }
                }
            }
            &#legend,
            &.memories-accordion {
                .MuiCollapse-root {
                    .MuiAccordion-region {
                        padding: 0 !important;
                    }
                }
            }

            /*#region  EXPENSES*/
            .sorting-accordion {
                [class*="-singleValue"] {
                    grid-area: 1 / 1 / 1 / 1 !important;
                    width: max-content !important;
                    margin-right: auto !important;
                }
            }
            &#expenses-accordion {
                .MuiCollapse-root {
                    padding: 0 !important;
                }
                .filter-row {
                    .label-wrapper {
                        label {
                            color: palette.$darkerGrey !important;
                        }
                    }

                    #filters {
                        padding: 0 10px 10px 10px;
                    }
                    .buttons {
                        gap: 8px;
                        width: 100%;
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

                        button {
                            transition: all 0.3s ease-in-out;
                            background: white !important;
                            border: 1px solid palette.$lightBorderColor !important;
                            height: 30px !important;
                            color: black;
                            opacity: 0.75;
                            border-radius: variables.$buttonBorderRadius !important;
                            font-weight: variables.$fwLight !important;

                            &.active {
                                background: palette.$blend !important;
                                border: 0 !important;
                                color: white !important;
                            }
                        }
                    }
                }
            }
            /*#endregion  EXPENSES*/

            /*#region  CHILD INFO */
            &.children {
                background: transparent !important;
                border: 0 !important;
                .MuiAccordion-heading {
                    display: flex;
                    align-items: center;
                    border: 0;
                    overflow: unset !important;

                    .MuiAccordionSummary-root {
                        overflow: unset !important;

                        button {
                            &.button {
                                height: 40px !important;
                                border-radius: 8px !important;
                            }
                        }
                    }

                    .MuiButtonBase-root {
                        padding: 0 !important;
                        border: 0 !important;

                        svg {
                            position: relative;
                            top: 2px;
                            @include mixins.square(22px);
                            &.general,
                            &.behavior,
                            &.schooling,
                            &.medical {
                                top: -1px !important;

                                &.schooling {
                                }
                            }

                            &.general {
                                transform: scale(1.25);
                            }
                            &.schooling {
                                transform: scale(1.2);
                            }

                            &.to:not(.plus-minus) {
                            }
                        }

                        svg {
                            &.general {
                                color: palette.$blend !important;
                            }
                            &.schooling {
                                color: #2ecc71;
                            }
                            &.medical {
                                color: #e74c3c;
                            }
                            &.behavior {
                                color: #dc7633;
                            }

                            &.checklist {
                                &.from {
                                    color: rgba(110, 78, 255, 0.88);
                                }
                                &.to {
                                    color: #607d8b !important;
                                }
                            }
                        }

                        .MuiAccordionSummary-expandIconWrapper {
                            svg {
                                margin: 0 10px 0 0 !important;
                            }
                        }

                        .MuiAccordionSummary-content {
                            margin: 0 !important;
                            align-items: center;
                            font-size: 20px !important;
                            color: palette.$lightBlackLight;
                            border: 0 !important;
                            height: 40px !important;

                            &.Mui-expanded {
                                font-weight: variables.$fwBold !important;
                            }
                        }
                    }
                }
            }
            /*#endregion  CHILD INFO*/

            /*#region  INSTALL APP*/
            &#ios,
            &#android,
            &#pc {
                background-color: transparent !important;
                width: 100% !important;
                border: 0 !important;
                display: block !important;
                margin-bottom: 5px !important;

                .MuiAccordion-heading {
                    .MuiButtonBase-root {
                        padding: 0 !important;
                        .MuiAccordionSummary-content {
                            width: 100% !important;
                            height: auto !important;
                        }
                    }
                }
                .accordion-header {
                    width: 100% !important;
                }
                .MuiAccordionSummary-root {
                    .MuiAccordionSummary-content {
                        background: transparent !important;
                        border: 0 !important;
                    }
                }
            }
            /*#endregion  INSTALL APP*/

            /*#region  CHECKBOXES*/
            &#checkboxes {
                width: 100% !important;
                .MuiAccordion-heading {
                    .MuiAccordionSummary-root {
                        padding: 0 !important;

                        .MuiAccordionSummary-content {
                            width: 100% !important;
                            justify-content: space-between !important;
                            height: auto !important;

                            .flex {
                                width: 100% !important;
                            }
                        }
                    }
                }
            }
            /*#endregion  CHECKBOXES*/

            .MuiAccordion-heading {
                display: flex;
                align-items: center;
                border: 0;
                overflow: hidden !important;
                min-height: 0 !important;

                .MuiAccordionSummary-root {
                    overflow: hidden !important;
                    min-height: 0 !important;
                    padding: 0 !important;
                    button {
                        &.button {
                            border-radius: variables.$borderRadius !important;
                            height: unset !important;
                        }
                    }

                    .MuiAccordionSummary-expandIconWrapper {
                        svg {
                            margin: 0 10px 0 0 !important;
                            color: palette.$darkerGrey !important;
                        }
                    }

                    .MuiAccordionSummary-content {
                        margin: 0 !important;
                        align-items: center;
                        font-size: 20px !important;
                        color: palette.$primaryText;

                        &.Mui-expanded {
                            font-weight: variables.$fwMediumBold !important;
                        }

                        button {
                            padding: 0 !important;
                            span {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;
                                border-bottom: 1px solid palette.$lightBorderColor !important;
                                padding-bottom: 3px;
                                color: black !important;
                                opacity: 0.6 !important;

                                svg {
                                    top: unset !important;
                                    color: black !important;
                                    @include mixins.square(18px);
                                }
                            }
                        }

                        .label-wrapper {
                            label {
                                white-space: nowrap;
                                color: palette.$darkerGrey !important;
                                font-weight: variables.$fwLight !important;
                            }

                            &.white {
                                label {
                                    color: white !important;
                                }
                            }
                        }

                        button {
                            background: white !important;
                            //              border: 1px solid $greyBorderColor !important;
                            line-height: 1 !important;
                            white-space: nowrap !important;
                            svg {
                                color: palette.$darkerGrey !important;
                                position: relative;
                                top: -1px !important;
                            }
                        }
                    }
                }
            }

            .MuiAccordionSummary-root {
                width: 100% !important;
            }

            &#calendar-legend,
            &#checkboxes {
                background: transparent !important;
                border: 0 !important;
                h3 {
                    border: 0 !important;
                }
            }
        }
    }
}