@use "../utils/mixins";
@use "../utils/variables";
@use "../utils/palette";
@use "../_fonts";

#external-overrides {
    /*#region  MAPS */
    .pac-container {
        width: calc(100vw - 30px) !important;
        margin: 0 auto !important;
        z-index: 9999 !important;
        right: unset !important;
        left: 15px !important;
        border-radius: variables.$cardBorderRadius !important;
        padding: 10px !important;
        box-shadow: 0 58px 29px -30 rgba(0, 0, 0, 1) !important;
        background: white !important;
        border: 1px solid palette.$barelyVisibleWhite !important;
        * {
            font-family: "National Park", sans-serif !important;
            letter-spacing: 1px !important;
            border: 0 !important;
            font-weight: variables.$fwMedium !important;
            font-size: 16px !important;
            white-space: wrap !important;
            line-height: 1.3 !important;
        }

        span {
            color: palette.$primaryText !important;

            span,
            svg {
                color: palette.$blend !important;
                font-weight: variables.$fwBold !important;
            }
        }

        &::after {
            display: none !important;
        }

        .pac-item {
            padding: 8px !important;

            .pac-icon {
                &.pac-icon-marker {
                    color: palette.$blend !important;
                }
            }
        }
    }
    .gm-style-mtc {
        border-radius: variables.$borderRadius !important;
        button {
            border-radius: variables.$borderRadius !important;
            background: palette.$mediumTransWhite !important;
            color: palette.$blend !important;
            &:first-child {
                margin-right: 8px !important;
            }
        }
    }
    .gmnoprint {
        button,
        div {
            border-radius: variables.$borderRadius !important;
            font-size: 14px !important;
        }
    }
    .gm-control-active,
    .gm-svpc {
        border-radius: variables.$borderRadius !important;
        background: palette.$mediumTransWhite !important;
        color: palette.$blend !important;
        font-size: 14px !important;
        img {
            color: palette.$blend !important;
        }
    }
    /*#endregion  MAPS */

    /*#region  AUTOCOMPLETE */
    .google-autocomplete-wrapper {
        width: 100%;
        gap: 0 5px;
        &.white-bg {
            border-radius: clamp(0px, 50%, 24px) !important;

            .google-autocomplete-type {
                width: 100% !important;
                border-radius: clamp(0px, 50%, 24px) !important;
                max-width: unset !important;
                [class*="-control"] {
                    width: 100% !important;
                    max-width: unset !important;
                }

                &[class*="-container"]:not(.MuiDialog-container) {
                    color: palette.$darkGrey !important;
                    // MENU OPTIONS
                    [class*="-menu"] {
                        z-index: 10 !important;
                        position: relative !important;
                        border: 0 !important;
                        border-radius: clamp(0px, 50%, 24px) !important;
                        [id*="-listbox"] {
                            gap: 8px !important;
                            [class*="-option"] {
                                color: palette.$blend !important;
                                border: 1px solid palette.$blend !important;
                                border-radius: 50px !important;
                                font-size: 12px !important;
                                padding: 8px 10px !important;
                                letter-spacing: 0.3px !important;
                                font-weight: variables.$fwMedium !important;
                                font-family: "National Park", sans-serif !important;
                            }
                        }
                    }

                    // PLACEHOLDER
                    [class*="-placeholder"] {
                        color: palette.$darkGrey !important;
                        font-size: 15px !important;
                    }

                    [class*="-control"] {
                        border: 1px solid palette.$lightBorderColor !important;

                        [class*="-singleValue"] {
                            color: palette.$darkerGrey !important;
                            font-size: 15px !important;
                            font-weight: variables.$fwRegular !important;
                            border: 0 !important;
                            font-family: "National Park", sans-serif !important;
                        }
                        [class*="-multiValue"] {
                            border: 0 !important;
                            color: palette.$blend !important;
                            font-weight: variables.$fwBold !important;
                            font-family: "National Park", sans-serif !important;
                        }
                        // DOWN ARROW ICON
                        [class*="-indicatorContainer"] {
                            color: white !important;
                            svg {
                                color: palette.$iconGrey !important;
                                opacity: 0.6 !important;
                            }
                        }
                    }
                }
            }

            svg {
                color: palette.$iconGrey !important;
            }

            .input-field {
                background-color: palette.$grey !important;
                input {
                    color: palette.$labelText !important;
                    &::placeholder {
                        color: palette.$darkerGrey !important;
                    }
                    @include fonts.lightFont;
                }
            }
        }

        .input-field {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;

            input {
                border: 0 !important;
            }

            // Address input
            .input-and-clear-button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: left;
                border-radius: 0;
                input {
                    background: transparent;
                    text-align: left;
                    margin: 0;
                    width: 100%;
                    border-radius: 0;
                    overflow: visible;
                }
                .clear-input-button {
                    font-size: 12px !important;
                    color: white !important;
                    position: relative;
                    z-index: variables.$maxZIndex;
                    display: flex;
                    justify-content: center;
                    top: -10px;
                    align-items: center;
                    border-radius: 0 variables.$buttonBorderRadius variables.$buttonBorderRadius 0;

                    svg {
                        position: relative;
                        display: inline;
                        top: unset;
                        left: unset;
                        transform: unset;
                        @include mixins.square(20px);
                    }
                }
            }

            .label-and-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin: 0 auto;

                svg {
                    color: white;
                    opacity: 0.5;
                    margin-right: 5px;
                    @include mixins.square(16px);
                }
            }

            .google-autocomplete-input {
                position: relative;
                border: 0;
                outline: 0;
                border-radius: 0;
                caret-color: white;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-weight: variables.$fwRegular;
                color: white;
                z-index: 9;
                font-size: 15px !important;
                overscroll-behavior: none;
                overflow: auto;
                height: 100%;
                font-family: "National Park", sans-serif !important;
            }

            svg {
                color: palette.$transWhite;
                margin-left: 0;
                margin-right: 5px;
                @include mixins.square(18px);
            }
        }
    }
    /*#endregion  AUTOCOMPLETE */
}