@use "../utils/palette";
@use "../utils/variables";
@use "../utils/mixins";
@use "../_fonts";
#external-overrides {
    .label-wrapper {
        &.dropdown {
            label {
                color: white !important;
                opacity: 0.7 !important;
                font-size: 16px !important;
                font-weight: variables.$fwMedium !important;
            }

            &.white-bg {
                label {
                    color: rgba(0, 0, 0, 0.5) !important;
                }
            }
        }
    }
    .select-dropdown {
        &.has-value {
            [class*="-control"] {
                [class*="css-"] {
                    //margin-top: 8px !important;
                }

                // svg
            }
        }
        /*#region  WHITE BG */
        &.white-bg {
            background: palette.$grey !important;

            &[class*="-container"]:not(.MuiDialog-container) {
                border-radius: clamp(0px, 50%, 24px) !important;

                // MENU OPTIONS
                [class*="-menu"] {
                    z-index: 9 !important;
                    position: relative !important;
                    border: 0 !important;
                    border-radius: clamp(0px, 50%, 24px) !important;
                    [id*="-listbox"] {
                        gap: 8px !important;
                        [class*="-option"] {
                            color: rgba(0, 0, 0, 0.6) !important;
                            border-radius: 50px !important;
                            font-weight: 400 !important;
                            background: palette.$grey !important;
                        }
                    }
                }
                [class*="-control"] {
                    background: palette.$grey !important;
                    [class*="css-"] {
                        color: palette.$darkerGrey !important;
                        font-size: 15px !important;
                        white-space: nowrap !important;
                        line-height: 1 !important;

                        &:first-child div {
                            width: auto !important;
                        }
                    }

                    [class*="-indicatorContainer"] {
                        svg {
                            color: palette.$darkerGrey !important;
                        }
                    }

                    [class*="-multiValue"] {
                        background: palette.$grey !important;
                        border: 1px solid palette.$lightBorderColor !important;
                    }

                    [class*="-Svg"] {
                        color: palette.$darkerGrey !important;
                    }

                    [class*="-singleValue"],
                    [id*="-placeholder"],
                    [class*="-placeholder"] {
                        color: rgba(0, 0, 0, 0.55) !important;
                        @include fonts.lightFont;
                    }
                }
            }

            [class*="-singleValue"],
            [class*="-placeholder"] {
                color: white !important;
            }
        }
        /*#endregion  WHITE BG */

        // MENU OPTIONS
        [class*="-menu"] {
            z-index: 10 !important;
            position: relative !important;
            border: 0 !important;
            border-radius: clamp(0px, 50%, 24px) !important;
            background: palette.$inputBackground !important;
            background: transparent !important;
            box-shadow: none !important;
            max-width: calc(100% - 5px) !important;
            margin: 10px auto !important;
            padding: 10px 0 !important;
            overflow: visible !important;
            height: auto !important;
            max-height: unset !important;
        }

        // DROPDOWN WRAPPER
        [class*="-control"] {
            background: transparent !important;
            min-height: 0 !important;
            box-shadow: none !important;
            padding: 12px 15px !important;
            border: 1px solid rgba(255, 255, 255, 0.1) !important;
            border-radius: variables.$bigBorderRadius !important;
            line-height: 1 !important;
            display: flex !important;
            align-items: center !important;
            justify-content: space-between !important;

            * {
                padding: 0 !important;
            }

            // TEXT/ICONS
            [class*="css-"] {
                color: white !important;
                font-size: 14px !important;
            }

            [class*="-multiValue"] {
                padding: 0 !important;
                border: 0 !important;
                box-shadow: none !important;
                max-width: unset !important;
                width: auto !important;
                margin: 5px 10px 0 0 !important;
                color: white !important;
                align-self: center !important;
                background-color: transparent !important;
                border-radius: 0 !important;
                [class*="css-"] {
                    color: white !important;
                    font-size: 14px !important;
                    padding: 0 !important;
                    text-transform: uppercase !important;
                    margin: 0 !important;
                    font-weight: variables.$fwRegular !important;

                    svg {
                        color: palette.$purpleForBlendBg !important;
                        height: 20px !important;
                        position: relative !important;
                        top: -1px !important;
                        width: 20px !important;
                    }
                }
            }

            [class*="-indicatorSeparator"] {
                display: none !important;
            }

            // DOWN ARROW ICON
            [class*="-indicatorContainer"] {
                color: white !important;
                svg {
                    color: white !important;
                    opacity: 0.6 !important;
                }
            }

            // TEXT ONLY
            [class*="-singleValue"],
            [class*="-placeholder"] {
                font-size: 15px !important;
                font-weight: variables.$fwRegular !important;
                @include fonts.lightFont;
            }

            [class*="-singleValue"] {
                color: white !important;
                margin: 0 !important;
                padding: 0 !important;
            }

            [class*="-placeholder"] {
                grid-area: 1 / 1 / 1 / 1 !important;
                text-align: left !important;
                opacity: 0.9 !important;
                margin: 0 !important;
                font-weight: variables.$fwRegular !important;
            }
        }

        &[class*="-container"]:not(.MuiDialog-container) {
            border: 0 !important;
            max-width: calc(100vw - 20px) !important;
            background: transparent !important;

            [id*="listbox"] {
                max-height: unset !important;
                display: flex !important;
                flex-wrap: wrap !important;
                align-items: center !important;
                justify-content: center !important;
                z-index: variables.$maxZIndex !important;
                pointer-events: all !important;
                position: relative !important;
                height: max-content !important;
                margin: auto 0 !important;
                gap: 0 10px !important;
                align-self: center !important;
                background: transparent !important;
                padding: 0 !important;
                overflow: hidden !important;

                [class*="-option"] {
                    z-index: variables.$maxZIndex !important;
                    pointer-events: all !important;
                    border-radius: variables.$bigBorderRadius !important;
                    text-align: center !important;
                    //flex: 1 1 calc(33.333% - 1rem) !important; /* 3 columns by default */
                    color: rgba(255, 255, 255, 0.85) !important;
                    font-size: 15px !important;
                    background-color: transparent !important;
                    padding: 8px 15px !important;
                    letter-spacing: 0.8px !important;
                    line-height: 1 !important;
                    white-space: nowrap !important;
                    display: flex !important;
                    width: max-content !important;
                    align-items: center !important;
                    justify-content: center !important;
                    font-weight: variables.$fwLight !important;
                    font-family: "National Park", sans-serif !important;
                    border: 1px solid rgba(255, 255, 255, 0.1) !important;

                    &::after {
                        content: "+";
                        display: flex !important;
                        align-items: center !important;
                        justify-content: center !important;
                        opacity: 0.8 !important;
                        margin-left: 5px;
                        height: 20px !important;
                        font-size: 20px !important;
                    }
                }
            }
        }
    }
}