@use "../utils/_palette";
@use "../_fonts";
@use "../utils/variables";
@use "../utils/mixins";

.swal2-icon {
    transform: scale(0.9);
    display: none !important;
}

.swal2-timer-progress-bar {
    background: white; /* Gradient bar */
    height: 3px; /* Default is 0.25em (~4px) */
    border-radius: 50px;
    max-width: 80%;
    margin: 0 auto;
}

// OVERLAY/PARENT WRAPPER
.swal2-container {
    background: rgba(76, 41, 232, 0.7) !important;
    backdrop-filter: blur(20px) !important;
    height: 100vh !important;
    transition: all 0.4s ease !important;
    z-index: 999999999999 !important;

    .swal2-popup {
        padding: 20px !important;
        margin: 0 !important;
        align-items: center !important;
        animation-duration: 0.8s !important;
        display: flex !important;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
        max-width: 95vw !important;
        border-radius: 0 !important;

        // Success Alert
        &.swal2-modal {
            padding: 20px 25px !important;
            border-radius: 16px !important;
            border: 0 !important;
            background: transparent !important;
            box-shadow: none !important;

            button {
                border: 0 !important;
            }

            .swal2-html-container {
                &#swal2-html-container {
                    @include fonts.fontBase;

                    & {
                        line-height: 1.5 !important;
                        font-size: 16px;
                        color: rgba(255, 255, 255, 0.9) !important;
                        padding: 0 !important;
                        margin: 0;
                        text-align: left !important;
                        width: 100% !important;
                        font-weight: variables.$fwRegular !important;
                    }
                }
            }
        }

        &.swal2-icon-error {
            justify-content: center !important;
            border: 0 !important;
            background: #b12643 !important;
            padding: 25px !important;

            #swal2-title {
                font-size: 18px;
                color: white !important;
            }
        }

        .swal2-actions {
            margin: 20px 0 0 0 !important;
            padding: 0 !important;
            flex-wrap: nowrap !important;
            width: 100% !important;
            position: relative !important;
            bottom: 0 !important;
            left: 0 !important;
            right: 0 !important;

            button {
                @include fonts.fontBase;
                color: palette.$darkestGrey;
                background-color: transparent !important;
                text-align: center;
                margin: 0 15px !important;
                display: flex;
                align-items: center;
                min-width: 100px !important;
                justify-content: center;
                align-self: stretch !important;
                font-size: 13px;
                outline: none;
                user-select: none;
                border: 0 !important;
                border-radius: 0 !important;
                font-weight: 600 !important;
                line-height: 1 !important;
                white-space: nowrap !important;

                &:where(.swal2-styled) {
                    padding: 0 0 5px 0 !important;
                }

                // CONFIRM
                &:where(.swal2-styled):where(.swal2-confirm) {
                    color: #4fffa7 !important;
                    filter: brightness(130%) !important;
                    border-bottom: 1px solid rgba(79, 255, 167, 0.4) !important;
                }

                // DENY
                &:where(.swal2-styled):where(.swal2-deny) {
                    color: palette.$yellow !important;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.4) !important;
                }
            }
        }

        &.confirm-alert,
        &.yellow,
        &.banner {
            &.banner {
                background: palette.$bootstrapGreenBg !important;
                color: palette.$bootstrapGreen !important;

                .swal2-html-container {
                    text-align: center !important;
                    font-weight: variables.$fwMedium !important;
                    font-size: 16px !important;
                }
            }

            &.confirm-alert,
            &.yellow {
                .swal2-html-container {
                    border: 1px solid palette.$bootstrapYellowBorder !important;
                    background: palette.$bootstrapYellowBg !important;
                    color: palette.$yellow;
                    padding: 15px;
                    border-radius: variables.$borderRadius;
                    font-weight: variables.$fwMedium !important;
                }

                &.confirm-alert {
                    .swal2-title {
                        border: 1px solid palette.$bootstrapYellowBorder !important;
                        background: palette.$bootstrapYellowBg !important;
                        color: palette.$yellow;
                        padding: 15px;
                        border-radius: variables.$borderRadius;
                    }
                }
            }

            &.yellow,
            &.confirm-alert {
                input {
                    @include fonts.fontBase;
                    outline: 0 !important;
                    user-select: none !important;
                    background: white !important;
                    color: black;
                }
            }
        }

        @media screen and (min-width: 800px) {
            flex-wrap: wrap;

            * {
                text-align: center !important;
            }

            .swal2-title {
                margin: 0 auto !important;
            }

            .swal2-actions {
                gap: 8px !important;
            }
        }

        #swal2-input {
            width: 100%;
            border-radius: variables.$borderRadius !important;
            margin: 0 !important;
            margin-top: 10px !important;
            background: palette.$inputBackground !important;
            border: 0 !important;
        }

        &.swal2-icon-success {
            .swal2-html-container {
                color: palette.$green;
            }
        }
    }

    .swal2-title {
        font-size: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        line-height: 1.4;
        margin: 0 !important;
        padding: 0 !important;
        text-align: center;
        color: rgba(255, 255, 255, 0.9) !important;
        font-weight: 600 !important;
        font-family: "National Park", sans-serif !important;
    }

    #swal2-textarea {
        @include fonts.fontBase;
        margin: 0;
        border-radius: variables.$borderRadius !important;
        width: 100% !important;
        outline: 0 !important;
        user-select: none !important;
    }

    &.red {
        .swal2-modal {
            .swal2-title {
                color: #ff5374 !important;
            }
        }
    }
}