$mainBlue: #143662;
$bgWhite: #f8f8ff;
$darkBlue: #001F48;
$lightBlue: #cfd9e4;
$textColor: #F5F9FF;
$lightestGrey: #F8F8F8;
$green: #00b389ee;
$red: #e83e71e8;
$bgRed: #f8d7da;
$grey: #E0E0E0;
$complimentaryBlue: #607da0;
$translucent: rgba(255, 255, 255, 0.2);
$compColor: #FFEECB;