$mainBlue: #1766cc;
$bgWhite: #f8f8ff;
$darkBlue: #2b3563;
$textColor: #f5f9ff;
$lightestGrey: #f8f8f8;
$warning: #fff3cd;
$accent: #504bff;
$menuBg: #131517;
$pink: #f8c8dc;
$linkColor: #3698fc;
$lightPurple: #af90fd;
$lightGrey: #f0f0f0;
$blue: cornflowerblue;
$blackPageContainer: #0a0a0a;
$transBlue: #2b356388;
$blurple: #4eb0ac;

//$green: #00b389;
//$red: #ca436c;
//$bootstrapBgRed: blue;
//$yellow: #fbf5bf;