@import './mixins';
@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  //  scrollbar-width: auto;
}

/* width */
::-webkit-scrollbar {
  display: none !important;
}

/* Track */
::-webkit-scrollbar-track {
  display: none !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: none !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  display: none !important;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */

html {
  background-color: $lightBg !important;
  overflow: hidden;
}

// BODY
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow: hidden !important;
  background-color: white !important;
  //  height: env(safe-area-inset-top) - env(safe-area-inset-bottom);
  //  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  //  min-height: calc(100% + env(safe-area-inset-top));
  max-height: 100vh;

  /* width */
  &::-webkit-scrollbar {
    display: none !important;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    display: none !important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    display: none !important;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    display: none !important;
  }
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}