@import './colors';
@import './animations';
@import './variables';
@import './palette';

// PAGE CONTAINER
@mixin pageContainer {
  max-width: 100vw;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.21, 0.95);
  margin-top: 100vh;
  background: $lightBg;
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
  //  height: env(safe-area-inset-top) - env(safe-area-inset-bottom);
  //  max-height: 100vh;
  max-width: env(safe-area-inset-top) - env(safe-area-inset-bottom);
  width: env(safe-area-inset-left) env(safe-area-inset-right);
  //  margin: env(safe-area-inset-right);
  //  // you can also use fallback values
  //  padding-top: env(safe-area-inset-top);
  //  padding-right: env(safe-area-inset-right);
  //  padding-bottom: env(safe-area-inset-bottom);
  //  padding-left: env(safe-area-inset-left);
  padding: 15px 15px 200px 15px;

  &.active {
    opacity: 1;
    margin-top: 0;
    z-index: 1;
    &.conversation {
      padding-bottom: 0;
      background-color: white;
      overflow: hidden;
    }
  }

  &.disable-scroll {
    overflow: hidden;
  }

  &.calendar {
    padding: 0;
  }

  &.login {
    max-height: 100vh;
  }

  @media screen and (max-width: 800px) {
    width: 100vw;
    max-width: 100vw;
  }

  @media screen and (min-width: 800px) {
    width: 800px;
    max-width: 800px;
    margin: 0 auto;
    &.active {
      opacity: 1;
      margin-top: 0;
      left: 50%;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 800px;
    max-width: 800px;
  }
}

// SCREEN TITLE
@mixin screenTitle {
  font-size: 26px;
  width: 100%;
  word-break: break-word;
  transition: all 0.6s linear;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: $mainBlue;
  font-weight: 600;
  padding-bottom: 10px;
  text-align: center;

  &.active {
    transform: scale(1);
    opacity: 1;
    left: 0;
  }

  &.conversation {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100000;
    max-width: 100vw;
    margin-top: 0;
  }

  &.shadow {
    max-width: 100vw;
    font-weight: 500;
  }

  &.hide {
    display: none;
  }

  &.documents {
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0;
    font-size: 25px;
    margin: 0;
  }

  @media screen and (min-width: 768px) {
    text-align: center;
    justify-content: center;
  }
}

// PAGE OVERLAY
@mixin pageOverlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;

  &.active {
    opacity: 1;
    z-index: 10000000;
  }
}

// DEFAULTS
@mixin lineItem {
  display: flex;
  align-items: center;
  font-size: 20px;
  width: calc(100vw - 30px);
  position: relative;
  flex-wrap: wrap;
  line-height: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 60px;
  justify-content: space-between;
  margin: 0 auto;

  span {
    &:nth-child(2) {
      margin-left: auto;
      margin-right: 0;
      font-size: 20px;
    }
  }
}
@mixin hideScrollbars() {
  /* width */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    display: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    display: none;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    display: none;
  }
}
@mixin fontType() {
  font-weight: $fwRegular;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@mixin lengthSelection {
  .action-pills {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    left: 0;

    .flex {
      background-color: transparent;
      color: white;
      padding: 5px 0;
      display: block;
      margin: 0;
      border: 0;
      border-radius: 0;
      justify-content: flex-start;
      width: 50%;
      align-items: center;

      &.close {
        min-width: 45%;
      }

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1;
        opacity: 0.8;
      }

      span {
        border-radius: 100%;
        font-size: 20px;
        opacity: 0.5;
        padding: 0;
        margin: 0;
        position: relative;
        top: -7px;
      }

      p,
      span {
        text-align: center;
        display: inline;
      }
    }

    &.swap-request,
    &.calendar-event {
      justify-content: flex-start;

      .flex {
        background-image: none;
        background-color: transparent;
        box-shadow: none;
        overflow: hidden;
        flex-wrap: nowrap;
        white-space: nowrap;
        justify-content: center;
        padding: 0 !important;
        align-items: center;
        display: flex;
        border-radius: 0;

        p {
          opacity: 0.5;
          font-weight: 400;
          transition: all 0.3s ease-in-out;
        }

        span {
          transition: all 0.3s ease-in-out;
        }

        &.active {
          border: 0;
          background-color: transparent;
          border-radius: 0;
          p {
            transform: scale(1.1);
            color: $accent;
            opacity: 0.9;
            font-weight: bold;
          }

          span {
            display: inline;
            opacity: 0.9;
            color: $accent;
            transform: scale(1.1);
            margin-right: 5px;
          }
        }
      }

      &.swap-request {
        .flex {
          max-width: 30%;
          min-width: 0;

          &.active {
            width: 60%;
            max-width: 60%;
          }
        }
      }
    }
  }
}

/*#region  FORM*/
@mixin form {
  &.transfer-change {
    input {
      &:first-child {
        margin-bottom: 0;
      }
    }
  }

  input {
    &:is(:-webkit-autofill, :-webkit-autofill:focus) {
      margin: 0 auto;
      display: block;
      width: 100%;
      border: 0;
      background-color: transparent !important;
      border-radius: 0;
      outline: 0;
      font-weight: 400;
      padding-left: 0;
      min-height: 25px;
      opacity: 0.8;
    }
  }

  input,
  textarea {
    display: block;
    width: 100%;
    outline: 0;
    font-weight: 400;
    padding: 15px 0 5px 10px;
    border: 0;
    background: rgba(241, 241, 241, 0.24);
    border-bottom: 1px solid rgba(28, 28, 28, 0.09);
    border-radius: 0;
    caret-color: black;
    transition: all 0.2s ease-in-out;

    &.rs-input {
      margin-bottom: 0;
    }

    &::placeholder {
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      opacity: 0.9;
      color: $lightDarkGrey;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid $mainBlue;
      background: rgba(153, 178, 255, 0.14);
      border-radius: 5px;
    }
  }

  textarea {
    height: 150px;
    padding: 10px;
    border-bottom: 1px solid rgba(28, 28, 28, 0.27);
    border-radius: 0;
  }

  label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 3px;

    svg {
      font-size: 22px;
      margin-right: 8px;
      color: $lightDarkGrey;
    }
    @include label;
  }

  .button-group {
    margin: 0 auto;
    justify-content: center;
  }
}
/*#endregion  FORM*/

/*#region  BUTTONS*/
@mixin pillButton {
  font-size: 14px;
  border: 1px solid $lightAccent;
  color: $lightAccent;
  padding: 2px 15px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  text-align: center;
  &.active {
    background-color: $lightAccent;
    color: white;
  }
}
@mixin defaultButton() {
  border-radius: $borderRadius;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: white;
  line-height: 1;
  min-height: 40px;
  @include buttonPress;

  * {
    line-height: 1;
  }

  svg {
    font-size: 18px;
    margin-left: 5px;
  }

  &.green {
    background-color: $green;
    color: white;
  }

  &.white {
    background-color: white;
    color: black;
  }

  &.default {
    color: $mainBlue;
    border: 1px solid $mainBlue;
    background: transparent;
    &.green {
      background: transparent;
      border: 1px solid $green;
      color: $green;
    }

    &.red {
      color: $red;
      border: 1px solid $red;
      background-color: transparent;
    }

    &#upload-button {
      color: white;
    }
  }

  &.glow {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(124, 117, 255, 1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(124, 117, 255, 1);
    box-shadow: 0px 0px 12px 0px rgba(124, 117, 255, 1);
  }

  &.no-radius {
    border-radius: 0;
  }

  &.no-border {
    border: 0;
  }

  &.green-text {
    color: $green;
  }

  &.red-text {
    color: $red;
  }

  &.no-border {
    border-radius: 0;
  }
}

@mixin button() {
  border-radius: 20px;
  color: white;
  padding: 5px 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 20px;
  }

  &.default {
    opacity: 1;
  }

  &.red {
    color: rgba(232, 62, 113, 0.849);
    border: 1px solid rgba(232, 62, 113, 0.849);
  }

  &.white {
    background-color: white;
    color: black;
  }

  &.glow {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(124, 117, 255, 1);
    -moz-box-shadow: 0px 0px 12px 0px rgba(124, 117, 255, 1);
    box-shadow: 0px 0px 12px 0px rgba(124, 117, 255, 1);
  }

  &.bottom {
    padding: 15px 0;
    background-color: $green;
    color: white;
    width: 50px;
    height: 50px;
    border: 0;
    font-size: 18px;
    position: fixed;
    right: 20px;
    margin: 0;
    border-radius: 100%;
    transition: all 0.9s ease-in-out;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    @include shadow;
    transform: scale(0);
    opacity: 0;
    bottom: 50px;
    z-index: 10000;

    &.visible {
      opacity: 1;
      margin-top: 0;
      transition: all 0.5s ease-in-out;
      transform: scale(1);
    }

    &.red {
      background-color: $red;
      bottom: 115px;
      transition: all 0.7s ease-in-out;
    }

    &.pressed {
      border-radius: 5px;
      width: 90vw;
      border-top: 0;
      transition: all 0.9s ease-in-out;
    }

    &.single {
      @include bestShadow;
    }

    &.blue {
      background-color: $darkBlueLight;
    }

    &.delete,
    &.cancel {
      background-color: $red;
      color: white;
    }

    &.w-third {
      width: calc(100vw / 3);

      &:first-child {
        left: 0;
      }

      &:nth-child(1) {
        left: calc(100vw / 3);
      }
    }

    &.default {
      background-color: $blue;
      color: white;
      margin: 0;
      font-size: 18px;
      position: fixed;
      bottom: 180px;
    }

    &.add-new-button {
      bottom: 100px;
      margin: 0;
      z-index: 10;
    }

    span {
      transform: scale(1.6);
    }

    @media screen and (min-width: 768px) {
      right: 25px;
      bottom: 100px;

      &.default {
        bottom: 180px;
      }

      &.red {
        bottom: 160px;
      }

      &.add-new-button {
        bottom: 100px;
      }
    }
  }

  &.no-border {
    border-radius: 0;
  }
}
/*#endregion  BUTTONS*/

/*#region  EFFECTS*/
@mixin darkBg($darkAmount: 0.9) {
  position: fixed;
  top: 50%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, $darkAmount);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}
@mixin transBg {
  background-color: rgba(255, 255, 255, 0.2);
}
@mixin buttonPress() {
  transition: all 0.5s linear;
  &:active {
    transform: scale(0.7);
    opacity: 0.5;
    border: 0;
  }
}
@mixin fadeAndExpand($vertOrHorizOrAll: 'all') {
  opacity: 0;
  max-height: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);

  @if ($vertOrHorizOrAll == 'vert') {
    transform: scaleY(0);
  }

  &.active {
    transform: scale(1);
    opacity: 1;
    max-height: 1000px;

    @if ($vertOrHorizOrAll == 'vert') {
      transform: scaleY(1);
    }
  }
}
@mixin bgEffect {
  background: linear-gradient(-45deg, $translucent, $lightBlue, $mainBlue);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}
@mixin blurredBg() {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  transition: all 0.5s ease-in-out;
}
@mixin gradientButtonBg {
  background-image: linear-gradient(to right, $darkBlue 0%, $mainBlue 51%, $lightBlue 100%);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 5px $mainBlue;
}
@mixin sparkleOnClickButton {
  position: relative;
  transition: all 0.7s linear;
  &:active {
    right: 0;
    box-shadow:
      0 10px 15px -5px rgba(#000, 0.1),
      0 0 0 40px rgba(#fff, 0.2) inset;
    width: calc(100vw - 20px);
    max-width: 100%;
    transition: all 0.5s ease-in-out;
  }
}
@mixin sparkleButton() {
  &:focus {
    outline: 0;
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }

  &:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #fc76ae 20%, transparent 20%), radial-gradient(circle, transparent 20%, #fc76ae 20%, transparent 30%),
      radial-gradient(circle, #fc76ae 20%, transparent 20%), radial-gradient(circle, #fc76ae 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #fc76ae 15%, transparent 20%), radial-gradient(circle, #fc76ae 20%, transparent 20%),
      radial-gradient(circle, #fc76ae 20%, transparent 20%), radial-gradient(circle, #fc76ae 20%, transparent 20%),
      radial-gradient(circle, #fc76ae 20%, transparent 20%);
    background-size:
      10% 10%,
      20% 20%,
      15% 15%,
      20% 20%,
      18% 18%,
      10% 10%,
      15% 15%,
      10% 10%,
      18% 18%;
    //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }

  &:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #fc76ae 20%, transparent 20%), radial-gradient(circle, #fc76ae 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #fc76ae 15%, transparent 20%), radial-gradient(circle, #fc76ae 20%, transparent 20%),
      radial-gradient(circle, #fc76ae 20%, transparent 20%), radial-gradient(circle, #fc76ae 20%, transparent 20%),
      radial-gradient(circle, #fc76ae 20%, transparent 20%);
    background-size:
      15% 15%,
      20% 20%,
      18% 18%,
      20% 20%,
      15% 15%,
      10% 10%,
      20% 20%;
    //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  &:active {
    transform: scale(0.9);
    background-color: darken(#6447f5, 5%);
  }

  &.animate {
    &:before {
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }

    &:after {
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}
@mixin translucentBgWithBorder {
  background-color: rgba(38, 38, 38, 0.3);
}
@mixin glow {
  -webkit-box-shadow: 0px 0px 12px 0px $mainBlue;
  -moz-box-shadow: 0px 0px 12px 0px $mainBlue;
  box-shadow: 0px 0px 12px 0px $mainBlue;
}
@mixin fadeBottom {
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
@mixin shadow {
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
}
@mixin bestShadow {
  // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  // box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 100px 54px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 30px 14px;
}
@mixin topShadow {
  box-shadow:
    0px 50px 25px rgba(0, 0, 0, 0.56),
    00px -25px 15px rgba(0, 0, 0, 0.56);
}
@mixin blackGlow {
  -webkit-box-shadow: 0px 0px 12px 0px rgb(0, 0, 0);
  -moz-box-shadow: 0px 0px 12px 0px rgb(0, 0, 0);
  box-shadow: 0px 0px 12px 0px rgb(0, 0, 0);
}
@mixin translucent($amount: 0.2) {
  background-color: rgba(255, 255, 255, $amount);
}
@mixin long-shadow($type, $color, $length, $fadeout: true, $skew: false, $direction: right) {
  $shadow: '';

  @if $skew ==false or $type ==text {
    @if $direction ==right {
      @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $color + ',';
      }
    }

    @if $direction ==left {
      @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $color + ',';
      }
    }
  }

  @if $fadeout ==true {
    @for $i from 1 to $length - 1 {
      @if $type ==text or $skew ==false {
        @if $direction ==right {
          $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + rgba($color, 1 - $i / $length) + ',';
        }

        @if $direction ==left {
          $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + rgba($color, 1 - $i / $length) + ',';
        }
      }

      @if ($type ==box) and $skew ==true {
        @if $direction ==right {
          $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * 0.2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
        }

        @if $direction ==left {
          $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $i * 0.2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
        }
      }
    }

    $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba($color, 0);
  }

  @if $fadeout ==false {
    @if $skew ==true and ($type ==box) {
      @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * 0.1 + 'px ' + $color + ',';
      }
    }

    $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba(0, 0, 0, 0);
  }

  $shadow: unquote($shadow);

  @if $type == 'box' {
    box-shadow: $shadow;
  }

  @if $type == 'text' {
    text-shadow: $shadow;
  }
}
/*#endregion  EFFECTS*/

/*#region  POSITIONING*/
@mixin centerHoriz() {
  left: 50%;
  transform: translateX(-50%);
}
@mixin centerVert() {
  top: 50%;
  transform: translateY(-50%);
}
@mixin deadCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 0;
}
@mixin horizCenter {
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
@mixin extraClickableSpace {
  &::after {
    padding: 30px;
    content: '';
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/*#endregion  POSITIONING*/

/*#region  COMPONENTS*/
@mixin label {
  label {
    font-size: 16px;
    margin-right: 8px;
  }
}
@mixin inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 8px;

  #label-wrapper {
    margin: 0;
    label {
      margin: 0;
      color: $lightBlueMedium;
      font-size: 14px;
      font-weight: $fwMedium;
    }
  }

  #blur {
    backdrop-filter: blur(8px);
    position: relative;
    z-index: 100;
    top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    left: -200px;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    height: 0;
    width: 0;

    &::before {
      content: '';
      position: absolute;
      top: -8px;
      left: -8px;
      background-position: 50%;
      filter: blur(8px);
      z-index: -1;
    }
  }

  .MuiInputBase-root {
    height: 43px;
  }

  &.textarea {
    height: 150px;
  }

  &.date {
    #blur {
      height: auto;
      width: auto;
      left: 10px;
      opacity: 1;
    }

    .floating-label {
      opacity: 1;
      z-index: 100;

      span {
        font-size: 14px;
        color: $mainBlue;

        &.asterisk {
          color: $red;
        }
      }
    }
  }

  &.active {
    input,
    textarea {
      width: 100%;
      &::placeholder {
        color: transparent;
      }
    }
    #blur {
      left: 10px;
      opacity: 1;
      height: auto;
      width: auto;
    }
    .floating-label {
      opacity: 1;

      span {
        font-size: 14px;
        color: $mainBlue;

        &.asterisk {
          color: $red;
        }
      }
    }
  }

  .floating-label {
    transition: all 0.4s ease-in-out;
    opacity: 0;
    z-index: 10000;
    width: auto;
    display: inline-block;
    position: relative;
    background-color: transparent;
  }
}
@mixin inputSugguestionDropdown {
  transition: all 0.3s ease-in-out;
  height: 0;

  &.active {
    height: auto;
    opacity: 1;

    .suggestions {
      padding: 10px;
    }
    .material-icons-round {
      display: block;
    }
  }
  .material-icons-round {
    font-size: 30px;
    margin: 0 0 0 10px;
    color: $blue;
    display: none;
  }
  .suggestions {
    width: 90%;
    border-radius: 0 0 $borderRadius $borderRadius;
  }
}
@mixin numpad {
  border-radius: $borderRadius;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  margin-bottom: 15px;

  &.active {
    height: 230px;
    opacity: 1;
  }

  .flex {
    &.row {
      margin: 0;
    }
  }

  .num-box {
    height: 100%;
    width: calc(100% / 3);
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 20px;
    border: 0;

    &.pressed {
      border-radius: $borderRadius;
      transform: scale(1.1);
    }

    &.radius-left {
      border-radius: $borderRadius 0 0 0;
    }
    &.radius-right {
      border-radius: 0 $borderRadius 0 0;
    }
    &.radius-left-bottom {
      border-radius: 0 0 0 $borderRadius;
    }
    &.radius-right-bottom {
      border-radius: 0 0 $borderRadius 0;
    }

    .submit {
      transform: scale(1.5);
    }
  }

  #submit-button {
    span {
      transform: scale(2);
      color: $green;
    }
  }

  .row {
    width: 100%;
  }

  .num-wrapper {
    height: 100%;
    width: 100%;
  }
}
@mixin actionPills() {
  display: flex;
  align-items: center;
  background-color: $bestGreyForWhite;
  border-radius: 20px;
  margin-bottom: 20px;
  height: 40px;
  * {
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  &.calendar {
    display: flex;
    align-items: center;
    .duration-option {
      width: calc(100% / 2);
      padding: 5px 10px;
      margin: 0;

      p {
        position: relative;
        top: 1.5px;
      }

      svg {
        margin-right: 5px;
        font-size: 22px;

        &.single-day-icon {
          font-size: 20px;
        }
      }
    }
  }

  .duration-option {
    align-items: center;
    justify-content: center;
    color: $lightDarkGrey;
    margin-right: 10px;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    border: 0;
    padding: 10px;
    display: flex;
    align-self: stretch;
    border-radius: 20px;
    width: calc(100% / 3);

    &.active {
      background-color: rgba(0, 0, 0, 0.05);
      width: 50%;
      span,
      svg,
      p {
        color: rgba(45, 104, 255, 0.71);
        line-height: 1;
        opacity: 1;
        font-weight: $fwBold;
      }
    }

    p {
      margin: 0;
      font-size: 14px;
      font-weight: 400;
      opacity: 0.9;
      display: flex;
      align-items: center;
      transition: all 0.3s ease-in-out;
      color: $lightDarkGrey;
    }

    span {
      font-size: 18px;
      color: $lightDarkGrey;
      margin-right: 5px;
      display: flex;
      position: relative;
      top: -1px;
      align-items: center;
    }
  }
}
@mixin checkbox {
  height: 22px;
  width: 22px;
  border: 1px solid #cccc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  border-radius: 100%;
  min-width: 22px;

  .checkmark-icon {
    display: none;
    color: white;
  }

  &.active {
    background-color: $purple;
    -webkit-box-shadow: 0 0 12px 0 $purple;
    -moz-box-shadow: 0 0 12px 0 $purple;
    box-shadow: 0 0 12px 0 $purple;

    &.delete {
      background-color: $red;
      -webkit-box-shadow: 0 0 12px 0 $red;
      -moz-box-shadow: 0 0 12px 0 $red;
      box-shadow: 0 0 12px 0 $red;
    }

    .checkmark-icon {
      display: block;
      margin: 0 auto;
      font-size: 20px;
    }
  }
}
@mixin checkboxGroup {
  padding: 0;
  display: block;
  &.parent-type {
    #checkboxes {
      width: 100%;
      #checkbox-container {
        width: 45%;
      }
    }
  }

  #checkboxes {
    gap: 5px 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  #label-wrapper {
    width: 100%;
  }

  #parent-label-wrapper {
    display: flex;
    align-items: center;
    #parent-label {
      margin: 0 0 3px 0;
      line-height: 1.4;
    }
  }

  &.gap-5 {
    //    gap: 5px;
  }

  &.gap-10 {
    //    gap: 10px;
  }

  &.gap-15 {
    //    gap: 15px;
  }

  &.holiday-checkboxes {
    #checkboxes {
      gap: 10px 0;
    }
    #checkbox-container {
      width: 45%;
    }
  }

  #checkbox-container,
  #standalone-checkbox-container,
  #share-with-checkbox-container {
    &.flex {
      align-items: center;
      margin-bottom: 0;

      span {
        color: $lightBlack;
        font-weight: $fwRegular;
        display: inline;
        margin-left: 6px;
        line-height: 1.4;
      }

      .box {
        height: 18px;
        width: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-out;
        border-radius: 100%;
        min-width: 18px;
        border: 1.5px solid $lightDarkGrey;

        &.active {
          transition: all 0.3s ease-out;
          #inner-circle {
            background-color: $mainBlue;
          }
        }

        #inner-circle {
          height: 16px;
          width: 16px;
          border: 3px solid white;
          border-radius: 100%;
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}
@mixin uploadInputs() {
  &.new-expense-card,
  &.new-memory-card,
  &.new-document-card {
    margin-top: 10px;
    .flex {
      align-items: stretch;
      width: 100%;
      button,
      label,
      input {
        width: 50%;
        border-radius: $borderRadius;
        height: 45px;
      }
    }
  }

  #upload-input {
    width: 100%;
  }
}
@mixin accordionList {
  .accordion-header {
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
    background-color: #2b3881;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
    text-align-last: center;
  }

  .child-name {
    font-size: 14px;
    text-align: center;
    width: 100px;
    color: white;
    padding: 10px 0;
    font-weight: 500;
    margin: 0;
    border-radius: 8px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // List Items
  [role='region'] {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 8px;
    max-width: 100%;
  }

  .rs-panel-body {
    padding: 15px;
  }

  .rs-anim-in {
    display: flex;
    justify-content: center;
  }

  .rs-panel-in {
    background-color: #f0f0f0;
  }
}
@mixin popupCardContainer {
  // Variables
  $cardRed: #cf436e;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0;
  background: black;
  transition: all 0.5s ease-in-out;

  &.has-image {
    #card {
      background-color: transparent;
      padding: 0;
      box-shadow: none;

      #subtitle {
        margin: 0;
      }

      #title {
        p {
          color: white;
          padding: 0 0 10px 0;
          margin: 0 auto;
        }
      }
    }

    img {
      max-height: 80vh;
      margin: 0 auto;
      width: auto;
      border-radius: 20px;
    }

    &.multiple {
      #card {
        .image-wrapper {
          opacity: 0;
          transition: all 0.4s ease-in-out;
          position: relative;
          top: 200px;

          &.active {
            opacity: 1;
            top: 0;
          }
        }
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        bottom: 0;
        transform: translate(-50%, -50%);
      }

      #memory-notes {
        // position: fixed;
        font-size: 22px;
        opacity: 0.7;
        text-align: center;
        width: 100%;

        // bottom: -245px;
        height: 200px;
        overflow: auto;
      }

      #left-arrow,
      #right-arrow {
        position: fixed;
        font-size: 30px;
        left: -15px;
        border-radius: 100%;
        height: 40px;
        width: 40px;
        padding: 5px;
        color: $accent;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -25px;

        &#right-arrow {
          right: -15px;
          left: auto;
        }
      }
    }
  }

  &.active {
    opacity: 1;
    z-index: $maxZIndex;

    #card {
      opacity: 1;
      transition: all 0.5s ease-in-out;
      top: 50%;
    }

    &.error,
    &.success {
      #card {
        p {
          font-weight: bold;
          margin: 0;
          font-size: 18px;
        }

        #subtitle {
          margin-bottom: 0;
        }

        .message {
          margin: 10px 0;

          p {
            font-size: 16px;
            font-weight: 400;
            text-align: left;
            line-height: 1.4;
          }
        }
      }
    }

    &.success {
      #card {
        p {
          color: $green;
        }
      }
    }

    &.error {
      #card {
        p {
          color: $red;
          text-align: center;
        }
      }
    }
  }

  &.error-boundary {
    background-color: white;

    #card {
      border-radius: 0;
      height: 100vh;
      width: 100vw;
      box-shadow: none;
      max-height: 95vh;
      overflow: auto;
    }
  }

  #close-icon {
    font-size: 50px;
    font-weight: 500;
    margin-left: auto;
    color: white;
    position: fixed;
    bottom: 0px;
    z-index: 100000;
    opacity: 0.6;
    @include centerHoriz();
  }

  #card {
    @include deadCenter();
    width: 90vw;
    background-color: white;
    @include bestShadow();
    border-radius: 15px;
    padding: 20px;
    position: relative;
    height: auto;
    opacity: 0;
    width: 90vw;
    top: 100vh;
    transition: all 0.5s ease-in-out;
    text-align: left;

    #button-group {
      width: 100%;
      margin-top: 10px;

      button {
        border-radius: 8px;
        padding: 8px 0;
        font-weight: 500;

        &:first-child {
          margin-right: 8px;
        }

        &.single {
          margin: 0 auto;
        }

        &.green {
          background-color: $green;
        }

        &.approve {
          background-color: $green;
        }

        &.reject {
          background-color: $cardRed;
        }
      }
    }

    #title {
      width: calc(100% - 15px);

      p {
        color: $mainBlue;
        font-weight: bold;
        text-align: left;
        font-size: 20px;
        justify-content: space-between;
        align-items: center;
      }
    }

    #subtitle {
      font-size: 16px;
      opacity: 0.8;
      text-align-last: left;
      font-weight: 400;
      font-style: italic;
      margin-bottom: 15px;
    }

    #text-container {
      p {
        &.heading {
          font-weight: bold;
        }
      }

      #steps {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;

        &#wrap {
          flex-wrap: wrap;
        }

        .settings-icon {
          height: 22px;
        }

        .step-number {
          font-weight: bold;
          margin-right: 10px;
        }

        span {
          text-align: left;
        }

        p {
          text-align: left;
          display: flex;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }

    @include accordionList();

    p,
    .emphasize {
      font-size: 14px;
      font-weight: 400;

      &.message {
        line-height: 1.7;
      }

      &.emphasize {
        background-color: #f0f0f0;
        border-radius: 5px;
        padding: 3px 10px;
        font-weight: bold;
        font-size: 13px;
      }

      &.accordion-header {
        color: white;
        font-weight: 500;
        margin-bottom: 10px;
        background-color: #2b3881;
        border-radius: 10px;
        padding: 10px 0;
        text-align: center;
        text-align-last: center;
      }

      span {
        color: $linkColor;
      }
    }

    input,
    textarea {
      background-color: rgba(139, 139, 139, 0.25);
      border: 0;
      border-radius: $borderRadius;
      padding: 10px 10px;
      font-size: 14px;

      &::placeholder {
        font-size: 14px;
        opacity: 0.9;
      }
    }

    .rs-panel {
      .item {
        font-size: 14px;
        text-align: center;
        width: 100px;
        padding-bottom: 5px;
        margin: 0 auto 10px auto;
      }
    }

    .rs-panel-body,
    .rs-panel-header {
      padding: 0;
      margin-bottom: 10px;
    }

    .rs-panel-in {
      background-color: #f0f0f0;
      padding: 15px 0 10px 0;
    }
  }

  // Install App
  &.install-app {
    .rs-panel-body,
    .rs-panel-header {
      padding: 0;
    }

    #card {
      .rs-panel-in {
        background-color: transparent;
        padding: 15px 0 10px 0;
      }

      .accordion-header {
        color: white;
        font-weight: 500;
        background-color: black;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        text-align-last: center;
        display: flex;
        align-items: center;
        font-size: 18px;

        svg {
          margin-left: 8px;
          font-size: 20px;
          &:last-child {
            margin-left: auto;
          }
        }

        &.android {
          background-color: #359948;

          span {
            color: white;
          }
        }

        &.desktop {
          background-color: $mainBlue;
        }

        span {
          position: relative;
          top: 2px;
        }
      }
    }

    .os-container {
      .while-viewing {
        text-align-last: left;
        font-weight: 500;
        margin-bottom: 5px;
        font-size: 15px;
      }

      .emphasize {
        background-color: #f0f0f0;
        border-radius: 5px;
        padding: 3px 10px;
        font-weight: 500;
        font-size: 14px;

        &.no-bold {
          font-weight: 400;
        }

        &.more-padding {
          padding: 8px;
        }
      }
    }

    .flex {
      &.steps {
        flex-wrap: wrap;

        .flex {
          width: 100%;
          align-items: center;
          margin-bottom: 10px;

          .step-number {
            font-weight: bold;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
@mixin popupContainers {
  border-radius: $borderRadius;
  width: 90vw;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  margin: 100vh auto 0 0;
  background-color: $red;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  top: 0;
  bottom: auto;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.21, 0.95);
  @include bestShadow();
  height: auto;

  .text {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    z-index: 10000;
    position: relative;
    width: 90vw;
    opacity: 1;
    text-align: center;
    height: auto;
    padding: 10px;
    color: white;

    &.success {
      background-color: $green;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      width: 90%;
      max-width: 90%;
      display: block;
      margin: 0 auto;
      z-index: 10000;
      // padding-bottom: 10px;
    }
  }

  .cancel {
    position: fixed;
    font-size: 28px;
    top: 2px;
    right: 5px;
    z-index: 100000000;
  }

  &.show {
    height: auto;
    z-index: 10000000000;
    opacity: 1;
    margin-top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &#alert-container {
      background-color: $green;
    }
  }

  &#alert-container {
    .text {
      background-color: $green;
      z-index: 100;

      * {
        color: white;
      }
    }

    &.error {
      background-color: $red;

      .text {
        background-color: $red;
      }
    }
  }

  &#confirm-container {
    background-color: #d53a6c;
    width: 90vw;
    @include bestShadow();
    position: relative;
    align-items: flex-start;
    border-radius: 15px;
    position: fixed;

    .button-group {
      width: 100%;
      justify-content: center;
      margin-top: 30px;

      button {
        color: white;
        width: 50%;
        margin: 0;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 35px;
        border: 0;
        background-color: transparent;
        font-weight: 600;
        opacity: 1 !important;
        font-size: 16px;
        padding: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: 1px solid #c03361;
        border-bottom: 0;

        &:first-child {
          margin-top: 0;
          left: 0;
          border-radius: 0 0 0 15px;
          border-left: 0;
        }

        &:nth-child(2) {
          right: 0;
          border-radius: 0 0 15px 0;
          border-right: 0;
        }

        span {
          font-size: 18px;
          position: relative;
          top: 1px;
          color: white;
          margin-left: 8px;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }

    &.error {
      background-color: #d53a6c;
    }

    &.default {
      background-color: $green;

      .button-group {
        button {
          border: 1px solid #00d9d1;
        }
      }
    }

    .text {
      position: relative;
      margin: 0;
      padding: 0;
      padding-top: 20px;
      height: 100%;
      width: 100%;

      p {
        font-weight: 500;
        color: white;
        font-size: 25px;
        margin: 0;
        max-width: 85%;
        text-transform: uppercase;
        text-align: center;

        &.subtitle {
          font-size: 17px;
          max-width: 90%;
          margin-top: 5px;
          opacity: 0.9;
          line-height: 1.2;
          text-align: center;
          font-weight: 400;
          display: block;
          text-transform: none;
        }
      }
    }
  }

  &.desktop {
    p {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 800px) {
    width: 50vw;

    .text,
    p {
      text-align: center;
      width: 100%;
    }
  }
}
@mixin bottomCard {
  background-color: white;
  position: fixed;
  z-index: -1;
  border-radius: 30px 30px 0 0;
  bottom: -30vh;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  max-height: 0;
  overflow: auto;
  min-height: 0;
  height: 0;
  left: 0;
  width: 100vw;

  &.active {
    min-height: 30vh;
    max-height: 70vh;
    height: auto;
    opacity: 1;
    bottom: 0;
    z-index: $maxZIndex;
    transition: all 0.4s ease-in-out;

    &.new-calendar-event,
    &.edit-calendar-event {
      min-height: 90vh;
    }
    &.view-holidays {
      max-height: 25vh;
      min-height: 0;
    }
  }

  /*#region  CARDS BY CLASS*/
  // VIEW HOLIDAYS
  &.view-holidays {
    min-height: 250px;
    max-height: 250px;
    padding-bottom: 150px;
  }

  // EXPENSE TRACKER FILTER CARD
  &.filter-card {
    label {
      line-height: 1;
      font-size: 18px;
      padding-left: 3px;

      &.sort-by {
        padding: 0;
      }
    }

    .sort-by {
      .list-item {
        margin-left: 10px;
        margin-bottom: 10px;
        font-weight: $fwBold;
      }
    }

    .pills {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 5px 10px;
      flex-wrap: wrap;

      .pill {
        @include pillButton;
      }
    }
  }

  // CHILD SELECTOR
  &.child-selector {
    .child-name {
      @include pillButton;
      margin: 0;
    }
  }

  // FULL MENU
  &.full-menu {
    background: $lightBg;
    min-height: 90vh;

    #title-wrapper {
      background-color: $lightBg !important;
    }

    .buttons {
      background: $lightBg !important;
      border: 0 !important;
    }
  }

  // CUSTOM CHILD INFO
  &.custom-child-info-wrapper {
    #info-type {
      display: flex;
      align-items: center;
      background-color: $bestGreyForWhite;
      border-radius: 20px;
      margin-bottom: 20px;

      * {
        line-height: 1;
        margin: 0;
        padding: 0;
      }

      .item {
        align-items: center;
        justify-content: center;
        color: $lightDarkGrey;
        background-color: transparent;
        text-align: center;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        border: 0;
        padding: 10px;
        display: flex;
        font-size: 14px;
        align-self: stretch;
        border-radius: 20px;
        width: calc(100% / 4);

        &.active {
          background-color: $mainBlue;
          width: 50%;
          color: white;
          line-height: 1;
          opacity: 1;
        }
      }
    }
  }

  // CONVERSATION SEARCH CARD
  &.conversation-search-card {
    min-height: 200px;
    max-height: 200px;
  }

  // DOC VIEWER SEARCH
  &.search-card {
    max-height: 175px;
    min-height: 175px;
    #input-and-nav {
      .flex {
        align-items: center;
      }
      span {
        font-size: 30px;
        height: 35px;
        display: flex;
        align-items: center;
        position: relative;
        top: 3px;
        color: $mainBlue;

        &:first-child {
          margin-left: 8px;
        }
      }
    }
  }

  // NEW CONVERSATION
  &.new-conversation {
    .coparent-name {
      font-size: 18px;
    }
  }

  // TABLE OF CONTENTS
  &.toc {
    max-height: 70vh;
    overflow: auto;

    p:not(#title) {
      text-align: left;
      justify-self: flex-start;
      justify-content: flex-start;
      background-color: transparent;
      border: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      padding: 10px 0;
      color: $offWhite;
      font-weight: 500;

      &#toc-subtitle {
        text-align: center;
        justify-content: center;
        opacity: 0.6;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 0;
        color: black;
        padding-bottom: 0;
      }

      &.toc-header {
        color: black;
      }
    }

    #toc-contents {
      mask-image: linear-gradient(to bottom, black 80%, transparent 90%);
      padding-bottom: 100px;
    }

    #title {
      margin-bottom: 0;
      text-align: center;
      justify-content: center;
    }
  }

  // PAYMENT OPTIONS
  &.payment-options-card {
    max-height: 80vh;
    overflow: auto;
    padding-bottom: 200px;
    transition: all 0.3s ease-in-out;

    .option {
      .brand-name-wrapper {
        margin-top: 10px;
        align-items: center;
        padding: 10px;
        border-radius: $borderRadius;

        &.zelle {
          background: #6d1fd4;
        }

        &.venmo {
          background: #008cff;
        }

        &.paypal {
          background: #002991;
        }

        &.cashapp {
          background: #00d64f;
        }

        &.apple {
          background: #4c4e54;
        }

        svg,
        p {
          color: white;
          font-size: 22px;

          &.venmo-icon {
            font-size: 24px;
          }
        }

        .brand-name {
          line-height: 1;
          font-size: 22px;
          justify-content: center;
        }
      }
      .option {
        margin-top: 25px;
      }
      iframe {
        margin: 10px auto 0 auto;
        display: block;
        border-radius: $borderRadius;
        max-width: 100%;
        width: 100%;
        height: auto;
        @include shadow;
      }
      img {
        width: 50px;
        max-width: 50px;
      }
    }

    p:not(#title) {
      background-color: transparent;
      height: auto;
      margin: 0;
      padding: 0;
      text-align: left;
      justify-content: flex-start;
    }

    .text {
      width: 100%;

      p {
        margin: 0;
      }
    }

    a {
      span {
        position: relative;
        top: 3px;
      }
    }
  }
  /*#endregion  CARDS BY CLASS*/

  #relative-wrapper {
    position: relative;
    padding: 0 20px 200px 20px;

    #title-wrapper {
      position: sticky;
      top: -10px;
      background-color: white;
      z-index: 10000000;
      right: 0;
      left: 0;
      padding-top: 15px;
      margin: 0;
      padding-bottom: 10px;
      #title {
        text-align: center;
        justify-content: center;
        color: $mainBlue;
        width: 100%;
        margin-left: 40px;
        font-size: 25px;
        font-weight: bold;
        line-height: 1.2;
      }
      .close-icon {
        margin-right: 15px;
        font-size: 35px;
        z-index: 1000;
        position: relative;
        color: $lightDarkGrey;
        font-weight: bold;
        opacity: 0.6;
        border-radius: 100%;
      }
    }

    // BUTTONS
    .buttons {
      position: fixed;
      left: inherit;
      right: inherit;
      bottom: -5px;
      width: 100vw;
      display: flex;
      justify-content: center;
      z-index: 10000;
      border: 0;
      background-color: white;
      @include centerHoriz;
      padding: 15px 20px 25px 15px;
      border-top: 1px solid $borderColor;

      * {
        line-height: 1;
        align-self: center;
      }

      &.hide-bg {
        background-color: transparent;
      }

      .delete-icon {
        color: $red;
        opacity: 0.8;
        font-size: 29px;
        margin-right: 10px;
      }

      .card-button {
        border-radius: 10px;
        padding: 12px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        z-index: 10000;
        position: relative;
        -ms-transform: none;
        transform: none;
        box-shadow: none;
        left: inherit;
        right: inherit;
        bottom: 0;
        border: 1px solid $green;
        background-color: white;
        justify-self: flex-start;
        margin-right: auto;
        line-height: 1;
        font-weight: $fwRegular;

        svg {
          color: white;
          opacity: 1;
          font-size: 20px;
          margin-left: 8px;
          display: flex;
          justify-content: center;
          align-self: center;
          line-height: 1;
        }

        &.submit {
          background-color: $green;
          border: 1px solid $green;
          margin-right: auto;
          left: 0;
        }

        &.blue {
          color: $mainBlue;
          border: 1px solid $mainBlue;
        }

        &.delete,
        &.red {
          background-color: #ecf0f0;
          border: 1px solid $red;
          color: $red;
        }

        &.cancel {
          border: 1px solid $lightDarkGrey;
          color: $lightDarkGrey;
        }
      }

      &.stack {
        bottom: 30px;
        gap: 8px;
        .card-button {
          width: 40%;
        }
      }
    }

    .flex {
      margin-bottom: 8px;

      &.gap {
        margin-bottom: 0;
      }
      &.title-suggestion-dropdown {
        margin: 0;
      }
      p {
        padding-left: 0;

        &.pill {
          padding-left: 15px;
        }
      }
    }

    hr {
      border-color: $lightBorder;
    }

    #holiday-card-buttons {
      display: flex;
      gap: 10px;
      button {
        border-radius: 10px;
        padding: 12px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: inherit;
        right: inherit;
        bottom: 0;
        border: 1px solid $green;
        font-weight: $fwRegular;
        background-color: white;
        justify-self: flex-start;
        margin-right: auto;
        line-height: 1;
        color: $green;
        width: 50%;

        @include buttonPress;

        &#view-visitation-holidays-item {
          color: $mainBlue;
          border: 1px solid $mainBlue;
        }

        svg {
          color: $green;
        }
      }
    }
  }

  @media screen and (min-width: 800px) {
    max-width: 30vw;
    width: 30vw;

    @include centerHoriz;
  }
}
/*#endregion  COMPONENTS*/

/*#region  MENU*/
@mixin fullMenu {
  #full-menu {
    //    background: $mainBlue;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: auto;
    height: 100%;
    transition: all 0.6s ease-in-out;
    justify-content: space-between;
    padding: 15px 10px 0 10px;
    margin: 0 auto;
    gap: 10px 5px;
    width: 100%;

    .menu-item {
      opacity: 0;
      transform: scale(0);
      transition: all 0.6s ease-in-out;
      width: calc((100% / 3) - 5px);
      background-color: white;
      height: 100px;
      border-radius: $bigBorderRadius;
      padding: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      /*#region  ROWS*/
      &.visitation,
      &.chats,
      &.calendar,
      &.admin {
        border: 1px solid #557fff;

        * {
          color: #557fff;
        }

        &.active {
          border: 1px solid #557fff;
          background: rgba(85, 127, 255, 0.11);
        }
      }
      &.expenses,
      &.transfer-change,
      &.swap-request {
        border: 1px solid #931414;

        * {
          color: #931414;
        }

        &.active {
          border: 1px solid #931414;
          background: rgba(147, 20, 20, 0.11);
        }
      }
      &.coparents,
      &.account,
      &.settings {
        border: 1px solid #213bc7;

        * {
          color: #213bc7;
        }

        &.active {
          border: 1px solid #213bc7;
          background: rgba(33, 59, 199, 0.11);
        }
      }
      &.documents,
      &.memories,
      &.child-info {
        border: 1px solid #2d8813;

        * {
          color: #2d8813;
        }

        &.active {
          border: 1px solid #2d8813;
          background: rgba(45, 136, 19, 0.11);
        }
      }
      &.contact-us,
      &.theme,
      &.logout {
        border: 1px solid #5b3bdc;

        * {
          color: #5b3bdc;
        }

        &.active {
          border: 1px solid #5b3bdc;
          background: rgba(91, 59, 220, 0.11);
        }
      }
      /*#endregion  ROWS*/

      &.theme {
        svg {
          font-size: 30px;
        }
      }

      &.settings,
      &.contact-us,
      &.coparents {
        svg {
          font-size: 25px;
        }
      }

      &.account {
        svg {
          font-size: 32px;
        }
      }

      svg {
        font-size: 38px;
        color: white;
        width: 35px;
        display: block;
        margin: 0 auto;
      }
      p {
        color: white;
        text-align: center;
        display: block;
        margin: 0 auto;
        line-height: 1.3;
      }

      &.visible {
        margin-top: 0;
        transition: all 0.6s ease-in-out;
        transform: scale(1);
        opacity: 0.75;

        p {
          font-weight: $fwRegular;
        }

        svg {
          opacity: 0.75;
        }
      }

      &.active {
        opacity: 1;
        position: relative;
        p,
        svg {
          font-weight: bold;
          opacity: 1;
        }
      }
    }
  }
}
@mixin navBar {
  width: 100vw;
  background-color: $lightBg;
  position: fixed;
  overflow: auto;
  transition: all 0.5s ease-in-out;
  border-radius: 0 0 30px 30px;
  height: calc(90px + env(safe-area-inset-bottom));
  padding-top: 15px;
  padding-bottom: calc(env(safe-area-inset-bottom) + 50px);
  display: flex;
  align-items: center;
  bottom: 0;
  opacity: 1;
  z-index: $maxZIndex;

  &.no-add-new-button {
    #svg-wrapper {
      display: none;
    }
  }

  // Custom Colors
  &.calendar {
  }
  &.child-info {
    #svg-wrapper {
      #add-new-button {
        font-size: 28px;
      }
    }
  }
  &.documents {
    #svg-wrapper {
      #add-new-button {
        font-size: 25px;
      }
    }
  }

  #svg-wrapper {
    background-color: $green;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    #add-new-button {
      font-size: 32px;
      color: white;
    }

    &.close {
      background-color: $red;

      svg {
        color: white;
      }
    }
  }

  #menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    width: 100vw;
    padding: 20px 15px 0 15px;

    .menu-item {
      opacity: 0.8;
      flex-wrap: wrap;
      transition: all 0.3s ease-in-out;
      justify-content: center;
      display: flex;
      color: $lightDarkGrey;

      &#chat-menu-item {
        position: relative;

        .navbar-activity-badge {
          position: absolute;
          top: -2px;
          right: -2px;
          background-color: $red;
          color: white;
          padding: 8px;
          border-radius: 100%;
          height: 18px;
          width: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: $maxZIndex;
          font-size: 12px;
        }
      }

      span {
        font-size: 13px;
      }

      svg {
        font-size: 32px;
      }

      &.active:not(#add-new-button) {
        opacity: 1;
        color: $mainBlue;
        position: relative;
        transition: all 0.3s ease-in-out;
      }

      &#add-new-button {
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 45px;
        border: 0;
        opacity: 1;

        .material-icons-round {
          background-color: $green;
          border-radius: 100%;
          color: white;
          font-size: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 45px;
          width: 45px;
          border: 0;
          padding: 0;
          margin: 0;
          line-height: 1;

          &.red {
            background-color: $red;
          }
        }
      }
    }
  }
}
/*#endregion  MENU*/