@import "../styles/palette";

/*#region Margin */

.m-0 {
  margin: 0 !important;;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.mb-3 {
  margin-bottom: 3px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

// Margin Top
.mt-0 {
  margin-top: 0px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-3 {
  margin-top: 3px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

// Margin Right
.mr-0 {
  margin-right: 0px !important;
}
.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

// Margin Left
.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

/*#endregion margin */

/*#region Positioning*/
.neg-5 {
  top: -5px !important;
}
.neg-3 {
  top: -3px !important;
}
.neg-10 {
  top: -10px !important;
}
.neg-10 {
  top: -10px !important;
}
.neg-20 {
  top: -20px !important;
}
.neg-30 {
  top: -30px !important;
}
/*#endregion  */

/*#region  Height*/
.h-20 {
  height: 20px !important;
}
.h-25 {
  height: 25px !important;
}
.h-30 {
  height: 30px !important;
}
.h-35 {
  height: 35px !important;
}
.h-40 {
  height: 40px !important;
}
.h-45 {
  height: 45px !important;
}
.h-50 {
  height: 50px !important;
}
.h-55 {
  height: 55px !important;
}
.h-60 {
  height: 60px !important;
}
.h-65 {
  height: 65px !important;
}
.h-70 {
  height: 70px !important;
}
.h-80 {
  height: 80px !important;
}
.h-85 {
  height: 85px !important;
}
.h-90 {
  height: 90px !important;
}
.h-100 {
  height: 100px !important;
}
/*#endregion  Height*/

/*#region  Widths*/
.w-auto {
  width: auto !important;
}
.w-third {
  width: calc(100% / 3) !important;
  min-width: 0 !important;
}

.w-third {
  &.middle {
    margin: 0 10px !important;
  }
}

.w-20 {
  width: 20% !important;
  min-width: 0 !important;
}

.w-25 {
  width: 25% !important;
  min-width: 0 !important;
}

.w-30 {
  width: 30% !important;
  min-width: 0 !important;
}

.w-35 {
  width: 35% !important;
  min-width: 0 !important;
}

.w-40 {
  width: 40% !important;
  min-width: 0 !important;
}

.w-45 {
  width: 45% !important;
  min-width: 0 !important;
}

.w-50 {
  width: 50% !important;
  min-width: 0 !important;
}

.w-60 {
  width: 60% !important;
  min-width: 0 !important;
}

.w-70 {
  width: 70% !important;
  min-width: 0 !important;
}

.w-80 {
  width: 80% !important;
  min-width: 0 !important;
}

.w-900 {
  width: 90% !important;
  min-width: 0 !important;
}

.w-100 {
  width: 100% !important;
  min-width: 0 !important;
}
/*#endregion  Widths*/

/*#region Padding */

.p-all-10 {
  padding: 10px !important;
}

.p-all-20 {
  padding: 20px !important;
}

.p-all-30 {
  padding: 30px !important;
}

.p-0 {
  padding: 0 !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

// Margin Top
.pt-0 {
  padding-top: 0px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

// Margin Right
.pr-0 {
  padding-right: 0px !important;
}
.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

// Margin Left
.pl-0 {
  padding-left: 0 !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

/*#endregion */

/*#region Font Size */
.fs-14 {
  font-size: 14px !important;
}
.fs-15 {
  font-size: 15px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-25 {
  font-size: 25px !important;
}
.fs-26 {
  font-size: 26px !important;
}
.fs-28 {
  font-size: 28px !important;
}
.fs-30 {
  font-size: 30px !important;
}
.fs-35 {
  font-size: 35px !important;
}
.fs-40 {
  font-size: 40px !important;
}
/*#endregion */

/*#region Lineheight */
.lh-1 {
  line-height: 1 !important;
}
.lh-1_2 {
  line-height: 1.2 !important;
}
.lh-1_3 {
  line-height: 1.3 !important;
}
.lh-1_4 {
  line-height: 1.4 !important;
}
.lh-1_5 {
  line-height: 1.5 !important;
}
/*#endregion Lineheight */


/*#region Text Sizes */
.text-default {
  font-size: 16px !important;;
}

.text-small-title {
  font-size: 17px !important;
}

.text-description {
  &.dark {
    color: $offWhite !important;
    opacity: .7;
  }
}

.text-screen-intro {
  font-size: 17px !important;
  
  &.dark {
    color: $offWhite !important;
  }
}
/*#endregion Text Sizes */