$borderRadius: 8px;
$maxZIndex: 2147483647;
$bigBorderRadius: 15px;
$homeIndicatorHeight: 46px;
$statusBarHeight: 60px;

// Opacities
$subtitle: 0.9;

// Font Weights
$fwThinnest: 200;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwMediumBold: 600;
$fwBold: 700;
$fwExtraBold: 800;

// TEXT COLORS
$subtitleText: #737373;
$lessSubtleText: #656565;
$darkerSubtleText: rgba(115, 115, 115, 0.87);
$lightGreyText: #d4d4d4;
$primaryText: #616161;
$labelText: #565656;
$disabledText: #9e9e9e;