$borderRadius: 8px;
$maxZIndex: 2147483647;
$bigBorderRadius: 15px;
$homeIndicatorHeight: 46px;
$statusBarHeight: 44pt;

// Opacities
$subtitle: 0.9;

// Font Weights
$fwThinnest: 200;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwMediumBold: 600;
$fwBold: 700;
$fwExtraBold: 800;

// Box Shadows
$boxShadow_fade_bottom: rgba(0, 0, 0, 0.65) 0px -40px 36px -8px inset;
$boxShadow_float: rgba(0, 0, 0, 0.96) 0px 5px 60px 14px;
$boxShadow_bottom_only:
  rgba(0, 0, 0, 0.25) 0px 2px 1px,
  rgba(0, 0, 0, 0.25) 0px 4px 2px,
  rgba(0, 0, 0, 0.25) 0px 8px 4px,
  rgba(0, 0, 0, 0.25) 0px 16px 8px,
  rgba(0, 0, 0, 0.25) 0px 32px 16px;
$boxShadow_surround_small:
  rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
  rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
$boxShadow_surround_medium: rgb(38, 57, 77) 0px 20px 30px -10px;
$boxShadow_surround: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$boxShadow_surround_big:
  rgba(0, 0, 0, 0.35) 0px 54px 55px,
  rgba(0, 0, 0, 0.22) 0px -12px 30px,
  rgba(0, 0, 0, 0.22) 0px 4px 6px,
  rgba(0, 0, 0, 0.27) 0px 12px 13px,
  rgba(0, 0, 0, 0.19) 0px -3px 5px;

// TEXT COLORS
$subtitleText: #737373;
$lessSubtleText: #656565;
$darkerSubtleText: rgba(115, 115, 115, 0.87);
$lightGreyText: #d4d4d4;
$primaryText: #616161;
$labelText: #565656;
$disabledText: #9e9e9e;
$headerText: #404040;