$borderRadius: 8px;
$maxZIndex: 2147483647;
$bigBorderRadius: 15px;
$homeIndicatorHeight: 46px;
$statusBarHeight: 60px;

// Font Weights
$fwThinnest: 200;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwMediumBold: 600;
$fwBold: 700;
$fwExtraBold: 800;