$borderRadius: 8px;
$buttonBorderRadius: 10px;
$maxZIndex: 2147483647;
$bigBorderRadius: 15px;

// Input
$inputBackground: rgba(246, 247, 249, 0.68);

// Font Weights
$fwThinnest: 200;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwMediumBold: 600;
$fwBold: 700;
$fwExtraBold: 800;

// Box Shadows
$boxShadow_fade_bottom: rgba(0, 0, 0, 0.65) 0 -40px 36px -8px inset;
$boxShadow_float: rgba(0, 0, 0, 0.96) 0 5px 60px 14px;
$boxShadow_bottom_only_dark:
  rgba(0, 0, 0, 0.15) 0 2px 1px,
  rgba(0, 0, 0, 0.15) 0 4px 2px,
  rgba(0, 0, 0, 0.15) 0 14px 14px,
  rgba(0, 0, 0, 0.15) 0 16px 8px,
  rgba(0, 0, 0, 0.15) 0 22px 16px;
$boxShadow_surround_small:
  rgba(14, 30, 37, 0.12) 0 2px 4px 0,
  rgba(14, 30, 37, 0.32) 0 2px 16px 0;
$boxShadow_bottom_only: rgb(38, 57, 77) 0 20px 30px -10px;
$boxShadow_surround: rgba(0, 0, 0, 0.35) 0 5px 15px;
$boxShadow_surround_big:
  rgba(0, 0, 0, 0.35) 0 54px 55px,
  rgba(0, 0, 0, 0.22) 0 -12px 30px,
  rgba(0, 0, 0, 0.22) 0 4px 6px,
  rgba(0, 0, 0, 0.27) 0 12px 13px,
  rgba(0, 0, 0, 0.19) 0 -3px 5px;

// TEXT COLORS
$lightGreyText: #d4d4d4;
$primaryText: #43434c;
$labelText: #565656;
$disabledText: #9e9e9e;
$headerText: #4b5563;