// Path: src\styles\accordions.scss
@import 'mixins';
@import 'variables';
@import './palette';

#external-overrides {
  .MuiPaper-root {
    &.MuiAccordion-root {
      text-align: center !important;
      box-shadow: none !important;
      border: 0 !important;
      border-radius: 8px !important;
      background: $lightBg !important;

      // WHITE BG
      &.white-bg {
        * {
          color: $primaryText !important;
        }

        .google-autocomplete-wrapper {
          .input-wrapper,
          .select-dropdown {
            border: 1px solid $lightBorderColor !important;
          }
        }
        .MuiCollapse-root {
          background: white;
          padding: 0 10px 10px 10px !important;
        }
        .MuiAccordionDetails-root {
        }
        .MuiCollapse-entered {
          overflow: hidden !important;
          .MuiAccordionDetails-root {
          }
        }
      }

      .MuiCollapse-entered {
        //        background: white !important;
        border-radius: 0 0 8px 8px !important;

        .checkbox-group {
          padding-bottom: 15px !important;
        }
      }

      // EXPANDED ACCORDION
      &.Mui-expanded {
        margin-bottom: 15px !important;
        h3 {
          border: 0 !important;
          border-radius: 8px 8px 0 0 !important;
          &.MuiAccordion-heading {
            border: 0 !important;

            button {
              &.button {
                &.default {
                  &.grey {
                    border: 0 !important;
                    border-radius: 8px 8px 0 0 !important;
                  }
                }
              }
            }
          }
        }
      }

      &:before {
        display: none !important;
      }

      h3 {
        border-radius: 8px !important;
      }
      svg {
        color: $darkerGrey;
      }

      button {
        border: 0 !important;
        border-radius: 8px !important;

        width: 100%;
      }

      .address-input {
        .css-13cymwt-control {
          background: white !important;
        }
        * {
          //          background: white !important;
        }
      }

      .MuiCollapse-root {
        .MuiAccordion-region {
          padding: 0 !important;
        }
        .MuiAccordionDetails-root {
          padding: 0 !important;
        }
      }

      &.invite-accordion {
        .MuiCollapse-entered {
          background: white !important;
          border-radius: 0 0 $borderRadius $borderRadius !important;
        }
      }

      &.invite-accordion,
      &#legend {
        .MuiCollapse-root {
          .MuiAccordion-region {
            padding: 0 12px !important;
          }
        }
      }
      &#legend,
      &.memories-accordion {
        .MuiCollapse-root {
          .MuiAccordion-region {
            padding: 0 12px 12px 12px !important;
          }
        }
      }

      /*#region  EXPENSES*/
      &#expenses-accordion {
        .filter-row {
          .label-wrapper {
            label {
              color: $darkerGrey !important;
            }
          }
          #filters {
            padding: 0 10px 10px 10px;

            .sorting-accordion {
              &.white-bg {
              }
            }
          }
          .buttons {
            gap: 8px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

            button {
              transition: all 0.3s ease-in-out;
              background: white !important;
              border: 1px solid $lightBorderColor !important;
              color: $darkerGrey !important;
              height: 30px !important;

              &.active {
                background: $blend !important;
                border: 0 !important;
                color: white !important;
              }
            }
          }
        }
      }
      /*#endregion  EXPENSES*/

      /*#region  CHILD INFO */
      &.child-info {
        background: transparent !important;
        border: 0 !important;
        .MuiAccordion-heading {
          display: flex;
          align-items: center;
          border: 0;
          overflow: unset !important;

          .MuiAccordionSummary-root {
            overflow: unset !important;

            button {
              &.button {
                height: 40px !important;
                border-radius: 8px !important;
              }
            }
          }

          .MuiButtonBase-root {
            padding: 0 !important;
            border: 0 !important;

            svg {
              font-size: 20px !important;
              position: relative;
              top: 2px;
              &.general,
              &.behavior,
              &.schooling,
              &.medical {
                font-size: 22px !important;
                top: -1px !important;

                &.general,
                &.schooling {
                  font-size: 26px !important;
                }
              }

              &.to:not(.plus-minus) {
                font-size: 27px !important;
              }
            }

            &.general {
              svg {
                color: $main;
              }
            }
            &.schooling {
              svg {
                color: #2ecc71;
              }
            }
            &.medical {
              svg {
                color: #e74c3c;
              }
            }
            &.behavior {
              svg {
                color: #dc7633;
              }
            }

            &.checklist {
              svg {
                &.from {
                  color: rgba(110, 78, 255, 0.88);
                }
                &.to {
                  color: #607d8b !important;
                }
              }
            }

            .MuiAccordionSummary-expandIconWrapper {
              svg {
                margin: 0 10px 0 0 !important;
              }
            }

            .MuiAccordionSummary-content {
              margin: 0 !important;
              align-items: center;
              font-size: 20px !important;
              color: $lightBlackLight;
              border: 0 !important;
              height: 40px !important;

              &.Mui-expanded {
                font-weight: $fwBold !important;
              }
            }
          }
        }
      }
      /*#endregion  CHILD INFO*/

      /*#region  INSTALL APP*/
      &#ios,
      &#android,
      &#pc {
        background-color: transparent !important;
        width: 100% !important;
        border: 0 !important;
        display: block !important;
        margin-bottom: 5px !important;

        .MuiAccordion-heading {
          .MuiButtonBase-root {
            padding: 0 !important;
            .MuiAccordionSummary-content {
              width: 100% !important;
              height: auto !important;
            }
          }
        }
        .accordion-header {
          width: 100% !important;
        }
        .MuiAccordionSummary-root {
          .MuiAccordionSummary-content {
            background: transparent !important;
            border: 0 !important;
          }
        }
      }
      /*#endregion  INSTALL APP*/

      /*#region  CHECKBOXES*/
      &#checkboxes {
        width: 100% !important;
        .MuiAccordion-heading {
          .MuiAccordionSummary-root {
            padding: 0 !important;

            .MuiAccordionSummary-content {
              width: 100% !important;
              justify-content: space-between !important;
              height: auto !important;

              .flex {
                width: 100% !important;
              }
            }
          }
        }
      }
      /*#endregion  CHECKBOXES*/

      .MuiAccordion-heading {
        display: flex;
        align-items: center;
        border: 0;
        overflow: hidden !important;
        min-height: 0 !important;

        .MuiAccordionSummary-root {
          overflow: hidden !important;
          min-height: 0 !important;
          padding: 0 !important;
          button {
            &.button {
              height: 50px !important;
              border-radius: $borderRadius !important;
            }
          }

          .MuiAccordionSummary-expandIconWrapper {
            svg {
              margin: 0 10px 0 0 !important;
              color: $darkerGrey !important;
            }
          }

          .MuiAccordionSummary-content {
            margin: 0 !important;
            align-items: center;
            font-size: 20px !important;
            color: $primaryText;
            height: 50px !important;

            &.Mui-expanded {
              font-weight: $fwMediumBold !important;
            }

            button {
              padding: 0 10px !important;
              span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                svg {
                  color: $labelText !important;
                  top: unset !important;
                  @include square(18px);
                }
              }
            }

            .label-wrapper {
              label {
                white-space: nowrap;
                color: $darkerGrey !important;
                font-weight: $fwLight !important;
              }

              &.white {
                label {
                  color: white !important;
                }
              }
            }

            button {
              background: white !important;
              //              border: 1px solid $greyBorderColor !important;
              line-height: 1 !important;
              white-space: nowrap !important;
              svg {
                color: $darkerGrey !important;
                position: relative;
                top: -1px !important;
              }
            }
          }
        }
      }

      .MuiAccordionSummary-root {
        width: 100% !important;
      }

      &#calendar-legend,
      &#checkboxes {
        background: transparent !important;
        border: 0 !important;
        h3 {
          border: 0 !important;
        }
      }

      // 50/50 MODAL
      &#fifty-fifty-info {
        background: $grey !important;
        padding: 10px !important;

        .MuiAccordionDetails-root {
          padding: 0 !important;
        }

        .MuiAccordion-heading {
          .MuiButtonBase-root {
            width: 100% !important;
          }
        }

        #accordion-title {
          width: 100%;
        }
      }
    }
  }
}