@import './variables';
@import './mixins';
@import './palette';

#external-overrides {
  // MUI OVERRIDES
  .MuiFormControl-root {
    &.dark {
      .MuiInputBase-root {
        svg {
          color: $darkText !important;
        }
        .MuiOutlinedInput-input {
          color: $darkText !important;
          border-radius: 0 !important;
          padding: 3px 8px !important;

          &:focus {
            background: $darkGrey !important;
          }
        }
      }
    }
  }

  #static-calendar {
    &.dark {
      #legend-wrapper {
        &#legend-wrapper {
          border-bottom: 1px solid $darkMainBlue;
        }
      }
      .MuiPickersMonth-monthButton {
        color: $darkText;
      }
      .MuiDialogActions-root {
        p,
        button {
          background: transparent !important;
          color: $darkMainBlue !important;
          border-color: $darkMainBlue !important;
        }
      }
      .MuiPickersLayout-root {
        background: $darkBg !important;
        .MuiPickersCalendarHeader-label {
          color: $darkText !important;
        }
        svg {
          color: $darkText !important;
        }

        .MuiDateCalendar-root {
          .MuiDayCalendar-weekDayLabel {
            color: $darkText !important;
          }
          .MuiPickersDay-root {
            color: $darkText !important;

            &:hover {
              background: $darkBorderColor !important;
            }

            &.Mui-selected {
              background: unset !important;
              border: 1px solid $darkBlueMedium;
            }
          }
        }
      }
    }
  }

  .MuiDialog-root {
    &.dark {
      .MuiDateCalendar-root {
        .MuiDayCalendar-weekDayLabel {
          color: $darkText !important;
        }
      }
      .MuiPickersLayout-root,
      .MuiButtonBase-root {
        color: $darkText;
      }
      .MuiPaper-root {
        background: $darkBg;

        .MuiClockNumber-root {
          color: $darkText !important;
        }

        .MuiTimePickerToolbar-ampmSelection {
          span {
            color: $darkBorderColor !important;

            &.Mui-selected {
              color: $darkMainBlue !important;
            }
          }
        }

        .MuiTimePickerToolbar-hourMinuteLabel {
          button {
            border: 1px solid $darkBorderColor !important;
          }
          span {
            color: $darkText !important;
          }
        }

        .MuiPickersLayout-root {
          background: $darkBg !important;
        }
      }
    }
  }

  #records-wrapper {
    &.dark {
      #record-row {
        table {
          thead {
            background: transparent;
            th {
              background: transparent;
              color: $darkText;
              line-height: 1.2;
            }
          }
          td {
            color: $darkGreyText;
          }
        }
        .title {
          font-weight: $fwRegular;
          background: $darkGreyLight;
          border: 0;
        }
        &.expenses {
          background: $darkGrey;
          border: 0;
        }
      }
    }
  }

  #activity-wrapper {
    &.dark {
      #activity-cards {
        #row-wrapper {
          .activity-row {
            #date {
              color: $darkText;
            }
          }
        }
      }
    }
  }

  // FULL MENU
  .full-menu {
    &.dark {
      #full-menu {
        .menu-item {
          background: $darkGrey;
          border: 0;

          &.visitation,
          &.chats,
          &.calendar,
          &.admin,
          &.activity,
          &.expenses,
          &.swap-request,
          &.transfer-change,
          &.documents,
          &.memories,
          &.child-info,
          &.records,
          &.coparents,
          &.account,
          &.settings,
          &.contact-us,
          &.theme,
          &.logout,
          &.install-app {
            * {
              color: $darkGreyText;
            }

            &.active {
              background: $darkMainBlue;
              p {
                color: white !important;
              }
              * {
                color: white;
              }
            }
          }
          &.visible {
            svg {
              opacity: 1;
              color: $darkText;
            }
          }
        }
      }
    }
  }

  #app-container {
    &.dark {
      background: $darkBg;

      * {
        user-select: none;
      }

      #page-overlay {
        background-color: unset;
      }

      b,
      span,
      p {
        color: $darkText;
      }

      a {
        color: $darkMainBlue;
      }

      #instructions-wrapper {
        .instructions {
          color: $darkGreyText;
        }
      }

      #medium-title {
        color: $darkText;
      }

      #doc-text {
        color: $darkText;

        .header {
          background: $darkGreyLight;
          &::after {
            color: $red;
            background: transparent;
          }
        }
      }

      #install-app-wrapper {
        .os-container {
          .emphasize {
            background: $darkMainBlue;
            color: white;

            &.more-padding {
              background: $darkGrey;
            }
          }
        }
        .accordion-header {
          &.desktop {
            background: $darkGrey;
          }
        }
      }

      .chats-desktop-sidebar {
        &.chats-desktop-sidebar {
          background: $darkBg;
          border: 1px solid $darkBorderColor;
        }
      }

      #navbar {
        box-shadow: none;

        #menu-items {
          box-shadow: none;
        }
      }

      #chat-wrapper {
        background: $darkBg;
        border: 1px solid $darkBorderColor;

        @media screen and (max-width: 800px) {
          border: 0;
        }

        #user-info {
          svg {
            color: $darkMainBlue;
          }
          #user-name {
            color: $darkMainBlue;
          }
        }
        .top-buttons {
          border: 0;
          svg {
            color: $darkMainBlue;
          }
        }

        .form {
          #send-button {
            background: $darkGreen;
          }
          #message-input-container {
            #input-and-send-button {
              .message-input {
                border-bottom: 1px solid $darkBorderColor;
                color: $darkText;

                &::placeholder {
                  color: $darkGreyText;
                }
              }
            }
          }
        }

        #default-messages,
        #bookmark-messages {
          background: $darkBg;

          .timestamp {
            opacity: 1;
            color: $darkGreyText;
          }

          .message {
            &.from {
              &.from {
                background: $darkMainBlue;
                &:after {
                  background: radial-gradient(30px at 0 0, #0000 99%, $darkMainBlue 102%);
                }
              }
            }
          }

          .message-fade-wrapper {
            svg {
              opacity: 1;
              color: $darkIconGrey;

              &.active {
                color: $darkGreen;
              }
            }
          }
        }
      }

      #account-container {
        .sections {
          .section {
            border-bottom: 1px solid $darkBorderColor;
            border-top: 0;
          }
        }
      }

      .actions {
        .action-items {
          .action-item {
            background: $darkGrey;
            border: 0;
            span {
              color: $darkText;
            }
            .svg-wrapper {
              svg {
                background: transparent;
                color: $darkGreen;
              }
            }
          }
        }
      }

      #memories-container {
        #below-image {
          p {
            color: $darkMainBlue;
          }
        }
        .light-gallery {
          .memory-image {
            border: 0;
          }
        }
      }

      #upload-inputs {
        #upload-input {
          background: transparent;
          color: $darkText;
          opacity: 0.9;
        }
      }

      .row {
        &.chats {
          border: 0;
        }

        .row-title {
          color: $darkText;
        }

        #subtitle {
          color: $darkText;
        }

        .status {
          font-weight: $fwRegular;
          &.pending {
            background: $yellow;
            color: black;
            border: 1px solid black;
          }
          &.unpaid {
            background: $red;
            color: black;
          }
          &.paid {
            background: $darkGreen;
            color: black;
          }
        }
      }

      #navbar {
        @media screen and (min-width: 800px) {
          display: none;
        }
      }

      .views-wrapper {
        border-bottom: 1px solid $darkBorderColor;

        .view {
          &.active {
            &:after {
              border-bottom: 1px solid $darkIconGrey;
            }
          }
        }
      }

      .checkbox-wrapper {
        @include hover;
        .checkbox-dot {
          border: 1px solid $darkBorderColor;
          opacity: 1;
        }

        label {
          @include hover;
        }
      }

      // PAGE CONTAINER
      .page-container {
        background: $darkBg;
        border: unset;
      }

      .page-container:not(.home):not(.login) {
        border: 1px solid $darkBorderColor;

        @media screen and (max-width: 800px) {
          border: 0;
        }
      }

      // SCREEN TITLE
      .screen-title {
        color: $darkMainBlue;
        opacity: 1;
        font-weight: $fwMediumBold;
      }

      #screen-title-wrapper {
        svg {
          color: $darkGreen;

          @include hover;
        }
      }

      #app-content-wrapper {
        background: $darkBg;
      }

      #calendar-sidebar {
        background: $darkBg;
        border: 1px solid $darkBorderColor;

        #desktop-legend-wrapper {
          #legend-row {
            * {
              opacity: 0.9;
              color: $darkText;
            }
            svg {
              color: #fff;
              opacity: 0.7;
            }
          }
        }
      }

      // MUI OVERRIDES
      .MuiPaper-root {
        background: unset;
      }
      .MuiAccordion-root {
        .MuiAccordion-heading {
          .MuiButtonBase-root {
            .MuiAccordionSummary-content {
              color: $darkText;
            }
          }
        }
      }

      hr {
        border-color: $translucentLightest;
      }

      #disclaimer {
        p {
          color: $darkText;
        }
      }

      #large-title {
        color: $darkText;
      }

      #share-with-checkbox-group {
        svg {
          color: $gold;
        }
      }

      // LIGHT GALLERY
      .light-gallery {
        .memory {
          border: unset;
          background: unset;
          padding: 0;

          .memory-image {
            .delete-icon {
              background-color: unset;
              color: $red;
            }
          }
        }
      }

      // EXPENSE WRAPPER
      #expense-tracker {
        .MuiCollapse-root {
          background: $darkBorderColor;
        }
        .MuiPaper-elevation {
          .MuiAccordionSummary-gutters {
            &.MuiAccordionSummary-root {
              #actions-button {
                background: $darkBorderColor;
                color: $darkText;

                svg {
                  color: $darkText;
                }
              }
            }
          }
        }
        .payment-options-link {
          color: $darkMainBlue;
        }
        .expense {
          #name-wrapper {
            .name {
              color: $darkText;
            }
          }
        }
      }

      // CONTACT US
      #contact-us-container {
        .section {
          padding-bottom: 10px;
        }
      }

      // CHATS
      #chats-container {
        #row {
          border: unset;

          .thread-actions {
            margin-top: 10px;

            #archive-wrapper,
            #mute-wrapper {
              @include hover;
            }

            span {
              color: $darkText;
              padding-top: 5px;
              opacity: 0.7;
            }
          }
        }
        .thread-item {
          border-bottom: 1px solid $translucentLightest;

          #close-thread-actions-icon {
            color: $darkText;
            opacity: 0.7;
            @include hover;
          }

          #user-initial-wrapper {
            svg {
              color: $darkIconGrey;
            }
          }

          #edit-icon {
            color: $darkText;
            opacity: 0.85;
            @include hover;
          }

          .coparent-name {
            color: $darkText;
            opacity: 0.9;

            .last-message {
              color: $darkText;
            }
          }
        }
      }
      #message-thread-container {
        .top-buttons {
          background-color: $darkBg;
          padding: 10px;
          border: unset;
        }

        #right-side {
          svg {
            color: $darkText;
            opacity: 0.85;
          }
        }

        .form {
          background: transparent;

          .message-input {
            background: transparent;
            border-bottom: 1px solid $darkMainBlue;
            color: $darkText;

            &:focus {
              background: $darkBg;
            }

            &:after {
              color: $darkText;
            }
          }

          #send-button {
            background: $darkMainBlue;
          }
        }

        #default-messages,
        #bookmark-messages {
          background: $darkBg;

          .timestamp {
            opacity: 0.6;
            font-style: italic;
          }

          .message {
            &.from {
              background: $darkBorderColor;
              &:after {
                display: none;
              }
              color: $darkText;
            }

            &.to {
              background: $darkMainBlue;
              &:after {
                display: none;
              }
              color: $darkText;
            }
          }
        }
      }

      // BRAND BAR
      #brand-bar {
        border: unset;
        background: $darkBg;
        #content {
          #right {
            background: $darkBorderColor;

            p {
              line-height: 1;
            }
          }
        }
      }

      // SIDEBAR
      #side-navbar {
        .menu-item {
          opacity: 1;

          &:hover {
            p {
              font-weight: $fwRegular;
              opacity: 1;
            }
          }
        }
        #top,
        #bottom {
          background: $darkBg;
          border: unset;
          border: 1px solid $darkBorderColor;
          svg {
            opacity: 0.7;
            color: $darkText;
          }

          .menu-item {
            &.active {
              svg {
                opacity: 1;
                color: $darkMainBlue;
              }
            }
          }
        }
      }

      // NAVBAR
      #navbar {
        @media screen and (max-width: 600px) {
          background: $darkBg;
        }
        #svg-wrapper {
          background: $darkGreen;
          border: 0;
        }

        #menu-items {
          .menu-item {
            color: $darkIconGrey;
            &.active:not(#add-new-button) {
              color: $darkMainBlue;
            }
          }
        }
      }

      // STANDARD CHECKBOXES
      #checkbox-group {
        #checkboxes {
          &#checkboxes {
            #label-wrapper {
              label {
                color: $darkText;
              }
            }
          }
        }
        #checkbox-container {
          &.flex {
            span {
              color: $darkText;
              opacity: 0.9;
            }

            .box {
              border: 2px solid $darkBorderColor;
              #inner-circle {
                border: unset;
              }
              &.active {
                border: unset;
                #inner-circle {
                  background: $darkMainBlue;
                  border: unset;
                }
              }
            }
          }
        }
      }

      // SHARE WITH CHECKBOXES [
      #share-with-checkbox-group {
        #checkboxes {
          &#checkboxes {
            #label-wrapper {
              label {
                color: $darkText;
              }
            }
          }
        }
        #share-with-checkbox-container {
          &.flex {
            span {
              color: $darkText;
              opacity: 0.9;
            }

            .box {
              border: 2px solid $darkBorderColor;
              #inner-circle {
                border: unset;
              }
              &.active {
                border: unset;
                #inner-circle {
                  background: $darkMainBlue;
                  border: unset;
                }
              }
            }
          }
        }
      }

      // INPUT WRAPPER
      #input-wrapper {
        border: 1px solid $darkBorderColor;

        // LABEL WRAPPER
        #label-wrapper {
          label {
            color: $darkText;
          }
        }
        input,
        textarea {
          background: transparent;
          border: 0;
          color: $darkText;
          opacity: 0.9;
          border-bottom: 1px solid $darkBorderColor;

          &.rs-date-range-input {
            background: transparent !important;
            border: 0 !important;
            color: $darkText !important;
            opacity: 0.9 !important;
            border-bottom: 1px solid $darkBorderColor !important;
          }

          &:focus {
            outline: none;
            border: unset;
            background: $darkGrey;
            border-radius: 0;
            padding: 3px 8px;
            //            padding: 10px;
          }
        }

        &.active {
          textarea {
            top: 28px;
          }
          input,
          textarea {
            width: 100%;

            &:focus {
              //              padding: 8px;
            }
            &::placeholder {
              opacity: 0;
            }
          }
        }

        &.date {
          .floating-label {
            background: transparent;

            span {
              opacity: 1;
            }
          }
        }
      }

      // CHILD INFO
      #child-info-container {
        #child-info {
          .form {
            .flex {
              &.input {
                .delete-icon {
                  color: $red;
                }
              }
            }
          }
        }
        #image-and-actions-wrapper {
          .profile-pic-container {
            border: 0;
          }
        }
        .MuiAccordionSummary-root {
          #toggle-button {
            color: $darkText;
          }
        }
        .child-name {
          color: $darkMainBlue;
        }
        .profile-pic-container {
          &.no-image {
            background: unset;
          }
        }
        &.active {
          .profile-pic-container {
            border: unset;
          }
        }
      }

      // FORM
      .form {
        input {
          border: 0;
          background: $translucentLightest;
        }
        label {
          color: $darkText;

          span {
            color: $darkText;
            opacity: 0.9;
          }
        }
      }

      // REACT TOGGLE

      .react-toggle {
        overflow: hidden;
        * {
          user-select: none !important;
          outline: 0 !important;
        }
        &.react-toggle--checked {
          background: $darkBg !important;
          user-select: none;
          .react-toggle-track-check,
          .react-toggle-track {
            overflow: hidden;
            background: $darkMainBlue !important;

            .react-toggle-track-check {
              height: 10px;
              transform: scale(0.7);
              top: -2px;
            }
          }
        }
        .react-toggle-track {
          background: transparent !important;
          border: 1px solid $darkBorderColor;
        }
      }

      // COPARENTS
      #coparent-container {
        .coparent {
          .coparent-name,
          .coparent-type {
            color: $darkText;
          }
        }
      }

      // BOTTOM CARD
      #bottom-card {
        background: $darkBg;
        border-top: 1px solid $darkBorderColor;

        #large-title {
          color: $darkMainBlue;
          font-weight: $fwMedium;
        }

        #details {
          a {
            &.nav-detail {
              color: $darkMainBlue;
              opacity: 1;
              svg {
                color: $darkMainBlue;
              }

              &:visited {
                color: $darkMainBlue;
              }
            }
          }
          .flex {
            border-bottom: 1px solid $darkBorderColor;
            a {
              color: $darkMainBlue;
              opacity: 1;
            }
          }
        }

        p {
          color: $darkText;

          &.view {
            color: $darkGreyText;

            &.active {
              color: $darkText;
            }
          }
        }

        hr {
          border-color: $translucentLightest;
        }

        &.custom-child-info-wrapper {
          #info-type {
            background: $darkBorderColor;

            .item {
              color: $darkText;
              opacity: 0.65;

              &.active {
                opacity: 1;
              }
            }
          }
        }

        &.payment-options-card {
          #relative-wrapper {
            a {
              color: $darkMainBlue;
            }
          }
        }

        &.expense-tracker {
          #relative-wrapper {
            .buttons {
              .card-button {
                &.submit {
                  svg {
                    color: $darkText;
                  }
                }
              }
            }
          }
          #title {
            color: $mainBlue;
            opacity: 1;
          }
        }

        &.new-expense-card {
          #add-expense-form {
            #default-expense-amounts {
              button {
                background: $darkBorderColor;
                color: $darkText;
              }
            }
          }
        }

        // ACTION PILLS
        .action-pills {
          .duration-option {
            p,
            svg {
              color: $darkText;
            }
            &.active {
              p,
              svg {
                color: $darkMainBlue;
                opacity: 1;
              }
            }
          }
        }

        #relative-wrapper {
          #holiday-card-buttons {
            button {
              &#view-visitation-holidays-item,
              &#view-all-holidays-item {
                background: $darkBg;
              }
            }
          }
          #title-wrapper {
            background: $darkBg;
            .close-icon {
              background: $darkBorderColor;
              color: $darkText;
            }
          }
        }

        &.full-menu {
          #title-wrapper {
            background: $darkBg !important;
          }

          #full-menu {
            .menu-item {
              &.active {
                p,
                svg {
                  opacity: 1;
                }
              }
            }
          }
        }

        #title {
          color: $darkPurple;
        }

        .buttons {
          background: $darkBg;
          #blur {
            filter: blur(5px);
            background: $darkBg;
            width: 100vw;
            padding-top: 15px;
            bottom: 10px;
          }

          .delete-icon {
            opacity: 1;
          }
          button {
            &.card-button {
              background: $darkMainBlue;
              color: white;
              svg {
                color: white;
              }
            }
          }
        }
      }

      // ROW
      #row {
        border-bottom: 1px solid $darkBorderColor;
        #subtitle {
          color: $darkText;
        }
      }

      // CALENDAR
      #calendar-container {
        border: 1px solid $darkBorderColor;

        #calendar-legend {
          &#calendar-legend {
            &.open {
              background: $darkGrey !important;
              border: 0 !important;

              .MuiButtonBase-root {
                svg {
                  color: $red !important;
                  opacity: 1 !important;
                }
              }

              p {
                &.currentUser {
                  color: #2ecc71;
                }
                &.coparent {
                  color: #8f7afa;
                }
                &.standard {
                  color: #f88379;
                }
              }
            }
          }
        }

        @media screen and (max-width: 800px) {
          border: 0;
        }
        .events {
          background: $darkBg;
          .event-row {
            border-bottom: 1px solid $darkBorderColor;
            .text {
              * {
                font-weight: $fwRegular;
              }
              #icon-row {
                svg {
                  color: $darkIconGrey;
                  opacity: 1;
                }
              }
              #title-wrapper {
                .title {
                  color: $darkText;
                  font-weight: $fwLight;
                }
                .reminders {
                  svg {
                    opacity: 0.7;
                    color: $darkText;
                  }
                  .reminder-times {
                    span {
                      color: $darkText;
                    }
                  }
                }
              }
            }
            p,
            b,
            span:not(.event-type-dot) {
              color: $darkGreyText;

              &.start-date,
              &#times,
              &.reminder-times {
                color: $darkGreyText;
              }
            }
          }
        }
      }
    }
  }
}