@import './variables';
@import './mixins';
@import './palette';

#external-overrides {
  // MUI OVERRIDES
  #static-calendar {
    &.dark {
      .MuiPaper-root {
        background: unset;
      }
      .MuiAccordion-root {
        .MuiAccordion-heading {
          .MuiButtonBase-root {
            .MuiAccordionSummary-content {
              color: white;
            }
          }
        }
      }
      .MuiDialogActions-root {
        p,
        button {
          background: transparent !important;
          color: $darkBlue !important;
          border-color: $darkBlue !important;
        }
      }
      .MuiPickersLayout-root {
        background: $darkBg !important;
        .MuiPickersCalendarHeader-label {
          color: white !important;
          opacity: 0.85 !important;
        }
        svg {
          color: white !important;
        }
        
        .MuiDateCalendar-root {
          .MuiDayCalendar-weekDayLabel {
            color: white !important;
            opacity: 0.85;
          }
          .MuiPickersDay-root {
            color: white !important;
            
            &.Mui-selected {
              background: $darkBlue !important;
            }
          }
        }
      }
    }
  }

  // FULL MENU
  .full-menu {
    #full-menu {
      .menu-item {
        background: $darkBorderColor;

        &.active {
          p {
            opacity: 1;
          }
        }
      }
    }
  }

  #app-container {
    &.dark {
      background: $darkBg;

      p {
        color: white;
        opacity: 0.9;
      }

      hr {
        border-color: $translucentLightest;
      }

      #large-title {
        color: white;
      }

      // PAGE CONTAINER
      .page-container {
        background: $darkBg;
      }

      .screen-title {
        color: $darkBlue;
      }

      // EXPENSE WRAPPER
      #expense-tracker {
        .expense {
          #name-wrapper {
            .name {
              color: white;
            }
          }
        }
      }

      // CONTACT US
      #contact-us-container {
        .section {
          padding-bottom: 10px;
        }
      }

      // CHATS
      #chats-container {
        #row {
          border: unset;
        }
        .thread-item {
          border-bottom: 1px solid $translucentLightest;

          #user-initial-wrapper {
            svg {
              color: $darkBlue;
            }
          }

          #edit-icon {
            color: white;
            opacity: 0.85;
          }

          .coparent-name {
            color: white;
            opacity: 0.9;

            .last-message {
              color: white;
            }
          }
        }
      }
      #message-thread-container {
        .top-buttons {
          background-color: $darkBg;
          padding: 10px;
          border: unset;
        }

        #right-side {
          svg {
            color: white;
            opacity: 0.85;
          }
        }

        .form {
          background: transparent;

          .message-input {
            background: transparent;
            border-bottom: 1px solid $darkBlue;
            color: white;

            &:after {
              color: white;
            }
          }

          #send-button {
            background: $darkBlue;
          }
        }

        #default-messages,
        #bookmark-messages {
          background: $darkBg;

          .message {
            &.from {
              background: $darkBorderColor;
              &:after {
                display: none;
              }
              color: white;
            }

            &.to {
              background: $darkBlue;
              &:after {
                display: none;
              }
              color: white;
            }
          }
        }
      }

      // NAVBAR
      #navbar {
        background: $darkBg;

        #svg-wrapper {
          background: $darkGreen;
          border: 0;
        }

        #menu-items {
          .menu-item {
            color: $borderColor;
            &.active:not(#add-new-button) {
              color: $darkBlue;
            }
          }
        }
      }

      // FLATPICKR CAL
      .flatpickr-calendar {
        background: $darkLightBg;
        border: 1px solid $translucentLightest;

        .flatpickr-current-month {
          input {
            &.cur-year {
              color: white !important;
            }
          }
        }
        .flatpickr-current-month {
          .flatpickr-monthDropdown-months {
            color: white !important;
            opacity: 0.9;
          }
        }

        .flatpickr-days {
          .flatpickr-day {
            color: white !important;

            &.weekend-day {
              opacity: 0.6 !important;
            }
          }
        }
      }

      // STANDARD CHECKBOXES
      #checkbox-group {
        #checkbox-container {
          &.flex {
            span {
              color: white;
              opacity: 0.9;
            }
          }
        }
      }

      // SHARE WITH CHECKBOXES [
      #share-with-checkbox-group {
        #share-with-checkbox-container {
          &.flex {
            span {
              color: white;
              opacity: 0.9;
            }

            .box {
              #inner-circle {
                border: 4px solid $translucentLightest;
              }
              &.active {
                #inner-circle {
                  background: $darkPurple;
                }
              }
            }
          }
        }
      }

      // LABEL WRAPPER
      #label-wrapper {
        label {
          color: white;
        }
      }

      // INPUT WRAPPER
      #input-wrapper {
        input,
        textarea {
          background: transparent;
          border: 0;
          color: white;
          opacity: 0.9;
          border-bottom: 1px solid $darkBorderColor;

          &:focus {
            outline: none;
            border: 1px solid $darkBlue;
            background: rgba(153, 178, 255, 0.14);
            border-radius: 4px;
            padding: 10px;
          }

          &::placeholder {
            color: white;
            opacity: 0.6;
          }
        }

        &.active {
          input,
          textarea {
            width: 100%;
            &::placeholder {
              opacity: 0;
            }
          }
        }

        .floating-label {
          background: transparent;

          span {
            opacity: 1;
          }
        }

        &.date {
          .floating-label {
            background: transparent;

            span {
              opacity: 1;
            }
          }
        }
      }

      // CHILD INFO
      #child-info-container {
        .child-name {
          color: $darkBlue;
        }
        .profile-pic-container {
          &.no-image {
            background: unset;
          }
        }
        &.active {
          .profile-pic-container {
            border: unset;
          }
        }
      }

      // FORM
      .form {
        input {
          border: 0;
          background: $translucentLightest;
        }
        label {
          color: white;

          span {
            color: white;
            opacity: 0.9;
          }
        }
      }

      // REACT TOGGLE
      .react-toggle--checked {
        .react-toggle-track {
          background: $darkPurple !important;
        }
      }
      
      // COPARENTS
      #coparent-container {
        .coparent {
          .coparent-name, .coparent-type {
            color:white;
          }
        }
      }

      // BOTTOM CARD
      #bottom-card {
        background: $darkBg;

        p {
          color: white;
          opacity: 0.7;
        }

        hr {
          border-color: $translucentLightest;
        }

        &.custom-child-info-wrapper {
          #info-type {
            background: $darkBorderColor;

            .item {
              color: white;
              opacity: 0.65;

              &.active {
                opacity: 1;
              }
            }
          }
        }

        &.expense-tracker {
          #relative-wrapper {
            .buttons {
              .card-button {
                &.submit {
                  svg {
                    color: white;
                  }
                }
              }
            }
          }
          #title {
            color: $mainBlue;
            opacity: 1;
          }
        }

        #relative-wrapper {
          .buttons {
            background-color: transparent;

            .card-button {
              &.submit {
                background-color: $darkBlue;
                color: white;
              }
            }
          }
          #title-wrapper {
            background: $darkBg;
            .close-icon {
              background: $darkBorderColor;
              color: white;
            }
          }
        }

        &.full-menu {
          #title-wrapper {
            background: $darkBg !important;
          }

          #full-menu {
            .menu-item {
              &.active {
                p,
                svg {
                  opacity: 1;
                }
              }
            }
          }
        }

        #title {
          color: $darkPurple;
        }

        .buttons {
          background: $darkLightBg;
          #blur {
            filter: blur(5px);
            background: $darkLightBg;
            width: 100vw;
            padding-top: 15px;
            bottom: 10px;
          }
          .card-button {
            &.cancel {
              border: 1px solid white;
              color: white;
              opacity: 0.6;
            }
            &.delete {
              border: 1px solid $red;
              color: $red;
            }
            background-color: transparent;
            color: $green;
            border: 1px solid $green;
          }
        }
      }

      // ROW
      #row {
        border-bottom: 1px solid $darkBorderColor;
        #subtitle {
          color: white;
        }
      }

      // CALENDAR
      #calendar-container {
        .events {
          background: $darkBg;
          .event-row {
            .text {
              #title-wrapper {
                .title {
                  color: white;
                }
                .reminders {
                  svg {
                    opacity: 0.85;
                  }
                  .reminder-times {
                    span {
                      color: white;
                    }
                  }
                }
              }
            }
            svg {
              color: $darkBlue;
              opacity: 1;
            }
            p,
            b,
            span {
              color: white;
              opacity: 0.9;

              &.start-date,
              &#times,
              &.reminder-times {
                opacity: 0.6;
              }
            }

            svg {
              opacity: 1;
              color: $darkPurple;
            }

            #children {
              p {
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
}