@import 'variables';
@import 'palette';
@import 'mixins';

// PATHS

/*#region  LOGIN */
$login_logo: '../img/logo.png';
/*#endregion  LOGIN */

/*#region  INSTALLATION */
$desktop_installation: '';
//$desktop_installation: '../img/computer-installation.png';
/*#endregion  INSTALLATION */

//$brokenImage: '../img/computer-installation.png';

.img {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &.computer-installation {
    //background-image: url($desktop_installation);
    min-height: 90px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 12px;
  }

  &.broken-image {
    //background-image: url($brokenImage);
    display: block;
  }

  &.login {
    &.logo {
      background-image: url($login_logo);
      @include square(125px);
    }
  }
}