@import './palette';
@import './variables';
@import './mixins';

.lg-react-element {
  display: flex !important;
  flex-wrap: wrap;

  &.no-wrap {
    flex-wrap: nowrap;

    @media screen and (max-width: 800px) {
      display: block !important;
    }
  }

  .memory-image {
    @media screen and (min-width: 1100px) {
      flex-basis: 20%;
      max-width: 300px;
    }

    @media screen and (max-width: 800px) {
      flex-basis: 40%;
    }

    @media screen and (max-width: 600px) {
      flex-basis: 100%;
    }
  }
}
.lg-sub-html {
  margin-bottom: 15px !important;
  .gallery-title {
    font-size: 18px !important;
    font-weight: $fwBold !important;
    span {
      display: block;
      width: 100%;
      margin-top: 15px;
      font-size: 16px;
      font-weight: $fwRegular !important;
    }
  }
}