@import './palette';
@import './variables';
@import './mixins';

.lg-react-element {
  display: flex !important;
  flex-wrap: wrap;

  &.no-wrap {
    flex-wrap: nowrap;

    @media screen and (max-width: 800px) {
      display: block !important;
    }
  }

  .memory-image {
    @media screen and (min-width: 1100px) {
      flex-basis: 20%;
      max-width: 300px;
    }

    @media screen and (max-width: 800px) {
      flex-basis: 40%;
    }

    @media screen and (max-width: 600px) {
      flex-basis: 100%;
    }
  }
}

.lg-backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.85) !important;
}

.lg-outer {
  .lg-object {
    max-width: 95vw !important;
    border-radius: $bigBorderRadius !important;
    @include bestShadow;
  }
}

.lg-sub-html {
  margin-bottom: 15px !important;
  padding: 15px !important;

  .gallery-title {
    font-size: 18px !important;
    text-align: left !important;
    font-weight: $fwBold !important;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.75) !important;
    padding: 10px;
    border-radius: $borderRadius;
    position: relative;
    top: -20px;
    span {
      display: block;
      width: 100%;
      margin-top: 15px;
      font-size: 16px;
      text-align: left !important;
      font-weight: $fwRegular !important;
    }
  }
}