@import './palette';
@import './variables';
#external-overrides {
  .Mui-expanded {
    margin: 0 !important;
  }
  .info-section {
    svg {
      font-size: 20px !important;
    }
  }

  .MuiCollapse-entered {
    display: flex !important;
    margin-bottom: 15px;
    align-items: center !important;
  }
  // EVENT ROW
  .event-row {
    .text {
      .MuiPaper-root {
        background: transparent;
        height: auto;
        border-bottom: 1px solid $borderColor;

        border-radius: 0;
        &:before {
          display: none;
        }

        .MuiAccordion-heading {
          max-height: 20px !important;
          overflow: hidden;
        }

        .MuiButtonBase-root {
          width: 100%;
          max-width: 95%;
          height: auto !important;
          .MuiAccordionSummary-content {
            font-size: 14px !important;
            color: $lightDarkGrey;
            font-weight: $fwMedium !important;
            padding: 0;
            margin: 0;
            height: auto;
          }
        }
      }
    }
  }

  // STATIC CALENDAR
  #static-calendar {
    .MuiPickersLayout-root {
      max-width: calc(100vw - 3px) !important;
    }
    .MuiPickersLayout-contentWrapper {
      max-width: 100% !important;

      * {
        max-width: 100% !important;
      }
    }
    .MuiPickersCalendarHeader-root {
      margin: 0 !important;
      padding: 0 0 0 10px !important;
    }
  }

  // PARENT/ROOT CALENDAR WRAPPER
  .MuiPickersLayout-contentWrapper {
    max-width: 408px !important;

    * {
      max-width: 408px !important;
    }
  }

  .MuiTimePickerToolbar-hourMinuteLabel {
    button {
      border: 1px solid $lightDarkGrey !important;
    }
  }

  .MuiDateCalendar-root {
    margin: 0;
    height: 400px;
    max-height: unset !important;
    width: 98vw;
    max-width: 365px;
  }

  // AM/PM SELECTION
  .MuiTimePickerToolbar-ampmSelection {
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 10px 25px 0 0;
    gap: 5px;
    button {
      min-width: 0 !important;
      margin: 0 !important;
      padding: 0 !important;
      width: 40px !important;
      justify-content: center;
      display: flex;
      align-items: center;

      span {
        padding: 0 !important;
        width: 40px !important;
      }

      &:not(.Mui-selected) {
        border: 0 !important;
      }
      .Mui-selected.MuiTypography-subtitle2 {
        border-radius: $borderRadius;
        border: 0;
        width: 40px !important;
        height: auto;
      }
    }
  }

  // Dropdown year selector
  .MuiYearCalendar-root {
    width: 100% !important;
    border: 1px solid $mainBlue !important;
  }

  // CALENDAR ARROWS
  .MuiPickersArrowSwitcher-rightArrowIcon,
  .MuiPickersArrowSwitcher-leftArrowIcon {
    opacity: 0.4 !important;
    font-size: 30px !important;
  }

  // DATE RANGE
  .MuiDateRangeCalendar-root {
    width: calc(100% - 22px);

    .MuiDateRangePickerDay-rangeIntervalPreview {
      button {
        &.Mui-selected {
          width: 45px !important;
        }
      }
    }

    .MuiDateRangeCalendar-monthContainer {
      width: 100%;

      .MuiPickersDay-today {
        color: $mainBlue !important;
        opacity: 1 !important;
      }
    }

    .MuiDayCalendar-header {
      max-height: 30px;
      margin-bottom: 5px;
    }

    .MuiPickersCalendarHeader-root {
      margin: 0;
    }

    .MuiPickersDay-today {
      border: 0 !important;
      font-weight: $fwBold;
      transform: scale(1.5) !important;
    }
  }

  // ACCORDION
  .MuiAccordion-gutters {
    &#checkboxes {
      //      margin-bottom: 10px !important;
      background-color: transparent;

      &::before {
        display: none;
      }
      .MuiButtonBase-root {
        max-height: 30px !important;
        min-height: 0 !important;
      }
      .MuiAccordionSummary-root {
        width: calc(100% - 10px);
        .MuiAccordionSummary-content {
          .flex {
            width: 100%;
          }
        }
      }
      .MuiAccordionDetails-root {
        padding: 0 !important;
      }
    }
    &#ios,
    &#android,
    &#pc {
      background-color: transparent;
      width: 100% !important;
      margin-bottom: 10px !important;
      .MuiAccordion-region {
        padding: 10px 0;
      }
      .MuiButtonBase-root {
        width: 100%;

        .accordion-header {
          width: 100%;
        }
      }
    }

    .MuiAccordion-heading {
      background: transparent !important;
      .MuiAccordionDetails-root {
        padding: 0 !important;
      }
    }

    &.MuiPaper-root {
      width: calc(100vw - 30px) !important;

      .MuiAccordion-heading {
        max-height: 40px;
        .react-toggle {
          margin-left: auto !important;
          position: relative;
          right: -10px;
        }
      }

      .MuiAccordionDetails-root {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
  .MuiAccordion-root {
    box-shadow: none !important;
    .MuiAccordion-heading {
      display: flex;
      align-items: center;
      border: 0;

      .MuiButtonBase-root {
        padding: 0 !important;

        &.general {
          svg {
            color: #f4d03f;
          }
        }
        &.schooling {
          svg {
            color: #2ecc71;
          }
        }
        &.medical {
          svg {
            color: #e74c3c;
          }
        }
        &.behavior {
          svg {
            color: #dc7633;
          }
        }

        svg {
          //          font-size: 20px !important;
          margin-right: 10px;

          &.visitation-card {
            font-size: 20px !important;
            color: $lightDarkGrey;
          }
        }

        .MuiAccordionSummary-expandIconWrapper {
          svg {
            margin: 0 10px 0 0 !important;
          }
        }

        .MuiAccordionSummary-content {
          margin: 0 !important;
          align-items: center;
          font-size: 20px !important;
          color: $lightBlackLight;

          &.Mui-expanded {
            font-weight: $fwBold !important;
          }
        }
      }
    }
  }
  // EVENT DOTS
  .dot-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3px;
    position: relative;
    top: -5px;

    .dot {
      margin: 0;
      height: 5px;
      width: 5px;
      border: 0;
      display: block;
      border-radius: 100%;
    }

    .current-user-visitation-dot,
    .current-user-event-dot {
      background-color: $currentUserGreen;
    }

    .coparent-visitation-dot,
    .coparent-event-dot {
      background-color: $coparentPurple;
    }

    .holiday-event-dot {
      background-color: #f88379;
    }
  }
  .invisible-dots {
    width: 100%;
    height: 2px;
  }

  .holiday-emoji,
  .payday-emoji {
    position: absolute;
    top: -5px;
    left: 60%;
    right: 50%;
    z-index: 100;
    width: 15px;
    height: 20px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    &.payday-emoji {
      color: $green !important;
      font-size: 14px;
      vertical-align: super !important;
    }
  }

  // Padding for top row (for emoji)
  .MuiDayCalendar-monthContainer {
    padding-top: 5px;
  }

  // Static Calendar
  .MuiDateCalendar-root {
    width: calc(100vw - 2px) !important;
    margin: 0 !important;
    height: 100% !important;
    //    max-height: 425px !important;
    padding: 0 5px;

    @media screen and (min-width: 1000px) {
      margin: 0 auto !important;
      width: 47vw !important;
    }

    .MuiPickersFadeTransitionGroup-root {
      max-width: 100% !important;
    }

    .MuiPickersDay-today:not(.Mui-selected) {
      border: 0 !important;
      color: $mainBlue;
      font-weight: $fwRegular !important;
    }

    // WEEKDAY LABEL (S M W)
    .MuiDayCalendar-weekDayLabel {
      width: 60px !important;
      height: 30px !important;
      color: black !important;
      opacity: 0.6;
    }

    .MuiPickersSlideTransition-root {
      min-height: 310px !important;
      max-width: calc(100vw - 100px) !important;

      // New/Edit Datepicker
      &[role='presentation'] {
        width: 100%;
        max-width: 100% !important;
      }

      .MuiDayCalendar-monthContainer {
        [role='row'] {
          max-width: calc(100vw - 30px) !important;
          &:first-child {
            .MuiPickersDay-root {
            }
          }
        }
      }
    }

    .MuiDateCalendar-viewTransitionContainer {
      width: 100% !important;
      margin: 0 !important;
    }

    .MuiPickersDay-root {
      width: 60px !important;
      height: 50px !important;
      margin-bottom: 8px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      color: black;
      border-radius: $borderRadius !important;

      @media screen and (min-width: 650px) {
        &:hover {
          background: $lightIconBgBlue !important;
          color: $mainBlue;
        }
      }

      &.weekend-day,
      &.MuiPickersDay-dayOutsideMonth,
      &[aria-colindex='7'],
      ,
      &[aria-colindex='1'] {
        opacity: 0.5 !important;

        &.Mui-selected {
          opacity: 1;
        }
      }
      &.Mui-selected {
        transition: all 0.2s ease-in-out !important;
        background: $lightIconBgBlue;
        width: 51px !important;
        height: 43px !important;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 100% !important;
        position: relative;
        top: 2px;
        border: 1px solid $mainBlue;
        opacity: 1 !important;
        color: $mainBlue !important;
        font-weight: $fwBold !important;

        .dot-wrapper {
          position: relative;
          top: -5px;
        }
      }
    }
  }

  #legend-wrapper,
  #calendar-legend {
    gap: 3px;
    margin-left: 0;
    &#legend-wrapper {
      border-bottom: 1px solid $mainBlue;
      order: -1;

      #legend-button {
        border: 0 !important;
        padding-left: 3px !important;
        width: auto !important;
      }
    }

    &#calendar-legend {
      border: 0 !important;
      position: relative;

      &.MuiPaper-root {
        display: none;
      }

      &.open {
        border-radius: $borderRadius !important;
        margin: 0 auto !important;
        background: #fcfcfc !important;
        width: calc(100vw - 30px) !important;
        border: 1px solid $lightBorder !important;
        padding: 10px 0 40px 10px !important;

        &.MuiPaper-root {
          display: block;
        }
      }

      .flex {
        justify-content: center;
      }

      .MuiButtonBase-root {
        width: auto !important;
        padding: 0 !important;
        height: unset !important;
        min-height: unset !important;
        opacity: 0.75;
        position: absolute;
        bottom: 10px;
        z-index: 1000;
        @include centerHoriz;

        svg {
          font-size: 15px !important;
          color: black !important;
          margin: 0 !important;
        }
      }
    }

    .closed {
      display: none !important;
    }
    .open {
      display: block !important;
    }

    p {
      opacity: 1 !important;
      &.coparent {
        color: $coparentPurple;
      }
      &.standard {
        color: #f88379;
      }

      &.currentUser {
        color: $currentUserGreen;
      }
    }

    .dot {
      background: red;
      height: 5px;
      width: 5px;
      border-radius: 100%;

      &.in-legend {
        margin-right: 10px;
        display: block;
      }

      &.coparent {
        background: $coparentPurple;
      }

      &.standard {
        background: #f88379;
      }

      &.currentUser {
        background: $currentUserGreen;
      }
    }
  }

  .MuiPickersLayout-root {
    background: $lightBg !important;
    margin: 0 !important;
    border-radius: 0;

    .MuiPickersCalendarHeader-label {
      font-weight: $fwLight !important;
      opacity: 0.8;
    }
    .MuiPickersCalendarHeader-switchViewIcon {
      opacity: 0.6 !important;
      position: relative;
      bottom: 3px;
    }
  }

  .MuiDialogActions-root {
    max-width: 100vw !important;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 15px !important;
    position: relative;
    z-index: 100000;
    padding: 0 0 10px 0;
    justify-content: center;

    @media screen and (min-width: 1000px) {
      width: auto;
    }

    button,
    p {
      opacity: 1 !important;
      color: $mainBlue !important;
      text-transform: uppercase;
      margin: 0;
      font-size: 12px !important;
      border-bottom: 1px solid $mainBlue !important;
      padding: 3px 8px !important;
      line-height: 1 !important;
      text-align: center;
      position: relative;
      border-radius: 0 !important;

      //      &:before {
      //        content: '' !important;
      //        left: -20px !important;
      //        right: -20px !important;
      //        bottom: -20px !important;
      //        top: -20px !important;
      //        position: absolute !important;
      //      }
    }

    .divider {
      color: $lightDarkGrey !important;
    }

    .MuiButtonBase-root {
      padding: 5px 8px;
      font-size: 12px !important;
    }
  }

  .MuiPickersLayout-contentWrapper {
    width: 100vw !important;
    max-width: 100vw !important;
    margin: 0 auto !important;

    @media screen and (min-width: 1000px) {
      width: auto !important;
      max-width: 500px !important;
      display: block !important;
      grid-column: 1 !important;
    }
  }
  .MuiDatePickerToolbar-root {
    display: none;
  }
  [role='combobox'] {
    padding: 10px;
    background: $buttonGrey;
    border-radius: $borderRadius;
  }
  .MuiList-root {
    li {
      height: auto !important;
    }
  }
  .MuiFormControl-root {
    //    border-bottom: 1px solid #e3e8ee;
    width: 100%;
    position: relative;
    top: -25px;
    .MuiInputBase-input {
      width: calc(100% - 20px) !important;
      //      max-width: calc(100% - 20px) !important;
      height: 40px !important;
    }
    &.MuiFormControl-fullWidth {
      border: 0;
    }
    .MuiInputLabel-root {
      font-weight: $fwMedium !important;
      color: black !important;
      opacity: 0.6 !important;
      margin: 0 !important;
      letter-spacing: 0.4px !important;
      line-height: 1.3 !important;
      font-size: 16px !important;
      display: none !important;
    }
    .MuiSvgIcon-root {
      font-size: 28px !important;
      opacity: 0.45 !important;
    }
    &.css-1b5lkxe-MuiFormControl-root {
      .MuiOutlinedInput-root {
        [role='combobox'] {
          padding: 5px 5px 5px 10px;
          background: $bestGreyForWhite;
          border-radius: $borderRadius;
          font-size: 14px !important;
        }
      }
    }
  }

  // Primary calendar picker container
  .MuiPaper-root {
    background-color: $lightBg;
    border-radius: $bigBorderRadius;
    width: 95vw !important;
    @include bestShadow;

    &[role='dialog'] {
      .MuiPickersLayout-root {
        background-color: white !important;
        width: 100vw !important;
        max-width: 100% !important;

        @media screen and (min-width: 1000px) {
          display: block !important;
        }

        [aria-colindex='1'],
        [aria-colindex='7'] {
          opacity: 0.5 !important;

          &.MuiPickersDay-today {
            color: $mainBlue !important;
            opacity: 1 !important;
          }

          &.Mui-selected {
            opacity: 1 !important;
          }
        }
      }
    }

    .MuiButtonBase-root {
      &.Mui-selected {
      }
    }

    .MuiSvgIcon-root {
      //      display: none;
    }

    // Clock wheel wrapper
    .MuiClock-squareMask {
      //      border-radius: 100%;
    }

    .MuiDialogActions-root {
      button {
        color: $mainBlue !important;
        background-color: transparent;
        &:nth-child(2) {
          border-bottom: 1px solid $green !important;
          color: $green !important;
        }
      }
    }

    // Days Container
    .css-1t0788u-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
      min-height: 265px;
    }

    // Top Buttons
    .css-1aim81g-MuiButtonBase-root-MuiButton-root-MuiPickersToolbarButton-root {
      background-color: transparent;
      border: 1px solid $mainBlue;
    }

    .MuiDialogActions-root {
      display: flex;
      padding-bottom: 20px;
      justify-content: center;
    }

    .MuiTypography-root {
      &.MuiTypography-overline {
        display: none;
      }
      &.MuiTypography-h4 {
        font-size: 16px;
        font-weight: bold;
      }
      &.MuiTypography-h3 {
        font-size: 20px;
      }
    }

    .MuiDateCalendar-root {
      margin: 0;
      height: 400px;
      max-height: unset !important;
      width: 98vw;
      max-width: 365px;

      .MuiIconButton-root {
        font-size: 45px;
      }

      .MuiPickersCalendarHeader-label {
        font-size: 18px;
      }

      .MuiSvgIcon-root {
        font-size: 40px;
        position: relative;
        top: -3px;
      }
    }
    .MuiDayCalendar-weekContainer {
      justify-content: center;

      .css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
        border: 1px solid $borderColor;
      }
    }

    .MuiDayCalendar-weekDayLabel {
      font-size: 16px;
      width: 50px;
      height: 50px;
      color: $lightDarkGrey;
      opacity: 0.7;
      font-weight: bold;
    }

    .MuiTabs-flexContainer {
      button {
        width: 50%;
      }
    }

    .MuiDateTimePickerToolbar-dateContainer,
    .MuiDateTimePickerToolbar-timeContainer,
    .MuiDateTimePickerToolbar-timeDigitsContainer,
    .MuiDateTimePickerToolbar-ampmSelection {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;

      &.MuiDateTimePickerToolbar-ampmSelection,
      &.MuiDateTimePickerToolbar-timeDigitsContainer {
        margin-left: 0;
        button {
          width: 100px;
          &:first-child {
            margin-right: 12px;
          }
        }
        &.MuiDateTimePickerToolbar-timeDigitsContainer {
          button {
            width: 100px;
            &:first-child {
              margin-right: 0;
            }
          }
        }
        &.MuiDateTimePickerToolbar-ampmSelection {
          button {
            width: 110px;
          }
        }
      }
      button {
        width: 50%;
      }
    }

    .MuiDateTimePickerToolbar-separator {
      position: relative;
      margin: 0 8px;
    }

    .MuiDateTimePickerToolbar-root {
      &.Mui-selected {
        background-color: $accent;
        width: 55px;
      }

      &.MuiDateTimePickerToolbar-root {
        max-width: 325px !important;
        margin: 0 auto;
      }

      button {
        margin-bottom: 6px;
      }
    }

    .css-15dhvw6-MuiTypography-root-MuiPickersToolbarText-root {
      width: 50%;
    }

    // Date/time/ampm at top
    .css-12vly6n-MuiDateTimePickerToolbar-timeContainer {
      flex-wrap: wrap;
    }

    // Date/time container (including buttons and clock)
    .css-16b5y55-MuiPickersLayout-contentWrapper,
    .MuiPickersLayout-contentWrapper {
      grid-column: 3;
      max-width: 365px;
      overflow: hidden;
    }

    .MuiTimeClock-arrowSwitcher {
      display: none;
    }

    .Mui-selected {
      &.MuiTypography-subtitle2 {
        background-color: transparent;
        width: 100%;
        color: $mainBlue;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
      }
      &.css-bw88rr-MuiPickersMonth-monthButton {
        background-color: $accent;
      }
    }

    .MuiButtonBase-root,
    .MuiPickersDay-hiddenDaySpacingFiller {
      width: 50px;
      height: 50px;
      font-size: 16px;
      color: black;

      &.MuiMenuItem-root {
        width: 100%;
      }

      &.Mui-selected {
        background-color: transparent !important;
        width: 100%;
        height: 45px;
        color: $mainBlue !important;
        border: 0 !important;

        &:after {
          display: none !important;
        }
      }

      &.MuiButton-root {
        color: white;
        font-weight: bold;
        border-radius: $borderRadius;
        font-size: 14px !important;
        display: flex;
        align-items: center;
        line-height: 1;
        min-width: 100px;
        height: 20px;
        padding: 15px 0;
        margin-top: 10px;
        &:nth-child(3) {
          margin-right: 8px;
        }
      }
    }

    // DATE RANGE
    .MuiDateRangePickerToolbar-container {
      max-height: 40px;

      .MuiButtonBase-root {
        &.MuiButton-root {
          margin: 0 !important;

          span {
            font-size: 18px;
          }
        }
      }
      .MuiTypography-h5 {
        font-size: 18px;
        display: flex;
        align-items: center;
        align-self: stretch;
        max-height: 40px;
      }
    }

    .Mui-focused {
      border-color: transparent;
    }

    // Calendar/Time icon buttons
    .css-1m3hk3w-MuiButtonBase-root-MuiTab-root {
      &.Mui-selected {
        border-bottom: 0;
        svg {
          border-bottom: 0;
        }
      }
    }
    // Blue bottom border
    .css-1sj2jcg-MuiTabs-indicator {
    }
  }

  .MuiInputBase-input {
    margin: 0 !important;
    border: 0 !important;
    &::placeholder {
      font-size: 14px;
    }
  }

  // TIME CLOCK WHEEL
  .MuiTimeClock-root {
    .MuiClock-root {
      transform: scale(1.1);
      .MuiClockPointer-root {
        background-color: $mainBlue;

        .MuiClockPointer-thumb {
          border: 16px solid $mainBlue;
        }
      }
    }
  }

  .MuiPickersLayout-contentWrapper,
  .MuiPickersLayout-actionBar {
    max-width: 365px;
    &.MuiPickersLayout-actionBar {
      //      margin-top: 10px;
      gap: 10px;
    }
  }

  .MuiInputBase-root {
    border: 0;
    border-radius: 0;
    padding-right: 0;
    * {
      user-select: none;
    }

    input {
      outline: none;
      display: block !important;
      outline: 0 !important;
      font-weight: 400 !important;
      transition: all 0.2s ease-in-out !important;
      border: 1px solid $iconGrey !important;
      border-radius: $borderRadius !important;
      height: 38px !important;
      padding: 0 8px !important;
      max-height: unset !important;
      position: absolute !important;
      top: 0 !important;
      caret-color: $mainBlue !important;
    }
  }

  // Input border
  .MuiOutlinedInput-notchedOutline {
    border: 0 !important;
    display: none;
    &.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
      border: 0 !important;
      margin-bottom: 15px;
    }
  }

  // Input border
  .css-lxfshk-MuiInputBase-root-MuiOutlinedInput-root {
    &.Mui-error {
      .MuiOutlinedInput-notchedOutline {
        border-radius: 0;
        border: 0 !important;
      }
    }
  }

  .MuiOutlinedInput-root {
    position: relative;
  }

  .MuiInputLabel-animated {
    position: relative;
  }

  // Overlay
  .css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .css-rsks93-MuiPaper-root-MuiDialog-paper {
    margin: 0 auto;
  }

  // Year selection
  .css-innj4t-MuiPickersYear-yearButton.Mui-selected {
    background-color: $mainBlue;
  }

  // Top time container
  .css-17lne2t {
    display: block;
  }

  // Digital time container {
  .css-1l4fxj8 {
    justify-content: center;
  }

  //  Am/Pm Flexbox
  .css-1bt0dft,
  .MuiTimePickerToolbar-hourMinuteLabel {
    flex-direction: row;
    justify-content: center;
  }

  // Input container {
  .css-14879vg,
  .css-1q964xs-MuiFormLabel-root-MuiInputLabel-root {
    transform: none;
  }

  .css-jaa451 {
    .MuiPickersLayout-toolbar {
      max-width: 365px;
    }
  }

  // Input
  .css-z3c6am-MuiFormControl-root-MuiTextField-root {
    //    margin: 15px 0 15px 0;
    user-select: none;
    -moz-user-select: none; // Firefox
    -webkit-text-select: none; // IOS Safari
    -webkit-user-select: none; // Safari

    &::placeholder {
      font-size: 14px;
    }
  }
  .MuiPickersFadeTransitionGroup-root {
    max-width: 365px;
    .MuiDateCalendar-viewTransitionContainer {
      max-width: 365px;
      .css-1h73gvd {
        max-width: 365px;
      }
    }
  }
  .css-18pjc51-MuiFormLabel-root-MuiInputLabel-root,
  .MuiFormLabel-root {
    overflow: inherit;
    font-size: 15px !important;
  }

  .css-ufcxyz-MuiTypography-root-MuiDayCalendar-weekDayLabel {
    font-weight: bold;
  }

  .MuiPickersLayout-root {
    margin: 0 auto;
    max-width: 365px;
    .css-1st8yxe-MuiPickersLayout-root {
      max-width: 365px;
    }
  }

  .css-18pjc51-MuiFormLabel-root-MuiInputLabel-root,
  .css-18w7by0 {
    transform: none;
    font-size: 15px !important;
  }

  // Calendar container
  .css-1y8461r {
    margin: 0;
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
  }

  .css-1nf2ro8,
  .MuiDialog-paper {
    width: 365px;
  }

  .css-18w7by0 {
    transform: none;
  }

  .css-1386ez6-MuiMonthCalendar-root {
    margin: 0 auto;
  }

  // Top date container
  .css-x79lsh {
    max-width: 365px;
  }
  //@include testBorders;
}