@import './palette';
@import './variables';
@import './mixins';

#external-overrides {
  // OVERLAY
  .MuiBackdrop-root {
    &.MuiModal-backdrop {
      backdrop-filter: blur(5px) !important;
    }
  }

  // MUI PARENT
  .MuiPaper-root:not(.MuiAccordion-root) {
    background-color: $lightBg;
    border-radius: 20px !important;
    margin: 0 !important;
    width: calc(100vw - 20px) !important;
    max-width: calc(100vw - 20px) !important;
    transition: all 0.3s ease-in-out !important;
    box-shadow: $boxShadow_bottom_only_dark;
    overflow: hidden !important;

    &.MuiAccordion-root {
      width: 100% !important;
    }

    /*#region  MODAL BUTTONS*/
    .MuiDialogActions-root {
      display: grid;
      grid-template-columns: 1fr 1fr !important;
      width: 100%;
      justify-content: center;
      padding: 10px 15px 20px 15px !important;
      max-width: calc(100vw - 20px) !important;
      margin: 20px auto 0 auto !important;

      .MuiButton-root {
        &.MuiButton-text {
          font-weight: bold;
          border-radius: 10px !important;
          font-size: 14px !important;
          display: flex;
          align-items: center;
          line-height: 1;
          height: 50px !important;
          color: $darkerGrey !important;
          border: 1px solid $lightBorderColor !important;
          background: $grey !important;

          &:nth-child(2) {
            background: $green !important;
            color: white !important;
            border: 1px solid $green !important;
          }
        }
      }
    }
    /*#endregion  MODAL BUTTONS*/

    /*#region  TIMEPICKER TOOLBAR*/
    .MuiPickersToolbar-root {
      max-width: calc(100vw - 20px) !important;
      padding: 15px 15px 0 15px;
      margin: 0 !important;

      .MuiTypography-overline {
        display: none !important;
      }

      .MuiTimePickerToolbar-ampmSelection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin: 15px 0 0 0 !important;
        gap: 10px !important;
        * {
          line-height: 1;
        }

        button {
          span {
            border-radius: 0 !important;
            font-size: 20px !important;
            background-color: transparent;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            &.Mui-selected {
              color: $mainBlue;
            }
          }
        }
      }

      .MuiTimePickerToolbar-hourMinuteLabel {
        justify-content: center !important;
        align-items: center !important;
        gap: 5px;

        .MuiTimePickerToolbar-separator {
          display: unset !important;
          margin: 0 8px !important;
        }
      }

      @media screen and (min-width: 800px) {
        display: flex;
        margin: 0 auto !important;
      }
    }
    /*#endregion  TIMEPICKER TOOLBAR*/

    .MuiButtonBase-root,
    .MuiPickersDay-hiddenDaySpacingFiller {
      &.MuiMenuItem-root {
        width: 100%;
      }

      &.Mui-selected {
        background-color: $lightAccentBlue !important;
        width: 55px !important;
        height: 45px !important;
        color: $mainBlue !important;
        border: 0 !important;
        margin: 0 10px !important;

        &:after {
          display: none !important;
        }

        &.MuiMenuItem-root {
          width: calc(100% - 20px) !important;
          border-radius: $borderRadius !important;
        }
      }
    }

    /*#region  DATE RANGE*/
    .MuiDateRangeCalendar-root {
      .MuiDateRangePickerDay-rangeIntervalDayHighlight {
        top: -5px !important;
        position: relative;
        align-items: center !important;
        display: flex !important;
        justify-content: center !important;
        background: $lightAccentBlue !important;

        button {
          height: auto !important;
          top: unset !important;

          &.MuiButtonBase-root {
            &.MuiPickersDay-root {
              &.Mui-selected {
                background: transparent !important;
                margin: 0 !important;
                height: unset !important;
                width: unset !important;
              }
            }
          }
        }
      }

      .MuiDateRangePickerDay-outsideCurrentMonth,
      .MuiDateRangePickerDay-root {
        width: 55px !important;
        text-align: center !important;
        height: 50px !important;
      }
      .MuiDayCalendar-header {
        max-height: 30px;
        margin: 0;
        display: grid !important;
        gap: 0 !important;
        grid-template-columns: repeat(7, 1fr);
        align-items: flex-start !important;
        width: calc(100vw - 25px) !important;
        justify-content: center !important;
        overflow: hidden !important;
        .MuiDayCalendar-weekDayLabel {
          height: 30px !important;
          text-align: center !important;
          width: 100%;
        }
      }

      .MuiPickersDay-today {
        border: 0 !important;
        font-weight: $fwBold;
        color: $mainBlue;
      }
    }
    .MuiDateRangePickerToolbar-container {
      max-height: 40px;
      display: none !important;

      .MuiButtonBase-root {
        &.MuiButton-root {
          margin: 0 !important;

          span {
            font-size: 18px;
          }
        }
      }
      .MuiTypography-h5 {
        font-size: 18px;
        display: flex;
        align-items: center;
        align-self: stretch;
        max-height: 40px;
      }
    }
    /*#endregion  DATE RANGE*/

    .Mui-focused {
      border-color: transparent;
    }

    /*#region  PICKER WRAPPER*/
    .MuiDialogContent-root {
      // DATEPICKER WRAPPER
      .MuiPickersLayout-root {
        .MuiPickersLayout-contentWrapper {
          max-width: 100vw !important;
          width: calc(100vw - 20px) !important;
        }
      }
      .MuiDateCalendar-root {
        margin: 0 !important;
        height: 100% !important;
        width: calc(100vw - 20px) !important;

        @media screen and (min-width: 1000px) {
          margin: 0 auto !important;
          width: 47vw !important;
        }

        .MuiDayCalendar-weekDayLabel {
          font-size: 16px;
          width: 50px;
          height: 50px;
          color: $lightDarkGrey;
          opacity: 0.7;
          font-weight: bold;
        }

        .MuiPickersDay-today:not(.Mui-selected) {
          opacity: 1 !important;
          border-radius: 50% !important;
          font-weight: $fwMediumBold !important;
          width: 51px !important;
          margin-left: 5px;
          margin-right: 5px;
          height: 45px !important;
          position: relative;
          z-index: 99;

          &:after {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            width: 35px;
            @include centerHoriz;
            border: 1px solid $darkGrey !important;
            height: 18px;
            z-index: -1;
            border-radius: 12px;
          }
        }

        // WEEKDAY LABEL (S M W)
        .MuiDayCalendar-weekDayLabel {
          width: 60px !important;
          height: 30px !important;
          color: black !important;
          opacity: 0.6;
          font-weight: $fwRegular !important;
        }

        .MuiPickersSlideTransition-root {
          min-height: 310px !important;
          max-width: calc(100vw - 100px) !important;

          // New/Edit Datepicker
          &[role='presentation'] {
            width: 100%;
            max-width: 100% !important;
          }

          .MuiDayCalendar-monthContainer {
            .MuiDayCalendar-weekContainer {
              justify-content: center;
              height: 50px !important;
              text-align: center !important;
              width: calc(100vw - 20px) !important;

              .MuiPickersDay-dayWithMargin {
                width: 60px !important;
                height: 50px !important;
                border: 0 !important;

                &:focus {
                  background: transparent !important;
                }
                &.MuiPickersDay-today {
                  &:after {
                    content: '';
                    position: absolute;
                    top: 15px;
                    left: 0;
                    width: 35px;
                    @include centerHoriz;
                    height: 18px;
                    z-index: -1;
                    border-radius: 12px;
                  }
                }
              }

              // DAY CELL
              button {
                &.MuiButtonBase-root {
                  &.Mui-selected {
                    background: transparent !important;
                    color: $primaryText !important;
                    margin: 0 !important;
                    transition: all 0.2s ease-in-out !important;
                    position: relative;
                    opacity: 1 !important;
                    font-weight: $fwBold !important;
                    z-index: 999;

                    &:after {
                      content: '';
                      position: absolute;
                      top: 5px;
                      left: 0;
                      width: 35px;
                      @include centerHoriz;
                      height: 18px;
                      z-index: -1;
                      border-radius: 12px;
                      background: $mainBlue;
                    }

                    .dot-wrapper {
                      position: relative;
                      top: -5px;
                    }
                  }
                }
              }
            }
            [role='row'] {
              max-width: 100% !important;
            }
          }
        }

        .MuiDateCalendar-viewTransitionContainer {
          .MuiMonthCalendar-root {
            background: $grey !important;
            margin: 0 auto 25px auto !important;
            width: calc(100vw - 30px) !important;
            border-radius: $bigBorderRadius;
            box-shadow: $boxShadow_surround_small;
            padding: 15px 0;

            .MuiPickersMonth-monthButton {
              font-weight: $fwMedium !important;
              color: $primaryText !important;

              &.Mui-selected {
                background: $lightAccentBlue !important;
                opacity: 1;
                color: $mainBlue !important;
              }
            }
          }

          * {
            text-align: center !important;
          }
        }

        .MuiPickersDay-root {
          width: 60px !important;
          height: 50px !important;
          margin-bottom: 8px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          color: $primaryText;
          border-radius: $borderRadius !important;
          font-size: 14px !important;

          @media screen and (min-width: 650px) {
            &:hover {
              background: $lightAccentBlue !important;
              color: $accent !important;
            }
          }

          // Weekend
          &.weekend-day,
          &.MuiPickersDay-dayOutsideMonth,
          &[aria-colindex='7'],
          &[aria-colindex='1'] {
            opacity: 0.6 !important;

            &.Mui-selected,
            &.MuiPickersDay-today {
              opacity: 1 !important;
            }
          }
        }
      }
      // TIME SLOTS
      .MuiTimePickerToolbar-hourMinuteLabel {
        transform: scale(0.8);
        position: relative;
        left: -10px;
        display: flex !important;
        align-items: flex-start !important;

        button {
          border-bottom: 1px solid $darkGrey !important;
          border-radius: 0 !important;
          padding: 0 !important;

          span {
            position: relative;
          }
        }
      }
      // AM/PM SELECTION
      .MuiTimePickerToolbar-ampmSelection {
        flex-wrap: nowrap;
        flex-direction: row;
        margin: 10px 25px 0 0;
        gap: 5px;
        button {
          min-width: 0 !important;
          margin: 0 !important;
          padding: 0 !important;
          width: 40px !important;
          justify-content: center;
          display: flex;
          align-items: center;

          span {
            padding: 0 !important;
            width: 40px !important;
          }

          &:not(.Mui-selected) {
            border: 0 !important;
          }
          .Mui-selected.MuiTypography-subtitle2 {
            border-radius: $borderRadius;
            border: 0;
            width: 40px !important;
            height: auto;
          }
        }
      }
    }
    /*#endregion  PICKER WRAPPER*/
  }

  /*#region  PICKER ARROWS*/
  .MuiPickersCalendarHeader-root {
    width: calc(100vw - 20px);
    margin-top: 0 !important;
    padding-left: 15px !important;
    padding-top: 20px !important;
    .MuiPickersArrowSwitcher-root {
      .MuiPickersArrowSwitcher-spacer {
        display: none;
      }
      .MuiPickersArrowSwitcher-rightArrowIcon,
      .MuiPickersArrowSwitcher-leftArrowIcon {
        color: $darkGrey;
        position: relative;
        right: -5px;
        transform: scale(1.2);
        &.MuiPickersArrowSwitcher-leftArrowIcon {
          margin-right: 15px;
        }
      }
    }
  }
  /*#endregion  PICKER ARROWS*/

  /*#region  PICKER INPUTS*/
  .MuiFormControl-root {
    width: 100%;
    fieldset {
      border: 0 !important;
    }
    .MuiInputBase-root {
      border: 0;
      border-radius: 0;
      padding-right: 0;

      * {
        user-select: none;
      }

      input {
        display: block !important;
        outline: 0 !important;
        font-weight: 400 !important;
        transition: all 0.2s ease-in-out !important;
        padding: 0 8px !important;
        max-height: unset !important;
        position: absolute !important;
        caret-color: $mainBlue !important;
        height: 22px !important;
        top: 38px !important;
        width: 100% !important;
        border-radius: 0 !important;
      }
    }
    .MuiInputLabel-root {
      font-weight: $fwMedium !important;
      color: black !important;
      opacity: 0.6 !important;
      margin: 0 !important;
      letter-spacing: 0.4px !important;
      line-height: 1.3 !important;
      font-size: 16px !important;
    }
    .MuiSvgIcon-root {
      font-size: 28px !important;
      opacity: 0.45 !important;
    }
    .MuiOutlinedInput-root {
      [role='combobox'] {
        padding: 10px;
        background: white !important;
        border-radius: $borderRadius;
        font-size: 14px !important;
        border: 1px solid $lightBorderColor !important;
      }
    }
  }
  /*#endregion  PICKER INPUTS*/

  /*#region  CLOCK*/
  .MuiTimePickerToolbar-root {
    .MuiPickersToolbar-content {
      display: flex !important;
      align-items: flex-start !important;
    }
  }
  .MuiTimeClock-root {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    overflow: auto !important;
    width: calc(100vw - 20px) !important;
    max-width: calc(100vw - 20px) !important;
    margin: 0 !important;

    @media screen and (min-width: 800px) {
      display: flex;
      margin: 0 auto !important;
    }

    .MuiTimeClock-arrowSwitcher {
      display: none;
    }

    .MuiClock-clock {
      margin-top: 20px !important;
      margin-bottom: 20px !important;
      transform: scale(1.08) !important;
      border: 1px solid $lightBorderColor !important;
      background: $grey !important;
    }

    .MuiClock-squareMask {
      transform: scale(1.3) !important;
    }
    .MuiClock-root {
      transform: scale(1.1);
      margin: 15px auto;
      width: 100%;
      .MuiClockPointer-root {
        background-color: $mainBlue;

        .MuiClockPointer-thumb {
          border: 16px solid $mainBlue;
        }
      }
    }
  }
  /*#endregion  CLOCK*/
}