/*#region  BASE COLORS */
$green: #2ecc71;
$red: #d57179;
// BOOTSTRAP RED
$bootstrapBgRed: #f8d7da;
$bootstrapRedBorder: #f5c2c7;
$bootstrapRedColor: #842029;
$bootstrapBgGreen: #d1e7dd;
$bootstrapGreenBorder: #badbcc;
$bootstrapGreenColor: #0f5132;
$bootstrapBgYellow: #fff3cd;
$bootstrapYellowBorder: #ffecb5;
$bootstrapYellowColor: #664d03;
$bootstrapBgRed2: #fff6f7;
$yellow: #fbf5bf;
$gold: #ffcb6b;
$goldText: #7a6133;
$orange: #e8964a;
$lightPurple: #f5f0ff;
$purple: #b392f0;
$darkPurple: #513596;
$linkColor: #0667f6;
$accent: $purple;
$mainBlue: #547eff;
$lightBlue: #e2ecff;
$lightestGreen: rgba(173, 245, 203, 0.65);
/*#endregion  BASE COLORS */

/*#region  BLACKS (NOT NEGROES)*/
$black: #232323;
$lightBlack: #1c1c1c;
$translucent: rgba(255, 255, 255, 0.02);
$translucentLighter: rgba(255, 255, 255, 0.05);
$translucentLightest: rgba(255, 255, 255, 0.09);
$anotherBlack: #12130f;
/*#endregion  BLACKS (NOT NEGROES)*/

/*#region  GREYS*/
$borderColor: rgba(232, 235, 236, 0.47);
$borderColorDark: #c0c2c4;
$lightestGrey: #f3f7fa;
$lightGrey: #e4e4e4;
$offWhite: #e6e6e6;
$buttonGrey: #efefef;
$iconGrey: #e3e8ee;
$darkGrey: #939393;
$bestGreyForWhite: #f2f4f5;
$bestGreyForWhite2: #eeeeec;
$desktopBorderColor: #e0e0e0;
$mediumGrey: #b6b6b6;
/*#endregion  GREYS*/

/*#region  VISITATION COLORS*/
$coparentPurple: #8f7afa;
$accentBlue: #99b2ff;
$lightGreen: rgba(46, 204, 113, 0.65);
$currentUserGreen: $green;
//#F88379
/*#endregion  VISITATION COLORS*/

/*#region  Dark Theme*/
$darkBlueDarkest: #121735;
$darkBg: rgba(26, 32, 52, 0.27);
$darkestBg: #0f121e;
$darkPurple: #808cf8;
$darkLightPurple: #aaa8cc;
$darkLightBg: #13112f;
$darkGreen: #00c899;
$darkBlue: #5c8df7;
$darkBlueMedium: #567fff;
$darkBlueLight: cornflowerblue;
$darkSmallShadow:
  0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
$darkBorderColor: rgba(147, 147, 147, 0.2);
/*#endregion  Dark Theme*/

/*#region  LIGHT THEME*/
$lightBlueDark: #00319f;
$lightBlueLightDark: #0049be;
$lightBlueMedium: #4c6fff;
$lightAccent: #4c75a3;
$lightIconBgBlue: #dde5ff;
$lightestBlue: #d3eafd;
$lightMenuBg: white;
$lightBorder: #e7e9ee;
$lightBg: white;
$lightDesktopBg: #f3f7fa;
//$lightBg: #f4f8ff;
$lightBlackLight: #1c1c1c;
$lightBlue: #edf2fd;
$lightDarkGrey: rgba(0, 0, 0, 0.44);
/*#endregion  LIGHT THEME*/