/*#region  Generic*/
$green: #00b389;
$red: #ca436c;
$bgRed: #ffabc0;
$yellow: #fbf5bf;
$lightPurple: #af90fd;
$purple: #6447f5 ;
$darkPurple: #5b3bdc;
$linkColor: #1971fd;
$offWhite: #e6e6e6;
$accent: #fc76ae;
$translucent: rgba(255, 255, 255, 0.02);
$translucentLighter: rgba(255, 255, 255, 0.05);
$translucentLightest: rgba(255, 255, 255, 0.09);
$mauve: #A6A9CA;
$mauveDarker: #9E96BC;
$mauveDarkerStill: #9784AC;
$mauveDarkest: #8D5D86;
/*#endregion  Generic*/

/*#region  Dark Theme*/
$darkBlueDarkest: #121735;
$darkBg: #1d242f;
$darkBlue: #2d3748;
$darkBlueMedium: #567fff;
$darkBlueLight: cornflowerblue;
$darkSmallShadow: 0 3px 6px rgba(0, 0, 0, 0.16),0 3px 6px rgba(0, 0, 0, 0.23);
$darkGrey: #757575;
/*#endregion  Dark Theme*/

/*#region  LIGHT THEME*/
$lightBlueDark: #00319F;
$lightBlueLightDark: #0049BE;
$lightBlueMedium: #4c6fff;
$lightBlue: #5e85fd;
$lightestBlue: #567fff;
$lightMenuBg: white;
$lightBorder: #e7e9ee;
$lightBg: white;
$lightBlackLight: #1c1c1c;
$lightSmallShadow: '';
$lightGrey: #e4e4e4;
/*#endregion  LIGHT THEME*/