/*#region  BASE COLORS */
$green: #64ce76;
$red: #d92f54;
$accentBlue: #3b4dff;
$lightAccentBlue: rgba(208, 215, 248, 0.32);
$accentBlueBg: rgba(70, 144, 255, 0.15);
$bootstrapBgRed: rgba(255, 231, 235, 0.65);
$bootstrapRedBorder: #f5c2c7;
$bootstrapRedColor: #842029;
$bootstrapBgGreen: #d1e7dd;
$bootstrapGreenBorder: #badbcc;
$bootstrapGreenColor: #0f5132;
$bootstrapBgYellow: #fff3cd;
$bootstrapYellowBorder: #ffecb5;
$bootstrapYellowColor: #664d03;
$bootstrapBgRed2: #fff6f7;
$yellow: #fbf5bf;
$gold: #ffcb6b;
$goldText: #7a6133;
$orange: #c0742d;
$lightPurple: #f5f0ff;
$purple: #6741c9;
$darkPurple: #513596;
$linkColor: #0667f6;
$mediumPurple: #d3bdff;
$accent: $purple;
$mainBlue: #547eff;
$lightBlue: #e2ecff;
$lightestGreen: rgba(173, 245, 203, 0.65);
/*#endregion  BASE COLORS */

/*#region  BLACKS (NOT NEGROS)*/
$black: #232323;
$lightBlack: #1c1c1c;
$translucent: rgba(255, 255, 255, 0.02);
$translucentLighter: rgba(255, 255, 255, 0.05);
$translucentLightest: rgba(255, 255, 255, 0.09);
$anotherBlack: #12130f;
/*#endregion  BLACKS (NOT NEGROS)*/

/*#region  GREYS*/
$borderColor: rgba(232, 235, 236, 0.17);
$mediumGrey: #e0e0e0;
$borderColorDark: #c0c2c4;
$lightestGrey: #fafafa;
$lightGrey: #f1f1f1;
$offWhite: #e6e6e6;
$buttonGrey: #efefef;
$darkGrey: #757575;
$iconGrey: #e3e8ee;
$bestGreyForWhite: #f2f4f5;
$bestGreyForWhite2: #eeeeec;
$desktopBorderColor: #e0e0e0;
/*#endregion  GREYS*/

/*#region  VISITATION COLORS*/
$coparentPurple: #8f7afa;
$lightGreen: rgba(46, 204, 113, 0.65);
$currentUserGreen: $green;
$holidayOrange: #f88379;
/*#endregion  VISITATION COLORS*/

/*#region  Dark Theme*/
$darkBlueDarkest: #121735;
$darkBg: black;
$darkGreyText: #89868f;
$darkIconGrey: #4e4d57;
$darkGreyLight: #1f1f23;
$darkPurple: #808cf8;
$darkText: #c2c1c6;
$darkLightPurple: #aaa8cc;
$darkLightBg: #13112f;
$darkGreen: $green;
$darkBlue: #5c8df7;
$darkBlueMedium: #4c6fff;
$darkMainBlue: $darkBlueMedium;
$darkBlueLight: cornflowerblue;
$darkSmallShadow:
  0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
$darkBorderColor: #252327;
/*#endregion  Dark Theme*/

/*#region  LIGHT THEME*/
$lightBg: white;
$lightBlueDark: #00319f;
$lightBlueLightDark: #0049be;
$lightBlueMedium: #4c6fff;
$lightAccent: #4c75a3;
$lightIconBgBlue: #dde5ff;
$lightestBlue: #d3eafd;
$lightMenuBg: white;
$lightBorder: #e7e9ee;
$lightDesktopBg: #f3f7fa;
$lightBlackLight: #1c1c1c;
$lightBlue: #edf2fd;
$lightDarkGrey: rgba(0, 0, 0, 0.44);
/*#endregion  LIGHT THEME*/