/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes sparkles1 {
  0% {
    top: 0;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: -200%;
    left: -50%;
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes sparkles2 {
  0% {
    top: 0;
    left: 25%;
    transform: scale(1);
  }
  100% {
    top: -250%;
    left: 10%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles3 {
  0% {
    top: 0;
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: -275%;
    left: 70%;
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes sparkles4 {
  0% {
    top: 0;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: -120%;
    left: 120%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles5 {
  0% {
    top: 100%;
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: 275%;
    left: 70%;
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes sparkles6 {
  0% {
    top: 100%;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: 220%;
    left: 120%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles7 {
  0% {
    top: 100%;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 200%;
    left: -50%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles8 {
  0% {
    top: 100%;
    left: 25%;
    transform: scale(1);
  }
  100% {
    top: 250%;
    left: 10%;
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes sparkles9 {
  0% {
    top: 50%;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 60%;
    left: -100%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles10 {
  0% {
    top: 50%;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: 75%;
    left: 170%;
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0%, 100% {
    color: "#9d98fc";
  }
  50% {
    color: #5c8df7;
  }
}
@keyframes pulseWhite {
  0%, 100% {
    box-shadow: 0px 0px 20px 0px white;
  }
  50% {
    box-shadow: 0px 0px 10px 0px white;
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(123, 117, 255, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes beatRed {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #d57179;
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animStar {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes shootingStar {
  0% {
    transform: rotate(315deg) translateX(250px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
@keyframes starTwinkle {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateMoon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}
/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
/*#region  FORM*/
/*#endregion  FORM*/
/*#region  BUTTONS*/
/*#endregion  BUTTONS*/
/*#region  EFFECTS*/
/*#endregion  EFFECTS*/
/*#region  POSITIONING*/
/*#endregion  POSITIONING*/
/*#region  COMPONENTS*/
/*#endregion  COMPONENTS*/
/*#region  MENU*/
/*#endregion  MENU*/
#external-overrides {
  /*#region  OUTSIDE APP CONTAINER */
  /*#endregion OUTSIDE APP CONTAINER */
  /*#region  > 800px PHONE CONTAINER*/
  /*#endregion  > 800px PHONE CONTAINER*/
}
@media screen and (min-width: 1600px) {
  #external-overrides .full-menu #full-menu {
    gap: 10px;
  }
  #external-overrides .full-menu #full-menu .menu-item {
    width: 23%;
    height: 150px;
  }
  #external-overrides #bottom-card {
    max-width: 40vw;
    width: 40vw;
  }
  #external-overrides #bottom-card #relative-wrapper .buttons {
    padding-bottom: 0;
  }
  #external-overrides #bottom-card.full-menu .buttons {
    background-color: transparent !important;
  }
}
@media screen and (min-width: 815px) {
  #external-overrides #side-navbar.calendar {
    width: 25vw;
  }
  #external-overrides #side-navbar.docViewer {
    width: 25vw;
  }
  #external-overrides #calendar-sidebar {
    width: 35vw;
  }
  #external-overrides #bottom-actions {
    left: unset;
    right: 120px;
  }
  #external-overrides #bottom-actions #toc-button#toc-button {
    width: 200px;
    bottom: -46px;
    left: unset;
    right: 0;
    transform: unset;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 30px 14px;
  }
}
@media screen and (min-width: 815px) and (min-width: 650px) {
  #external-overrides #bottom-actions #toc-button#toc-button {
    transition: all 0.3s ease-in-out;
  }
  #external-overrides #bottom-actions #toc-button#toc-button:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 30px 14px;
  }
}
@media screen and (max-width: 800px) {
  #external-overrides #login-container .form-container .form .buttons button {
    width: 50%;
  }
  #external-overrides .MuiYearCalendar-root {
    border-radius: 15px;
    background: #f2f4f5 !important;
  }
  #external-overrides .MuiPickersYear-yearButton.Mui-selected {
    background: #547eff;
  }
  #external-overrides #documents-container.page-container {
    width: 100vw;
  }
  #external-overrides #calendar-sidebar {
    display: none;
  }
  #external-overrides #app-container #app-content-with-sidebar {
    margin: 0;
    width: 100vw;
    gap: 0;
    max-width: 100vw;
  }
  #external-overrides #app-container #app-content-with-sidebar.logged-in {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  #external-overrides #app-container #screen-title-wrapper svg {
    transform: scale(1.4);
  }
  #external-overrides #app-container .page-container:not(.home):not(.login) {
    padding: 20px 20px 200px 20px;
    max-height: calc(100vh - 110px);
    border: 1px solid #e0e0e0;
    border-radius: 15px;
  }
  #external-overrides #app-container .page-container:not(.home):not(.login).calendar {
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #external-overrides #app-container .page-container:not(.home):not(.login).documents {
    background: white;
    width: 50vw;
    max-height: unset;
  }
  #external-overrides #app-container .page-container {
    position: relative;
  }
  #external-overrides #app-container .page-container.home {
    height: auto;
  }
  #external-overrides #app-container #documents-container {
    min-width: 70vw;
    justify-self: flex-start;
  }
  #external-overrides #app-container #documents-container .header {
    min-width: 300px;
    width: 400px;
    margin: 20px auto;
  }
  #external-overrides #app-container #documents-container .header .header {
    margin: 0;
  }
  #external-overrides #app-container #app-content-with-sidebar.fullscreen {
    margin: 0;
    height: 100vh;
    background: white;
    width: 100vw;
  }
  #external-overrides #app-container #app-content-with-sidebar #forgot-password-container {
    margin-top: 15px;
    max-width: 60vw;
  }
  #external-overrides #app-container #app-content-with-sidebar #forgot-password-container .button {
    width: 25%;
  }
  #external-overrides #app-container #app-content-with-sidebar #login-container {
    padding-top: 15px;
  }
  #external-overrides #app-container #app-content-with-sidebar #login-container .form-container {
    width: 55vw;
    margin: 0 auto;
  }
  #external-overrides #app-container #app-content-with-sidebar #login-container #forgot-password-link {
    max-width: 180px;
  }
}
@media screen and (min-width: 800px) and (min-width: 650px) and (min-width: 650px) {
  #external-overrides #app-container #app-content-with-sidebar #login-container #forgot-password-link:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 800px) {
  #external-overrides #app-container #app-content-with-sidebar #login-container .buttons {
    justify-content: flex-start;
  }
  #external-overrides #app-container #app-content-with-sidebar #login-container .buttons button {
    width: 25%;
  }
  #external-overrides #app-container #instructions-wrapper .instructions {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  #external-overrides #app-container #instructions-wrapper .instructions.center {
    text-align: center;
    font-size: 14px;
    left: unset;
    right: unset;
    width: unset;
    top: unset;
    bottom: unset;
    transform: unset;
    position: relative;
  }
  #external-overrides #app-container .MuiPaper-root {
    max-width: 100%;
  }
  #external-overrides #app-container #static-calendar .MuiYearCalendar-root {
    background: #f2f4f5;
  }
  #external-overrides #app-container #static-calendar .MuiPickersLayout-root {
    max-width: 50vw !important;
  }
  #external-overrides #app-container #static-calendar .MuiPickersLayout-contentWrapper * {
    max-width: 50vw !important;
  }
  #external-overrides #app-container #static-calendar .MuiPickersLayout-actionBar {
    display: none;
  }
  #external-overrides #app-container .MuiDateCalendar-root .MuiPickersDay-root,
  #external-overrides #app-container .MuiDateCalendar-root .MuiDayCalendar-weekDayLabel {
    width: 80px !important;
    height: 50px !important;
  }
  #external-overrides #app-container .MuiDateCalendar-root .MuiPickersDay-root.Mui-selected,
  #external-overrides #app-container .MuiDateCalendar-root .MuiDayCalendar-weekDayLabel.Mui-selected {
    width: 60px !important;
    height: 50px !important;
  }
  #external-overrides #app-container .MuiDialogActions-root {
    max-width: 50vw !important;
  }
  #external-overrides #app-container #calendar-container {
    border: 1px solid #e0e0e0;
    border-radius: 15px;
  }
  #external-overrides #app-container #calendar-container .events {
    max-height: 20vh;
  }
  #external-overrides #app-container #calendar-sidebar {
    background: white;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
  }
}
@media screen and (min-width: 800px) and (max-width: 600px) {
  #external-overrides #app-container #calendar-sidebar {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper {
    margin-bottom: 15px;
  }
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper #legend-row {
    transition: all 0.3s ease-in-out;
  }
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper #legend-row:hover {
    opacity: 1;
    color: #547eff;
    padding-left: 15px;
    cursor: pointer;
  }
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper #legend-row:hover label {
    color: #547eff;
    opacity: 1;
    cursor: pointer;
  }
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper #legend-row:hover label span {
    color: #547eff;
  }
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper #legend-row svg {
    font-size: 20px;
    margin-right: 17px;
    opacity: 0.75;
  }
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper #legend-row label span {
    font-weight: 400;
    opacity: 0.75;
    color: black;
  }
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper .flex {
    align-items: center;
  }
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper .flex.currentUser {
    margin-top: 5px;
  }
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper #legend-content {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    max-height: 0;
  }
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper #legend-content.active {
    max-height: 500px;
    margin-top: 10px;
    opacity: 1;
    transform: scale(1);
  }
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper #legend-content p {
    font-size: 14px;
    margin-top: 0;
    opacity: 1;
    text-align: center;
    justify-content: center;
  }
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper #legend-content p.currentUser {
    color: #2ecc71;
  }
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper #legend-content p.coparent {
    color: #8f7afa;
  }
  #external-overrides #app-container #calendar-sidebar #desktop-legend-wrapper #legend-content p.standard {
    color: #e8964a;
  }
  #external-overrides #app-container #calendar-sidebar input::-moz-placeholder {
    font-size: 12px;
    font-style: italic;
    opacity: 0.8;
  }
  #external-overrides #app-container #calendar-sidebar input::placeholder {
    font-size: 12px;
    font-style: italic;
    opacity: 0.8;
  }
  #external-overrides #app-container #calendar-sidebar .item {
    margin-top: 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  #external-overrides #app-container #calendar-sidebar .item#holidays-button svg {
    font-size: 20px;
    opacity: 0.75;
  }
  #external-overrides #app-container #calendar-sidebar .item:hover {
    opacity: 1;
    color: #547eff;
    padding-left: 15px;
    cursor: pointer;
  }
  #external-overrides #app-container #calendar-sidebar .item * {
    line-height: 1;
  }
  #external-overrides #app-container #calendar-sidebar .item#new-event {
    color: #2ecc71;
    font-weight: 500;
    opacity: 1;
  }
}
@media screen and (min-width: 800px) and (min-width: 650px) {
  #external-overrides #app-container #calendar-sidebar .item:not(#new-event):hover {
    color: #547eff;
  }
}
@media screen and (min-width: 800px) {
  #external-overrides #app-container #calendar-sidebar .item svg {
    font-size: 22px;
    margin-right: 15px;
    opacity: 0.75;
  }
}
@media screen and (min-width: 800px) and (min-width: 650px) {
  #external-overrides #app-container .section.unique-features .feature:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 800px) and (min-width: 650px) {
  #external-overrides #app-container button.button.default.default:hover {
    background-color: #547eff;
    color: white;
    border: unset;
  }
  #external-overrides #app-container button.button.default.default.green:hover {
    background: #2ecc71;
    color: white;
    border: unset;
  }
  #external-overrides #app-container button.button.default.default.red:hover {
    background: #d57179;
    color: white;
    border: unset;
  }
}
@media screen and (min-width: 800px) {
  #external-overrides #app-container #child-info-container .button.default.center {
    min-width: 25%;
  }
  #external-overrides #app-container #memories-container .light-gallery {
    gap: 20px;
  }
  #external-overrides #app-container #memories-container .light-gallery .memory {
    width: 180px;
    height: 180px;
    background: unset;
    padding: unset;
    border: unset;
  }
  #external-overrides #app-container #memories-container .light-gallery .memory-image {
    height: 150px;
    min-height: 0;
    border: 1px solid #f2f4f5;
  }
}
@media screen and (min-width: 800px) and (min-width: 650px) {
  #external-overrides #app-container #memories-container .light-gallery .memory-image:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 800px) and (min-width: 650px) {
  #external-overrides #app-container #memories-container .light-gallery .memory-image:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 30px 14px;
    border: unset;
  }
}
@media screen and (min-width: 800px) {
  #external-overrides #app-container #memories-container .light-gallery .memory-image .delete-icon {
    font-size: 22px;
    height: unset;
    width: unset;
    color: #d57179;
  }
}
@media screen and (min-width: 800px) and (min-width: 650px) {
  #external-overrides #app-container #memories-container .light-gallery .memory-image .delete-icon:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 30px 14px;
    border: unset;
  }
}
@media screen and (min-width: 800px) {
  #external-overrides #app-container #disclaimer {
    max-width: 70%;
    margin: 0 auto;
  }
  #external-overrides #app-container #disclaimer p {
    width: auto;
    font-size: 14px;
    opacity: 0.5;
    font-style: italic;
  }
  #external-overrides #app-container .share-with-container {
    width: 100%;
  }
}
@media screen and (min-width: 800px) and (min-width: 1000px) {
  #external-overrides #app-container .share-with-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #external-overrides #app-container .share-with-container .MuiAccordionSummary-content .react-toggle,
  #external-overrides #app-container .share-with-container .MuiAccordion-heading .react-toggle {
    position: relative;
    left: 10px;
  }
  #external-overrides #app-container .share-with-container .flex:not(#checkbox-container) {
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #external-overrides #app-container .share-with-container .flex:not(#checkbox-container) .react-toggle {
    justify-self: flex-end;
  }
  #external-overrides #app-container .share-with-container #checkbox-group {
    width: 100%;
  }
}
@media screen and (min-width: 800px) and (min-width: 800px) {
  #external-overrides #app-container #bottom-card {
    max-width: 50vw;
    left: unset;
    right: unset;
    transform: unset;
    bottom: unset;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 30px 14px;
    border-radius: 15px;
  }
  #external-overrides #app-container #bottom-card .buttons .card-button:hover {
    cursor: pointer;
    color: white;
    background: #547eff;
  }
  #external-overrides #app-container #bottom-card .buttons .card-button:hover svg {
    color: white;
  }
  #external-overrides #app-container #bottom-card #relative-wrapper {
    overflow-y: scroll;
  }
  #external-overrides #app-container #bottom-card #relative-wrapper #title-wrapper {
    top: 0;
  }
  #external-overrides #app-container #bottom-card #relative-wrapper .buttons {
    position: fixed;
    padding: 0;
    bottom: 0;
    margin: 0;
  }
  #external-overrides #app-container #bottom-card.animate__fadeInUp {
    bottom: unset;
  }
  #external-overrides #app-container #bottom-card.active {
    min-height: unset;
    max-height: unset;
    height: 90vh;
  }
  #external-overrides #app-container #bottom-card.view-holidays {
    max-height: 25vh;
    min-height: 0;
  }
  #external-overrides #app-container #bottom-card.view-holidays button {
    transform: unset;
  }
  #external-overrides #app-container #bottom-card.view-holidays #relative-wrapper #holiday-card-buttons {
    margin: 15px 0;
  }
}
@media screen and (min-width: 800px) and (min-width: 800px) and (min-width: 650px) {
  #external-overrides #app-container #bottom-card.view-holidays #relative-wrapper #holiday-card-buttons button#view-all-holidays-item:hover {
    background: #2ecc71;
    color: white;
  }
  #external-overrides #app-container #bottom-card.view-holidays #relative-wrapper #holiday-card-buttons button#view-visitation-holidays-item:hover {
    background: #547eff;
    color: white;
  }
  #external-overrides #app-container #bottom-card.view-holidays #relative-wrapper #holiday-card-buttons button#view-visitation-holidays-item:hover.blue {
    color: white;
  }
}
@media screen and (min-width: 800px) and (min-width: 650px) and (min-width: 650px) {
  #external-overrides #app-container #bottom-card .close-icon:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 800px) and (min-width: 650px) and (min-width: 650px) {
  #external-overrides #app-container #bottom-card #duration-options .duration-option:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 800px) and (min-width: 650px) and (min-width: 650px) {
  #external-overrides #app-container #chats-container .thread-item:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 800px) {
  #external-overrides #app-container #chats-container .thread-item .coparent-name .last-message {
    padding-left: 10px;
  }
  #external-overrides #app-container #message-thread-container {
    margin-right: auto;
    border-radius: 15px;
    flex-direction: row;
    margin-left: 15px;
    height: calc(100vh - 100px);
    max-height: calc(100vh - 100px);
  }
  #external-overrides #app-container #message-thread-container .conversation-sidebar-fade-wrapper .sidebar-search-input::-moz-placeholder {
    font-size: 14px;
    font-style: italic;
    opacity: 0.6;
  }
  #external-overrides #app-container #message-thread-container .conversation-sidebar-fade-wrapper .sidebar-search-input::placeholder {
    font-size: 14px;
    font-style: italic;
    opacity: 0.6;
  }
  #external-overrides #app-container #message-thread-container .top-buttons {
    position: unset;
    order: 1;
    height: 40vh;
    margin-left: 20px;
    width: 20vw;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
    padding: 15px;
    background-color: white;
  }
  #external-overrides #app-container #message-thread-container .top-buttons #input-wrapper {
    padding: 0;
  }
  #external-overrides #app-container #message-thread-container .top-buttons #user-name {
    color: #547eff;
    font-weight: 600;
    font-size: 20px;
    margin: 0 0 15px 0;
  }
  #external-overrides #app-container #message-thread-container .top-buttons .item {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
  }
  #external-overrides #app-container #message-thread-container .top-buttons .item#find-messages, #external-overrides #app-container #message-thread-container .top-buttons .item#view-bookmarks {
    opacity: 0.75;
  }
  #external-overrides #app-container #message-thread-container .top-buttons .item#find-messages svg, #external-overrides #app-container #message-thread-container .top-buttons .item#view-bookmarks svg {
    font-size: 22px;
    margin-right: 10px;
    opacity: 0.65;
  }
}
@media screen and (min-width: 800px) and (min-width: 650px) {
  #external-overrides #app-container #message-thread-container .top-buttons .item:hover {
    cursor: pointer;
    color: #547eff;
  }
}
@media screen and (min-width: 800px) {
  #external-overrides #app-container #message-thread-container .top-buttons .item svg {
    font-size: 22px;
    margin-right: 20px;
    opacity: 0.85;
  }
  #external-overrides #app-container #message-thread-container .form:not(.input-container) {
    width: 100%;
    display: flex;
    justify-content: center;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0 0 15px 15px;
  }
  #external-overrides #app-container #message-thread-container .form:not(.input-container) .message-input {
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
  #external-overrides #app-container #message-thread-container .form:not(.input-container) #message-input-container {
    padding: 0;
    justify-content: center;
    width: 100%;
  }
  #external-overrides #app-container #message-thread-container .form:not(.input-container) #send-button {
    right: unset;
    opacity: unset;
    width: 100px;
    color: white;
    margin-left: 20px;
  }
  #external-overrides #app-container #message-thread-container #default-messages,
  #external-overrides #app-container #message-thread-container #bookmark-messages,
  #external-overrides #app-container #message-thread-container #messages {
    padding-top: 10px;
    width: 100%;
    max-width: 55vw;
    height: 100%;
    border-radius: 15px;
    position: relative;
    border: 1px solid #e0e0e0;
  }
}
@media screen and (min-width: 800px) and (min-width: 650px) and (min-width: 650px) {
  #external-overrides #app-container #message-thread-container #default-messages .message svg:hover,
  #external-overrides #app-container #message-thread-container #bookmark-messages .message svg:hover,
  #external-overrides #app-container #message-thread-container #messages .message svg:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 800px) {
  #external-overrides #app-container #message-thread-container #default-messages .message,
  #external-overrides #app-container #message-thread-container #bookmark-messages .message,
  #external-overrides #app-container #message-thread-container #messages .message {
    min-width: 200px;
    max-width: 35%;
  }
}
@media screen and (min-width: 800px) and (min-width: 650px) and (min-width: 650px) {
  #external-overrides #app-container #message-thread-container #default-messages .message svg:hover,
  #external-overrides #app-container #message-thread-container #bookmark-messages .message svg:hover,
  #external-overrides #app-container #message-thread-container #messages .message svg:hover {
    cursor: pointer;
  }
}
@media screen and (min-width: 800px) and (min-width: 1000px) {
  #external-overrides #app-container #navbar {
    width: auto;
    background: transparent;
    position: sticky;
    right: 10vw;
    margin: 0;
    padding: 0;
    top: 50%;
    bottom: 50%;
  }
  #external-overrides #app-container #navbar #menu-items {
    background: transparent;
    width: auto;
  }
}
@media screen and (min-width: 800px) and (min-width: 1000px) and (min-width: 650px) {
  #external-overrides #app-container #navbar #menu-items #svg-wrapper:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
  }
}
@media screen and (min-width: 800px) and (min-width: 1000px) {
  #external-overrides #app-container #navbar #menu-items .menu-item:not(.add) {
    display: none;
  }
}
#external-overrides #app-container .page-container:not(.home) {
  align-self: stretch;
}
@media screen and (min-width: 1600px) {
  #external-overrides #app-container .page-container:not(.home) {
    width: 50vw;
    max-width: 50vw;
  }
}/*# sourceMappingURL=responsive.css.map */