@import './mixins';

#external-overrides {
  .flatpickr-months {
    align-items: center;

    * {
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0;
      padding: 0;
      max-width: 245px;
    }
  }
  .MuiFormControl-root {
    &.light {
      input {
        background-color: white;
      }
    }
  }
  .rs-input-group {
    input {
      background: white !important;
    }
  }

  .rs-picker {
    /*#region  LIGHT THEME*/
    &.light {
      .rs-input-group {
        input {
          background-color: white !important;
        }
      }
    }
    /*#endregion  LIGHT THEME*/
  }
  .rs-input {
    margin: 0 !important;
  }
  

  .rs-calendar-table-header-row {
    position: relative !important;
    left: -12px !important;

    span {
      font-size: 17px !important;
    }
  }
  .rs-calendar-body {
    padding-left: 25px !important;
  }
  .rs-picker-popup {
    background-color: $lightBg !important;
    .rs-calendar-header-month-toolbar {
      * {
        color: $mainBlue !important;
      }
    }
    .rs-calendar {
      .rs-calendar-table-cell-content {
        span {
          color: $mainBlue !important;
        }
      }
    }
  }
  // Color Palette
  #calendar-ui-container {
    /*#region  DARK THEME*/
    &.dark {
      .flatpickr-months {
        .flatpickr-prev-month,
        .flatpickr-next-month {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          height: 35px;
          width: 35px;
          border: 1px solid $translucentLightest;
        }
      }
      .flatpickr-calendar {
        .calendar-arrow {
          top: auto !important;
          left: auto !important;
          right: auto !important;
        }
        .flatpickr-weekday {
          color: $offWhite;
        }
      }
      .multidate-picker {
        .rs-input {
          color: $offWhite;
          -webkit-text-fill-color: $offWhite !important;
        }
      }
       .flatpickr-days {
        .flatpickr-day {
          color: white;

          &.selected {
            background-color: $purple;
          }
        }
      }
    }
    /*#endregion  DARK THEME*/
  }

  // Rest -> garbage
  .rs-calendar-table-cell-in-range {
    &:before {
      background-color: $accent;
      top: 24px !important;
      left: -6px !important;
      border-radius: 8px !important;
      z-index: 10000 !important;
      height: 6px !important;
      opacity: 0.8 !important;
    }
  }
  .flatpickr-calendar {
    width: 100%;
    position: relative;
    box-shadow: none;
    left: 0;
    right: 0;
    border-radius: $bigBorderRadius;
    background-color: white;
    box-sizing: border-box;
    margin: 0 auto 10px auto;
    border: 1px solid $borderColor;
    padding: 0 10px;

    @media screen and (min-width: 768px) {
      margin: 0 auto;
      max-width: 600px;
    }


    @media screen and (min-width: 768px) {
      max-width: 600px;

      .flatpickr-innerContainer {
        margin: 0 auto;
        max-width: 600px;
      }
      &.dayContainer {
        height: 350px;
      }
    }
    
    // LINKS
    a {
      color: $linkColor !important;
    }

    .flatpickr-days {
      .flatpickr-day {
        max-width: 100px;
        font-weight: 400;
        position: relative;
        transform: scale(1.1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: calc(100% /7);

        &:hover {
          background: transparent !important;
          border: 0 !important;
          height: auto !important;
          transform: none !important;
          &.selected {
            height: 39px !important;
          }
        }

        /*#region  DOT INDICATORS*/
        .invisible-dots {
          width: 100%;
        }
        .dot-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;
          position: relative;
          top: -8px;
          gap: 3px;

          .dot {
            margin: 0;
            height: 5px;
            width: 5px;
            border: 0;
            display: block;
            border-radius: 100%;
          }

          .current-user-visitation-dot {
            background-color: $mainBlue;
          }

          .coparent-visitation-dot {
            background-color: #a7d9fd;
          }

          .standard-event-dot {
            background-color: $lightDarkGrey;
          }
        }
        /*#endregion  */

        .holiday-emoji,
        .payday-emoji {
          position: absolute;
          top: 0;
          left: 55%;
          right: 50%;
          z-index: 100;
          width: 15px;
          height: 20px;
          display: flex;
          justify-content: center;
          border-radius: 50%;
          align-items: center;
          &.payday-emoji {
            color: $green !important;
            font-size: 14px;
            font-weight: bold !important;
          }
        }

        &.today {
          border: 0;
          font-weight: bold !important;
          position: relative;
          top: 1px;
          color: #ff668b !important;
          transform: scale(1.3);

          .visitation-dot,
          .dot {
            top: 38px;
          }
          
          .dot-wrapper {
            top: -11px;
          }
        }

        &.selected {
          border-radius: 10px;
          transform-origin: center;
          position: relative;
//          max-width: 39px;
          font-weight: bold !important;
          top: 0;
          padding-top: 8px;
          line-height: 1;
          border: 1px solid $mainBlue;
          background-color: $mainBlue !important;
          color: white !important;
          transform: scale(1);
          font-size: 20px;
          padding-top: 5px;

          .dot-wrapper {
            margin-top: 25px;
          }
        }

        &.nextMonthDay,
        &.prevMonthDay {
          opacity: 0.4;

          &.selected {
            background-color: $red;
            border: 1px solid $darkBlue;
            color: white;
          }
        }

        @media screen and (min-width: 768px) {
          &.selected {
            top: 15px;
            max-width: 65px;
            left: 5px;
            border-radius: $borderRadius;

            .visitation-dot,
            .dot {
              top: 30px;
            }
          }
        }
      }
    }

    &.hide {
      display: none !important;
    }

    &::before,
    &::after {
      display: none;
    }

    *:not(.flatpickr-month, .flatpickr-current-month, .flatpickr-monthDropdown-months, .flatpickr-monthDropdown-month, .flatpickr-months) {
      font-weight: 400;
    }

    .calendar-arrow {
      font-size: 25px !important;
      position: relative;
      opacity: .3 !important;
      top: 1px;

      &.left {
      }

      &.right {
      }
    }

    .flatpickr-innerContainer,
    .flatpickr-days,
    .dayContainer {
      margin: 0 auto;
      width: 100%;
      
      &.dayContainer {
        max-width: 100% !important;
        margin: 0 !important;
      }
      
      &.flatpickr-days {
        margin: 0 !important;
      }
      
      .flatpickr-day {
//        max-width: 52px !important;
      }
      
      &.flatpickr-innerContainer {
        padding-bottom: 15px;
      }
      @media screen and (min-width: 768px) {
        max-width: 600px;

        &.flatpickr-innerContainer {
          margin: 0 auto;
          padding-bottom: 15px;
        }
        &.dayContainer {
          height: 350px;
        }
      }

      @media screen and (min-width: 1024px) {
        //        width: 80vw;
        max-width: 600px;
        &.flatpickr-innerContainer {
          //          margin: 0 auto;
          margin: 0;
        }
      }

      &.dayContainer {
        //        height: 250px;
      }
    }

    .numInputWrapper {
    }

    // TOP MONTH SELECTOR
    .flatpickr-months {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      
      @media screen and (min-width: 1024px) {
        max-width: 70vw;
        margin: 0;
      }
      .flatpickr-month {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        height: 60px;
        position: relative;
      }
      .flatpickr-current-month,
      .flatpickr-monthDropdown-months {
        padding: 0;
        font-weight: $fwMedium !important;

        .arrowUp,
        .arrowDown {
          display: none;
        }

        select {
          border: 0;
          -moz-appearance: none;
          -webkit-appearance: none;

          &::-ms-expand {
            display: none;
          }
        }

        &.flatpickr-current-month {
          justify-content: center;
          margin: 0 auto;
          position: absolute;
          left: 0;
          @include  centerHoriz;

          .numInputWrapper {
            .numInput {
              &.cur-year {
                font-size: 16px !important;
                opacity: 0.6;
              }
            }
          }
        }

        @media screen and (min-width: 1024px) {
          max-width: 70vw;
          margin: 0;
        }
      }

      .flatpickr-monthDropdown-months {
        font-size: 16px !important;
        option {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    .flatpickr-current-month {
      display: flex;
      align-items: center;
      justify-content: center;

      select,
      option {
        font-weight: 500;
      }
    }

    .flatpickr-prev-month,
    .flatpickr-next-month {
      position: relative;
      padding-left: 0;
      padding-right: 0;
      font-weight: bold !important;

      svg {
        transform: scale(150%);
        fill: white;
        opacity: 0.9;
        font-weight: bold !important;
      }

      &.flatpickr-prev-month {
        left: -5px;

        @media screen and (min-width: 800px) {
          left: 25px;
        }
      }

      &.flatpickr-next-month {
        right: -5px;

        @media screen and (min-width: 800px) {
          right: 25px;
        }
      }
    }

    .flatpickr-weekdays {
//      margin-bottom: 10px;
    }

    .flatpickr-weekday {
      transform: scale(1.1);
      font-weight: 400 !important;
      color: $lightDarkGrey !important;
    }

    .flatpickr-rContainer {
      width: 100%;
      * {
      }
    }
  }

  .rs-picker-toggle {
    outline: none;

    .rs-picker-toggle-placeholder {
    }
  }

  .rs-panel-title {
  }

  .rs-picker {
    margin: 0;
    outline: none;
    padding-bottom: 0 !important;
    // border: 1px solid red;
    height: 40px;
    justify-content: flex-end;
    vertical-align: baseline;

    &::placeholder {
    }
  }

  .rs-daterange-input,
  .rs-picker-date,
  .rs-input {
    outline: none !important;
    margin: 0;
    padding: 0;
  }

  .rs-input-group {
    //    height: 30px;
  }

  .rs-input-group.rs-input-group-inside {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    border: 0;
    outline: none;

    .rs-picker-label {
      padding-left: 0;
      padding-right: 10px !important;
      font-weight: 300;
      opacity: 0.6;
    }

    &::placeholder {
    }
  }

  .rs-picker-select-menu-item {
    color: $darkBlue !important;
  }

  .rs-dropdown,
  .rs-picker,
  .rs-picker-toggle {
    width: 100%;
    display: block;
    outline: none;

    ul {
      border: 0 !important;
      @include shadow();

      li {
        padding: 10px !important;

        span {
          opacity: 0.8;
        }
      }
    }

    .rs-dropdown-toggle,
    .rs-btn,
    .rs-btn-default {
      border: 0;
      width: 100%;
      color: white;
      font-weight: 300;
    }

    .rs-picker-toggle-value {
      outline: none;
    }

    ul {
      background-color: transparent;
      width: 100%;
      position: relative;
      z-index: 1000;

      li {
        span {
        }
      }
    }
  }

  .rs-picker {
    // margin: 0 auto 10px auto !important;
    display: block;
    width: 100%;
    background-color: transparent;
    height: 30px;
    // border: 1px solid red;
  }

  .rs-input-group-addon {
    border: 0;
    height: 30px;

    svg {
      fill: white;
      opacity: 0.4;
      height: 20px;
      width: 20px;
    }
  }

  /*#region RS OVERRIDES*/
  .rs-picker-popup {
    width: 90vw;
    -webkit-box-shadow: 0 0 105px 45px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 0 105px 45px rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 105px 45px rgba(0, 0, 0, 0.9);
    height: 50vh;
    border-radius: $bigBorderRadius;

    // Set date picker height
    &.rs-anim-fade {
      &.rs-picker-popup-date {
        height: 50vh;

        .rs-stack {
          .rs-stack-item {
            .rs-calendar {
              height: 50vh;
            }
          }
        }
      }
    }

    // Time selector
    .rs-stack-item {
      height: auto;


      .rs-calendar {
        height: 50vh;
      }

      &:nth-child(1) {
        position: relative;

        .rs-picker-toolbar {
          position: absolute;
          top: 80%;
          height: 50px;
          z-index: 1000;

          button {
            width: 298px;
            padding: 10px;
            left: 0;
            font-weight: bold;
          }
        }
      }
    }

    .rs-picker-toolbar {
      height: 50vh;
      top: 0;
    }

    .rs-calendar {
      width: 90vw;
      height: 60vh;

      .rs-calendar-table-cell-un-same-month {
        span {
          opacity: 0.5;
        }
      }

      .rs-calendar-table-cell-content {
        font-size: 18px;
        border-radius: 100%;
        margin: 7px 10px 0 0;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0;
      }

      .rs-calendar-table-cell-selected {
        .rs-calendar-table-cell-content {
          display: flex;
          align-items: center;
          background-color: $mainBlue;
          justify-content: center;
          padding: 20px;
         span {
           color: white !important;
         }
        }
      }
    }

    .rs-calendar-table {
      width: 100%;
    }

    .rs-calendar-time-dropdown-cell {
      &.rs-calendar-time-dropdown-cell-active {
        background-color: $accent;
      }
    }

    .rs-btn-primary {
      background-color: $accent;
    }

    .rs-calendar-header {
      height: 20px;

      .rs-calendar-header-month-toolbar {
        height: 20px;
      }
    }

    .rs-calendar-header-title-time,
    .rs-calendar-header-meridian,
    .rs-calendar-header-error {
      font-size: 20px;
      color: $accent;

      &.rs-calendar-header-meridian {
        border: 1px solid $accent;
      }
    }

    .rs-calendar-time-dropdown {
      background-color: black;
    }

    .rs-calendar-time-dropdown-cell,
    .rs-calendar-time-dropdown-column-title {
      font-size: 18px;
      background-color: black;
    }

    .rs-calendar-time-dropdown-column {
      [aria-label='Select hours'] {
        margin-right: 8px;
      }

      [aria-selected='true'] {
        span {
          border-radius: $borderRadius;
        }
      }

      &:after {
        content: '';
        position: absolute;
        z-index: 1;
        bottom: -1px;
        left: 0;
        pointer-events: none;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 2) 65%);
        width: 100%;
        height: 55px;
      }
    }

    .rs-calendar-table-cell-is-today {
      .rs-calendar-table-cell-content {
        border: 0;
        color: $accent;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }

    .rs-calendar-header-month-toolbar {
      * {
        font-size: 18px;
      }

      svg {
        height: 24px;
        width: 30px;
        position: relative;
        top: -5px;
      }
    }
  }

  .rc-tooltip {
    max-width: 300px;

    .rc-tooltip-inner {
      color: white;
      font-size: 16px;
      line-height: 1.4;
      background-color: $mainBlue;
    }
  }

  /*#endregion RS OVERRIDES */
  [data-testid] {
    &.center {
      position: absolute !important;
      left: 50% !important;
      transform: translate(-50%, -50%) !important;
      height: 300px !important;
      width: 90vw !important;
      text-align: center !important;
      margin: 0 !important;
      padding: 10px !important;
      border-radius: 15px;
      transition: top 0.2s linear;
      box-shadow: 0 25px 80px rgba(0, 0, 0, 0.5) !important;
      opacity: 0 !important;
      top: 100vh !important;

      &.active {
        opacity: 1 !important;
        top: 50% !important;
      }

      .rs-stack {
        overflow: hidden !important;
        height: 240px !important;

        &.rs-picker-toolbar {
          height: auto !important;
        }
      }

      .rs-calendar-table-cell-selected {
        .rs-calendar-table-cell-content {
          background-color: $accent;
          height: 35px !important;
          width: 35px !important;
        }
      }

      .rs-calendar-table-cell-content {
        height: 35px !important;
        width: 35px !important;
      }

      .rs-calendar-table-cell-day {
        color: white !important;
        font-size: 18px !important;
      }

      .rs-calendar-table-cell-un-same-month {
        .rs-calendar-table-cell-day {
          color: white !important;
          opacity: 0.6;
        }
      }

      .rs-calendar-table-cell-is-today {
        .rs-calendar-table-cell-content {
        }
      }

      .rs-calendar-header-meridian {
        color: white;

        &:hover {
          background-color: $accent;
        }
      }

      .rs-calendar-time-dropdown {
        .rs-calendar-time-dropdown-column-title {
        }

        .rs-calendar-time-dropdown-cell-active {
          background-color: $accent;
        }

        .rs-calendar-time-dropdown-column-title {
          color: white;
          font-weight: bold;
        }
      }

      .rs-calendar-header-forward,
      .rs-calendar-header-backward {
        color: white;
        opacity: 0.7;
        font-size: 30px;

        svg {
          height: 25px;
          position: relative;
          top: -5px;
        }
      }

      .rs-calendar-header-title {
        font-size: 18px;
        color: white;
      }

      .rs-picker-toolbar {
        margin-top: auto;
        bottom: 0;
        position: absolute;
        right: 0;
        border: 0 !important;

        .rs-btn-primary {
          background-color: $accent;
        }
      }
    }
  }

  [data-testid='daterange-predefined-bottom'] {
    display: none !important;
  }

  .flatpickr-days {
    height: 300px;
    padding-top: 5px;
    .flatpickr-day {
      opacity: 0.9;
      border-radius: 0;
      height: 60px;
      color: $lightBlack !important;
      
      &.today {
        opacity: 1;
      }
      
      &:hover {
        background: transparent !important;
        border: 0 !important;
        height: auto !important;
        transform: none !important;
      }
      
      &.weekend-day {
        color: $lightDarkGrey !important;
      }

      &.prevMonthDay {
        opacity: 0.5;
      }
      &.selected {
        height: 40px;
        position: relative;
        top: 15px;
        display: flex;
        align-items: center;

        .holiday-emoji,
        .payday-emoji {
          top: -10px;
          background-color: transparent;
          left: 60%;
        }
      }
    }
  }

  .rs-picker-toggle {
    outline: none;

    .rs-picker-toggle-placeholder {
    }
  }

  .rs-picker {
    margin: 0;
    outline: none;
    padding-bottom: 0 !important;
    height: 40px;
    justify-content: flex-end;
    vertical-align: baseline;

    &::placeholder {
    }
  }

  .rs-daterange-input,
  .rs-picker-date,
  .rs-input {
    outline: none !important;
    margin: 0;
    padding: 0;
  }

  .rs-input {
    display: flex;
    align-items: flex-end;
    outline: none;
    justify-content: flex-end;
    padding-bottom: 0;

    &textarea {
      margin-bottom: 0;
    }
  }
  .rs-input {
    &textarea {
      margin-bottom: 0;
    }
  }
  .rs-input-group {
    input,
    textarea {
      border-radius: 8px !important;
      display: block;
      width: 100%;
      outline: 0;
      font-weight: 400;
      align-items: flex-end !important;
      outline: none !important;
      justify-content: flex-end !important;
      background-color: rgba(44, 54, 111, 0.2);
      padding: 11px !important;

      &:focus,
      &:valid,
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
      }

      &::placeholder {
        opacity: 0.6;
        font-style: italic;
        font-weight: 300;
      }
    }

    textarea {
      height: 150px;
      padding: 10px;
      border-radius: 8px;
    }
  }

  .rs-picker-select-menu-item {
    color: $darkBlue !important;
  }

  .rs-dropdown,
  .rs-picker,
  .rs-picker-toggle {
    width: 100%;
    display: block;
    outline: none;

    .rs-dropdown-toggle,
    .rs-btn,
    .rs-btn-default {
      background-color: transparent !important;
      width: 100%;

      font-weight: 300;
    }

    .rs-picker-toggle-value {
      outline: none;
    }

    ul {
      background-color: transparent;
      position: relative;
      z-index: 1000;

      li {
        span {
        }
      }
    }
  }

  .rs-picker {
    display: block;
    width: 100%;
    background-color: transparent;
  }

  .rs-input-group-addon {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    height: 30px;
    display: none;

    svg {
      fill: white;
      opacity: 0.7;
      height: 20px;
      width: 20px;
    }
  }

  .rs-tag-icon-close {
    position: relative;
    
    svg {
      font-size: 20px !important;
      align-self: stretch !important;
      height: 100% !important;
    }
  }

  .rs-tag {
    display: inline-block !important;
    width: auto !important;

    button,
    span {
      display: inline-block !important;
    }
  }

  .css-lc42l8-MuiInputBase-input-MuiOutlinedInput-input {
    &::-webkit-input-placeholder {
      opacity: inherit;
    }
  }

  .rs-panel-body,
  .rs-panel-header {
    padding: 0;
  }

  .rs-panel-group {
    border-radius: 10px;
  }
}