@import './_mixins.scss';

#error-screen {
  height: 100vh;
  width: 100vw;
  background-color: $lightBg;
  padding: 20px;
  overflow: scroll;
  max-height: 100vh;

  #screen-title-wrapper {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.3;
  }

  * {
    @include fontType;
  }

  button {
    border: 0;
  }

  #text-container {
    margin-bottom: 10px;
    background: $grey;
    padding: 15px;
    border-radius: $borderRadius;

    p {
      &.heading {
        font-weight: bold;
      }
    }

    #steps {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;

      &#wrap {
        flex-wrap: wrap;
      }

      .settings-icon {
        height: 20px;
      }

      .step-number {
        font-weight: bold;
        margin-right: 10px;
        width: 15px;
      }

      span {
        text-align: left;
      }

      p {
        text-align: left;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  #safari-icon {
    height: 20px;
    margin-left: 8px;
  }

  p,
  .emphasize {
    font-weight: 400;

    &.message {
      line-height: 1.7;
    }

    &.emphasize {
      font-weight: bold;
      padding-left: 5px;
    }

    &.accordion-header {
      color: white;
      font-weight: 500;
      margin-bottom: 10px;
      background-color: #2b3881;
      border-radius: $buttonBorderRadius;
      padding: 10px 0;
      text-align: center;
      text-align-last: center;
    }

    span {
      color: $linkColor;
    }
  }

  button {
    background-color: transparent;

    &.link {
      color: $linkColor;
      text-decoration: underline;
      background-color: transparent;
      padding: 0;
    }
  }

  .support-email {
    p,
    a {
      display: inline;
    }
  }

  .text {
    @include deadCenter;

    .title {
      font-size: 25px;
      font-weight: bold;

      span {
        position: relative;
        top: 5px;
      }
    }

    .subtitle {
      font-size: 22px;
    }
  }
}

.password-validation {
  .checklist-icon {
    font-size: 15px !important;
    height: 10px !important;
    width: 10px !important;
  }
}

// REACT REVEAL
.css-zvi4ix {
  width: 100%;

  &.page-container-fade-wrapper {
    display: flex;

    .with-padding {
      width: 100%;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }

  &.memories-fade-wrapper {
    &:has(> #instructions-wrapper) {
    }
    @media screen and (max-width: 800px) {
      .lg-react-element {
        .memory {
          width: 100%;
        }
      }
    }
  }

  &.side-navbar-fade-wrapper {
    align-self: stretch;
  }

  &.conversation-fade-wrapper {
    height: 100vh;
    overflow: hidden;
  }

  &.side-navbar-fade-wrapper,
  &.conversation-sidebar-fade-wrapper {
  }
}

#external-overrides {
  // MENU
  .full-menu {
    @include fullMenu;
  }

  #spacer {
    height: 1px;
    width: 100%;
    display: block;
  }

  #pull-to-refresh-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 10px;
    padding: 15px 0;
    height: 30px;
    font-size: 18px;
    @include centerHoriz;

    svg {
      margin-left: 15px;
    }
  }

  #app-container {
    position: relative;
    max-width: 100vw;
    width: 100vw;
    padding: 0;
    margin: 0;
    opacity: 1;
    background: $grey;
    overflow: hidden;
    height: 100vh;

    //    #home-indicator {
    //      position: fixed;
    //      bottom: 0;
    //      width: 100vw;
    //      height: 34px;
    //      background: red;
    //      z-index: $maxZIndex;
    //    }
    //
    //    #status-bar {
    //      position: fixed;
    //      top: 0;
    //      width: 100vw;
    //      height: 47px;
    //      background: red;
    //      z-index: $maxZIndex;
    //    }

    &.disable-scroll {
      overflow: hidden;
    }

    &.pushed {
      max-width: 1000px;
      width: 1000px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    /*#region ELEMENT DEFAULTS */
    * {
      @include fontType;
    }

    table {
      @include table;
    }

    a {
      color: $main;
      text-decoration: none;
      border-bottom: 1px solid $main;
      line-height: 1;
    }

    svg {
      font-size: 30px;
    }

    hr {
      height: 1px;
      background-color: #fbfeff;
      width: 100%;
      margin: 20px auto;

      &.documents {
        margin: 10px 0 25px 0;
        border-color: $lightGrey;
        opacity: 0.3;
        color: transparent;
        background-color: transparent;
      }

      &.hr {
        height: 1px;
        border-color: rgba(242, 244, 245, 0.25);
        width: 70vw;
        margin: 40px auto;

        &.less-margin {
          margin: 20px auto;
        }
      }

      &.details-hr {
        border-color: rgba(242, 244, 245, 0.25);
        width: 70vw;
        margin: 15px auto;
      }

      &.event-hr {
        margin: 10px auto;
        width: 70%;
      }
    }

    span {
      color: inherit;

      &.link {
        color: $linkColor;
      }
    }

    p {
      color: $primaryText;

      &.screen-intro-text {
        color: $darkestGrey;
      }
    }

    b {
      font-weight: $fwBold;
      color: $primaryText;
    }

    /*#endregion ELEMENT DEFAULTS*/

    /*#region MIXINS */
    .row {
      @include row;
    }

    .flex-start {
      justify-content: flex-start !important;
    }

    .mui-input {
      &::placeholder {
        font-size: 12px !important;
      }
    }

    #numpad-wrapper {
      @include numpad;
    }

    #label-wrapper {
      @include labelWrapper;
    }

    #upload-inputs {
      @include uploadInputs;
    }

    #checkbox-group {
      @include checkboxGroup;

      &.holiday-checkboxes-wrapper {
        #checkboxes {
          flex-wrap: wrap;
          display: flex;
          gap: 10px 8px;

          .pill {
            display: inline;
            margin: 0;
          }
        }
      }
    }

    #menu-overlay {
      &.dark {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
      }
    }

    #alert-container,
    .page-container {
      @include pageContainer;
    }

    .form {
      @include form;
    }

    .requirement-text {
      font-style: italic;
      opacity: 1;
      font-weight: 600;
    }

    .screen-title {
      @include screenTitle;
    }

    #screen-title-wrapper {
      @include screenTitleWrapper;
    }

    .action-pills {
      @include actionPills;
    }

    button,
    .button {
      @include defaultButton;
    }

    /*#endregion MIXINS */

    /*#region SCREENS */
    // USER DETAILS SCREEN
    #user-details {
      .smiley-icon {
        color: $main;
        font-size: 22px;
        margin-left: 10px;
      }
    }

    /*#endregion SCREENS */

    /*#region  CLASS/ID DEFAULTS*/
    .green {
      color: $green;
    }

    .fade-up-wrapper {
      opacity: 0;
    }

    #slideshow-wrapper {
      opacity: 0;
      z-index: -1;
      max-height: 70vh;
      transition: all 0.4s ease-out;
      position: fixed;
      top: 60px;
      left: 2.5vw;
      right: 2.5vw;
      bottom: 0;
      height: 100vh;
      justify-content: center;
      align-items: flex-start;
      padding-bottom: 100px;
      display: none;
      flex-wrap: wrap;

      &.active {
        display: flex;
        opacity: 1;
        z-index: 999999999999999;
        transition: all 0.4s ease-in;

        img {
          z-index: 9999999999999999999;
          display: block;
          border-radius: $bigBorderRadius;
          transition: all 0.4s ease-out;
          max-height: 60vh;
          margin-top: 15px;
          mask-image: linear-gradient(to bottom, black 45%, transparent 100%);
          &.active {
            max-width: 90vw;
            height: auto;
            opacity: 1;
            transition: all 0.4s ease-in;
            z-index: 999999999999999;
          }
        }
      }

      .content {
        max-height: 0;
        opacity: 0;
        max-width: 0;
        transition: all 0.4s ease-out;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        &.active {
          max-height: unset;
          max-width: unset;
          opacity: 1;
          transition: all 0.4s ease-in;
        }

        .title {
          margin: 0;
        }

        .capture-date {
          margin-top: 20px;
          color: $darkGrey;
          font-style: italic;
          text-align: center;
        }

        .title,
        .notes,
        .shared-by {
          color: white;
          font-size: 35px;
          font-weight: $fwMediumBold;
          width: 100%;
          text-align: center;
        }

        .shared-by {
          margin-top: 10px;
          color: $darkGrey;
          text-align: center;
          font-size: 16px;
        }

        .notes {
          font-size: 16px;
          font-weight: $fwRegular;
          line-height: 1.3;
          margin-bottom: 10px;
          max-width: 90%;
        }
      }
    }

    .notification-badge {
      position: absolute;
      height: 10px;
      width: 10px;
      border-radius: 100%;
      background: $red;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      &.active {
        opacity: 1;
      }

      &.menu {
        right: 22px;
        bottom: 15px;
        height: 8px;
        width: 8px;
      }

      &.navbar {
        right: 10px;
      }
    }

    .long-title {
      line-height: 1.3;
    }

    #overlay {
      z-index: -1;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.85);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(6px);
      transition: all 0.4s ease-out;

      &.active {
        opacity: 1;
        transition: all 0.4s ease-in;
        z-index: 9999999999999;
      }

      .navigation {
        z-index: 999999999999;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        font-size: 16px;
        padding: 8px 12px;
        font-weight: $fwBold;
        border-radius: $bigBorderRadius;
        color: $grey;
        width: 100vw;
        margin-bottom: 15px;
        background: transparent;

        .arrows {
          width: 40%;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            transform: scale(1.2);
            &:first-child {
              margin-right: auto;
            }
            &:last-child {
              margin-left: auto;
            }
          }
        }

        span {
          font-weight: $fwRegular;
          font-size: 16px;
          padding: 0 10px;
          text-align: center;

          &.close {
            color: #808080;
            font-size: 14px;
            font-weight: $fwMediumBold;
            padding-right: 10px;
            margin-left: auto;
          }
        }
        svg {
          color: $accent;
        }
      }
    }

    #upload-image-input {
      opacity: 0 !important;
    }

    .subtitle-text {
      color: $darkGrey;
    }

    .bottom-menu-wrapper {
      @include bottomMenuWrapper;
    }

    #full-menu {
      @include fullMenu;
    }

    .card-icon-button {
      @include cardIconButton;
    }

    .toggle-button-wrapper {
      * {
        text-align: right;
      }
      @include toggle;
    }

    #install-app-wrapper {
      @include installApp;
    }

    .string-as-html {
      text-align: left;
      line-height: 1.6;
      max-width: 50%;
      white-space: pre-wrap;
    }

    .dynamic-input {
      display: block;
      width: 100%;
      outline: 0;
      font-weight: 400;
      transition: all 0.2s ease-in-out;
      border: 1px solid $lightBorderColor;
      border-radius: $borderRadius;
      height: 40px;
      max-height: unset;
      caret-color: $main;
      padding: 0 8px;

      &::placeholder {
        font-style: italic;
        font-size: 14px;
        opacity: 0.7;
      }

      &[type='date'] {
        border: 1px solid $lightBorderColor;
        padding: 10px 8px;
        border-radius: $borderRadius;
        height: auto;
      }

      &:focus {
        border-radius: $borderRadius;
        border-top: 2px solid $accent;

        &::placeholder {
          opacity: 0;
        }
      }
    }

    .checkbox-wrapper {
      @include checkboxWrapper;
    }

    .views-wrapper {
      @include viewsWrapper;
    }

    #app-content-with-sidebar {
      margin: 0 15px;
      max-width: calc(100vw - 30px);
      position: fixed;
      gap: 25px;
      transition: all 0.5s ease-in-out;
      height: 100vh;
      top: 0;
      z-index: 999999;
      overscroll-behavior: none;

      @media screen and (min-width: 800px) {
        overflow: auto;
        position: relative;
      }

      &.disable-scroll {
        overflow: hidden;
      }

      &.home {
        //        overflow-y: auto;
        //        overflow-x: auto;
        //        max-height: 1000px;
        height: 100vh;
        max-height: 100vh;
        position: fixed;
        overflow: auto;
        //        display: block;
      }

      &.fullscreen {
        max-width: 100vw;
      }

      &.logged-in {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 4fr;
        align-items: flex-start;

        &.three-columns {
          grid-template-columns: 1fr 3fr 1fr;
        }
      }

      @media screen and (min-width: 1000px) {
        #home-screen-wrapper {
          #below-fold-wrapper {
            width: calc(70vw - 80px);
            max-width: calc(70vw - 80px);
          }
        }

        .home {
          width: 70vw;
          max-width: 100vw;
          margin: 0 auto;
        }
      }

      @media screen and (max-width: 1100px) {
        #home-screen-wrapper {
          #below-fold-wrapper,
          #above-fold-wrapper {
            width: calc(90vw - 80px);
            max-width: calc(90vw - 80px);
          }
        }

        .home {
          width: 90vw;
          max-width: 100vw;
        }
      }

      @media screen and (max-width: 800px) {
        #home-screen-wrapper {
          #below-fold-wrapper,
          #above-fold-wrapper {
            width: 100vw;
            max-width: 100vw;
            margin: 0;
            left: 0;
            overflow-x: hidden;

            &#below-fold-wrapper {
              padding: 0;
            }
          }
        }

        .home {
          width: 100vw;
          max-width: 100vw;
          padding: 0;
          max-height: unset;
          overflow: hidden;
          height: unset;
        }
      }
    }

    #standalone-loading-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      //      backdrop-filter: blur(3px);
      z-index: 999999999999;
      //      box-shadow: inset 0 0 300px 0 rgba(255, 255, 255, 0.1);
      background: transparent;
      .data-loading-gif {
        transform: scale(0.2);
        @include deadCenter;
        height: 130px;
        width: auto !important;
      }
    }

    #lazy-loaded-img-placeholder {
      transform: scale(0.4);
    }

    .fade-in-right {
      //      opacity: 0;
    }

    #side-navbar,
    .chats-desktop-sidebar {
      @include sideNavbar;
    }

    #brand-bar {
      @include brandBar;
    }

    .rs-input-group-addon {
      height: 30px !important;

      svg {
        fill: #8693cd !important;
      }
    }

    #modal-wrapper {
      @include modal;
    }

    #share-with-checkbox-group {
      @include checkboxGroup;
    }

    #input-wrapper,
    #address-input-wrapper {
      @include inputWrapper;

      &#address-input-wrapper {
        /*#region  GOOGLE MAPS INPUT */
        [class*='-menu'] {
          background: white !important;
          z-index: 99999999999 !important;
          width: 100% !important;
          border-radius: $borderRadius !important;
          @include centerHoriz;
          position: relative !important;
        }
        [class*='IndicatorsContainer'] {
          display: none !important;
        }

        // PARENT
        [class*='-container'] {
          width: 100% !important;
          min-height: 20px !important;

          [class*='-control'] {
            border: 0 !important;
            background: transparent !important;
            padding: 0 !important;
            min-height: 20px !important;
            border-radius: 0 !important;
            margin-top: 3px !important;

            [class*='singleValue'] {
              padding: 0 !important;
              margin: 0 !important;
              background: transparent !important;
              color: $darkestGrey !important;
            }

            [class*='ValueContainer'] {
              padding: 0 !important;
              display: block !important;
              margin: 0 !important;
              position: relative !important;
              min-height: 20px !important;

              [class*='-Input'] {
                margin: 0 !important;
                padding: 0 !important;
                display: block !important;
                width: 100% !important;
                position: absolute !important;
                top: 0 !important;
                left: 0 !important;
                right: 0 !important;

                input {
                  user-select: none !important;
                  outline: none !important;
                  width: 100% !important;
                  color: $darkestGrey !important;
                  display: block !important;
                }
              }
              [id^='react-select'] {
                //        display: none;
              }
            }
          }
        }

        // PLACEHOLDER
        [id*='-placeholder'] {
          color: $darkestGrey !important;
          //          opacity: 0 !important;
        }
        /*#endregion  GOOGLE MAPS INPUT */

        * {
          &::after {
            display: none !important;
          }
        }

        &.on-grey-bg {
          *:not(#label-wrapper):not(label):not(.asterisk) {
          }
          [class*='-container'] {
            border: 1px solid $lightBorderColor;
            border-radius: $borderRadius;
            padding: 5px;
          }
        }
        * {
          line-height: 1 !important;
          background: unset;
        }
      }
    }
    #success-alert-wrapper {
      @include successAlert;
    }

    #navbar {
      @include navBar;
    }

    #page-overlay {
      @include pageOverlay;
    }

    .Inter-thin {
      font-family: 'Inter', sans-serif;
      font-weight: 100;
      font-style: normal;
    }

    .Inter-light {
      font-family: 'Inter', sans-serif;
      font-weight: 300;
      font-style: normal;
    }

    .Inter-regular {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .Inter-medium {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-style: normal;
    }

    .Inter-bold {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-style: normal;
    }

    .Inter-black {
      font-family: 'Inter', sans-serif;
      font-weight: 900;
      font-style: normal;
    }

    .Inter-thin-italic {
      font-family: 'Inter', sans-serif;
      font-weight: 100;
      font-style: italic;
    }

    .Inter-light-italic {
      font-family: 'Inter', sans-serif;
      font-weight: 300;
      font-style: italic;
    }

    .Inter-regular-italic {
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-style: italic;
    }

    .Inter-medium-italic {
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      font-style: italic;
    }

    .Inter-bold-italic {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-style: italic;
    }

    .Inter-black-italic {
      font-family: 'Inter', sans-serif;
      font-weight: 900;
      font-style: italic;
    }

    #confirm-container {
      @include popupContainers;
    }

    .dead-center {
      @include deadCenter;
    }

    .loading-overlay,
    #loading-with-text-overlay {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: fixed;
      height: 100vh;
      width: 100vw;
      z-index: -1;
      opacity: 0;
      inset: 0;
      overflow: hidden;
      transition: all 0.6s ease-out;

      &.dark {
        background: $darkBg;
      }

      &.active {
        transition: all 0.6s ease-in;
        background: white;
        display: block;
        z-index: $maxZIndex;
        opacity: 1;
        backdrop-filter: blur(5px);
      }

      p {
        @include deadCenter;
        font-size: 22px;
        font-weight: $fwMedium;
        color: $accent;
        backdrop-filter: blur(5px);
        padding: 20px;
        text-align: center;
        max-width: 80vw;
        opacity: 1;
        background: transparent;
        margin-bottom: 15px;
      }

      img {
        @include deadCenter;
        width: 120px;
        height: 120px;
        top: 55%;
      }
    }

    .align-center {
      align-items: center;
    }

    #large-title {
      color: black;
      width: 100%;
      font-size: 25px;
      opacity: 1;
      font-weight: $fwRegular;
      line-height: 1.2;
    }

    #medium-title {
      color: black;
      font-size: 20px;
      opacity: 0.75;
      font-weight: $fwMediumBold;
      line-height: 1.2;
      width: auto;
      display: inline-block;

      &.blue {
        color: $main;
      }
    }

    .block {
      display: block;
    }

    .center-text {
      text-align: center;
      width: 100%;
    }

    .label {
      font-weight: $fwMedium;
      margin: 0;
      line-height: 1.3;
      color: $labelText;
      font-size: 14px;
      text-transform: uppercase;

      svg {
        position: relative;
        top: 3px;
        margin-right: 5px;
        font-size: 20px;
        width: 20px;

        &.type {
          font-size: 16px;
        }
      }
    }

    .asterisk {
      color: $red;
      font-weight: bold;
    }

    #disclaimer {
      width: 90vw;
      display: block;
      align-items: flex-end;
      position: absolute;
      bottom: 95px;
      z-index: 999;
      margin: 0 auto;
      @include centerHoriz;

      p {
        color: $lightGreyText;
        font-size: 14px;
        text-align: center;
        font-weight: $fwMedium;
      }
    }

    // Colors
    .accent {
      color: $accent;
    }

    .blue {
      color: $main;
    }

    .red {
      color: $red;
    }

    .required-field-error {
      border-bottom: 2px solid $red;
      border-radius: $borderRadius;
    }

    .white-text {
      opacity: 0.87;
    }

    .rs-picker-toggle-clean {
      display: none;
    }

    .multidate-picker {
      //      display: none !important;

      &.active {
        display: block !important;
      }
    }

    .note {
      span {
        font-size: 20px;
        position: relative;
        top: 5px;
      }
    }

    .rs-tag {
      background-color: $main;
      color: white;
      padding: 0 15px;
      line-height: 1;
      margin: 8px 5px 5px 0;
      width: 145px;
      display: flex;
      align-items: center;
      border-radius: 20px;

      span {
        font-size: 14px;
        line-height: 1;
      }

      .rs-tag-icon-close {
        align-items: center;
        display: flex;
        padding: 0;
        overflow: hidden;
        position: relative;
        top: -3px;

        svg {
          font-size: 16px !important;
          margin-left: 8px;
        }
      }
    }

    .varela-round-regular {
      font-family: 'Varela Round', sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .rs-tag-icon-close {
      position: relative;
      padding-left: 8px;
      font-weight: bold;
    }

    .material-icons-round {
      font-family: 'Material Icons Round', serif;
    }

    .material-icons-outlined {
      font-family: 'Material Icons Outlined', serif;
    }

    .wrap {
      flex-wrap: wrap;
    }

    #previous-screen-button-container {
      .previous-screen-button {
        font-size: 28px;
        font-weight: bold;
        padding: 5px 15px;
        border-radius: 100%;
        position: fixed;
        z-index: 10000;
        bottom: 20px;
        left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $purple;
        color: white;
        opacity: 1;
        height: 40px;
        width: 40px;

        &.dark {
          background-color: $purple;
          color: white;
        }

        span {
          font-size: 30px;
        }

        @media screen and (min-width: 800px) {
          top: 20px;
          left: 20px;
        }

        @media screen and (min-width: 780px) and (max-width: 1024px) {
          bottom: 20px;
          left: 10px;
          top: inherit;
        }
      }
    }

    #scroll-gif {
      background-color: rgba(255, 255, 255, 0.009);
      position: fixed;
      top: 40vh;
      right: 0;
      transform: scale(50%);
    }

    #forgot-password-container {
      button {
        width: 200px;

        &.red {
          margin-top: 5px;
        }
      }
    }

    #loading-gif {
      height: 100px;
      width: 100px;
      margin: 0 auto;
      display: none;

      &.active {
        display: block;
      }
    }

    #loading-gif-container {
      z-index: 100000000;
      position: relative;
      display: none;
      @include pageContainer;

      &.active {
        display: block;
      }

      #loading-gif {
        @include deadCenter;
        width: 100px;
        height: 100px;
        top: 40%;
        z-index: -1;
      }
    }

    .animated {
      animation-duration: 1s;
      animation-fill-mode: both;
      -webkit-animation-duration: 1s;
      -webkit-animation-fill-mode: both;
    }

    .animatedFadeInUp {
      opacity: 0;
    }

    .fadeInUp {
      opacity: 0;
      animation-name: fadeInUp;
      -webkit-animation-name: fadeInUp;
    }

    .space-between {
      justify-content: space-between;
    }

    .update-popup {
      @include deadCenter;
      z-index: 100000000000;
      background-color: $green;
      width: 95vw;
      border-radius: $borderRadius;
      padding: 20px;
      @include bestShadow;

      .title {
        font-size: 30px;
        font-weight: bold;

        span {
          font-size: 30px;
          position: relative;
          top: 4px;
        }
      }

      .message {
        font-weight: 400;
        max-width: 80%;
        text-align: center;
        margin: 10px auto 0 auto;

        i {
          font-weight: 400;
          font-style: italic;
        }
      }

      button {
        margin-top: auto;
        position: fixed;
        bottom: 0;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        background-color: white;
        color: $green;
        font-weight: 500;
        border-radius: $borderRadius;
        padding: 8px 0;
        @include bestShadow;
      }
    }

    .overlay,
    .page-overlay {
      width: 100vw;
      position: fixed;
      left: 0;
      right: 0;
      z-index: -1;
      bottom: 0;
      top: 0;
      transition: all 1s ease-in-out;
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 0;
      height: 100vh;

      &.active {
        transition: all 1s ease-in-out;
        opacity: 1;
        z-index: 10000000;
        backdrop-filter: blur(10px);
      }
    }

    .flex {
      display: flex;
      align-items: center;

      &.wrap {
        flex-wrap: wrap;
      }

      &.flex-start {
        justify-content: flex-start;
      }

      &.gap {
        gap: 10px;
      }
    }

    i {
      font-style: italic;
    }

    #instructions-wrapper {
      top: 30vh;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      @include deadCenter;

      .instructions {
        font-style: italic;
        font-weight: $fwLight;
        line-height: 1.5;
        font-size: 15px;
        max-width: 90%;
        text-align: center;
        display: flex;
        color: $darkerGrey;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        text-transform: lowercase;

        &.gallery {
          margin-top: 0;
          text-align: center;
        }

        svg {
          color: $main;
        }
      }
    }

    .sparkle {
      @include sparkleButton;
    }

    .sparkle-on-click-button {
      @include sparkleOnClickButton;
    }

    .caption {
      opacity: 0.8;
    }

    .center {
      margin: 0 auto;
    }

    .center-text {
      width: 100%;
      text-align: center;
      display: block;
    }

    .visible-block {
      opacity: 1;
      display: block;
    }

    .visible-flex {
      opacity: 1;
      display: flex;
    }

    .bold {
      font-weight: $fwBold;

      * {
        font-weight: $fwBold;
      }
    }

    .accordion-header {
      padding: 10px;
      background-color: $darkBlue;
      color: $grey;
      display: flex;
      font-weight: 500;
      flex-wrap: wrap;

      svg {
        margin-left: auto;
        align-self: flex-end;
        color: $accent;
        font-size: 22px;
        max-height: 20px;
        display: flex;
        position: relative;
        top: -2px;
        align-items: center;
        justify-content: center;
      }
    }

    /*#endregion  CLASS/ID DEFAULTS*/
  }
}