@import './_mixins.scss';

#error-screen {
  height: 100vh;
  width: 100vw;
  background-color: $lightBg;
  padding: 20px;
  overflow: scroll;

  #screen-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 1.3;
  }

  #text-container {
    p {
      &.heading {
        font-weight: bold;
      }
    }

    #steps {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;

      &#wrap {
        flex-wrap: wrap;
      }

      .settings-icon {
        height: 28px;
      }

      .step-number {
        font-weight: bold;
        margin-right: 10px;
      }

      span {
        text-align: left;
      }

      p {
        text-align: left;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  #safari-icon {
    height: 25px;
    margin-left: 8px;
  }

  p,
  .emphasize {
    font-size: 14px;
    font-weight: 400;

    &.message {
      line-height: 1.7;
    }

    &.emphasize {
      background-color: #f0f0f0;
      border-radius: 5px;
      padding: 3px 10px;
      font-weight: bold;
      font-size: 13px;
    }

    &.accordion-header {
      color: white;
      font-weight: 500;
      margin-bottom: 10px;
      background-color: #2b3881;
      border-radius: 10px;
      padding: 10px 0;
      text-align: center;
      text-align-last: center;
    }

    span {
      color: $linkColor;
    }
  }

  button {
    background-color: transparent;
    &.link {
      color: $linkColor;
      text-decoration: underline;
      background-color: transparent;
      padding: 0;
    }
  }

  .support-email {
    p,
    a {
      display: inline;
    }
  }

  .text {
    @include deadCenter;

    .title {
      font-size: 25px;
      font-weight: bold;

      span {
        position: relative;
        top: 5px;
      }
    }

    .subtitle {
      font-size: 22px;
    }
  }
}
.react-toggle--checked,
.react-toggle--focus,
.react-toggle-thumb {
  box-shadow: none !important;
  background-color: white !important;

  &.react-toggle-thumb {
    //    border: 0;
    border-color: rgba(0, 0, 0, 0.21);
  }
  &.react-toggle--checked {
    .react-toggle-thumb {
      border: 1px solid $lightDarkGrey;
    }
    .react-toggle-track {
      background-color: $mainBlue !important;
    }
  }
}
.react-toggle-track {
  background: $bestGreyForWhite !important;
}
.react-toggle-track-check {
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  height: 100% !important;

  .material-icons-round,
  svg {
    margin: auto 0;
    align-self: stretch;
    color: white !important;
  }
}

.react-toggle {
  &.clone-toggle {
    svg {
      position: relative;
      bottom: 3px;
    }
  }
}

.password-validation {
  .checklist-icon {
    font-size: 15px !important;
    height: 10px !important;
    width: 10px !important;
  }
}

#external-overrides {
  // MENU
  .full-menu {
    @include fullMenu;
  }
  #pull-to-refresh-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 10px;
    padding: 15px 0;
    height: 30px;
    font-size: 18px;
    @include centerHoriz;

    svg {
      margin-left: 15px;
    }
  }
  #app-container {
    position: relative;
    max-height: 100vh;
    overflow: auto;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    opacity: 1;
    background-color: $bestGreyForWhite;
    justify-content: flex-start;
    overflow-y: hidden;

    &.disable-scroll {
      overflow: hidden;
      
      #app-content-wrapper {
        overflow: hidden;
      }
    }

    &.pushed {
      max-width: 1000px;
      width: 1000px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    /*#region ELEMENT DEFAULTS */
    * {
      @include fontType;
    }

    svg {
      font-size: 30px;
    }

    hr {
      height: 1px;
      background-color: #fbfeff;
      width: 100%;
      margin: 20px auto;
      //      background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.04, #f4f8fb), color-stop(0.5, #9b9b9b), color-stop(0.98, white) );
      &.event-hr {
        margin: 10px auto;
        width: 70%;
      }
    }

    span {
      color: inherit;
      &.link {
        color: $linkColor;
      }
    }

    p {
      color: black;
      opacity: 0.85;
      letter-spacing: 0.6px;
    }

    b {
      font-weight: bold;
    }
    /*#endregion ELEMENT DEFAULTS*/

    /*#region MIXINS */
    #row {
      @include row;
    }
    .flex-start {
      justify-content: flex-start !important;
    }
    .mui-input {
      &::placeholder {
        font-size: 12px !important;
      }
    }

    #numpad-wrapper {
      @include numpad;
    }

    #label-wrapper {
      @include label;
    }

    #upload-inputs {
      @include uploadInputs;
    }

    #checkbox-group {
      @include checkboxGroup;
    }

    .checkbox {
      @include checkbox;
    }

    #menu-overlay {
      &.dark {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
      }
    }

    #alert-container,
    .page-container {
      @include pageContainer;
    }

    .form {
      @include form;
    }

    .requirement-text {
      font-style: italic;
      opacity: 1;
      font-weight: 600;
    }

    .screen-title {
      @include screenTitle;
    }

    .action-pills {
      @include actionPills;
    }

    button,
    .button {
      @include buttonPress;
      &.bottom {
        @include button;
      }

      &.default {
        @include defaultButton;
      }

      &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
      }
    }
    /*#endregion MIXINS */

    /*#region  CLASS/ID DEFAULTS*/
    .green {
      color: $green;
    }

    #app-content-wrapper {
      @media screen and (min-width: 1000px) {
        margin: 0 auto;
        transition: all 0.5s ease-in-out;
        transition-timing-function: cubic-bezier(0.17, 0.67, 0.21, 0.95);
        background: #f4f5f6;
        overflow: auto;
        overflow-x: hidden;
        height: 100%;
        padding: 0 0 200px 0;
        flex-wrap: wrap;
        align-items: flex-start;
      }
    }
    
    #lazy-loaded-img-placeholder {
      transform: scale(.4);
    }

    #side-navbar {
      @include sideNavbar;
    }

    #brand-bar {
      @include brandBar;
    }

    .rs-input-group-addon {
      height: 30px !important;

      svg {
        fill: #8693cd !important;
      }
    }
    #bottom-card {
      @include bottomCard;
    }

    #share-with-checkbox-group {
      @include checkboxGroup;
    }
    #input-wrapper {
      @include inputWrapper;
    }

    #navbar {
      @include navBar;
    }

    #page-overlay {
      @include pageOverlay;
    }
    .roboto-thin {
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-style: normal;
    }

    .roboto-light {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-style: normal;
    }

    .roboto-regular {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .roboto-medium {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-style: normal;
    }

    .roboto-bold {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-style: normal;
    }

    .roboto-black {
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-style: normal;
    }

    .roboto-thin-italic {
      font-family: 'Roboto', sans-serif;
      font-weight: 100;
      font-style: italic;
    }

    .roboto-light-italic {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-style: italic;
    }

    .roboto-regular-italic {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-style: italic;
    }

    .roboto-medium-italic {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-style: italic;
    }

    .roboto-bold-italic {
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-style: italic;
    }

    .roboto-black-italic {
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-style: italic;
    }
    .title-suggestion-dropdown-wrapper {
      @include inputSugguestionDropdown;
    }
    .material-icons {
      font-family: 'Material Icons';
    }

    #popup-card-container {
      @include popupCardContainer;
    }

    #confirm-container {
      @include popupContainers;
    }

    .dead-center {
      @include deadCenter;
    }

    .loading-overlay {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: fixed;
      @include blurredBg;
      background-color: white;
      z-index: $maxZIndex;
      display: none;

      &.dark {
        background: $darkBg;
      }

      &.active {
        display: block;
      }

      p {
        @include deadCenter;
      }

      img {
        @include deadCenter;
        width: 120px;
        height: 120px;
      }
    }

    .align-center {
      align-items: center;
    }

    #large-title {
      color: black;
      width: 100%;
      font-size: 25px;
      opacity: 0.85;
      font-weight: $fwBold;
      line-height: 1.2;
    }

    #medium-title {
      color: black;
      font-size: 20px;
      opacity: 0.75;
      font-weight: $fwMediumBold;
      line-height: 1.2;
      width: auto;
      display: inline-block;

      &.blue {
        color: $mainBlue;
      }
    }

    .block {
      display: block;
    }

    .center-text {
      text-align: center;
      width: 100%;
    }

    .asterisk {
      color: $red;
      font-weight: bold;
      max-height: 15px;
      display: flex;
      align-items: center;
    }

    #disclaimer {
      p {
        color: $lightDarkGrey;
        font-size: 14px;
        text-align: center;
        width: 90vw;
        display: block;
        margin-top: auto;
        align-items: flex-end;
        position: relative;
        bottom: 0;
      }
    }

    // Colors
    .accent {
      color: $accent;
    }

    .blue {
      color: $mainBlue;
    }


    .required-field-error {
      border-bottom: 2px solid $red;
      border-radius: $borderRadius;
    }

    .white-text {
      opacity: 0.87;
    }

    .trans-blue-bg {
      background-color: $transBlue;
    }

    .trans-blue-color {
      color: $transBlue;
    }

    .rs-picker-toggle-clean {
      display: none;
    }

    .multidate-picker {
      //      display: none !important;

      &.active {
        display: block !important;
      }
    }

    .note {
      span {
        font-size: 20px;
        position: relative;
        top: 5px;
      }
    }

    #table {
      @include table;
    }

    .rs-tag {
      background-color: $mainBlue;
      color: white;
      padding: 0 15px;
      line-height: 1;
      margin: 8px 5px 5px 0;
      width: 145px;
      display: flex;
      align-items: center;
      border-radius: 20px;

      span {
        font-size: 14px;
        line-height: 1;
      }

      .rs-tag-icon-close {
        align-items: center;
        display: flex;
        padding: 0;
        overflow: hidden;
        position: relative;
        top: -3px;
        svg {
          font-size: 16px !important;
          margin-left: 8px;
        }
      }
    }

    .varela-round-regular {
      font-family: 'Varela Round', sans-serif;
      font-weight: 400;
      font-style: normal;
    }

    .rs-tag-icon-close {
      position: relative;
      padding-left: 8px;
      font-weight: bold;
    }

    .material-icons-round {
      font-family: 'Material Icons Round', serif;
    }

    .material-icons-outlined {
      font-family: 'Material Icons Outlined', serif;
    }

    .wrap {
      flex-wrap: wrap;
    }

    #previous-screen-button-container {
      .previous-screen-button {
        font-size: 28px;
        font-weight: bold;
        padding: 5px 15px;
        border-radius: 100%;
        position: fixed;
        z-index: 10000;
        bottom: 20px;
        left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $purple;
        color: white;
        opacity: 1;
        height: 40px;
        width: 40px;

        &.dark {
          background-color: $purple;
          color: white;
        }

        span {
          font-size: 30px;
        }

        @media screen and (min-width: 800px) {
          top: 20px;
          left: 20px;
        }

        @media screen and (min-width: 780px) and (max-width: 1024px) {
          bottom: 20px;
          left: 10px;
          top: inherit;
        }
      }
    }

    #scroll-gif {
      background-color: rgba(255, 255, 255, 0.009);
      position: fixed;
      top: 40vh;
      right: 0;
      transform: scale(50%);
    }

    #forgot-password-container {
      button {
        width: 200px;

        &.red {
          margin-top: 5px;
        }
      }
    }

    #loading-gif {
      height: 100px;
      width: 100px;
      margin: 0 auto;
      display: none;

      &.active {
        display: block;
      }
    }

    #loading-gif-container {
      z-index: 100000000;
      position: relative;
      display: none;
      @include pageContainer;

      &.active {
        display: block;
      }

      #loading-gif {
        @include deadCenter;
        width: 100px;
        height: 100px;
        top: 40%;
        z-index: -1;
      }
    }

    .animated {
      animation-duration: 1s;
      animation-fill-mode: both;
      -webkit-animation-duration: 1s;
      -webkit-animation-fill-mode: both;
    }

    .animatedFadeInUp {
      opacity: 0;
    }

    .fadeInUp {
      opacity: 0;
      animation-name: fadeInUp;
      -webkit-animation-name: fadeInUp;
    }

    .space-between {
      justify-content: space-between;
    }

    .update-popup {
      @include deadCenter;
      z-index: 100000000000;
      background-color: $green;
      width: 95vw;
      border-radius: $borderRadius;
      padding: 20px;
      @include bestShadow;

      .title {
        font-size: 30px;
        font-weight: bold;

        span {
          font-size: 30px;
          position: relative;
          top: 4px;
        }
      }

      .message {
        font-weight: 400;
        max-width: 80%;
        text-align: center;
        margin: 10px auto 0 auto;

        i {
          font-weight: 400;
          font-style: italic;
        }
      }

      button {
        margin-top: auto;
        position: fixed;
        bottom: 0;
        left: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        background-color: white;
        color: $green;
        font-weight: 500;
        border-radius: $borderRadius;
        padding: 8px 0;
        @include bestShadow;
      }
    }

    .overlay,
    .page-overlay {
      width: 100vw;
      position: fixed;
      left: 0;
      right: 0;
      z-index: -1;
      bottom: 0;
      top: 0;
      transition: all 1s ease-in-out;
      background-color: rgba(0, 0, 0, 0.4);
      opacity: 0;
      height: 100vh;

      &.active {
        transition: all 1s ease-in-out;
        opacity: 1;
        z-index: 10000000;
        backdrop-filter: blur(10px);
      }
    }

    .flex {
      display: flex;
      align-items: center;

      &.wrap {
        flex-wrap: wrap;
      }

      &.flex-start {
        justify-content: flex-start;
      }

      &.gap {
        gap: 10px;
      }
    }

    i {
      font-style: italic;
    }

    #instructions-wrapper {
      .instructions {
        opacity: 0.7;
        font-style: italic;
        text-align: left;
        margin-top: 20px;
        font-weight: 400;
        line-height: 1.5;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;

        &.center {
          @include deadCenter;
          width: 85vw;
        }

        &.gallery {
          margin-top: 0;
          text-align: center;
        }

        svg {
          color: $mainBlue;
        }


      }
    }
    .sparkle {
      @include sparkleButton;
    }

    .sparkle-on-click-button {
      @include sparkleOnClickButton;
    }

    .caption {
      opacity: 0.8;
    }

    .center {
      margin: 0 auto;
      display: block;
    }

    .center-text {
      width: 100%;
      text-align: center;
      display: block;
    }

    .visible-block {
      opacity: 1;
      display: block;
    }

    .visible-flex {
      opacity: 1;
      display: flex;
    }

    .bold {
      font-weight: $fwBold;
    }

    .accordion-header {
      padding: 10px;
      background-color: $darkBlue;
      color: $offWhite;
      display: flex;
      font-weight: 500;
      flex-wrap: wrap;

      span {
        margin-left: auto;
        align-self: flex-end;
        color: $accent;
        font-size: 22px;
        max-height: 20px;
        display: flex;
        position: relative;
        top: -2px;
        align-items: center;
        justify-content: center;
      }
      & + .rs-panel-in {
      }
    }
    /*#endregion  CLASS/ID DEFAULTS*/
  }
}