@import './palette';
@import './_variables.scss';
@import './_mixins.scss';
* {
  @include fontType;
}
.swal2-icon-error {
  background: #b12643;
  #swal2-title {
    color: white;
  }

  button {
    background: white !important;
    color: black !important;
  }
}
.swal2-html-container {
}
div {
  &:where(.swal2-icon) {
    * {
      user-select: none !important;
    }
    &.swal2-error {
      color: white !important;
      border-color: white !important;
      &.swal2-icon-show {
        transform: scale(0.75);
        color: white !important;
        border-color: white !important;
        .swal2-x-mark {
          animation-duration: 0.8s !important;
          transition: all 0.9s ease-in-out;
          .swal2-x-mark-line-left,
          .swal2-x-mark-line-right {
            background: white;
          }
        }
      }
    }
  }
  &:where(.swal2-container) {
    button {
      &:where(.swal2-styled):where(.swal2-confirm) {
        background-color: $green !important;
        color: white !important;
        width: 140px !important;
        @include fontType;
      }
      &:where(.swal2-styled):where(.swal2-deny) {
        background-color: #e7e5e4 !important;
        color: #78716c !important;
        width: 140px !important;
        @include fontType;
        &.blue {
          background-color: $buttonGrey !important;
        }
      }
    }
  }
}

.swal2-confirm {
  * {
    @include fontType;
  }
  //  background-color: $green !important;
  &.red {
    background-color: $red !important;
  }
  &.blue {
    background-color: $buttonGrey !important;
  }
}

.swal2-title {
  @include fontType;
  font-size: 20px;
  font-weight: $fwMedium;
  line-height: 1.3;
}

.swal2-icon {
  transform: scale(0.9);
}

.swal2-popup {
  border-radius: $bigBorderRadius;
  @include bestShadow;
}

.swal2-backdrop-show {
  background: rgba(0, 0, 0, 0.6) !important;
}

.swal2-actions {
  button {
    border-radius: 8px !important;
  }
}