@import './palette';
@import './_variables.scss';
@import './_mixins.scss';
.swal2-icon-error {
  background: #b12643;
  #swal2-title {
    color: white;
  }

  button {
    background: white !important;
    color: black !important;
  }
}
.swal2-html-container {
}
div {
  &:where(.swal2-icon) {
    * {
      user-select: none !important;
      outline: none !important;
    }
    &.swal2-error {
      color: white !important;
      border-color: white !important;
      &.swal2-icon-show {
        transform: scale(0.75);
        color: white !important;
        border-color: white !important;
        .swal2-x-mark {
          animation-duration: 0.8s !important;
          transition: all 0.9s ease-in-out;
          .swal2-x-mark-line-left,
          .swal2-x-mark-line-right {
            background: white;
          }
        }
      }
    }
  }
  &:where(.swal2-container) {
    button {
      &:where(.swal2-styled):where(.swal2-confirm) {
        @include fontType;
        background-color: $green !important;
        color: white !important;
        margin-bottom: 8px !important;
      }
      &:where(.swal2-styled):where(.swal2-deny) {
        @include fontType;
        background-color: #e7e5e4 !important;
        color: #68615c !important;
      }
    }
  }
}

.swal2-confirm {
  * {
    @include fontType;
  }
  &.red {
    background-color: $red !important;
  }
}

.swal2-title {
  @include fontType;
  font-size: 18px;
  font-weight: $fwMediumBold;
  line-height: 1.3;
  margin: 0 !important;
  padding: 0 20px 0 0;
  text-align: left;
}

.swal2-icon {
  transform: scale(0.9);
  display: none !important;
}

div {
  &:where(.swal2-container) {
    height: 100vh !important;
  }
}

.swal2-popup {
  border-radius: $bigBorderRadius;
  @include bestShadow;
  padding: 20px !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center !important;
  animation-duration: 0.8s !important;

  @media screen and (min-width: 800px) {
    flex-wrap: wrap;

    * {
      text-align: center !important;
    }

    .swal2-title {
      margin: 0 auto !important;
    }

    .swal2-actions {
      gap: 8px !important;
    }
  }

  #swal2-input {
    width: 100%;
  }

  .swal2-html-container {
    @include fontType;
    font-size: 18px;
    padding: 0;
    margin: 0;
    line-height: 1;
    text-align: center;
    width: 100%;
  }
  &.swal2-icon-success {
    .swal2-html-container {
      color: $green;
    }
  }
}

.swal2-backdrop-show {
  background: rgba(0, 0, 0, 0.72) !important;
  backdrop-filter: blur(3px);
  transition: all 0.3s ease-in-out !important;
}

.swal2-actions {
  margin: 0 0 0 auto !important;
  gap: 8px 0 !important;
  justify-content: flex-end !important;

  button {
    @include fontType;
    width: 100px !important;
    border-radius: $borderRadius !important;
    font-weight: $fwMediumBold;
    text-align: center;
    margin: 0 !important;
    font-size: 13px;
  }
}