@import '../mixins';

#external-overrides {
  #calendar-container {
    // BELOW CALENDAR
    #below-calendar {
      display: block;
      transition: height 0.3s linear;
      margin-bottom: 10px;
      #close-search-button {
        color: $red;
        margin-top: 8px;
        background: transparent;
        transform: scale(1.5);
        padding: 0 0 0 8px;
      }
      
      input {
        border: 1px solid $lightBorder;
      }
      
      .flex {
        align-items: flex-start;
        width: 100%;
        .material-icons {
          height: 40px;
          position: relative;
          top: -4px;
        }
        
        &.form {
          width: calc(100vw - 20px);
          margin: 0 auto;
        }
        
        &.wrap {
          width: 100%;
          justify-content: space-between;
        }
      }
      
      #view-holidays-button {
        height: 25px;
      }
      
      #today-button {
        padding: 0 10px;
        margin: 0;
      }
      
      #filter-button {
        border-radius: $borderRadius;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        position: relative;
        left: 10px;
        padding: 6px 15px;
        top: -1px;
        border: 1px solid $mainBlue;
        font-size: 15px;
        
        #filter-icon {
          color: $mainBlue;
          font-size: 22px;
          position: relative;
          top: -2px;
          margin-left: 8px;
        }
      }
      
      &.active {
        height: auto;
        transform: scale(1);
      }
      
      .search-icon {
        margin-right: 10px;
        font-size: 25px;
        align-self: stretch;
        display: flex;
        align-items: center;
        position: inherit;
        top: auto;
        right: 10px;
      }
      
      #cal-info-container {
        padding: 10px;
        border-radius: $borderRadius;
        @include shadow;
        @include fadeAndExpand;
        background-color: $darkBlue;
        
        &.active {
          margin-bottom: 15px;
        }
        
        p:not(.small) {
          font-weight: 500;
        }
        
        #legend-title,
        #tips-title {
          font-weight: bold;
        }
        
        .small {
          font-size: 15px;
          margin-left: 15px;
          opacity: 0.9;
          
          span {
            color: $linkColor;
            font-size: 15px;
            font-weight: 500;
            border-bottom: 1px solid $linkColor;
          }
        }
        
        // LEGEND
        #calendar-legend {
          margin: 0 auto;
          justify-content: flex-start;
          
          .column {
            font-weight: 400;
            opacity: 0.9;
            margin-left: 10px;
            
            span {
              position: relative;
              top: 2px;
            }
            
            &.one {
              display: flex;
              align-items: center;
              
              .visitation {
                display: block;
                background: $green;
                height: 10px;
                width: 10px;
                border-radius: 20px;
                margin-right: 10px;
                top: 1px;
              }
            }
            
            &.two {
              display: flex;
              align-items: center;
              
              .dot {
                margin-right: 10px;
                display: block;
                background-color: $purple;
                height: 10px;
                width: 10px;
                border-radius: 100%;
                top: 0;
              }
            }
          }
        }
      }
    }
  }
}
