@import '../mixins';

#external-overrides {
  #calendar-container {
    #calendar-month {
      color: $subtitleText;
      text-align: center;
    }

    // BELOW CALENDAR
    #below-calendar {
      display: none;
    }
  }
}