@import '../colors';
@import '../palette';

#external-overrides {
  #calendar-container {
    .events {
      hr {
        width: 100%;
      }
      .material-icons-round {
        color: $mainBlue;
        font-size: 18px;
        margin-right: 8px;
      }
      .event-row {
        width: calc(100vw - 20px);
        border-radius: 15px;
        transition: all 0.3s ease-in;
        flex-wrap: wrap;
        border: 1px solid $borderColor;
        opacity: 0;
        margin: 0 auto 10px auto;
        padding: 20px 20px 15px 20px;

        &.active {
          transition: all 0.3s ease-in;
          opacity: 1;
        }

        .divider {
          opacity: 0.4;
          padding: 0 5px;
        }

        // EVENT TYPES FOR BG
        &.standard {
          background: white;
        }
        &.current-user-visitation {
          background: $lightestBlue;
        }
        &.coparent-visitation {
          background: $bgGreen;
        }

        svg {
          font-size: 20px;
        }

        a,
        p,
        svg {
          color: $lightDarkGrey;
        }

        .text {
          width: 100%;

          // Top Text
          .top {

            #nav-website {
              margin-left: auto;
              display: flex;
              align-items: center;
              gap: 10px;

              * {
                align-self: stretch;
                display: flex;
                align-items: center;
              }

              svg {
                margin-right: 5px;
                font-size: 20px;
              }

              a {
                font-size: 14px;
              }
            }
          }
          
          #more-children {
            width: 100%;
            
            #more-button {
              font-size: 14px;
              color: $mainBlue;
              margin-left: auto;
              display: flex;
              align-items: center;
              
              svg {
                position: relative;
                top: -2px;
                margin-left: 5px;
                color: $mainBlue;
                opacity: .7;
              }
            }
            
            #children-website {
              .website {
                display: flex;
                align-items: center;
                justify-content: flex-start;
              }
              
              .children {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                
                svg {
                  margin-left: auto;
                  margin-right: 5px;
                }
              }
            }
          }

          .notes {
            opacity: 0;
            max-height: 0;
            transition: all 0.3s ease-in-out;
            padding: 0;
            &.active {
              max-height: 1000px;
              opacity: 1;
            }
          }

          // REMINDERS
          .reminders {
            flex-wrap: nowrap;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: flex-start;

            svg {
              margin-right: 8px;
            }

            .reminder-times {
              p,
              span {
                font-size: 14px;
              }
            }
          }

          // TITLE
          .title {
            opacity: 1;
            font-style: normal;
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            padding: 0 0 5px 0;
            color: $lightBlack;
            font-weight: bold;
            max-width: 80%;
            letter-spacing: 0.5px;
          }

          // DATE CONTAINER
          #date-container {
            display: flex;
            align-items: center;

            .edit-icon {
              margin-left: auto;
              transform: scale(1.4);
              color: $lightBlackLight;
              opacity: 0.5;
            }

            span {
              font-size: 14px;
              padding-bottom: 5px;
            }

            .color-coded-event-dot {
              border: 3px solid $darkBlueLight;
              margin-right: 8px;
              height: 10px;
              width: 10px;
              border-radius: 100%;

              &.currentUser {
                border: 3px solid $purple;
              }

              &.coparent {
                border: 3px solid $green;
              }
            }
          }
        }
      }
    }
  }
}
