/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes sparkles1 {
  0% {
    top: 0;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: -200%;
    left: -50%;
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes sparkles2 {
  0% {
    top: 0;
    left: 25%;
    transform: scale(1);
  }
  100% {
    top: -250%;
    left: 10%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles3 {
  0% {
    top: 0;
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: -275%;
    left: 70%;
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes sparkles4 {
  0% {
    top: 0;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: -120%;
    left: 120%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles5 {
  0% {
    top: 100%;
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: 275%;
    left: 70%;
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes sparkles6 {
  0% {
    top: 100%;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: 220%;
    left: 120%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles7 {
  0% {
    top: 100%;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 200%;
    left: -50%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles8 {
  0% {
    top: 100%;
    left: 25%;
    transform: scale(1);
  }
  100% {
    top: 250%;
    left: 10%;
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes sparkles9 {
  0% {
    top: 50%;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 60%;
    left: -100%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles10 {
  0% {
    top: 50%;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: 75%;
    left: 170%;
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0%, 100% {
    color: "#9d98fc";
  }
  50% {
    color: #5c8df7;
  }
}
@keyframes pulseWhite {
  0%, 100% {
    box-shadow: 0px 0px 20px 0px white;
  }
  50% {
    box-shadow: 0px 0px 10px 0px white;
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(123, 117, 255, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes beatRed {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #d57179;
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animStar {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes shootingStar {
  0% {
    transform: rotate(315deg) translateX(250px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
@keyframes starTwinkle {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateMoon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}
/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
/*#region  FORM*/
/*#endregion  FORM*/
/*#region  BUTTONS*/
/*#endregion  BUTTONS*/
/*#region  EFFECTS*/
/*#endregion  EFFECTS*/
/*#region  POSITIONING*/
/*#endregion  POSITIONING*/
/*#region  COMPONENTS*/
/*#endregion  COMPONENTS*/
/*#region  MENU*/
/*#endregion  MENU*/
#external-overrides #calendar-container .events {
  padding: 15px 15px 0 15px;
  background: white;
  border-radius: 25px 25px 0 0;
}
#external-overrides #calendar-container .events #no-events-text {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  opacity: 0.7;
}
#external-overrides #calendar-container .events .material-icons-round {
  color: #547eff;
  font-size: 18px;
  margin-right: 8px;
}
#external-overrides #calendar-container .events .event-row {
  transition: all 0.3s ease-in;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(214, 219, 222, 0.45);
  padding-bottom: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
#external-overrides #calendar-container .events .event-row.active {
  max-height: 10000px;
  transition: all 0.3s ease-in-out;
}
#external-overrides #calendar-container .events .event-row.chats {
  padding-bottom: 8px;
}
@media screen and (min-width: 650px) {
  #external-overrides #calendar-container .events .event-row:hover {
    cursor: pointer;
  }
}
#external-overrides #calendar-container .events .event-row * {
  line-height: 1;
}
#external-overrides #calendar-container .events .event-row .at-symbol {
  font-size: 12px;
  position: relative;
  bottom: 2px;
}
#external-overrides #calendar-container .events .event-row .divider {
  padding: 0 5px;
  opacity: 0.7;
  color: black;
}
#external-overrides #calendar-container .events .event-row a,
#external-overrides #calendar-container .events .event-row .notes {
  width: 100%;
}
#external-overrides #calendar-container .events .event-row a.notes,
#external-overrides #calendar-container .events .event-row .notes.notes {
  opacity: 0.85;
}
#external-overrides #calendar-container .events .event-row .two-column {
  width: calc(100% - 45px);
  flex-wrap: wrap;
}
#external-overrides #calendar-container .events .event-row .two-column p,
#external-overrides #calendar-container .events .event-row .two-column a {
  margin-top: 0;
  line-height: 1.3;
}
#external-overrides #calendar-container .events .event-row .status {
  margin-left: auto;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  align-items: center;
  line-height: 1;
}
#external-overrides #calendar-container .events .event-row .status.paid, #external-overrides #calendar-container .events .event-row .status.approved {
  background-color: rgba(173, 245, 203, 0.65);
  color: #2ecc71;
  border: 1px solid #2ecc71;
}
#external-overrides #calendar-container .events .event-row .status.pending {
  background-color: #fbf5bf;
  color: #e8964a;
  border: 1px solid #e8964a;
}
#external-overrides #calendar-container .events .event-row .status.unpaid, #external-overrides #calendar-container .events .event-row .status.rejected {
  background-color: #f5e0e1;
  color: #d57179;
  border: 1px solid #d57179;
}
#external-overrides #calendar-container .events .event-row #subtitle {
  padding-top: 5px;
  margin-top: 0;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  color: black;
  opacity: 0.9;
}
#external-overrides #calendar-container .events .event-row #subtitle.calendar {
  margin-left: 20px;
}
#external-overrides #calendar-container .events .event-row #content {
  width: calc(100% - 60px);
  margin: 0;
}
#external-overrides #calendar-container .events .event-row #primary-icon-wrapper {
  background-color: #edf2fd;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#external-overrides #calendar-container .events .event-row #primary-icon-wrapper #primary-row-icon {
  font-size: 27px;
  color: #547eff;
}
#external-overrides #calendar-container .events .event-row #primary-icon-wrapper span,
#external-overrides #calendar-container .events .event-row #primary-icon-wrapper p {
  color: #547eff;
  font-size: 13px;
  font-weight: 500;
}
#external-overrides #calendar-container .events .event-row .info-row {
  padding-bottom: 5px;
  width: 100%;
}
#external-overrides #calendar-container .events .event-row .row-title {
  color: #1c1c1c;
  font-weight: 400;
}
#external-overrides #calendar-container .events .event-row #details {
  max-height: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  opacity: 0;
  display: flex;
  padding: 0 0 5px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
#external-overrides #calendar-container .events .event-row #details.open {
  opacity: 1;
  overflow: auto;
  width: 100%;
  max-height: 1000px;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
#external-overrides #calendar-container .events .event-row .details-toggle-arrow {
  display: none;
  opacity: 0.4;
  position: absolute;
  right: 10px;
  font-size: 24px;
}
#external-overrides #calendar-container .events .event-row .details-toggle-arrow.active {
  display: inherit;
}
#external-overrides #calendar-container .events .event-row.active {
  transition: all 0.3s ease-in;
  opacity: 1;
}
#external-overrides #calendar-container .events .event-row svg {
  font-size: 20px;
  margin-right: 8px;
  color: black;
  opacity: 0.5;
}
#external-overrides #calendar-container .events .event-row #children {
  margin-bottom: 5px;
  margin-left: auto;
}
#external-overrides #calendar-container .events .event-row #children svg {
  font-size: 18px;
  opacity: 0.4;
}
#external-overrides #calendar-container .events .event-row #children p {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.85;
  color: black;
}
#external-overrides #calendar-container .events .event-row .text {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#external-overrides #calendar-container .events .event-row .text #details #nav-website {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: flex-start;
  margin-bottom: 5px;
  width: 100%;
}
#external-overrides #calendar-container .events .event-row .text #details #nav-website * {
  align-self: stretch;
  display: flex;
  align-items: center;
}
#external-overrides #calendar-container .events .event-row .text #details #nav-website svg {
  margin-right: 2px;
  font-size: 16px;
  color: #547eff;
  opacity: 1;
}
#external-overrides #calendar-container .events .event-row .text #details #nav-website a {
  font-size: 13px;
}
#external-overrides #calendar-container .events .event-row .text #title-wrapper {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
#external-overrides #calendar-container .events .event-row .text #title-wrapper:after {
  top: 0;
  left: 0;
  transform: none;
}
#external-overrides #calendar-container .events .event-row .text #title-wrapper .reminders svg {
  margin-right: 5px;
  font-size: 17px;
  opacity: 0.4;
}
#external-overrides #calendar-container .events .event-row .text #title-wrapper .reminders .reminder-times p,
#external-overrides #calendar-container .events .event-row .text #title-wrapper .reminders .reminder-times span {
  font-size: 13px;
  opacity: 0.85;
  font-weight: 400;
  color: black;
}
#external-overrides #calendar-container .events .event-row .text #title-wrapper .reminders .reminder-times .divider {
  padding: 0 5px;
}
#external-overrides #calendar-container .events .event-row .text #title-wrapper .title {
  padding: 0;
  opacity: 1;
  font-style: normal;
  font-weight: 500;
  color: black;
}
#external-overrides #calendar-container .events .event-row .text #title-wrapper .title .event-type-dot {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  border-radius: 100%;
  display: block;
  align-self: flex-start;
  position: relative;
  top: 3px;
}
#external-overrides #calendar-container .events .event-row .text #title-wrapper .title .event-type-dot.holiday-event-dot {
  background: #e8964a;
}
#external-overrides #calendar-container .events .event-row .text #title-wrapper .title .event-type-dot.coparent-event-dot {
  background: #8f7afa;
}
#external-overrides #calendar-container .events .event-row .text #title-wrapper .title .event-type-dot.current-user-event-dot {
  background: #2ecc71;
}
#external-overrides #calendar-container .events .event-row .text #title-wrapper .title .event-type-dot.current-user-visitation {
  background: #99b2ff;
}
#external-overrides #calendar-container .events .event-row .text #date-container-and-edit-button {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 5px;
}
#external-overrides #calendar-container .events .event-row .text #date-container-and-edit-button * {
  display: inline;
}
#external-overrides #calendar-container .events .event-row .text #date-container-and-edit-button #date-container {
  align-items: center;
  display: block;
  position: relative;
  width: 100%;
}
#external-overrides #calendar-container .events .event-row .text #date-container-and-edit-button #date-container * {
  line-height: 1;
}
#external-overrides #calendar-container .events .event-row .text #date-container-and-edit-button #date-container span {
  font-size: 13px;
  font-weight: 500;
  opacity: 0.7;
}
#external-overrides #calendar-container .events .event-row .text .notes {
  font-size: 14px;
  margin-top: 5px;
  width: 100%;
  line-height: 1.4;
}/*# sourceMappingURL=calendarEvents.css.map */