@import '../colors';
@import '../palette';
@import '../variables';

#external-overrides {
  #legend {
    background-color: $buttonGrey;
    gap: 8px;
    padding: 10px 15px ;
    justify-content: space-between;
    
    .text {
      font-size: 14px;
      opacity: 1;
      
      &.standard {
        color: $green;
      }
      
      &.coparent {
        color: #8068fa;
      }
      
      &.current-user {
        color: #547efd;
      }
    }
    .divider {
      opacity: 0.5;
    }
  }
  #calendar-container {
    
    .events {
      padding-bottom: 200px;
      margin-top: 10px;
      hr {
        width: 80%;
      }
      .material-icons-round {
        color: $mainBlue;
        font-size: 18px;
        margin-right: 8px;
      }
      .event-row {
        transition: all 0.3s ease-in;
        flex-wrap: wrap;
        border: 1px solid $borderColor;
        opacity: 0;
        margin: 0 auto 10px auto;
        padding: 20px 20px 15px 20px;
        border-top: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        border-radius: $bigBorderRadius;
        background: white;

        &.active {
          transition: all 0.3s ease-in;
          opacity: 1;
        }

        .no-edit-access-icon {
          position: relative;
          bottom: 0;
          right: 0;
          left: inherit;
          margin-right: 0;
          justify-self: flex-end;
          margin-left: auto;
          display: flex;
          justify-content: flex-end;
          font-size: 18px;
        }

        .divider {
          opacity: 0.5;
          padding: 0 5px;
        }

        // EVENT TYPES FOR BG
        &.standard {
          border-left: 4px outset $lightGreen;
        }
        &.current-user-visitation {
          border-left: 4px outset $accentBlue;
        }
        &.coparent-visitation {
          border-left: 4px outset $coparentPurple;
        }

        svg {
          font-size: 20px;
          margin-right: 8px;
          color: black;
          opacity: 0.4;
        }

        a,
        p {
          //          color: $lightDarkGrey;
          color: black;
          opacity: 0.6;
        }

        .text {
          width: 100%;

          // Top Text
          .top {
            #nav-website {
              margin-left: auto;
              display: flex;
              align-items: center;
              gap: 10px;
              position: relative;
              top: -3px;

              * {
                align-self: stretch;
                display: flex;
                align-items: center;
              }

              svg {
                margin-right: 2px;
                font-size: 20px;
              }

              a {
                font-size: 14px;
              }
            }
          }

          #more-children {
            width: 100%;

            #more-button {
              font-size: 14px;
              color: $lightDarkGrey;
              margin-left: auto;
              display: flex;
              align-items: center;
              position: relative;

              &::after {
                padding: 30px;
                content: '';
                position: absolute;
                width: 100px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            #children-website {
              .website {
                display: flex;
                align-items: center;
                justify-content: flex-start;
              }

              .children {
                display: flex;
                align-items: center;
                justify-content: flex-start;
              }
            }
          }

          .notes {
            opacity: 0;
            max-height: 0;
            transition: all 0.3s ease-in-out;
            padding: 0;
            &.active {
              max-height: 1000px;
              opacity: 1;
            }
          }

          // REMINDERS
          .reminders {
            flex-wrap: nowrap;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: flex-start;

            svg {
              margin-right: 8px;
            }

            .reminder-times {
              p,
              span {
                font-size: 14px;
              }
            }
          }

          // TITLE
          .title {
            opacity: 1;
            font-style: normal;
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            padding: 0 0 5px 0;
            color: $lightBlack;
            font-weight: $fwMedium;
            max-width: 80%;
            letter-spacing: 0.5px;
          }

          // DATE CONTAINER
          #date-container {
            display: flex;
            align-items: center;

            .edit-icon {
              margin-left: auto;
              transform: scale(1.4);
              color: $lightBlackLight;
              opacity: 0.5;
            }

            span {
              font-size: 14px;
              padding-bottom: 5px;
            }

            .color-coded-event-dot {
              border: 3px solid $darkBlueLight;
              margin-right: 8px;
              height: 10px;
              width: 10px;
              border-radius: 100%;

              &.currentUser {
                border: 3px solid $purple;
              }

              &.coparent {
                border: 3px solid $green;
              }
            }
          }
        }
      }
    }
  }
}
