@use "../utils/mixins";
@use "../utils/variables";
@use "../utils/_palette";
@use "../_fonts";

#external-overrides {
    #app-container {
        .datepicker {
            width: 100%;
            border-radius: 10px;
            opacity: 0;
            pointer-events: none;
            transform: translateY(-100px);
            transition: all 0.5s ease;
            max-height: 0;
            z-index: -1;

            &.active {
                z-index: 99;
                height: max-content;
                max-height: 1000px;
                margin: 20px auto;
                opacity: 1;
                pointer-events: auto;
                transform: translateY(0);
                transition: all 0.5s ease;
            }

            .selected-date {
                color: white;
                text-align: center;
                margin-bottom: 10px;
                font-size: 18px;
                @include fonts.regularFont;
            }

            .action-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                position: relative;
                margin-top: 10px;

                .month-button {
                    background-color: palette.$inputBackground;
                    color: white;
                    border-radius: variables.$buttonBorderRadius;
                    min-width: 80px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    @include fonts.regularFont;

                    svg {
                        transform: scale(0.5);
                        opacity: 0.5;
                    }

                    &.previous-month {
                        padding: 5px 15px 5px 0;
                    }
                    &.next-month {
                        padding: 5px 0 5px 15px;
                    }
                }
            }

            .weekday-labels {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                justify-content: center;
                align-items: center;
                text-align: center;

                span {
                    color: white;
                    @include fonts.regularFont;
                }
            }

            .days {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                flex-wrap: wrap;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;

                .day {
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    @include mixins.square(50px);
                    &.weekend-day {
                        opacity: 0.5;
                    }

                    &.active {
                        background-color: white;
                        color: palette.$main;
                        border-radius: variables.$buttonBorderRadius;
                        cursor: pointer;
                        @include fonts.boldFont;
                    }
                }
            }
        }
    }
}