/*#region  PRIMARY COLORS */
$lightAccent: rgba(116, 88, 255, 0.2);
$lightSecondaryAccent: rgba(108, 115, 200, 0.2);
$lightMain: rgba(76, 111, 255, 0.2);
$lightBlend: rgba(43, 60, 255, 0.29);
$blendBorder: rgba(43, 60, 255, 0.19);
$main: #4141ff;
$mainLight: #666ac7;
$mainLighter: #eaebf7;
$mainLightest: #eaebf7;
$darkMain: #3d41a7;

// Blend
$blend: #4b29e8;
$blendPurple: #6532ef;
$blendLight: #d0c8f1;
$blendLighter: #dbd5f4;
$blendLightest: #f1effb;
$blendDark: #462daf;

// Purple
$purple: #6f00ff;
$purpleLight: #c5b1e7;
$purpleLighter: #dcd0f1;
$purpleLightest: #f3effa;

$inactiveNavbarElement: rgba(255, 255, 255, 0.4);

// Blues
$linkColor: #4255ff;
$formLinkColor: #87cefa;

// Text
$lightGreyText: #d4d4d4;
$subtitleText: #99a1af;
$subtitleTextLight: #a9b2c0;
$subtitleTextLighter: #d1d5dc;
$whiteBgSubtitleTextLighter: #a9b2c0;
$whiteBgSubtitleText: #99a1af;
$whiteBgSubtitleTextDarker: #89919f;
$formSubtitleText: #e5e7eb;
$primaryText: rgba(0, 0, 0, 0.65);
$headerText: #4b5563;
$labelText: #4b5563;

// Input
$inputBackground: rgba(255, 255, 255, 0.05);
/*#endregion  PRIMARY COLORS */

/*#region  GREENS */

$green: #2ac08a;
$secondaryGreen: #30c67d;
$tertiaryGreen: #2ecc71;
$mediumGreen: #57ff99;
$brightGreen: #42ffb8;
$bootstrapGreenBg: #d1e7dd;
$bootstrapGreenBorder: rgba(96, 122, 114, 0.3);
$bootstrapGreen: #096c3b;
$darkGreen: #239960;
$greenForWhiteText: #2ac075;
$flatGreen: #7af1ca;
/*#endregion  GREENS */

/*#region  REDS */
$bootstrapRedBorder: #f5c2c7;
$bootstrapRedBg: #ffe3e8;
$bootstrapRed: #c71436;
$red: #ee4b2b;
$flatRed: #e74c3c;
$lightRed: #f5c6cb;
$darkRed: #b91d51;
$redForLightBg: #df2b2b;
/*#endregion  REDS */

/*#region  YELLOWS */
$bootstrapYellowBg: #fff3cd;
$bootstrapYellowBorder: #cebb87;
$bootstrapYellow: #897235;
$yellow: #fbd872;
$gold: #ffcf66;
$softYellow: #f6e8b3;
$softerYellow: rgba(243, 232, 179, 0.52);
$brightYellow: #ffe75b;
$darkYellow: #b49639;
/*#endregion  YELLOWS */

/*#region  ORANGES */
$orange: #c0742d;
$holidayOrange: #ffc511;
/*#endregion  ORANGES */

/*#region  DOT COLORS */
$sharedDot: #9646ff;
$currentUserDot: #4141ff;
$financialDot: #07cf2c;
$holidayDot: #18d7f4;
/*#endregion  DOT COLORS */

/*#region PURPLES */
$purple: #6f42ff;
$mediumPurple: #8a54ff;
$mediumDarkerPurple: #7b3eff;
$lightPurple: #e2d4ff;
$lighterPurple: #b5a8ff;
$lightestPurple: #c1b7ff;
$gradientPurple: #6b28ff;
$purpleForBlendBg: #b46bff;
$darkPurple: #5b39cb;
/*#endregion PURPLES */

/*#region  BLACKS */
$black: #18181b;
$lightBlack: #1c1c1c;
$translucentLightest: rgba(255, 255, 255, 0.09);
/*#endregion  BLACKS */

/*#region  WHITES  */
$subtleWhite: #f9f9f9;
$formSubtitleWhite: #d1d5dc;
$barelyVisibleWhite: rgba(255, 255, 255, 0.15);
$subtitleWhite: rgba(255, 255, 255, 0.3);
$almostInvisibleWhite: rgba(255, 255, 255, 0.1);
$transWhite: rgba(255, 255, 255, 0.55);
$darkerTransWhite: rgba(255, 255, 255, 0.45);
$mediumTransWhite: rgba(255, 255, 255, 0.8);
$lighterTransWhite: rgba(255, 255, 255, 0.9);
$readableWhite: #f7f7f7;
/*#endregion  WHITES  */

/*#region  GREYS*/
$darkGrey: #a1a1aa;
$darkerGrey: #86868f;
$darkestGrey: #5e5e67;
$grey: #f3f4f6;
$lightGrey: #f8f9fa;
$greyBorderColor: #dddddd;
$iconGrey: #99a1af;
$mediumGrey: #e9ecef;
$mediumGreyDarkest: #b9b9b9;
$mediumGreyDarker: #d3d3d3;
/*#endregion  GREYS*/

/*#region DARK THEME*/
$darkBlueDarkest: #121735;
$darkBg: #1e1e2f;
$darkGreyText: #89868f;
$darkIconGrey: #4e4d57;
$darkGreyLight: #0e0e11;
$darkText: #dcdbe0;
$darkLightPurple: #aaa8cc;
$darkLightBg: #13112f;
$darkGreen: $green;
$darkBlue: #5c8df7;
$darkBlueMedium: #4c6fff;
$darkMainBlue: $darkBlueMedium;
$darkBlueLight: cornflowerblue;
$darkSmallShadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
$darkBorderColor: rgba(59, 59, 59, 0.26);
/*#endregion DARK THEME*/

/*#region  LIGHT THEME*/
$lightBg: white;
$lightBlackLight: #1c1c1c;
$lightBorderColor: #e5e5e5;
$lightDarkGrey: rgba(0, 0, 0, 0.44);
$lightIconBgBlue: #dde5ff;
/*#endregion  LIGHT THEME*/