@use '../utils/_variables';
@use '../utils/_mixins';

#external-overrides {
    /*#region STANDARD PHONE*/
    @media screen and (max-width: 800px) {
        #app-container {
            #login-container {
                .form-container {
                    .form {
                        .buttons {
                            button {
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
        .MuiYearCalendar-root {
            border-radius: variables.$bigBorderRadius;
            background: $grey !important;
        }
        .MuiPickersYear-yearButton {
            &.Mui-selected {
                background: palette.$main;
            }
        }
        #documents-container {
            &.page-container {
                width: 100vw;
            }
        }
        #calendar-sidebar {
            display: none;
        }
        #app-container {
            #app-content-with-sidebar {
                margin: 0;
                width: 100vw;
                gap: 0;
                max-width: 100vw;

                &.logged-in {
                    display: block;
                }
            }
        }
    }
    /*#endregion STANDARD PHONE*/
    /*#region SMALL PHONES*/
    @media screen and (max-width: 400px) {
        $statusbarHeight: 70px;
        $homeIndicatorHeight: 75px;
        #app-container {
            .page-container {
                //        padding-top: $statusbarHeight;
            }
            #bottom-menu-wrapper {
                padding-bottom: $homeIndicatorHeight;
            }
            #navbar {
                //        padding-bottom: $homeIndicatorHeight;
            }
            #success-alert-wrapper {
                //        top: -$homeIndicatorHeight;
            }
            .form-wrapper {
                top: $statusbarHeight;
                bottom: $homeIndicatorHeight;
                //        max-height: calc(100vh + ($statusbarHeight + $homeIndicatorHeight));
                #form {
                    //          max-height: calc(100vh + ($statusbarHeight + $homeIndicatorHeight));
                    #relative-wrapper {
                        #content {
                            .details {
                                .blocks {
                                    .block {
                                        //                    width: calc(100% / 2);
                                        p {
                                            &.block-text {
                                                //                        font-size: 18px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /*#endregion SMALL PHONES*/
}