@use '../utils/variables';
@use '../utils/mixins';
@use '../utils/_palette';

#external-overrides {
    #calendar-container {
        .events {
            border-radius: 25px 25px 0 0;

            #no-events-text {
                margin: 0 auto;
                width: 100%;
                text-align: center;
                font-size: 14px;
                font-style: italic;
                font-weight: variables.$fwLight;
                line-height: 1.5;
                display: flex;
                color: palette.$darkerGrey;
                align-items: center;
                justify-content: center;
                align-self: stretch;
                text-transform: lowercase;
            }

            .material-icons-round {
                color: palette.$main;
                font-size: 18px;
                margin-right: 8px;
            }

            .event-row {
                @include mixins.row;
                margin-bottom: 20px;
                border: 0;
                align-items: flex-start;

                #icon-row {
                    align-items: flex-start;
                    gap: 5px;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    top: 1px;
                    svg {
                        color: palette.$iconGrey;
                        padding: 0;
                        margin: 0;
                        @include mixins.square(18px);

                        &.children-icon,
                        &.phone-icon {
                            @include mixins.square(20px);
                        }
                    }
                }

                .text {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;

                    .details {
                        #nav-website {
                            display: flex;
                            align-items: center;
                            gap: 15px;
                            justify-content: flex-start;
                            margin-bottom: 5px;
                            width: 100%;

                            * {
                                align-self: stretch;
                                display: flex;
                                align-items: center;
                            }

                            svg {
                                margin-right: 2px;
                                font-size: 16px;
                                color: palette.$main;
                                opacity: 1;
                            }

                            a {
                                font-size: 13px;
                            }
                        }
                    }

                    // ROW TITLE
                    .row-title {
                        padding: 0;
                        opacity: 1;
                        font-style: normal;
                        font-weight: variables.$fwRegular;
                        color: variables.$headerText;
                        max-width: 90%;
                        justify-content: flex-start;

                        .event-type-dot {
                            height: 8px;
                            width: 8px;
                            margin-right: 11px;
                            border-radius: 100%;
                            display: block;
                            align-self: flex-start;
                            position: relative;
                            top: 3px;
                            left: 2px;

                            &.financial-dot {
                                background-color: palette.$green;
                            }

                            &.holiday-event-dot {
                                background: palette.$holidayOrange;
                            }

                            &.coParent-event-dot {
                                background: palette.$purple;
                            }

                            &.current-user-event-dot {
                                background: palette.$main;
                            }

                            &.current-user-visitation {
                                background: palette.$main;
                            }
                        }
                    }

                    .date-wrapper {
                        padding-left: 20px;
                    }

                    // DATE CONTAINER
                    #date-container-and-edit-button {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        padding-left: 20px;
                        margin-bottom: 5px;

                        * {
                            display: inline;
                        }

                        #date-container {
                            align-items: center;
                            display: block;
                            position: relative;
                            width: 100%;

                            * {
                                line-height: 1;
                            }

                            span {
                                font-size: 13px;
                                font-weight: variables.$fwMedium;
                            }
                        }
                    }

                    .notes {
                        font-size: 14px;
                        margin-top: 5px;
                        width: 100%;
                        line-height: 1.4;
                    }
                }
            }
        }
    }
}