/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes sparkles1 {
  0% {
    top: 0;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: -200%;
    left: -50%;
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes sparkles2 {
  0% {
    top: 0;
    left: 25%;
    transform: scale(1);
  }
  100% {
    top: -250%;
    left: 10%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles3 {
  0% {
    top: 0;
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: -275%;
    left: 70%;
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes sparkles4 {
  0% {
    top: 0;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: -120%;
    left: 120%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles5 {
  0% {
    top: 100%;
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: 275%;
    left: 70%;
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes sparkles6 {
  0% {
    top: 100%;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: 220%;
    left: 120%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles7 {
  0% {
    top: 100%;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 200%;
    left: -50%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles8 {
  0% {
    top: 100%;
    left: 25%;
    transform: scale(1);
  }
  100% {
    top: 250%;
    left: 10%;
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes sparkles9 {
  0% {
    top: 50%;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 60%;
    left: -100%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles10 {
  0% {
    top: 50%;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: 75%;
    left: 170%;
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0%, 100% {
    color: "#9d98fc";
  }
  50% {
    color: #5c8df7;
  }
}
@keyframes pulseWhite {
  0%, 100% {
    box-shadow: 0px 0px 20px 0px white;
  }
  50% {
    box-shadow: 0px 0px 10px 0px white;
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(123, 117, 255, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes beatRed {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #d57179;
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animStar {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes shootingStar {
  0% {
    transform: rotate(315deg) translateX(250px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
@keyframes starTwinkle {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateMoon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}
/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
/*#region  FORM*/
/*#endregion  FORM*/
/*#region  BUTTONS*/
/*#endregion  BUTTONS*/
/*#region  EFFECTS*/
/*#endregion  EFFECTS*/
/*#region  POSITIONING*/
/*#endregion  POSITIONING*/
/*#region  COMPONENTS*/
/*#endregion  COMPONENTS*/
/*#region  MENU*/
/*#endregion  MENU*/
#coparents-container #coparent-container {
  display: flex;
  width: 100%;
  overflow: auto;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  padding: 10px;
  margin: 0;
}
#coparents-container #coparent-container .coparent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 33.3333333333%;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}
#coparents-container #coparent-container .coparent.active {
  margin-top: -10px;
  transition: all 0.3s ease-in-out;
}
#coparents-container #coparent-container .coparent.active svg {
  color: #547eff;
  opacity: 1;
}
#coparents-container #coparent-container .coparent.active .coparent-name {
  opacity: 1;
  font-weight: 500;
  color: #547eff;
}
#coparents-container #coparent-container .coparent.active .child-name {
  font-weight: 500;
  opacity: 1;
}
#coparents-container #coparent-container .coparent.active .coparent-type {
  opacity: 0.8;
}
#coparents-container #coparent-container .coparent span {
  font-size: 40px;
  opacity: 0.7;
}
#coparents-container #coparent-container .coparent span.coparent-type {
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  line-height: 1;
  font-style: italic;
}
#coparents-container #coparent-container .coparent .coparent-name {
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  border: 0;
}
#coparents-container #coparent-info {
  margin-top: 20px;
}
#coparents-container #coparent-info .row {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
#coparents-container #coparent-info .row.active {
  max-height: 1000px;
}
#coparents-container #coparent-info .row.active .header {
  border-bottom: 0;
}
#coparents-container #coparent-info .row .flex {
  width: 95%;
  align-items: center;
}
#coparents-container #coparent-info .row .flex input {
  margin: 0;
}
#coparents-container #coparent-info .row .flex.input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 15px;
}
#coparents-container #coparent-info .row .flex.input .delete-icon {
  position: relative;
  display: block;
  bottom: 10px;
  font-size: 20px;
  color: #d57179;
}
#coparents-container #coparent-info .row .header {
  display: flex;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: calc(100vw - 30px);
  position: relative;
  flex-wrap: wrap;
  line-height: 1;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(214, 219, 222, 0.45);
  padding-bottom: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
#coparents-container #coparent-info .row .header.active {
  max-height: 10000px;
  transition: all 0.3s ease-in-out;
}
#coparents-container #coparent-info .row .header.chats {
  padding-bottom: 8px;
}
@media screen and (min-width: 650px) {
  #coparents-container #coparent-info .row .header:hover {
    cursor: pointer;
  }
}
#coparents-container #coparent-info .row .header * {
  line-height: 1;
}
#coparents-container #coparent-info .row .header .at-symbol {
  font-size: 12px;
  position: relative;
  bottom: 2px;
}
#coparents-container #coparent-info .row .header .divider {
  padding: 0 5px;
  opacity: 0.7;
  color: black;
}
#coparents-container #coparent-info .row .header a,
#coparents-container #coparent-info .row .header .notes {
  width: 100%;
}
#coparents-container #coparent-info .row .header a.notes,
#coparents-container #coparent-info .row .header .notes.notes {
  opacity: 0.85;
}
#coparents-container #coparent-info .row .header .two-column {
  width: calc(100% - 45px);
  flex-wrap: wrap;
}
#coparents-container #coparent-info .row .header .two-column p,
#coparents-container #coparent-info .row .header .two-column a {
  margin-top: 0;
  line-height: 1.3;
}
#coparents-container #coparent-info .row .header .status {
  margin-left: auto;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  align-items: center;
  line-height: 1;
}
#coparents-container #coparent-info .row .header .status.paid, #coparents-container #coparent-info .row .header .status.approved {
  background-color: rgba(173, 245, 203, 0.65);
  color: #2ecc71;
  border: 1px solid #2ecc71;
}
#coparents-container #coparent-info .row .header .status.pending {
  background-color: #fbf5bf;
  color: #e8964a;
  border: 1px solid #e8964a;
}
#coparents-container #coparent-info .row .header .status.unpaid, #coparents-container #coparent-info .row .header .status.rejected {
  background-color: #f5e0e1;
  color: #d57179;
  border: 1px solid #d57179;
}
#coparents-container #coparent-info .row .header #subtitle {
  padding-top: 5px;
  margin-top: 0;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  color: black;
  opacity: 0.9;
}
#coparents-container #coparent-info .row .header #subtitle.calendar {
  margin-left: 20px;
}
#coparents-container #coparent-info .row .header #content {
  width: calc(100% - 60px);
  margin: 0;
}
#coparents-container #coparent-info .row .header #primary-icon-wrapper {
  background-color: #edf2fd;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#coparents-container #coparent-info .row .header #primary-icon-wrapper #primary-row-icon {
  font-size: 27px;
  color: #547eff;
}
#coparents-container #coparent-info .row .header #primary-icon-wrapper span,
#coparents-container #coparent-info .row .header #primary-icon-wrapper p {
  color: #547eff;
  font-size: 13px;
  font-weight: 500;
}
#coparents-container #coparent-info .row .header .info-row {
  padding-bottom: 5px;
  width: 100%;
}
#coparents-container #coparent-info .row .header .row-title {
  color: #1c1c1c;
  font-weight: 400;
}
#coparents-container #coparent-info .row .header #details {
  max-height: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  opacity: 0;
  display: flex;
  padding: 0 0 5px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
#coparents-container #coparent-info .row .header #details.open {
  opacity: 1;
  overflow: auto;
  width: 100%;
  max-height: 1000px;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
#coparents-container #coparent-info .row .header .details-toggle-arrow {
  display: none;
  opacity: 0.4;
  position: absolute;
  right: 10px;
  font-size: 24px;
}
#coparents-container #coparent-info .row .header .details-toggle-arrow.active {
  display: inherit;
}
#coparents-container #coparent-info .row .header svg {
  font-size: 22px;
}
#coparents-container #coparent-info .row .header span {
  font-size: 18px;
  margin-left: 10px;
}
#coparents-container #coparent-info .row .directions-icon {
  position: relative;
  top: -4px;
  margin-right: 10px;
}
#coparents-container #coparent-info .row a span {
  font-size: 30px;
}
#coparents-container #coparent-info .row p {
  font-weight: 400;
}
#coparents-container #coparent-info .row button {
  width: 70%;
}/*# sourceMappingURL=_coparents.css.map */