@use "../utils/mixins";
@use "../utils/variables";
@use "../utils/_palette";
@use "../_fonts";

#co-parents-container,
#parents-container {
    .animation-wrapper {
        opacity: 0;
    }
    #co-parent-container,
    #parent-container {
        display: flex;
        width: 100%;
        background-color: transparent;
        border-radius: 0;
        border: 0;
        margin: 15px 0 0 0;
        gap: 15px;
        flex-wrap: wrap;

        .co-parent,
        .parent {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 8px;
            height: 80px;
            width: 80px;
            border-radius: 100%;
            background: white;
            transition: all 0.8s ease;
            border: 1px solid palette.$lightBorderColor;
            background: rgba(73, 88, 255, 0.25);
            opacity: 0.5;
            @include mixins.hover;

            * {
                user-select: none;
                outline: 0;
            }

            svg {
                transform: scale(1.1);
                color: palette.$darkerGrey;
            }

            .co-parent-type,
            .parent-type {
                padding-bottom: 5px;
                color: palette.$blendDark;
                font-size: 11px;
            }

            .co-parent-name,
            .parent-name {
                font-size: 15px;
                border: 0;
                color: palette.$blendDark;
                transform: scale(1.8);
                @include fonts.lightFont;
            }

            // ACTIVE
            &.active {
                background: rgba(73, 88, 255, 0.25);
                opacity: 1;
                transition: all 0.2s ease;
                border: 0;
                * {
                    transition: all 0.2s ease;
                    color: palette.$primaryText;
                }

                svg {
                    opacity: 1;
                }

                .co-parent-name,
                .parent-name {
                    opacity: 1;
                    color: palette.$blend;
                    font-size: 16px;
                    font-weight: variables.$fwBold;
                }

                .co-parent-type,
                .parent-type {
                    opacity: 0.7;
                    font-size: 12px;
                }
                .child-name {
                    font-weight: 500;
                    opacity: 1;
                }
            }
        }
    }

    #co-parent-info,
    #parent-info {
        margin-top: 45px;
        padding: 35px 15px 15px 15px;
        border-radius: variables.$cardBorderRadius;
        position: relative;
        background: rgba(73, 88, 255, 0.15);
        #co-parent-name-and-parent-type {
            position: absolute;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            background-color: palette.$blend;
            width: max-content;
            padding: 3px 15px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #parent-name-primary,
            #co-parent-name-primary {
                font-size: 14px;
                line-height: 1;
                color: white;
                text-align: center;
                @include fonts.lightFont;
            }

            #co-parent-type-primary,
            #parent-type-primary {
                font-size: 12px;
                width: 100%;
                text-align: center;
                color: white;
                opacity: 0.75;
                @include fonts.lightFont;
            }

            span {
                color: white;
                opacity: 0.85;
                padding: 0 5px;
            }
        }
        .info-row {
            .google-autocomplete-wrapper {
                .input-wrapper {
                    background-color: rgba(255, 255, 255, 0.9);
                    .google-autocomplete-input {
                        color: palette.$primaryText;
                    }

                    svg {
                        color: palette.$iconGrey;
                        opacity: 0.65;
                    }
                }
            }

            .label-wrapper {
                &.always-show {
                    &.filled-input-label {
                        label {
                            color: rgba(80, 71, 255, 0.9);
                            @include fonts.regularFont;
                        }
                    }
                }
            }
        }

        .flex {
            &.input {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                gap: 5px;
            }
        }
    }
}