@use '../utils/_palette';
@use '../_fonts';
@use '../utils/_variables';
@use '../utils/mixins';

#external-overrides {
    #help-container {
        .sections {
            margin-top: 15px;
            .section {
                height: auto;
                justify-content: flex-start;
                font-size: 20px;
                align-items: center;
                display: flex;
                margin-bottom: 15px;
                opacity: 0;

                &:nth-of-type(1) {
                    margin-top: 15px;
                    svg {
                        color: palette.$green;
                    }
                }
                &:nth-of-type(2) {
                    svg {
                        color: #ecc700;
                    }
                }
                &:nth-child(3) {
                    svg {
                        color: palette.$blendPurple;
                    }
                }
                &:nth-child(4) {
                    svg {
                        color: palette.$main;
                    }
                }
            }
            svg {
                margin-right: 10px;
                transform: scale(0.9);
                color: palette.$main;
            }
        }
    }
}