/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes sparkles1 {
  0% {
    top: 0;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: -200%;
    left: -50%;
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes sparkles2 {
  0% {
    top: 0;
    left: 25%;
    transform: scale(1);
  }
  100% {
    top: -250%;
    left: 10%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles3 {
  0% {
    top: 0;
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: -275%;
    left: 70%;
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes sparkles4 {
  0% {
    top: 0;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: -120%;
    left: 120%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles5 {
  0% {
    top: 100%;
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: 275%;
    left: 70%;
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes sparkles6 {
  0% {
    top: 100%;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: 220%;
    left: 120%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles7 {
  0% {
    top: 100%;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 200%;
    left: -50%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles8 {
  0% {
    top: 100%;
    left: 25%;
    transform: scale(1);
  }
  100% {
    top: 250%;
    left: 10%;
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes sparkles9 {
  0% {
    top: 50%;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 60%;
    left: -100%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles10 {
  0% {
    top: 50%;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: 75%;
    left: 170%;
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0%, 100% {
    color: "#9d98fc";
  }
  50% {
    color: #5c8df7;
  }
}
@keyframes pulseWhite {
  0%, 100% {
    box-shadow: 0px 0px 20px 0px white;
  }
  50% {
    box-shadow: 0px 0px 10px 0px white;
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(123, 117, 255, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes beatRed {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #d57179;
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animStar {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes shootingStar {
  0% {
    transform: rotate(315deg) translateX(250px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
@keyframes starTwinkle {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateMoon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}
/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
/*#region  FORM*/
/*#endregion  FORM*/
/*#region  BUTTONS*/
/*#endregion  BUTTONS*/
/*#region  EFFECTS*/
/*#endregion  EFFECTS*/
/*#region  POSITIONING*/
/*#endregion  POSITIONING*/
/*#region  COMPONENTS*/
/*#endregion  COMPONENTS*/
/*#region  MENU*/
/*#endregion  MENU*/
#external-overrides #memories-container .loading-memory-gif {
  transform: scale(0.5);
}
#external-overrides #memories-container .light-gallery {
  margin-top: 15px;
}
#external-overrides #memories-container #disclaimer p {
  font-weight: 500;
}
#external-overrides #memories-container #fyi-wrapper {
  flex-wrap: wrap;
  width: 100%;
}
#external-overrides #memories-container #fyi-wrapper .material-icons-round {
  font-size: 25px;
  justify-self: flex-end;
  margin-left: auto;
}
#external-overrides #memories-container #fyi-wrapper .rs-panel-group {
  justify-self: flex-end;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
#external-overrides #memories-container #fyi-wrapper .rs-panel-in {
  padding: 10px;
}
#external-overrides #memories-container #upload-button {
  font-size: 14px;
  height: 30px;
  min-width: 0;
  padding: 0 20px;
  margin: 0 0 0 auto;
}
#external-overrides #memories-container #happy-subtitle {
  font-size: 16px;
  line-height: 1;
}
#external-overrides #memories-container #happy-subtitle svg {
  color: #d57179;
  font-size: 20px;
  position: relative;
  top: 3px;
}
#external-overrides #memories-container .form input:first-child,
#external-overrides #memories-container .form button:first-child,
#external-overrides #memories-container .form label:first-child {
  margin-right: 10px;
}
#external-overrides #memories-container .form label span {
  color: #b392f0;
}
#external-overrides #memories-container .form .flex {
  margin-bottom: 10px;
}
#external-overrides #memories-container .instructions.light-gallery {
  margin-bottom: 10px;
  opacity: 1;
  font-weight: 400;
  font-size: 14px;
}
#external-overrides #memories-container .light-gallery:after {
  content: "";
  display: block;
  clear: both;
}
#external-overrides #memories-container .light-gallery .grid-sizer,
#external-overrides #memories-container .light-gallery .memory-image {
  width: 33.33%;
}
#external-overrides #memories-container .light-gallery .memory-image {
  float: left;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  transform: scale(0.6);
}
#external-overrides #memories-container .light-gallery .memory-image.active {
  transform: scale(1);
  opacity: 1;
}
#external-overrides #memories-container .light-gallery .memory-image img {
  display: block;
  max-width: 100%;
  border-radius: 8px;
}
#external-overrides #memories-container #img-container {
  position: relative;
  max-height: 150px;
  border-radius: 8px;
  overflow: hidden;
}
#external-overrides #memories-container #img-container img {
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#external-overrides #memories-container #img-container p {
  color: #d57179;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  padding: 5px 0;
  display: none;
  font-size: 16px;
}
#external-overrides #memories-container #img-container p.notes {
  text-align: left;
  width: 100%;
  border: 0;
  margin-right: 15px;
  max-height: 150px;
  font-weight: 400;
  overflow: auto;
  font-size: 16px;
}
#external-overrides #memories-container #img-container p.notes.fade-bottom {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
          mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
#external-overrides #memories-container #img-container .notes-icon {
  color: white;
  position: absolute;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px 0 8px 0;
  padding: 2px;
  bottom: 24px;
  right: 0;
}
#external-overrides #memories-container .flex {
  align-items: center;
}
#external-overrides #memories-container .instructions {
  margin-top: 0;
}
#external-overrides #memories-container.active .img-container {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#external-overrides #memories-container.active .img-container.active {
  opacity: 1;
}/*# sourceMappingURL=_memories.css.map */