@use '../utils/mixins';
@use '../utils/variables';
@use '../utils/_palette';
@use '../_fonts';

#external-overrides {
    #chat-request-container {
        .signature-pad {
            width: 100%;
            border-radius: variables.$borderRadius;
        }

        #canvas-wrapper {
            width: calc(100vw - 30px);
            height: 550px;

            .conversation-canvas {
                width: 100%;
                border-radius: variables.$borderRadius;
            }
        }

        #image-wrapper {
            img {
                filter: brightness(0);
            }
        }
    }

    #profile-wrapper {
        .actions {
            p {
                color: white;
                justify-content: flex-start;
                font-size: 18px;
                line-height: 1;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                @include fonts.regularFont;

                svg {
                    color: palette.$main;
                    margin-right: 8px;
                    transform: scale(0.85);
                }

                &.reset-password {
                    color: palette.$lightestPurple;

                    svg {
                        color: palette.$lightestPurple;
                    }
                }

                &.email {
                    color: palette.$holidayOrange;

                    svg {
                        color: palette.$holidayOrange;
                    }
                }

                &.close-account {
                    color: palette.$red;

                    svg {
                        color: palette.$red;
                    }
                }

                &.notifications {
                    flex-wrap: nowrap;
                    justify-content: space-between;

                    span {
                        line-height: 1.2;
                        justify-self: flex-start;
                        margin-right: auto;
                        margin-left: 0;

                        &:nth-child(2) {
                        }

                        &.accent {
                            margin-right: 20px;
                        }
                    }

                    #checkbox-group {
                        display: flex;
                        flex-wrap: nowrap;
                        margin-left: 10px;

                        .flex {
                            width: auto;

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}