@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes pulse {
  0%, 100% {
    color: "#9d98fc";
  }
  50% {
    color: #2b3563;
  }
}
@keyframes pulseWhite {
  0%, 100% {
    box-shadow: 0px 0px 20px 0px white;
  }
  50% {
    box-shadow: 0px 0px 10px 0px white;
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(123, 117, 255, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animStar {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes shootingStar {
  0% {
    transform: rotate(315deg) translateX(250px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
@keyframes starTwinkle {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateMoon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}
#external-overrides #chat-request-container .signature-pad {
  width: 100%;
  border-radius: 8px;
}
#external-overrides #chat-request-container #canvas-wrapper {
  width: calc(100vw - 30px);
  height: 550px;
}
#external-overrides #chat-request-container #canvas-wrapper .conversation-canvas {
  width: 100%;
  border: 1px solid var(--eventDetails);
  border-radius: 8px;
}
#external-overrides #account-container .back-arrow,
#external-overrides #account-container .forward-arrow {
  bottom: 20px;
  font-size: 40px;
  color: var(--iconColorWhite);
  z-index: 1000;
  position: fixed;
  padding: 0;
}
#external-overrides #account-container .back-arrow.forward-arrow,
#external-overrides #account-container .forward-arrow.forward-arrow {
  right: 20px;
}
#external-overrides #account-container .back-arrow.back-arrow,
#external-overrides #account-container .forward-arrow.back-arrow {
  left: 20px;
}
#external-overrides #account-container #user-name {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 8px;
}
#external-overrides #account-container #user-name span {
  font-size: 20px;
  color: var(--accent);
  position: relative;
  top: 3px;
}
#external-overrides #account-container .sections .section {
  color: var(--textColor);
  display: flex;
  align-items: center;
  font-size: 20px;
  width: calc(100vw - 30px);
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 60px;
  margin: 0;
  justify-content: space-between;
  margin: 0 auto;
  justify-content: flex-start;
}
#external-overrides #account-container .sections .section span:nth-child(2) {
  margin-left: auto;
  margin-right: 0;
  font-size: 20px;
}
#external-overrides #account-container .sections .section.notifications {
  flex-wrap: nowrap;
  justify-content: space-between;
}
#external-overrides #account-container .sections .section.notifications span {
  line-height: 1.2;
  justify-self: flex-start;
  margin-right: auto;
  margin-left: 0;
}
#external-overrides #account-container .sections .section.notifications span:nth-child(2) {
  color: var(--textColor);
}
#external-overrides #account-container .sections .section.notifications span.accent {
  margin-right: 20px;
}
#external-overrides #account-container .sections .section.notifications #checkbox-group {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  margin-left: 10px;
}
#external-overrides #account-container .sections .section.notifications #checkbox-group .flex {
  width: auto;
}
#external-overrides #account-container .sections .section.notifications #checkbox-group .flex:last-child {
  margin: 0;
}
#external-overrides #account-container .sections .section.theme span {
  margin: 0;
}
#external-overrides #account-container .sections .section.theme span:nth-child(2) {
  margin-left: 20px;
  color: var(--textColor);
}
#external-overrides #account-container .sections .section.theme div {
  margin-left: auto;
}
#external-overrides #account-container .sections .section.theme div span {
  font-size: 20px;
}
#external-overrides #account-container .sections .section:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
#external-overrides #account-container .sections .section span {
  font-size: 25px;
  margin-right: 20px;
  opacity: 0.8;
  color: var(--accent);
}
#external-overrides #account-container .back-button {
  color: var(--textColor);
  font-weight: 400;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  color: #0080FF;
  justify-content: flex-start;
  width: auto;
  padding: 0;
  position: fixed;
  left: -15px;
  padding: 0 8px;
  border-radius: 8px;
  bottom: 90px;
  font-size: 18px;
  text-align: left;
}
#external-overrides #account-container .back-button span {
  padding: 0;
  width: 25px;
  margin-right: 0;
  font-size: 45px;
  margin-right: 5px;
}/*# sourceMappingURL=account.css.map */