/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
#external-overrides #admin-dashboard-wrapper .buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
#external-overrides #admin-dashboard-wrapper .buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #547eff;
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 16px;
  min-width: 50%;
  text-align: center;
}
#external-overrides #admin-dashboard-wrapper .buttons button.red {
  background: #d57179;
  color: white;
}
#external-overrides #admin-dashboard-wrapper .buttons .chat-recovery-clipboard-button {
  background-color: #2ecc71;
  color: white;
}
#external-overrides #admin-dashboard-wrapper p {
  margin: 0 0 5px 0;
}
#external-overrides #admin-dashboard-wrapper hr {
  margin: 10px 0;
  border-color: rgba(255, 255, 255, 0.09);
}
#external-overrides #admin-dashboard-wrapper a {
  display: block;
}
#external-overrides #admin-dashboard-wrapper .grid {
  display: flex;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box {
  padding: 20px;
  background: #f2f4f5;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 15px;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box #code-block {
  background: #282a37;
  padding: 20px;
  border-radius: 8px;
  color: white;
  margin-top: 15px;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box #code-block code {
  -ms-word-wrap: break-word;
  word-break: break-all;
  max-width: 200px;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box #code-block p {
  color: white;
  -ms-word-break: break-all;
  word-break: break-all;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box #code-block p span {
  max-width: 200px;
  -ms-word-wrap: break-word;
  word-break: break-all;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box #code-block p span.key {
  color: #46b969;
  font-weight: bold;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box #code-block p span.key.empty {
  opacity: 0.3;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box #code-block p span.value {
  display: none;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box #code-block p span.value.active {
  display: inline;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box #code-block p span.indent-one {
  margin-left: 10px;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box .data-ui {
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
  background: #282a37;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box .data-ui a {
  color: #a28fc4;
  text-decoration: underline;
  font-weight: bold;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box .data-ui .prop {
  color: #56e27b;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box .data-ui p {
  color: white;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box .data-ui .data-subset {
  margin-left: 15px;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box .data-ui .data-subset .subset-prop {
  color: #7dc8da;
}
#external-overrides #admin-dashboard-wrapper .grid .tool-box .box-title {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  #external-overrides #admin-dashboard-wrapper .grid {
    display: block;
  }
  #external-overrides #admin-dashboard-wrapper .grid .tool-box {
    width: 100%;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=adminDashboard.css.map */