@import '../colors';
@import '../palette';
@import '../variables';

#external-overrides {
  #admin-dashboard-wrapper {
    .buttons {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $accentBlue;
        color: white;
        padding: 8px 15px;
        border-radius: $borderRadius;
        font-size: 16px;
        min-width: 50%;
        text-align: center;
        border: 0;

        &.red {
          background: $red;
          color: white;
        }
      }

      .chat-recovery-clipboard-button {
        background-color: $green;
        color: white;
      }
    }
    p {
      margin: 0 0 5px 0;
    }
    hr {
      margin: 10px 0;
      border-color: $translucentLightest;
    }
    a {
      display: block;
    }

    .grid {
      display: grid;
      gap: 20px;
      align-items: flex-start;
      grid-template-columns: repeat(4, 1fr);
      .tool-box {
        padding: 20px;
        background: $bestGreyForWhite;
        border-radius: $borderRadius;
        width: 100%;
        margin-bottom: 15px;
        height: 100%;

        #code-block {
          background: #282a37;
          padding: 20px;
          border-radius: $borderRadius;
          color: white;
          margin-top: 15px;

          code {
            -ms-word-wrap: break-word;
            word-break: break-all;
            max-width: 200px;
          }

          p {
            color: white;
            -ms-word-break: break-all;
            word-break: break-all;
            span {
              max-width: 200px;
              -ms-word-wrap: break-word;
              word-break: break-all;
              &.key {
                color: #46b969;
                font-weight: bold;

                &.empty {
                  opacity: 0.3;
                }
              }

              &.value {
                display: none;

                &.active {
                  display: inline;
                }
              }

              &.indent-one {
                margin-left: 10px;
              }
            }
          }
        }

        .data-ui {
          padding: 15px;
          margin-top: 15px;
          border-radius: $borderRadius;
          background: #282a37;

          a {
            color: #a28fc4;
            text-decoration: underline;
            font-weight: bold;
          }

          .prop {
            color: #56e27b;
          }

          p {
            color: white;
          }

          .data-subset {
            margin-left: 15px;

            .subset-prop {
              color: #7dc8da;
            }
          }
        }

        .box-title {
          font-weight: bold;
          text-align: center;
          font-size: 18px;
          margin-bottom: 10px;
        }
      }

      // RESPONSIVE
      @media screen and (max-width: 600px) {
        display: block;

        .tool-box {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }
}