@import "../mixins";

#calendar-container {

    #calendar-event-form-container {
        @include form;

        .rs-input {
            padding: 0;
            line-height: 1;
            height: 30px;
            margin: 0;
        }

        .button-group {
            display: flex;

            button {
                &.submit {
                    @include button(white, $green);
                    margin-right: 10px;
                    min-width: 0;
                    width: 50%;
                }

                &.red {
                    min-width: 0;
                    width: 50%;
                }
            }
        }
    }

    #calendar-ui-container {
        &.active {
            display: block;
            display: none !important;
        }
    }

    .flatpickr-calendar {
        background-color: $complimentaryBlue !important;
        margin: 20px auto 0 auto;
        border: 0;
        border-radius: $borderRadius;
        width: 100%;
        box-shadow: none;
        padding: 20px;
        margin: 0;

        &::before,
        &::after {
            display: none;
        }

        * {
            color: $darkBlue;
            fill: $darkBlue;
            font-weight: 400;
            margin: 0 auto;
        }
        .flatpickr-innerContainer {
            margin-top: 10px;
        }

        select {
            width: 150px;
            border: 1px solid $darkBlue;
            border-radius: $borderRadius;
            padding: 0 10px !important;
            margin-bottom: 10px;
            display: block;
            &.flatpickr-monthDropdown-months {
                margin-bottom: 10px;
                display: block;
                position: relative;
                top: -5px;
            }
        }

        .numInput {
            display: none;
        }

        .flatpickr-monthDropdown-months {
            option {
                background-color: $darkBlue;
                color: white;
                font-size: 16px;
            }
        }

        .flatpickr-prev-month,
        .flatpickr-next-month {
            position: relative;

            // top: 5px;
            svg {
                font-weight: bold;
                font-size: 45px;
                transform: scale(130%);
            }
        }

        .flatpickr-weekday {
            color: $darkBlue;
            opacity: 1;
            font-weight: 500;
        }

        .flatpickr-day {
            color: $darkBlue;
            font-weight: 400;
            position: relative;

            .dot {
                background-color: $darkBlue;
                height: 5px;
                width: 5px;
                border-radius: 100%;
                position: absolute;
                bottom: 5px;
                left: 15px;
                bottom: 2px;
            }

            &.today {
                border: 0;
                font-weight: bold;
                font-size: 18px;
                background-color: transparent;
            }
            &.selected {
                background-color: $darkBlue;
                border: 1px solid $darkBlue;
                color: white;
                font-weight: inherit;
                opacity: .7;
            }

            &.nextMonthDay {
                opacity: .4;

                &.selected {
                    background-color: $darkBlue;
                    border: 1px solid $darkBlue;
                    color: white;
                }
            }

        }
    }


    .events {
        margin-top: 20px;

        #events-title {
            color: white;
            font-weight: 400;
            font-size: 25px;
            border-bottom: 1px solid $translucent;
            padding: 0;
            line-height: 1;
            margin-bottom: 10px;
        }


        .event {
            width: 100%;
            border-radius: $borderRadius;
            margin-bottom: 20px;
            position: relative;

            .details-container {
                transition: all .3s ease-in;
                padding-bottom: 300px;
                max-height: 500px;
                overflow: auto;

                p {
                    color: white;
                    line-height: 1.3;
                    opacity: .7;
                    font-weight: 300;
                    margin: 0;
                    font-style: italic;

                    b {
                        font-weight: 400;
                    }

                    &.title {
                        font-size: 16px;
                        opacity: 1;
                        font-style: normal;

                        b {
                            font-style: normal;
                            font-weight: 400;
                        }
                    }
                }

                .event-details {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: $borderRadius;
                    padding: 10px;
                    position: relative;
                    margin-bottom: 8px;
                    background-color: rgba(255, 255, 255, 0.05);

                    a {
                        color: $linkColor;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        margin-top: 5px;
                        line-height: 1.2;
                        margin-bottom: 5px;

                        ion-icon {
                            font-size: 30px;
                            margin-right: 5px;
                            color: $complimentaryBlue;
                        }
                    }

                    .time {
                        margin-right: 15px;
                        line-height: 1;
                    }

                    .right {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 0 $borderRadius $borderRadius 0;

                        .delete-icon {
                            color: $red;
                            font-size: 20px;
                            opacity: .9;
                        }
                    }

                    .flex {
                        align-items: center;
                        justify-content: space-between;
                    }
                }
            }

            .event-count {
                position: absolute;
                top: -10px;
                left: -15px;
                margin-right: auto;
                justify-self: flex-start;
                background-color: $green;
                font-weight: 500;
                color: white;
                border-radius: 100%;
                height: 20px;
                width: 20px;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1000;
            }

            .clickable-row {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .date-button {
                    text-align: left;
                    border: 0;
                    padding: 0;
                    margin: 0;
                    width: auto;
                }


                ion-icon {
                    font-size: 20px;
                    color: $mainBlue;
                }

                .eye-icon {
                    color: $darkBlue;
                }
            }
        }
    }
}