// Path: src\styles\screens\chat.scss
@import '../mixins';

#external-overrides {
  .conversation-container {
    #image-wrapper {
      width: 90vw;
      border-radius: $borderRadius;
      margin: 5px auto 20px auto;
      height: 300px;
      overflow: hidden;
      @include glow;

      @media screen and (min-width: 800px) {
        width: 28vw;
      }
    }
    .convo-message {
      border-radius: $borderRadius;
      margin-bottom: 10px;
      padding: 10px;

      p {
        margin: 0;

        &#message {
          color: white;
          opacity: 0.87;
        }

        &#timestamp {
          opacity: 0.5;
          font-size: 14px;
        }
        &#sender {
          opacity: 0.7;
          font-size: 15px;
        }
      }
    }
  }

  #chats-container {
    .screen-content {
      background: white;
      height: 100%;
    }
    #chats-hr {
      margin-top: 0;
    }

    .MuiAccordionDetails-root {
      margin-bottom: 15px;
      p {
        color: $primaryText;
        line-height: 1.4;
      }
      #send-invite-button {
        background: $secondaryGreen;
        color: white;
        margin: 10px auto 0 auto;
      }
    }

    #screen-title-wrapper {
      align-items: center;
      .screen-title {
        line-height: 1;
      }

      #chats-menu-icon {
        margin-left: auto;
        display: block;
        margin-right: 5px;
        color: #00000090;

        &.active {
          color: $main;
        }
      }
    }

    hr {
      width: 80%;
      margin-right: auto;
      display: block;
      margin-left: 50px;
    }

    #close-new-conversation-button {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: white;
      font-weight: bold !important;
      text-transform: uppercase;
      padding: 8px 0;
      transition: none;
      box-shadow: rgba(0, 0, 0, 0.56) 0 22px 30px 14px;
      z-index: 1000;
      background-color: $red;
      bottom: 40px;
      left: 20px;
      width: 50px;
      height: 50px;
      border: 0;
      font-size: 18px;
      right: 20px;
      margin: 0;
      border-radius: 100%;

      span {
        transform: scale(1.6);
      }
    }

    .two-column-chat-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 15px;

      &.active {
        padding: 15px 0 15px 15px;
        .play-pause-wrapper {
          transform: scaleX(1);
          margin-left: 15px;
          width: 70px;
        }
      }

      .chat-row {
        width: 100%;
        border-bottom: 0;
        background: white;
        opacity: 0;

        .row-text {
          display: flex;
          align-items: flex-start;
          width: 100%;
          justify-content: flex-start;
          border-bottom: 1px solid $lightBorderColor;
          padding-bottom: 5px;
          position: relative;

          .row-text-content {
            width: 100%;

            .name-and-timestamp {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;

              .timestamp {
                font-size: 12px;
                font-weight: $fwRegular;
                color: $mediumGreyDarker;
                margin-left: auto;
              }

              .coParent-name {
                display: flex;
                font-weight: $fwMedium;
                color: $primaryText;
                font-size: 18px;
                justify-content: space-between;
                margin-right: auto;
                line-height: 1;

                @media screen and (min-width: 800px) {
                  width: 28vw;
                }
              }
            }

            .last-message {
              color: $darkestGrey;
              font-weight: $fwLight;
              font-size: 16px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              line-height: 1.4;
              overflow: hidden;
              text-overflow: ellipsis;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              width: 100%;
              gap: 0 10px;
            }
          }
        }
      }

      .play-pause-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        transition: all 0.3s ease-in-out;
        width: 0;

        &.pause {
          background: $secondaryGreen;
        }

        &.resume {
          background: $flatRed;
        }

        .icon {
          @include square(25px);
          margin-top: 5px;
          color: white;
        }
      }
    }
  }
}

#chat-wrapper {
  width: 100vw;
  overflow: hidden;
  background: $lightBg;
  height: 100vh;
  justify-content: flex-start;
  display: grid;
  grid-template-rows: auto 2fr auto;
  position: relative;

  .long-press-menu {
    background: white;
    border-radius: $buttonBorderRadius;
    transition: all 0.3s ease-out;
    position: absolute;
    @include deadCenter;
    width: 50vw;
    height: auto;
    z-index: 99999;
    box-shadow: $boxShadow_float;
    top: 40%;

    button {
      &#copy,
      &#bookmark,
      &#cancel {
        background: transparent;
        color: black;
        border-radius: 0;
        text-align: center;
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        padding: 0 10px;
        svg {
          transform: scale(1);
          color: white;
          opacity: 1;
          margin-left: 10px;

          &.cancel-icon {
            color: $darkerGrey;
            transform: scale(1.2);
          }
        }

        &#copy {
          background: $main;
          color: white;
          border-radius: $buttonBorderRadius $buttonBorderRadius 0 0;
        }
        &#bookmark {
          color: white;
          &.add {
            background: #d8af5d;
          }

          &.remove {
            background: $red;
          }
        }
        &#cancel {
          background: $grey;
          color: $darkerGrey;
          border-radius: 0 0 $buttonBorderRadius $buttonBorderRadius;
        }
      }
    }
  }

  .search-results {
    display: none;

    &.active {
      display: block;
    }
  }

  .top-buttons {
    z-index: 999;
    width: 100vw;
    padding: 50px 15px 15px 15px;
    background: transparent;
    position: relative;
    @include mainColorsGradient;

    .back-arrow {
      color: white;
      transform: scale(1.3);
    }

    #user-info {
      justify-content: center;

      svg {
        color: white;
        font-size: 25px;
      }

      #user-name {
        color: white;
        font-weight: 600;
        font-size: 30px;
        width: 100%;
        line-height: 1;
        white-space: nowrap;
        margin-right: 15px;
        text-align: center;
      }
    }

    #right-side {
      gap: 10px;
      justify-content: flex-end;
      padding-top: 10px;

      svg {
        font-size: 24px;
        color: $mediumTransWhite;
      }

      #close-search-icon {
        color: $red;
        @include square(25px);
      }

      #chat-bookmark-icon {
        font-size: 22px;

        &.active {
          color: white;
        }
      }
    }
  }

  .flex {
    align-items: center;
  }

  .search-input {
    border: 0;
    border-radius: $borderRadius;
    width: 100%;
    padding: 8px;
    @include bestShadow;
    margin-bottom: 5px;

    &:focus,
    &:active,
    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      position: relative;
      top: -2px;
      opacity: 0.6;
      font-size: 14px;
    }
  }

  #default-messages,
  #messages,
  #bookmark-messages {
    width: 100vw;
    z-index: 10;
    overflow: auto;
    background-color: $lightBg;
    overflow-x: hidden;
    padding: 15px 15px 125px 15px;
    position: relative;
    overscroll-behavior: none;
    @media screen and (min-width: 800px) {
      min-width: 10%;
      width: 28vw;
    }

    &#bookmark-messages,
    &.search-results {
      z-index: unset;
    }

    .timestamp {
      width: 100%;
      display: block;
      margin-bottom: 15px;
      color: $darkGrey;
      font-size: 12px;
      padding-top: 5px;

      svg {
        position: relative;
        top: 3px;
        @include square(15px);

        &.from {
          transform: rotate(180deg);
        }
      }

      &.to {
        float: right;
        text-align: right;
        padding-right: 10px;
      }
      &.from {
        float: left;
        text-align: left;
        padding-left: 10px;
        margin-right: 0;
      }
    }

    // MESSAGE WRAPPER
    .message-wrapper {
      width: 100%;
      transition: all 0.2s ease-in-out;
      opacity: 0;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      font-weight: 400;
      position: relative;

      &.search {
        display: block;
      }
      .flex {
        width: 100%;
        position: relative;
        .bookmarked-icon {
          color: $gold;
          position: absolute;
          top: -14px;
          z-index: 9999;

          transform: scale(0.5);

          &.to {
            right: unset;
            left: -5px;
          }

          &.from {
            left: unset;
            right: -5px;
          }
        }
      }

      .message {
        width: 65%;
        position: relative;
        &.from,
        &.to {
          display: inline-block;
          max-width: 85%;
          width: auto;
          min-width: 65%;
          border-radius: $cardBorderRadius;
          padding: 10px 15px;
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          line-height: 1.3;
          font-weight: $fwRegular;

          &.from {
            z-index: 100;
            background-color: $blend;
            color: white;
            display: flex;
            justify-content: space-between;
            float: left;
            margin-right: auto;
            margin-left: 0;

            svg {
              color: white;
              margin-left: 10px;
            }
          }

          &.to {
            background-color: white;
            margin-left: auto;
            color: $headerText;
            float: right;

            &.message {
              svg {
                color: $main;
              }
            }

            .under-message {
              float: right;
            }

            .message-subtitle {
              margin-left: auto;
              display: block;
              text-align: right;
            }
          }
        }

        .timestamp,
        .from-name {
          font-size: 13px;
          font-style: italic;
        }
      }
    }

    .message-subtitle {
      display: block;
      clear: both;
      font-size: 14px;
      opacity: 0.4;
      font-weight: 300;
      margin-top: 50px;
    }

    .add-bookmark-icon {
      font-size: 30px;
    }

    .from-said {
      margin-bottom: 10px;
      margin-left: 5px;
    }
  }

  .from,
  .to {
    @media screen and (min-width: 800px) {
      min-width: 50%;
      max-width: 65%;
      clear: both;
      &.from {
        float: left;
      }
      &.to {
        float: right;
      }
    }
  }

  #emotion-and-input-field {
    max-width: 100vw;
    #tone-wrapper {
      width: calc(100vw - 60px);
      bottom: 25px;
      z-index: 999;
      background: transparent;
      text-align: center;
      transition: all 0.3s ease-out;
      padding: 8px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      border-radius: $borderRadius;
      position: relative;
      opacity: 0;

      &.active {
        transition: all 0.3s ease-in;
        z-index: 999999;
        opacity: 1;
        transform: scale(1);
        width: 90vw;
      }

      &.red {
        background: $bootstrapRedBg;
        border: 1px solid rgba(199, 20, 54, 0.21);
        .tone,
        .emotion-text {
          color: $bootstrapRed;
        }
      }
      &.green {
        background: $bootstrapGreenBg;
        border: 1px solid rgba(36, 156, 98, 0.18);
        .tone,
        .emotion-text {
          color: #249c62;
        }
      }
      &.yellow {
        background: $bootstrapYellowBg;
        .tone,
        .emotion-text {
          color: $bootstrapYellow;
        }
      }

      p,
      b,
      span {
        font-size: 14px;
      }

      .tone {
        color: white;
        font-size: 16px;
      }

      .icon {
        position: relative;
        font-size: 28px;
        z-index: 999999;
        top: 1px;
      }

      .emotion-text {
        font-size: 10px;
        color: white;
        position: absolute;
        top: 8px;
        left: 8px;
        font-weight: $fwRegular;
      }

      * {
        line-height: 1;
        margin: 0;
        white-space: nowrap;
      }

      span {
        font-weight: $fwMedium;
      }
    }

    .message-input-field {
      width: 100vw;
      z-index: 9999;
      transition: all 0.3s ease-out;
      display: flex;
      justify-content: space-between;
      padding: 0 20px 65px 20px;

      &.active {
        #message-input-container {
          border: 1px solid $mediumGreyDarker;
        }
      }

      #message-input-container {
        width: 100vw;
        border-radius: $borderRadius;
        background: white;
        padding-right: 15px;
        display: flex;
        align-items: center !important;

        #send-button {
          color: $green;
          font-weight: $fwMediumBold;
          text-align: center;
          margin-left: 10px;
          @include square(26px);

          &.red {
            color: $red;
          }
        }

        .message-input {
          color: $primaryText;
          outline: none;
          line-height: 1.3;
          width: 100%;
          overflow: auto;
          transition: all 0.3s ease-in-out;
          min-height: 50px;
          padding-top: 7px;
          &:focus,
          &.active {
            box-shadow: none;
          }

          &::placeholder {
            color: $darkGrey;
            font-size: 14px;
            font-style: normal;
            padding-top: 7px;
            white-space: nowrap;
            padding-left: 5px;
            opacity: 1;
          }
        }
      }

      @media screen and (min-width: 800px) {
        min-width: 10%;
        width: 28vw;
      }
    }
  }
}