@import '../mixins';

#external-overrides {
  .info-section {
    .MuiAccordion-root {
      .MuiAccordion-heading {
        .MuiButtonBase-root {
          .svg {
            font-size: 28px !important;

            &.medical {
              font-size: 26px !important;
              position: relative;
              bottom: 2px;
            }
          }
        }
      }
    }
  }
  #child-info-container {
    @include accordion;

    .MuiAccordionSummary-content {
      #toggle-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 !important;
        font-size: 20px !important;
        color: $lightBlackLight;
      }
    }

    .info-icon {
      font-size: 25px;
      color: white;
      opacity: 0.8;
    }

    .child-pill {
      text-align: center;
      display: inline-block;
      border-radius: 20px;
      padding: 3px 10px;
      margin-bottom: 8px;
      margin-right: 8px;
      @include shadow;

      &.active {
      }
    }

    .info-text {
      background-color: $accent;
      padding: 10px;
      border-radius: $borderRadius;
      font-weight: 400;
      @include shadow;
      position: relative;

      .close-info {
        position: absolute;
        right: 5px;
        top: 10px;
        font-size: 20px;
        font-weight: bold;
      }
    }

    &.active {
      opacity: 1;

      .profile-pic-container {
        transform-origin: center;
        border: 3px solid $borderColor;
      }
    }

    .sections {
      .section {
        @include lineItem;
        justify-content: flex-start;

        &.notifications {
          flex-wrap: nowrap;
          justify-content: space-between;

          span {
            line-height: 1.2;
            justify-self: flex-start;
            margin-right: auto;
            margin-left: 0;

            &:nth-child(2) {
            }

            &.accent {
              margin-right: 20px;
            }
          }

          #checkbox-group {
            display: flex;
            flex-wrap: nowrap;
            margin-left: 10px;

            .flex {
              width: auto;

              &:last-child {
                margin: 0;
              }
            }
          }
        }

        &.theme {
          span {
            margin: 0;

            &:nth-child(2) {
              margin-left: 20px;
            }
          }

          div {
            margin-left: auto;

            span {
              font-size: 20px;
            }
          }
        }

        &:first-child {
          border-top: 1px solid rgba(255, 255, 255, 0.1);
        }

        span {
          font-size: 25px;
          margin-right: 20px;
          opacity: 0.8;
          color: $accent;
        }
      }
    }

    #image-and-actions-wrapper {
      overflow: hidden;
      margin-bottom: 20px;
      position: relative;
      margin-right: 25px;
      display: flex;
      flex-direction:   column;
      align-items: center;
      
      .child-name {
        color: black;
        font-weight: $fwMedium;
        font-size: 20px;
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 8px;
      }
      .profile-pic-container {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        @include hover;
        border: 2px solid white;

        input {
          opacity: 0;
          display: block !important;
        }

        &.no-image {
          border: 1px solid $lightDarkGrey;
          .after {
            background: transparent;
            width: 100%;
            right: unset;
            border: 0;
            bottom: unset;
            svg {
              color: $lightDarkGrey;
              font-size: 30px;
            }
          }

          p {
            font-weight: 500;
          }
        }

        p {
          color: white;
          font-size: 12px;
          text-align: center;
        }

        input {
          z-index: 100;
          position: relative;
        }

        &.no-image {
          .after {
            height: 100%;
          }
        }

        .after {
          position: absolute;
          right: -15px;
          z-index: 1;
          @include centerHoriz;
          margin-left: auto;
          padding: 0;
          width: 28px;
          height: 28px;
          overflow: hidden;
          background: white;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 0;
          bottom: -3px;
          border: 1px solid white;

          svg {
            color: $mainBlue;
            font-size: 16px;
            margin: 0 auto;
            display: block;
            width: 100%;
            opacity: 1;
            position: absolute;
            z-index: 10;
          }

          input {
            font-size: 5px;
            align-self: stretch;
          }
        }
      }
    }

    #child-info {
      overflow: hidden;

      .MuiCollapse-root {
        background: transparent;
      }
      .rs-panel-body {
        padding: 0 10px;
      }

      .form {
        .flex {
          align-items: center;
          &.input {
            .delete-icon {
              color: $lightDarkGrey;
              transform: scale(1.4);
              position: relative;
              margin-left: 10px;
              bottom: 3px;
              right: -5px;
            }
          }
        }

        .button-group {
          flex-wrap: wrap;
          border-radius: $borderRadius;

          &.stack {
            label {
            }

            button,
            label {
              height: 40px;
              width: 60% !important;
              font-size: 14px;
              border-radius: $borderRadius;
              margin-bottom: 5px;
              line-height: 1;

              &:first-child {
                margin-right: 5px;
              }
            }
          }
        }

        .info-section {
          transition: max-height 0.3s ease-in-out;
          max-width: calc(100vw - 30px);
          overflow: hidden;

          &:first-child {
            padding-top: 10px;
          }

          @media screen and (min-width: 1000px) {
            &:hover {
              margin-bottom: 10px;

              span {
                padding-left: 10px;
              }
            }
          }

          &.active {
            .header {
              border-bottom: 0;
              border-radius: 14px;
              font-weight: bold;
            }
          }
        }

        button {
          width: auto;
          margin: 0 auto;

          span {
            margin-left: 10px;
          }
        }

        .header {
          display: flex;
          @include lineItem;
          justify-content: flex-start;
          border: 0;
          padding: 10px;
          overflow: hidden;
          height: 45px;
          align-items: center;
          margin-bottom: 0;

          &.disabled {
            opacity: 0.5;
          }

          &.behavior {
            span {
              color: #dc7633;
            }
          }

          &.medical {
            span {
              color: #e74c3c;
            }
          }

          &.general {
            span {
              color: #f4d03f;
            }
          }

          &.schooling {
            span {
              color: #2ecc71;
            }
          }

          .svg {
            font-size: 36px;
            margin-left: 0;
            margin-right: 10px;
            width: 40px;
          }

          &.medical {
            span {
              position: relative;
              top: -3px;
            }
          }
        }

        p {
          font-weight: 400;
        }
      }
    }

    .new-child-form {
      .dob {
        margin-bottom: 0;
      }
    }
  }
}