@import '../mixins';

#external-overrides {
  #child-info-container {
    .button {
      &.default {
        &.center {
          min-width: 50%;
        }
      }
    }

    .info-icon {
      font-size: 25px;
      color: white;
      opacity: 0.8;
    }

    .child-pill {
      text-align: center;
      display: inline-block;
      border-radius: 20px;
      padding: 3px 10px;
      margin-bottom: 8px;
      margin-right: 8px;
      @include shadow;

      &.active {
      }
    }

    .info-text {
      background-color: $accent;
      padding: 10px;
      border-radius: $borderRadius;
      font-weight: 400;
      @include shadow;
      position: relative;

      .close-info {
        position: absolute;
        right: 5px;
        top: 10px;
        font-size: 20px;
        font-weight: bold;
      }
    }

    &.active {
      opacity: 1;

      .profile-pic-container {
        transform-origin: center;
        border: 3px solid $borderColor;
      }
    }

    .profile-pic-container {
      height: 130px;
      width: 130px;
      border-radius: 100%;
      background-size: cover;
      margin-bottom: 5px;
      position: relative;
      display: flex;
      align-items: center;
      margin-top: 10px;
      border: 1px solid $bestGreyForWhite;

      @include hover;

      input {
        opacity: 0;
        display: block !important;
      }

      &.no-image {
        .after {
          background: $bestGreyForWhite;
          backdrop-filter: unset;
          width: 100%;
          right: unset;

          svg {
            font-size: 60px;
          }
        }

        p {
          font-weight: 500;
        }
      }

      p {
        color: white;
        font-size: 12px;
        text-align: center;
      }

      input {
        z-index: 100;
        position: relative;
      }

      &.no-image {
        .after {
          height: 100%;
        }
      }

      .after {
        position: absolute;
        right: -15px;
        z-index: 1;
        @include centerHoriz;
        margin-left: auto;
        padding: 0;
        width: 35px;
        height: 35px;
        overflow: hidden;
        background: $lightIconBgBlue;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        bottom: -3px;
        border: 1px solid white;

        svg {
          color: $mainBlue;
          font-size: 18px;
          margin: 0 auto;
          display: block;
          width: 100%;
          opacity: 0.8;
          position: absolute;
          z-index: 10;
        }

        input {
          font-size: 5px;
          align-self: stretch;
        }
      }
    }

    .sections {
      .section {
        @include lineItem;
        justify-content: flex-start;

        &.notifications {
          flex-wrap: nowrap;
          justify-content: space-between;

          span {
            line-height: 1.2;
            justify-self: flex-start;
            margin-right: auto;
            margin-left: 0;

            &:nth-child(2) {
            }

            &.accent {
              margin-right: 20px;
            }
          }

          #checkbox-group {
            display: flex;
            flex-wrap: nowrap;
            margin: 0;
            margin-left: 10px;

            .flex {
              width: auto;

              &:last-child {
                margin: 0;
              }
            }
          }
        }

        &.theme {
          span {
            margin: 0;

            &:nth-child(2) {
              margin-left: 20px;
            }
          }

          div {
            margin-left: auto;

            span {
              font-size: 20px;
            }
          }
        }

        &:first-child {
          border-top: 1px solid rgba(255, 255, 255, 0.1);
        }

        span {
          font-size: 25px;
          margin-right: 20px;
          opacity: 0.8;
          color: $accent;
        }
      }
    }

    #children-container {
      width: 100%;
      background-color: transparent;
      border-radius: 0;
      border: 0;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      display: flex;
      transition: all 0.3s ease-in-out;
      margin-bottom: 15px;

      &.active {
        transition: all 0.3s ease-in-out;

        span {
          opacity: 1;
        }

        .child-name {
          font-weight: bold;
          opacity: 1;
        }
      }

      span {
        color: white;
        font-size: 85px;
        opacity: 0.7;
      }

      .child-name {
        font-size: 24px;
        color: black;
        font-weight: $fwMediumBold;
        border: 0;
        font-optical-sizing: auto;
        font-style: normal;
      }
    }

    #child-info {
      overflow: hidden;
      .rs-panel-body {
        padding: 0 10px;
      }

      .form {
        .flex {
          &.input {
            .delete-icon {
              color: $lightDarkGrey;
              font-size: 26px;
              position: relative;
              margin-left: 10px;
              bottom: 10px;
            }
          }
        }

        .button-group {
          flex-wrap: wrap;
          border-radius: $borderRadius;

          &.stack {
            label {
            }

            button,
            label {
              height: 40px;
              width: 60% !important;
              font-size: 14px;
              border-radius: $borderRadius;
              margin-bottom: 5px;
              line-height: 1;

              &:first-child {
                margin-right: 5px;
              }
            }
          }
        }

        .info-section {
          transition: max-height 0.3s ease-in-out;
          max-width: calc(100vw - 30px);
          
          &:first-child {
            padding-top: 10px;
       
          }
          
          @media screen and (min-width: 1000px) {
            &:hover {
              margin-bottom: 10px;
              
              span {
                padding-left: 10px;
              }
            }
          }

          &.active {
            .header {
              border-bottom: 0;
              border-radius: 14px;
              font-weight: bold;
            }
          }
        }

        button {
          width: auto;
          margin: 0 auto;

          span {
            margin-left: 10px;
          }
        }

        .header {
          display: flex;
          @include lineItem;
          justify-content: flex-start;
          border: 0;
          padding: 10px;
          overflow: hidden;
          height: 45px;
          align-items: center;

          &.disabled {
            opacity: 0.5;
          }

          &.behavior {
            span {
              color: #dc7633;
            }
          }

          &.medical {
            span {
              color: #e74c3c;
            }
          }

          &.general {
            span {
              color: #f4d03f;
            }
          }

          &.schooling {
            span {
              color: #2ecc71;
            }
          }

          span {
            font-size: 30px;
            margin-left: 0;
            margin-right: 10px;
          }

          &.medical {
            span {
              position: relative;
              top: -3px;
            }
          }
        }

        p {
          font-weight: 400;
        }
      }
    }

    .new-child-form {
      .dob {
        margin-bottom: 0;
      }
    }
  }
}