@import "../palette";

#external-overrides {
  #contact-us-container {
    .sections {
      .section {
        @include lineItem;
        height: auto;
        margin-bottom: 20px;
        justify-content: flex-start;

        svg {
          font-size: 25px;
          margin-right: 10px;
          color: $mainBlue;
        }

        &:not(.theme) {
          span {
            font-size: 25px;
            margin-right: 20px;
            opacity: 0.8;
            color: $accent;

            &:nth-child(2) {
              font-size: 16px;
              margin-right: 20px;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
