@import '../palette';

#external-overrides {
  #contact-us-container {
    .sections {
      margin-top: 15px;
      .section {
        @include lineItem;
        font-size: 18px;
        height: auto;
        justify-content: flex-start;

        @include hoverBlue;

        svg {
          font-size: 22px;
          margin-right: 10px;
          color: $mainBlue;
        }
      }
    }
  }
}