@import '../palette';

#external-overrides {
  #contact-us-container {
    .sections {
      margin-top: 15px;
      .section {
        height: auto;
        justify-content: flex-start;
        font-size: 20px;
        align-items: center;
        display: flex;
        margin-bottom: 15px;

        svg {
          font-size: 24px;
          margin-right: 10px;
          color: $main;
        }
      }
    }
  }
}