@import '../mixins';

#co-parents-container,
#parents-container {
  .animation-wrapper {
    opacity: 0;
  }
  #co-parent-container,
  #parent-container {
    display: flex;
    width: 100%;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    margin: 15px 0 0 0;
    gap: 0 15px;

    .co-parent,
    .parent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 8px;
      height: 80px;
      width: 80px;
      border-radius: 100%;
      background: white;
      transition: all 0.8s ease;
      @include hover;

      * {
        user-select: none;
        outline: 0;
      }

      svg {
        transform: scale(1.1);
        color: $darkerGrey;
      }

      .co-parent-type,
      .parent-type {
        padding-bottom: 5px;
        color: $darkerGrey;
        font-size: 11px;
      }

      .co-parent-name,
      .parent-name {
        font-size: 15px;
        font-weight: $fwRegular;
        border: 0;
        color: $darkGrey;
        transform: scale(1.8);
      }

      // ACTIVE
      &.active {
        background: $blend;
        opacity: 1;
        transition: all 0.2s ease;
        * {
          transition: all 0.2s ease;
          color: $primaryText;
        }

        svg {
          opacity: 1;
        }

        .co-parent-name,
        .parent-name {
          opacity: 1;
          color: white;
          font-size: 16px;
          font-weight: $fwBold;
        }

        .co-parent-type,
        .parent-type {
          opacity: 0.7;
          font-size: 12px;
        }
        .child-name {
          font-weight: 500;
          opacity: 1;
        }
      }
    }
  }

  #co-parent-info,
  #parent-info {
    margin-top: 20px;
    padding: 15px;
    border-radius: $bigBorderRadius;
    background: $main;
    @include shadow;

    #parent-name-primary,
    #co-parent-name-primary {
      font-weight: $fwMediumBold;
      font-size: 22px;
      line-height: 1;
      color: white;
      text-align: center;
    }

    #co-parent-type-primary,
    #parent-type-primary {
      font-size: 16px;
      width: 100%;
      text-align: center;
      margin-bottom: 15px;
      color: $transWhite;
      padding-top: 3px;
    }

    .flex {
      &.input {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        gap: 5px;
      }
    }
  }
}