@import '../mixins';

#coparents-container,
#parents-container {
  .animation-wrapper {
    opacity: 0;
  }
  #coparent-container,
  #parent-container {
    display: flex;
    width: 100%;
    overflow: auto;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    margin: 15px 0 0 0;
    gap: 0 15px;

    .coparent,
    .parent {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $grey;
      padding: 8px;
      border: 1px solid $lightBorderColor;
      @include hover;
      height: 80px;
      width: 80px;
      border-radius: 100%;

      * {
        user-select: none;
        outline: 0;
      }

      svg {
        transform: scale(1.1);
        color: $darkerGrey;
      }

      .coparent-type,
      .parent-type {
        padding-bottom: 5px;
        color: $darkerGrey;
        font-size: 11px;
      }

      .coparent-name,
      .parent-name {
        font-size: 15px;
        font-weight: $fwRegular;
        border: 0;
        color: $darkGrey;
        transform: scale(1.8);
      }

      // ACTIVE
      &.active {
        transition: all 0.3s ease-in;
        background: $accent;

        * {
          transition: all 0.2s ease-in;
          color: white;
        }

        svg {
          opacity: 1;
        }

        .coparent-name,
        .parent-name {
          opacity: 1;
          font-size: 16px;
          font-weight: $fwBold;
        }

        .coparent-type,
        .parent-type {
          opacity: 0.7;
          font-size: 12px;
        }
        .child-name {
          font-weight: 500;
          opacity: 1;
        }
      }
    }
  }

  #coparent-info,
  #parent-info {
    margin-top: 20px;

    #parent-name-primary {
      font-weight: $fwMediumBold;
      font-size: 18px;
      line-height: 1;
    }

    #coparent-type-primary,
    #parent-type-primary {
      font-size: 14px;
      width: 100%;
      text-align: left;
      margin-bottom: 15px;
      color: $darkerGrey;
    }

    .form {
      button {
        width: 60%;

        &.default {
          svg {
            font-size: 14px;
          }
        }
      }
    }

    .flex {
      &.input {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        gap: 15px;
        .delete-icon {
          position: relative;
          display: block;
          font-size: 20px;
          color: $red;
        }
      }
    }
  }
}