@import '../mixins';

#external-overrides {
  #documents-container {
    
    
    .header {
      width: 100%;
      display: block;
      font-weight: $fwMediumBold;
      margin: 20px 0 5px 0;
      line-height: 1.3;
      font-size: 20px;
      text-transform: capitalize;
      background-color: $lightIconBgBlue;
      color: $mainBlue;
      border-radius: 5px;
      padding: 12px 0;
      justify-content: center;
      text-align: center;
    }
    
    #document-image {
      height: auto;
      width: 80px;
      background-size: cover;
      border-radius: $borderRadius;
      margin-bottom: 15px;
    }
  }
  
  #bottom-actions {
    padding-top: 10px;
    position: fixed;
    bottom: 80px;
    z-index: 1000;
    @include centerHoriz;
    #toc-button,
    #search-button {
      position: fixed;
      bottom: 20px;
      text-align: center;
      background-color: white;
      font-weight: bold;
      padding: 5px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $borderRadius;
      z-index: 10000;

      &#toc-button {
        width: 50vw;
        @include centerHoriz;
        background-color: $green;
        color: white;
        @include shadow;
      }
      &#search-button {
        right: 10px;
        background-color: transparent;
        font-size: 30px;
        bottom: 12px;
      }
    }

    #search-wrapper {
      #search-input {
        justify-self: flex-end;
        width: 70%;
        margin-left: auto;
        margin-right: 50px;
      }
    }

    &.dark {
      background-color: $darkBg;
      width: 100vw;

      #search-button {
        color: $darkBlueMedium;
      }
    }
  }

  #documents-container,
  #doc-selection-container {
    &#documents-container {
      #bottom-card {
        bottom: -75vh;

        &.active {
          bottom: 0;
        }
      }
      #text-container {
        max-height: 90vh;
        overflow-x: hidden;

        p {
          &.low-opacity {
            opacity: 0.5;
          }
        }

        .search-highlight {
          border: 2px solid $mainBlue;
          @include glow;
          border-radius: $borderRadius;
          padding: 12px;
          font-weight: bold;
          opacity: 1;
        }
      }
    }

    .add-document-text {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .form {
      margin: 0;
    }

    #upload-inputs {
      #upload-input {
        margin: 0 auto 10px auto;
        width: 220px;
      }
    }

    .sections {
      margin-top: 15px;
      p {
        font-size: 20px;
      }

      .row {
        @include row;

        .checkbox {
          @include extraClickableSpace;
          position: relative;
          &:after {
            top: -10px;
            left: auto;
            right: -10px;
            transform: none;
          }
        }

        .doc-type {
          width: 100%;
          padding-top: 5px;
          p {
            font-size: 15px;
            opacity: 0.7;
          }
          svg {
            font-size: 18px;
            margin-right: 8px;
          }
        }

        .section {
          justify-content: flex-start;
          height: auto;
          width: 100%;
          align-items: center;

          &.flex {
            justify-content: space-between;
          }
          &.notifications {
            flex-wrap: nowrap;
            justify-content: space-between;

            span {
              line-height: 1.2;
              justify-self: flex-start;
              margin-right: auto;
              margin-left: 0;

              &.accent {
                margin-right: 20px;
              }
            }

            #checkbox-group {
              display: flex;
              flex-wrap: nowrap;
              margin: 0 0 0 10px;

              .flex {
                width: auto;

                &:last-child {
                  margin: 0;
                }
              }
            }
          }
          
          p {
            line-height: 1;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
          }
          
          svg {
            font-size: 22px;
            margin-right: 10px;
            color: $mainBlue;
          }

          span {
            font-size: 18px;
            opacity: 0.8;
            color: white;

            &:nth-child(2) {
              font-size: 16px;
              margin-right: 20px;
              opacity: 0.5;
            }
          }
        }
      }
    }

    .current-value {
      opacity: 0.6;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .instructions {
      &.gallery {
        margin-bottom: 10px;

        margin-top: 0;
      }
    }

    .gallery {
      grid-template-columns: auto auto auto;
      grid-gap: 8px;
      display: grid;

      #img-container {
        img {
          height: auto;
          width: 100%;
          border-radius: $borderRadius;
          display: none;
        }

        p {
          color: $red;
          text-align: center;
          width: 70px;
          margin: 5px auto 0 auto;
          font-weight: 500;
          border-bottom: 1px solid $red;
          padding-bottom: 1px;
          display: none;

          &.image-name {
            font-size: 14px;
            width: 100%;
            border-bottom: 0;
            padding-bottom: 5px;
          }
        }
      }

      &.active {
        #img-container {
          img {
            display: inline;
          }

          p {
            display: block;
          }
        }
      }

      img {
        height: auto;
        display: none;
        width: 100%;
        border-radius: $borderRadius;
      }
    }
  }

  #legal-docs-container,
  #upload-legal-doc-container,
  #upload-documents-container,
  #documents-container {
    .page-overlay {
      height: 100vh;
      width: 100vw;
      position: fixed;
      left: 0;
      right: 0;
      z-index: -1;
      bottom: 0;
      top: 0;
      // transition: all .3s ease-in-out;
      opacity: 0;

      &.active {
        opacity: 1;
        @include blurredBg;
        z-index: 100;
      }
    }
    
    .highlight {
      font-weight: 500;
      padding: 10px;
      border-radius: 5px;
      width: calc(100vw - 35px);
      overflow: hidden;
      display: block;
      margin-bottom: 10px;
      text-align: center;
      &:not(.header) {
        background-color: $lightIconBgBlue;
        color: $mainBlue;
        
        * {
          color: $mainBlue;
        }
        
        .highlight {
          border: 0;
        }
      }
      
      .highlight {
        width: calc(100vw - 20px);
      }
      
      &.header {
      }
    }

    p {
      line-height: 1.3;
      font-weight: 400;
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 15px;

      strong {
        font-weight: bold;
      }
    }

    img {
      margin-bottom: 10px;
    }

    a {
      font-size: 16px;
      color: $linkColor;
      font-weight: bold;
      text-decoration: underline;
      display: block;
      font-style: italic;

      span {
        position: relative;
        top: 5px;
        font-size: 18px;
      }
    }

    #text-container {
      position: relative;
      overflow: auto;
      overflow-x: hidden;
      padding-bottom: 200px;

      &.active {
        display: block;
      }

      .document-text-container {
        max-height: 0;
        opacity: 0;
        transition: all 0.4s ease-in-out;

        &.active {
          opacity: 1;
          display: block;
          max-height: 10000px;
        }
      }

      .header,
      .document-text-header {
        font-weight: bold;
        width: 100%;
        margin: 20px 0 5px 0;
        line-height: 1.3;
        font-size: 20px;
        text-transform: capitalize;
        background-color: $mainBlue;
        color: white;
        border-radius: 5px;
        display: flex;
        padding: 12px 0;
        justify-content: center;
        text-align: center;

        strong {
          font-weight: bold;
          background-color: transparent;
        }
      }

      p,
      li {
        letter-spacing: 1px;
        font-size: 18px;
        font-weight: 400;
        margin: 10px 0 20px 0;
        line-height: 1.3;

        &:has(> span) {
          margin-bottom: 0;
        }
      }

      ol {
        padding-left: 0;
      }

      ul {
        padding: 0;
        ul {
          * {
            -ms-word-break: break-word;
            word-break: break-word;
            max-width: 95%;
          }
        }
        ol {
          padding: 0 !important;
        }
        li {
          padding: 0;
          width: calc(100vw - 20px);
          &.highlight {
            //            max-width: 95%;
            padding: 12px 12px 0 12px;

            * {
              background-color: transparent !important;
              padding: 0 !important;
            }
          }
        }
      }


      .sub-header {
        font-weight: bold;
        margin-top: 20px;
        display: block;
        font-style: italic;
        margin-bottom: 0;
        position: relative;
        top: 15px;
      }
    }

    #scroll-icon {
      position: fixed;
      background-color: $darkBlue;
      border-radius: 100%;
      bottom: 120px;
      right: 20px;

      z-index: 1;
      font-size: 45px;
    }

    #toc-icon {
      font-size: 40px;
      position: fixed;
      right: 0;
      z-index: 1000000;
      bottom: 100px;
      padding: 0 5px;
    }

    #table-of-contents {
      align-items: center;
      padding: 0;
      width: 100%;
      margin: 0 auto;
      background-color: transparent;
      z-index: 1000;
      transition: all 0.3s ease-in-out;

      span {
        position: relative;
        top: 8px;
        font-size: 20px;
      }

      #toc-contents {
        transition: all 0.3s ease-in-out;
        display: block;
        margin: 0 auto;

        span {
          &:last-child {
            p {
              border-bottom: 0;
            }
          }
        }
      }

      h4 {
        width: 100%;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
      }

      .toc-header {
        font-weight: 400;
        font-size: 15px;

        background-color: transparent;
        border-radius: 0;
        width: 100%;
        padding: 12px 10px;
        margin: 0 5px 0 0;
        border-bottom: 1px solid $translucent;
        opacity: 0.8;

        &p {
          &:not(#title) {
            background-color: transparent;
          }
        }
      }
    }

    .flex {
      margin-top: 15px;

      input,
      label,
      button {
        font-weight: 500;
        display: flex;
        align-items: center;
        text-align: center;
        line-height: 1;

        &:first-child {
          margin-right: 10px;
        }

        span {
          top: 0;
        }
      }
    }

    &#upload-documents-container {
      .flex {
        margin-top: 0;
      }
    }
  }
}