/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes sparkles1 {
  0% {
    top: 0;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: -200%;
    left: -50%;
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes sparkles2 {
  0% {
    top: 0;
    left: 25%;
    transform: scale(1);
  }
  100% {
    top: -250%;
    left: 10%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles3 {
  0% {
    top: 0;
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: -275%;
    left: 70%;
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes sparkles4 {
  0% {
    top: 0;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: -120%;
    left: 120%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles5 {
  0% {
    top: 100%;
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: 275%;
    left: 70%;
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes sparkles6 {
  0% {
    top: 100%;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: 220%;
    left: 120%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles7 {
  0% {
    top: 100%;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 200%;
    left: -50%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles8 {
  0% {
    top: 100%;
    left: 25%;
    transform: scale(1);
  }
  100% {
    top: 250%;
    left: 10%;
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes sparkles9 {
  0% {
    top: 50%;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 60%;
    left: -100%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles10 {
  0% {
    top: 50%;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: 75%;
    left: 170%;
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0%, 100% {
    color: "#9d98fc";
  }
  50% {
    color: #5c8df7;
  }
}
@keyframes pulseWhite {
  0%, 100% {
    box-shadow: 0px 0px 20px 0px white;
  }
  50% {
    box-shadow: 0px 0px 10px 0px white;
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(123, 117, 255, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes beatRed {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #d57179;
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animStar {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes shootingStar {
  0% {
    transform: rotate(315deg) translateX(250px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
@keyframes starTwinkle {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateMoon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}
/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
/*#region  FORM*/
/*#endregion  FORM*/
/*#region  BUTTONS*/
/*#endregion  BUTTONS*/
/*#region  EFFECTS*/
/*#endregion  EFFECTS*/
/*#region  POSITIONING*/
/*#endregion  POSITIONING*/
/*#region  COMPONENTS*/
/*#endregion  COMPONENTS*/
/*#region  MENU*/
/*#endregion  MENU*/
#external-overrides #floating-buttons {
  box-shadow: unset;
  position: fixed;
  bottom: 120px;
  right: 10px;
  padding: 15px 10px 20px 10px;
  z-index: 999999;
  border-radius: 50px;
  background: #547eff;
  transition: all 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#external-overrides #floating-buttons.hide {
  opacity: 0;
  transition: all 0.6s ease-in-out;
  bottom: -200px;
}
#external-overrides #floating-buttons svg {
  color: white;
  font-size: 34px;
  line-height: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#external-overrides #floating-buttons #tips-icon-wrapper svg {
  font-size: 28px;
}
#external-overrides #floating-buttons #toc-button-wrapper,
#external-overrides #floating-buttons #scroll-to-top-icon-wrapper,
#external-overrides #floating-buttons #tips-icon-wrapper,
#external-overrides #floating-buttons #desktop-search-button-wrapper {
  max-height: 25px;
  margin: 0;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#external-overrides #floating-buttons #toc-button-wrapper#desktop-search-button-wrapper svg,
#external-overrides #floating-buttons #scroll-to-top-icon-wrapper#desktop-search-button-wrapper svg,
#external-overrides #floating-buttons #tips-icon-wrapper#desktop-search-button-wrapper svg,
#external-overrides #floating-buttons #desktop-search-button-wrapper#desktop-search-button-wrapper svg {
  font-size: 30px;
}
#external-overrides #documents-container * {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.5px;
}
#external-overrides #documents-container #doc-text * {
  text-decoration: unset !important;
}
#external-overrides #documents-container #doc-text .text-highlight {
  color: white;
  background: #547eff;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 5px;
  font-weight: 700;
}
#external-overrides #documents-container #doc-text .Text_Body {
  font-size: 16px !important;
}
#external-overrides #documents-container #doc-text .Text_Body span {
  font-size: 16px !important;
}
#external-overrides #documents-container #doc-text .Heading_1,
#external-overrides #documents-container #doc-text .Heading_2 {
  width: 100%;
  margin: 20px 0 5px 0 !important;
  background-color: #dde5ff;
  border-radius: 5px;
  padding: 8px 0;
  display: block;
  opacity: 1;
  position: relative;
  text-align: center;
}
#external-overrides #documents-container #doc-text .Heading_1 span,
#external-overrides #documents-container #doc-text .Heading_2 span {
  line-height: 1.3;
  text-transform: capitalize;
  font-weight: 600;
  color: #547eff;
  font-family: "Inter", serif !important;
  text-indent: unset !important;
}
#external-overrides #documents-container #doc-text input {
  display: none;
}
#external-overrides #documents-container #doc-text a {
  text-decoration: none;
  line-height: 1;
}
#external-overrides #documents-container #doc-text a[name=Check2] {
  color: inherit;
}
#external-overrides #documents-container #doc-text a[name=""]:empty {
  display: none;
}
#external-overrides #documents-container #doc-text a:empty {
  display: none;
}
#external-overrides #documents-container #doc-text a p {
  padding: 8px 0;
}
#external-overrides #documents-container #doc-text h3 {
  width: 100%;
  margin: 15px 0;
}
#external-overrides #documents-container #doc-text ol li {
  padding: 8px 0;
}
#external-overrides #documents-container #doc-text p {
  font-size: 16px;
  opacity: 1;
  max-width: 95%;
  word-break: break-word;
}
#external-overrides #documents-container #doc-text p.delete-header-button {
  font-size: 12px;
}
#external-overrides #documents-container #doc-text p.header {
  width: 100%;
  display: flex !important;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  font-weight: 500;
  justify-content: center;
  font-size: 16px;
}
#external-overrides #documents-container #doc-text p.header span {
  font-size: 16px;
  font-weight: 500;
  width: auto;
}
#external-overrides #documents-container #doc-text p,
#external-overrides #documents-container #doc-text li {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  font-family: "Inter", serif !important;
}
#external-overrides #documents-container #doc-text p span,
#external-overrides #documents-container #doc-text li span {
  line-height: 1.4 !important;
  font-family: "Inter", serif !important;
}
#external-overrides #documents-container #doc-text p.delete-header-button,
#external-overrides #documents-container #doc-text li.delete-header-button {
  margin: 5px auto 0 auto;
}
#external-overrides #documents-container #doc-text p:has(> span),
#external-overrides #documents-container #doc-text li:has(> span) {
  margin-bottom: 0;
}
#external-overrides #documents-container #image-name {
  text-align: right;
  font-size: 14px;
  opacity: 0.75;
  font-style: italic;
}
#external-overrides #documents-container .header {
  width: 100%;
  font-weight: 600;
  margin: 20px 0 5px 0;
  line-height: 1.3;
  text-transform: capitalize;
  background-color: #dde5ff;
  color: #547eff;
  border-radius: 5px;
  padding: 8px 0;
  opacity: 1;
  position: relative;
  text-align: center;
  display: block;
}
#external-overrides #documents-container .header .header {
  padding: 0;
  margin: 0;
}
#external-overrides #documents-container .header .header .delete-header-button {
  display: none;
}
#external-overrides #documents-container .header .delete-header-button {
  font-size: 12px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #ff7680;
  margin: 0 auto;
  display: block;
  width: 80px;
}
@media screen and (min-width: 650px) {
  #external-overrides #documents-container .header .delete-header-button:hover {
    cursor: pointer;
  }
}
#external-overrides #documents-container .header .delete-header-button:after {
  padding: 0;
  border-bottom: 1px solid #ff7680;
  position: relative;
  content: "DELETE";
  font-weight: 500;
  font-size: 12px;
}
#external-overrides #documents-container .header svg {
  position: absolute;
  right: 10px;
  font-size: 22px;
  color: #d57179;
}
#external-overrides #documents-container #document-image {
  height: auto;
  width: 80px;
  background-size: cover;
  border-radius: 8px;
  border: 1px solid #939393;
  filter: grayscale(100%);
}
#external-overrides #documents-container#documents-container #bottom-card,
#external-overrides #doc-selection-container#documents-container #bottom-card {
  bottom: -75vh;
}
#external-overrides #documents-container#documents-container #bottom-card.active,
#external-overrides #doc-selection-container#documents-container #bottom-card.active {
  bottom: 0;
}
#external-overrides #documents-container#documents-container #text-container,
#external-overrides #doc-selection-container#documents-container #text-container {
  max-height: 90vh;
  overflow-x: hidden;
}
#external-overrides #documents-container#documents-container #text-container p.low-opacity,
#external-overrides #doc-selection-container#documents-container #text-container p.low-opacity {
  opacity: 0.5;
}
#external-overrides #documents-container .add-document-text,
#external-overrides #doc-selection-container .add-document-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#external-overrides #documents-container .form,
#external-overrides #doc-selection-container .form {
  margin: 0;
}
#external-overrides #documents-container #upload-inputs #upload-input,
#external-overrides #doc-selection-container #upload-inputs #upload-input {
  margin: 0 auto 10px auto;
  width: 220px;
}
#external-overrides #documents-container .sections,
#external-overrides #doc-selection-container .sections {
  margin-top: 15px;
}
#external-overrides #documents-container .sections .row,
#external-overrides #doc-selection-container .sections .row {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(214, 219, 222, 0.45);
  padding-bottom: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
#external-overrides #documents-container .sections .row.active,
#external-overrides #doc-selection-container .sections .row.active {
  max-height: 10000px;
  transition: all 0.3s ease-in-out;
}
#external-overrides #documents-container .sections .row.chats,
#external-overrides #doc-selection-container .sections .row.chats {
  padding-bottom: 8px;
}
@media screen and (min-width: 650px) {
  #external-overrides #documents-container .sections .row:hover,
  #external-overrides #doc-selection-container .sections .row:hover {
    cursor: pointer;
  }
}
#external-overrides #documents-container .sections .row *,
#external-overrides #doc-selection-container .sections .row * {
  line-height: 1;
}
#external-overrides #documents-container .sections .row .at-symbol,
#external-overrides #doc-selection-container .sections .row .at-symbol {
  font-size: 12px;
  position: relative;
  bottom: 2px;
}
#external-overrides #documents-container .sections .row .divider,
#external-overrides #doc-selection-container .sections .row .divider {
  padding: 0 5px;
  opacity: 0.7;
  color: black;
}
#external-overrides #documents-container .sections .row a,
#external-overrides #documents-container .sections .row .notes,
#external-overrides #doc-selection-container .sections .row a,
#external-overrides #doc-selection-container .sections .row .notes {
  width: 100%;
}
#external-overrides #documents-container .sections .row a.notes,
#external-overrides #documents-container .sections .row .notes.notes,
#external-overrides #doc-selection-container .sections .row a.notes,
#external-overrides #doc-selection-container .sections .row .notes.notes {
  opacity: 0.85;
}
#external-overrides #documents-container .sections .row .two-column,
#external-overrides #doc-selection-container .sections .row .two-column {
  width: calc(100% - 45px);
  flex-wrap: wrap;
}
#external-overrides #documents-container .sections .row .two-column p,
#external-overrides #documents-container .sections .row .two-column a,
#external-overrides #doc-selection-container .sections .row .two-column p,
#external-overrides #doc-selection-container .sections .row .two-column a {
  margin-top: 0;
  line-height: 1.3;
}
#external-overrides #documents-container .sections .row .status,
#external-overrides #doc-selection-container .sections .row .status {
  margin-left: auto;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  align-items: center;
  line-height: 1;
}
#external-overrides #documents-container .sections .row .status.paid, #external-overrides #documents-container .sections .row .status.approved,
#external-overrides #doc-selection-container .sections .row .status.paid,
#external-overrides #doc-selection-container .sections .row .status.approved {
  background-color: rgba(173, 245, 203, 0.65);
  color: #2ecc71;
  border: 1px solid #2ecc71;
}
#external-overrides #documents-container .sections .row .status.pending,
#external-overrides #doc-selection-container .sections .row .status.pending {
  background-color: #fbf5bf;
  color: #e8964a;
  border: 1px solid #e8964a;
}
#external-overrides #documents-container .sections .row .status.unpaid, #external-overrides #documents-container .sections .row .status.rejected,
#external-overrides #doc-selection-container .sections .row .status.unpaid,
#external-overrides #doc-selection-container .sections .row .status.rejected {
  background-color: #f5e0e1;
  color: #d57179;
  border: 1px solid #d57179;
}
#external-overrides #documents-container .sections .row #subtitle,
#external-overrides #doc-selection-container .sections .row #subtitle {
  padding-top: 5px;
  margin-top: 0;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  color: black;
  opacity: 0.9;
}
#external-overrides #documents-container .sections .row #subtitle.calendar,
#external-overrides #doc-selection-container .sections .row #subtitle.calendar {
  margin-left: 20px;
}
#external-overrides #documents-container .sections .row #content,
#external-overrides #doc-selection-container .sections .row #content {
  width: calc(100% - 60px);
  margin: 0;
}
#external-overrides #documents-container .sections .row #primary-icon-wrapper,
#external-overrides #doc-selection-container .sections .row #primary-icon-wrapper {
  background-color: #edf2fd;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#external-overrides #documents-container .sections .row #primary-icon-wrapper #primary-row-icon,
#external-overrides #doc-selection-container .sections .row #primary-icon-wrapper #primary-row-icon {
  font-size: 27px;
  color: #547eff;
}
#external-overrides #documents-container .sections .row #primary-icon-wrapper span,
#external-overrides #documents-container .sections .row #primary-icon-wrapper p,
#external-overrides #doc-selection-container .sections .row #primary-icon-wrapper span,
#external-overrides #doc-selection-container .sections .row #primary-icon-wrapper p {
  color: #547eff;
  font-size: 13px;
  font-weight: 500;
}
#external-overrides #documents-container .sections .row .info-row,
#external-overrides #doc-selection-container .sections .row .info-row {
  padding-bottom: 5px;
  width: 100%;
}
#external-overrides #documents-container .sections .row .row-title,
#external-overrides #doc-selection-container .sections .row .row-title {
  color: #1c1c1c;
  font-weight: 400;
}
#external-overrides #documents-container .sections .row #details,
#external-overrides #doc-selection-container .sections .row #details {
  max-height: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  opacity: 0;
  display: flex;
  padding: 0 0 5px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
#external-overrides #documents-container .sections .row #details.open,
#external-overrides #doc-selection-container .sections .row #details.open {
  opacity: 1;
  overflow: auto;
  width: 100%;
  max-height: 1000px;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
#external-overrides #documents-container .sections .row .details-toggle-arrow,
#external-overrides #doc-selection-container .sections .row .details-toggle-arrow {
  display: none;
  opacity: 0.4;
  position: absolute;
  right: 10px;
  font-size: 24px;
}
#external-overrides #documents-container .sections .row .details-toggle-arrow.active,
#external-overrides #doc-selection-container .sections .row .details-toggle-arrow.active {
  display: inherit;
}
#external-overrides #documents-container .sections .row .checkbox,
#external-overrides #doc-selection-container .sections .row .checkbox {
  position: relative;
}
#external-overrides #documents-container .sections .row .checkbox::after,
#external-overrides #doc-selection-container .sections .row .checkbox::after {
  padding: 30px;
  content: "";
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#external-overrides #documents-container .sections .row .checkbox:after,
#external-overrides #doc-selection-container .sections .row .checkbox:after {
  top: -10px;
  left: auto;
  right: -10px;
  transform: none;
}
#external-overrides #documents-container .sections .row .doc-type,
#external-overrides #doc-selection-container .sections .row .doc-type {
  width: 100%;
  padding-top: 5px;
}
#external-overrides #documents-container .sections .row .doc-type p,
#external-overrides #doc-selection-container .sections .row .doc-type p {
  font-size: 15px;
  opacity: 0.7;
}
#external-overrides #documents-container .sections .row .doc-type svg,
#external-overrides #doc-selection-container .sections .row .doc-type svg {
  font-size: 18px;
  margin-right: 8px;
}
#external-overrides #documents-container .sections .row .section,
#external-overrides #doc-selection-container .sections .row .section {
  justify-content: flex-start;
  height: auto;
  width: 100%;
  align-items: center;
}
#external-overrides #documents-container .sections .row .section.flex,
#external-overrides #doc-selection-container .sections .row .section.flex {
  justify-content: space-between;
}
#external-overrides #documents-container .sections .row .section.notifications,
#external-overrides #doc-selection-container .sections .row .section.notifications {
  flex-wrap: nowrap;
  justify-content: space-between;
}
#external-overrides #documents-container .sections .row .section.notifications span,
#external-overrides #doc-selection-container .sections .row .section.notifications span {
  line-height: 1.2;
  justify-self: flex-start;
  margin-right: auto;
  margin-left: 0;
}
#external-overrides #documents-container .sections .row .section.notifications span.accent,
#external-overrides #doc-selection-container .sections .row .section.notifications span.accent {
  margin-right: 20px;
}
#external-overrides #documents-container .sections .row .section.notifications #checkbox-group,
#external-overrides #doc-selection-container .sections .row .section.notifications #checkbox-group {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0 0 10px;
}
#external-overrides #documents-container .sections .row .section.notifications #checkbox-group .flex,
#external-overrides #doc-selection-container .sections .row .section.notifications #checkbox-group .flex {
  width: auto;
}
#external-overrides #documents-container .sections .row .section.notifications #checkbox-group .flex:last-child,
#external-overrides #doc-selection-container .sections .row .section.notifications #checkbox-group .flex:last-child {
  margin: 0;
}
#external-overrides #documents-container .sections .row .section p,
#external-overrides #doc-selection-container .sections .row .section p {
  line-height: 1;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 650px) {
  #external-overrides #documents-container .sections .row .section p:hover,
  #external-overrides #doc-selection-container .sections .row .section p:hover {
    cursor: pointer;
    color: #547eff;
    transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    padding-left: 10px;
  }
  #external-overrides #documents-container .sections .row .section p:hover *,
  #external-overrides #doc-selection-container .sections .row .section p:hover * {
    color: #547eff;
  }
}
#external-overrides #documents-container .sections .row .section svg,
#external-overrides #doc-selection-container .sections .row .section svg {
  font-size: 22px;
  margin-right: 10px;
  color: #547eff;
}
#external-overrides #documents-container .sections .row .section svg.checkmark-icon,
#external-overrides #doc-selection-container .sections .row .section svg.checkmark-icon {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 0;
}
#external-overrides #documents-container .sections .row .section span,
#external-overrides #doc-selection-container .sections .row .section span {
  font-size: 18px;
  opacity: 0.8;
  color: white;
}
#external-overrides #documents-container .sections .row .section span:nth-child(2),
#external-overrides #doc-selection-container .sections .row .section span:nth-child(2) {
  font-size: 16px;
  margin-right: 20px;
  opacity: 0.5;
}
#external-overrides #documents-container .current-value,
#external-overrides #doc-selection-container .current-value {
  opacity: 0.6;
  font-size: 14px;
  margin-bottom: 5px;
}
#external-overrides #documents-container .instructions.gallery,
#external-overrides #doc-selection-container .instructions.gallery {
  margin-bottom: 10px;
  margin-top: 0;
}
#external-overrides #documents-container .gallery,
#external-overrides #doc-selection-container .gallery {
  grid-template-columns: auto auto auto;
  grid-gap: 8px;
  display: grid;
}
#external-overrides #documents-container .gallery #img-container img,
#external-overrides #doc-selection-container .gallery #img-container img {
  height: auto;
  width: 100%;
  border-radius: 8px;
  display: none;
}
#external-overrides #documents-container .gallery #img-container p,
#external-overrides #doc-selection-container .gallery #img-container p {
  color: #d57179;
  text-align: center;
  width: 70px;
  margin: 5px auto 0 auto;
  font-weight: 500;
  border-bottom: 1px solid #d57179;
  padding-bottom: 1px;
  display: none;
}
#external-overrides #documents-container .gallery #img-container p.image-name,
#external-overrides #doc-selection-container .gallery #img-container p.image-name {
  font-size: 14px;
  width: 100%;
  border-bottom: 0;
  padding-bottom: 5px;
}
#external-overrides #documents-container .gallery.active #img-container img,
#external-overrides #doc-selection-container .gallery.active #img-container img {
  display: inline;
}
#external-overrides #documents-container .gallery.active #img-container p,
#external-overrides #doc-selection-container .gallery.active #img-container p {
  display: block;
}
#external-overrides #documents-container .gallery img,
#external-overrides #doc-selection-container .gallery img {
  height: auto;
  display: none;
  width: 100%;
  border-radius: 8px;
}
#external-overrides #legal-docs-container .page-overlay,
#external-overrides #upload-legal-doc-container .page-overlay,
#external-overrides #upload-documents-container .page-overlay,
#external-overrides #documents-container .page-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: 0;
  top: 0;
  opacity: 0;
}
#external-overrides #legal-docs-container .page-overlay.active,
#external-overrides #upload-legal-doc-container .page-overlay.active,
#external-overrides #upload-documents-container .page-overlay.active,
#external-overrides #documents-container .page-overlay.active {
  opacity: 1;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: none;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}
#external-overrides #legal-docs-container .highlight,
#external-overrides #upload-legal-doc-container .highlight,
#external-overrides #upload-documents-container .highlight,
#external-overrides #documents-container .highlight {
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
  text-align: center;
}
#external-overrides #legal-docs-container .highlight:not(.header),
#external-overrides #upload-legal-doc-container .highlight:not(.header),
#external-overrides #upload-documents-container .highlight:not(.header),
#external-overrides #documents-container .highlight:not(.header) {
  background-color: #dde5ff;
  color: #547eff;
}
#external-overrides #legal-docs-container .highlight:not(.header) *,
#external-overrides #upload-legal-doc-container .highlight:not(.header) *,
#external-overrides #upload-documents-container .highlight:not(.header) *,
#external-overrides #documents-container .highlight:not(.header) * {
  color: #547eff;
}
#external-overrides #legal-docs-container .highlight:not(.header) .highlight,
#external-overrides #upload-legal-doc-container .highlight:not(.header) .highlight,
#external-overrides #upload-documents-container .highlight:not(.header) .highlight,
#external-overrides #documents-container .highlight:not(.header) .highlight {
  border: 0;
}
#external-overrides #legal-docs-container p.bold,
#external-overrides #legal-docs-container span:not(.pill).bold,
#external-overrides #legal-docs-container li.bold,
#external-overrides #legal-docs-container a:not(.pill).bold,
#external-overrides #upload-legal-doc-container p.bold,
#external-overrides #upload-legal-doc-container span:not(.pill).bold,
#external-overrides #upload-legal-doc-container li.bold,
#external-overrides #upload-legal-doc-container a:not(.pill).bold,
#external-overrides #upload-documents-container p.bold,
#external-overrides #upload-documents-container span:not(.pill).bold,
#external-overrides #upload-documents-container li.bold,
#external-overrides #upload-documents-container a:not(.pill).bold,
#external-overrides #documents-container p.bold,
#external-overrides #documents-container span:not(.pill).bold,
#external-overrides #documents-container li.bold,
#external-overrides #documents-container a:not(.pill).bold {
  padding-right: 8px;
}
#external-overrides #legal-docs-container p,
#external-overrides #upload-legal-doc-container p,
#external-overrides #upload-documents-container p,
#external-overrides #documents-container p {
  line-height: 1.3;
  font-weight: 400;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 15px;
}
#external-overrides #legal-docs-container p strong,
#external-overrides #upload-legal-doc-container p strong,
#external-overrides #upload-documents-container p strong,
#external-overrides #documents-container p strong {
  font-weight: bold;
}
#external-overrides #legal-docs-container img,
#external-overrides #upload-legal-doc-container img,
#external-overrides #upload-documents-container img,
#external-overrides #documents-container img {
  margin-bottom: 10px;
}
#external-overrides #legal-docs-container ol,
#external-overrides #legal-docs-container ul,
#external-overrides #upload-legal-doc-container ol,
#external-overrides #upload-legal-doc-container ul,
#external-overrides #upload-documents-container ol,
#external-overrides #upload-documents-container ul,
#external-overrides #documents-container ol,
#external-overrides #documents-container ul {
  max-width: 92%;
  position: relative;
  left: 8%;
}
#external-overrides #legal-docs-container ol li,
#external-overrides #legal-docs-container ul li,
#external-overrides #upload-legal-doc-container ol li,
#external-overrides #upload-legal-doc-container ul li,
#external-overrides #upload-documents-container ol li,
#external-overrides #upload-documents-container ul li,
#external-overrides #documents-container ol li,
#external-overrides #documents-container ul li {
  opacity: 1 !important;
  color: black !important;
}
#external-overrides #legal-docs-container ol li::marker,
#external-overrides #legal-docs-container ul li::marker,
#external-overrides #upload-legal-doc-container ol li::marker,
#external-overrides #upload-legal-doc-container ul li::marker,
#external-overrides #upload-documents-container ol li::marker,
#external-overrides #upload-documents-container ul li::marker,
#external-overrides #documents-container ol li::marker,
#external-overrides #documents-container ul li::marker {
  font-size: 16px;
  font-weight: 700;
}
#external-overrides #legal-docs-container a,
#external-overrides #upload-legal-doc-container a,
#external-overrides #upload-documents-container a,
#external-overrides #documents-container a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  padding: 0 5px;
}
#external-overrides #legal-docs-container #text-container,
#external-overrides #upload-legal-doc-container #text-container,
#external-overrides #upload-documents-container #text-container,
#external-overrides #documents-container #text-container {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 200px;
}
#external-overrides #legal-docs-container #text-container.active,
#external-overrides #upload-legal-doc-container #text-container.active,
#external-overrides #upload-documents-container #text-container.active,
#external-overrides #documents-container #text-container.active {
  display: block;
}
#external-overrides #legal-docs-container #text-container .document-text-container,
#external-overrides #upload-legal-doc-container #text-container .document-text-container,
#external-overrides #upload-documents-container #text-container .document-text-container,
#external-overrides #documents-container #text-container .document-text-container {
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
#external-overrides #legal-docs-container #text-container .document-text-container.active,
#external-overrides #upload-legal-doc-container #text-container .document-text-container.active,
#external-overrides #upload-documents-container #text-container .document-text-container.active,
#external-overrides #documents-container #text-container .document-text-container.active {
  opacity: 1;
  display: block;
  max-height: 10000px;
}
#external-overrides #legal-docs-container #text-container .header,
#external-overrides #legal-docs-container #text-container .document-text-header,
#external-overrides #upload-legal-doc-container #text-container .header,
#external-overrides #upload-legal-doc-container #text-container .document-text-header,
#external-overrides #upload-documents-container #text-container .header,
#external-overrides #upload-documents-container #text-container .document-text-header,
#external-overrides #documents-container #text-container .header,
#external-overrides #documents-container #text-container .document-text-header {
  font-weight: bold;
  width: 100%;
  margin: 20px 0 5px 0;
  line-height: 1.3;
  font-size: 20px;
  text-transform: capitalize;
  background-color: #547eff;
  color: white;
  border-radius: 5px;
  display: flex;
  padding: 12px 0;
  justify-content: center;
  text-align: center;
}
#external-overrides #legal-docs-container #text-container .header strong,
#external-overrides #legal-docs-container #text-container .document-text-header strong,
#external-overrides #upload-legal-doc-container #text-container .header strong,
#external-overrides #upload-legal-doc-container #text-container .document-text-header strong,
#external-overrides #upload-documents-container #text-container .header strong,
#external-overrides #upload-documents-container #text-container .document-text-header strong,
#external-overrides #documents-container #text-container .header strong,
#external-overrides #documents-container #text-container .document-text-header strong {
  font-weight: bold;
  background-color: transparent;
}
#external-overrides #legal-docs-container #text-container .sub-header,
#external-overrides #upload-legal-doc-container #text-container .sub-header,
#external-overrides #upload-documents-container #text-container .sub-header,
#external-overrides #documents-container #text-container .sub-header {
  font-weight: bold;
  margin-top: 20px;
  display: block;
  font-style: italic;
  margin-bottom: 0;
  position: relative;
  top: 15px;
}
#external-overrides #legal-docs-container #scroll-icon,
#external-overrides #upload-legal-doc-container #scroll-icon,
#external-overrides #upload-documents-container #scroll-icon,
#external-overrides #documents-container #scroll-icon {
  position: fixed;
  background-color: #5c8df7;
  border-radius: 100%;
  bottom: 120px;
  right: 20px;
  z-index: 1;
  font-size: 45px;
}
#external-overrides #legal-docs-container #toc-icon,
#external-overrides #upload-legal-doc-container #toc-icon,
#external-overrides #upload-documents-container #toc-icon,
#external-overrides #documents-container #toc-icon {
  font-size: 40px;
  position: fixed;
  right: 0;
  z-index: 1000000;
  bottom: 100px;
  padding: 0 5px;
}
#external-overrides #legal-docs-container #table-of-contents,
#external-overrides #upload-legal-doc-container #table-of-contents,
#external-overrides #upload-documents-container #table-of-contents,
#external-overrides #documents-container #table-of-contents {
  align-items: center;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}
#external-overrides #legal-docs-container #table-of-contents span,
#external-overrides #upload-legal-doc-container #table-of-contents span,
#external-overrides #upload-documents-container #table-of-contents span,
#external-overrides #documents-container #table-of-contents span {
  position: relative;
  top: 8px;
  font-size: 20px;
}
#external-overrides #legal-docs-container #table-of-contents #toc-contents,
#external-overrides #upload-legal-doc-container #table-of-contents #toc-contents,
#external-overrides #upload-documents-container #table-of-contents #toc-contents,
#external-overrides #documents-container #table-of-contents #toc-contents {
  transition: all 0.3s ease-in-out;
  display: block;
  margin: 0 auto;
}
#external-overrides #legal-docs-container #table-of-contents #toc-contents span:last-child p,
#external-overrides #upload-legal-doc-container #table-of-contents #toc-contents span:last-child p,
#external-overrides #upload-documents-container #table-of-contents #toc-contents span:last-child p,
#external-overrides #documents-container #table-of-contents #toc-contents span:last-child p {
  border-bottom: 0;
}
#external-overrides #legal-docs-container #table-of-contents h4,
#external-overrides #upload-legal-doc-container #table-of-contents h4,
#external-overrides #upload-documents-container #table-of-contents h4,
#external-overrides #documents-container #table-of-contents h4 {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
#external-overrides #legal-docs-container .flex,
#external-overrides #upload-legal-doc-container .flex,
#external-overrides #upload-documents-container .flex,
#external-overrides #documents-container .flex {
  margin-top: 15px;
}
#external-overrides #legal-docs-container .flex input,
#external-overrides #legal-docs-container .flex label,
#external-overrides #legal-docs-container .flex button,
#external-overrides #upload-legal-doc-container .flex input,
#external-overrides #upload-legal-doc-container .flex label,
#external-overrides #upload-legal-doc-container .flex button,
#external-overrides #upload-documents-container .flex input,
#external-overrides #upload-documents-container .flex label,
#external-overrides #upload-documents-container .flex button,
#external-overrides #documents-container .flex input,
#external-overrides #documents-container .flex label,
#external-overrides #documents-container .flex button {
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 1;
}
#external-overrides #legal-docs-container .flex input:first-child,
#external-overrides #legal-docs-container .flex label:first-child,
#external-overrides #legal-docs-container .flex button:first-child,
#external-overrides #upload-legal-doc-container .flex input:first-child,
#external-overrides #upload-legal-doc-container .flex label:first-child,
#external-overrides #upload-legal-doc-container .flex button:first-child,
#external-overrides #upload-documents-container .flex input:first-child,
#external-overrides #upload-documents-container .flex label:first-child,
#external-overrides #upload-documents-container .flex button:first-child,
#external-overrides #documents-container .flex input:first-child,
#external-overrides #documents-container .flex label:first-child,
#external-overrides #documents-container .flex button:first-child {
  margin-right: 10px;
}
#external-overrides #legal-docs-container .flex input span,
#external-overrides #legal-docs-container .flex label span,
#external-overrides #legal-docs-container .flex button span,
#external-overrides #upload-legal-doc-container .flex input span,
#external-overrides #upload-legal-doc-container .flex label span,
#external-overrides #upload-legal-doc-container .flex button span,
#external-overrides #upload-documents-container .flex input span,
#external-overrides #upload-documents-container .flex label span,
#external-overrides #upload-documents-container .flex button span,
#external-overrides #documents-container .flex input span,
#external-overrides #documents-container .flex label span,
#external-overrides #documents-container .flex button span {
  top: 0;
}
#external-overrides #legal-docs-container#upload-documents-container .flex,
#external-overrides #upload-legal-doc-container#upload-documents-container .flex,
#external-overrides #upload-documents-container#upload-documents-container .flex,
#external-overrides #documents-container#upload-documents-container .flex {
  margin-top: 0;
}/*# sourceMappingURL=documents.css.map */