// Path: src\styles\screens\expenseTracker.scss
@import '../mixins';

#external-overrides {
  #expenses-container {
    margin-top: 15px;
    #below-title {
      justify-content: space-between;
      align-items: center;

      .due-date {
        font-weight: $fwRegular;
        font-size: 14px;
        color: $subtitleText;
      }
    }
  }
  #add-expense-form {
    margin: 0;
    position: relative;
    .MuiFormControl-root {
      .MuiInputBase-input {
        height: auto !important;

        &[role='combobox'] {
          padding: 10px !important;
        }
      }
    }
    #amount-input-wrapper {
      margin: 0 auto;
      width: 200px;

      #dollar-sign {
        color: $green;
        sup {
          font-size: 20px;
        }
      }

      #zero {
        font-size: 30px;
        margin-right: 15px;
        border-bottom: 1px solid $primaryText;
        opacity: 0.6;

        &.active {
          opacity: 1;
        }
      }

      .defaults {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
          text-align: center;
        }
      }
    }
    &.form {
      label {
        &.caption {
          justify-content: center;
        }
      }
    }
    #default-expense-amounts {
      gap: 8px;
      justify-content: center;
      display: flex;
      grid-template-columns: repeat(4, 1fr);
      margin: 15px auto;
      flex-wrap: wrap;

      .reset {
        font-weight: $fwMedium;
        background: $accentLight;
        color: white;
        width: 100%;
      }

      button {
        border-radius: $borderRadius;
        width: calc(100% / 4);
        border: 0;
        color: black;
        padding: 15px 10px;
        &.pressed {
          border-radius: $borderRadius;
          transform: scale(1.1);
        }
        &.reset {
          opacity: 1;
          margin-top: 10px;
          width: 100%;
        }
      }

      .done {
        span {
          color: $green;
          transform: scale(1.8);
        }
      }
    }

    #or {
      width: 100%;
      text-align: center;
      font-style: italic;
      font-size: 18px;
      opacity: 0.7;
    }

    #upload-inputs {
      margin-bottom: 10px;

      span {
      }

      #upload-button {
        span {
          color: white;
        }
      }
    }
  }

  #expense-tracker {
    // Filters Accordion
    @include accordion;
    #filters-accordion {
    }

    #filters {
      margin-top: 15px;
      border-radius: $borderRadius;
      padding-bottom: 15px;
      .filter-row {
        margin-bottom: 10px;
        #label-wrapper {
          label {
            line-height: 1;

            span {
              padding: 0;
              font-weight: $fwMedium;
            }
          }
        }
      }

      .MuiFormControl-root {
        .MuiOutlinedInput-root {
          [role='combobox'] {
            background: white !important;
            padding: 8px !important;
            margin-top: 5px !important;
            line-height: 1;
            display: flex;
            align-items: center;
          }
        }
      }

      #label-wrapper {
        &.sorting {
          label {
            line-height: 1;

            span {
              padding: 0;
              font-weight: $fwMedium;
              opacity: 0.9;
            }
          }
        }
      }

      .sort-by {
        .list-item {
          margin-left: 10px;
          margin-bottom: 10px;
          font-weight: $fwBold;
        }
      }

      .pills {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        .pill {
          @include pillButton;
          color: $mainBlue;
          border: 1px solid $mainBlue;
          background: $bestGreyForWhite;
          border-radius: 50px;
          text-align: center;
          font-weight: $fwRegular;
          line-height: 1;
          padding: 6.5px 15px;
          font-size: 12px;
          align-items: center;
          justify-content: center;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          transition: all 0.3s ease-in-out;
          letter-spacing: 0.8px;
          display: inline-flex;
          margin-right: 8px;

          &.active {
            background: $lightIconBgBlue;
            color: $mainBlue;
          }

          svg {
            font-size: 12px;
            width: 0;
            transition: all 0.3s linear;
          }
        }
      }
    }

    .action-pills {
      .flex {
        padding: 0;
        background-color: transparent;

        span {
          border-radius: 100%;
          font-size: 45px;
          color: $darkBlue;
          padding: 0;
          margin: 0;
          box-shadow:
            0 7px 8px rgba(0, 0, 0, 0.1),
            0 0px 0px rgba(0, 0, 0, 0);
        }
      }
    }

    .payment-options-link {
      color: $mainBlue;
      font-weight: 500;
      opacity: 1;
      border-bottom: 1px solid $mainBlue;
      display: inline;
      @include hover;

      span {
        font-size: 25px;
        position: relative;
        bottom: -5px;
        margin-left: 8px;
      }
    }

    .image-modal {
      img {
        width: 100%;
        height: auto;
        max-height: 100%;
      }
    }

    /*#region  EXPENSE*/
    .expense {
      &.active {
        overflow: auto;
        max-height: 10000px;
        transition: all 0.3s ease-in-out;
      }

      span {
        font-size: 14px;
      }

      * {
        line-height: 1;
      }

      p:not(.name) {
        opacity: 0.85;
        font-size: 13px;
      }

      #category-and-amount {
        margin-top: 0;
        .amount {
          font-size: 16px;
          //          color: ;$red
          opacity: 0.85;
          font-weight: $fwMedium;
          display: inline;
          margin-left: auto;
          width: auto;
          float: right;
          text-align: right;

          &.paid {
            color: $green;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-weight: $fwMedium;
          }
        }

        #expense-category {
          display: flex;
          align-items: center;
          color: $lightBlack;
          transition: all 0.3s ease-in-out;
          span {
            margin-left: 5px;
            color: $lightAccent;
            line-height: 1;
          }
        }
      }

      #name-wrapper {
        width: 100%;
        margin-top: 0;
        .details-toggle-arrow {
          display: none;
          opacity: 0.4;
          position: relative;
          right: 0;
          justify-self: flex-end;
          font-size: 24px;

          &.active {
            display: inherit;
          }
        }
        .name {
          line-height: 1;
          font-weight: $fwMedium;
          width: 100%;
          display: inline;
        }
      }

      #details {
        padding-left: 10px;
        #due-in {
          color: $red;
          margin-top: 8px;
          font-weight: $fwMedium;
        }

        #button-group {
          width: 100%;
          gap: 15px;
          border-radius: $bigBorderRadius;
          button {
            border-radius: $borderRadius;
            display: flex;
            align-items: center;
            gap: 5px;
            justify-content: center;
            line-height: 1;
            padding: 0;
            font-size: 14px;
            background: transparent;

            &:first-child {
              color: $green;
            }

            &:last-child {
              color: $mainBlue;
            }
          }
        }

        #expense-image {
          position: relative;
          margin: 20px 0;
          img {
            border-radius: $borderRadius $borderRadius 0 0;
            height: 50px;
            width: 50px;
          }
          svg {
            position: absolute;
            bottom: 15px;
            right: 15px;
            font-size: 20px;
            color: white;
            opacity: 0.6;
          }
        }

        #repeating-icon {
          font-size: 22px;
          position: relative;
          top: 5px;
        }
      }

      #img-container {
        width: 50px;
        height: 50px;
        background-size: cover;
        border-radius: $borderRadius;
        background-position: center;
        float: left;
        justify-self: flex-start;
      }

      #img-expand-text {
        margin-top: 10px;
        width: 100%;
        text-align: center;
        font-style: italic;
      }

      #delete-button {
        font-size: 14px;
        margin-left: auto;
        display: block;
        color: $red;
        margin-top: 15px;
        text-align: right;
        font-weight: $fwMedium;
      }

      .flex {
        align-items: center;

        p {
          margin-right: 10px;
          min-width: 120px;
          font-weight: $fwMedium;
        }

        &.editable {
          justify-content: flex-start;
        }
      }
    }
    /*#endregion  EXPENSE*/
  }
}