@import '../variables';
@import '../palette';
@import '../mixins';

#external-overrides {
  #home-wrapper {
    .sections {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      .section {
        border-radius: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        padding: 12px 10px;
        @include hoverShadow;

        /*#region  state-colors */
        &.red {
          background: $bootstrapBgRed;
          border: 1px solid $bootstrapRedBorder;

          p {
            color: $bootstrapRedColor;

            &.number {
              color: $bootstrapRedColor;
            }

            &.status-text {
              color: rgba(199, 20, 54, 0.6);
            }

            &.bottom-text {
              color: white;
              background: $bootstrapRedColor;
            }
          }

          svg {
            color: $bootstrapRedColor;
          }
        }

        &.pending {
          background: $bootstrapYellowBg;
          border: 1px solid $bootstrapYellowBorder;
          p {
            color: $bootstrapYellowColor;

            &.number {
              color: $bootstrapYellowColor;
            }
            &.status-text {
              color: #ae9b73;
            }
            &.bottom-text {
              color: white;
              background: $bootstrapYellowColor;
            }
          }

          svg {
            color: $bootstrapYellowColor;
          }
        }

        &.green {
          background: $bootstrapBgGreen;
          border: 1px solid $bootstrapGreenBorder;
          p {
            color: $bootstrapGreenColor;

            &.number {
              color: $bootstrapGreenColor;
            }
            &.status-text {
              color: rgba(15, 81, 50, 0.72);
            }
            &.bottom-text {
              background: $bootstrapGreenColor;
              color: white;
            }
          }

          svg {
            color: $bootstrapGreenColor;
          }
        }
        /*#endregion  state-colors */

        svg {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          @include deadCenter;
          height: 80%;
          width: 80%;
          color: white;
          opacity: 0.06;
          z-index: 9;
          position: absolute;
        }

        p {
          color: white;
          line-height: 1;

          &.status-text {
            font-size: 12px;
            text-transform: uppercase;
            font-weight: $fwMediumBold;
            letter-spacing: 0.1px;
            font-style: italic;
            padding-top: 4px;
          }

          &.section-title {
            font-weight: $fwMedium;
            text-transform: uppercase;
            font-size: 16px;
            opacity: 1;
            line-height: 1.2;
            text-align: center;
          }

          &.bottom-text {
            font-size: 12px;
            position: relative;
            text-transform: uppercase;
            font-weight: $fwMedium;
            color: $bootstrapGreenColor;
            z-index: 99;
            border: 0;
            padding: 4px 10px;
            text-align: center;
            border-radius: 50px;
          }

          &.number {
            font-weight: $fwBold;
            opacity: 1;
            margin: 5px 0;
            width: 100%;
            text-align: center;
            color: white;
            font-size: 80px;
          }
        }
      }
    }
  }
}