@import '../variables';
@import '../palette';
@import '../mixins';
#external-overrides {
  #home-screen-wrapper {
    &.page-container {
      height: 100vh;

      @media screen and (min-width: 768px), screen and (max-width: 1026px) {
        width: 100vw;
        max-width: 100vw;
      }
    }
    /*#region  DEFAULTS*/
    .title {
      font-size: 28px;
      line-height: 1.2;
      font-weight: $fwBold;

      @media screen and (max-width: 600px) {
        text-align: left;
        font-size: 22px;
      }
    }

    .subtitle {
      opacity: 0.7;
      padding-bottom: 15px;
    }
    
    .text-wrapper {
      .subtitle {
        opacity: 0.7;
        font-style: italic;
      }
    }

    .section {
      opacity: 1;
      margin-top: 0;
      margin-bottom: 30px;

      &.page-title {
        margin-top: 30px;

        @media screen and (max-width: 600px) {
          margin-top: 10px;
        }
      }

      // EXPENSES
      &.expenses {
        justify-content: center;
        width: 100%;
        gap: 20px;
        position: relative;
        z-index: 100;
        display: flex;
        align-items: center;
        .text-wrapper {
          width: 45%;
        }
        .img-wrapper {
          width: 20%;
          img {
            width: 100%;
            height: auto;
          }
        }

        @media screen and (max-width: 600px) {
          .img-wrapper {
            width: 100%;
            img {
              width: 50%;
            }
          }
        }
      }

      // ABOVE FOLD
      &.above-fold {
        @media screen and (max-width: 600px) {
          #images {
            display: flex;
            flex-wrap: wrap;

            #single-image {
              width: 100%;
              position: relative;
              bottom: 50px;
              img {
                width: 80%;
                margin: 0 auto;
              }
            }

            #double-images {
              width: 100%;
              gap: 10px;
              justify-content: center;
              img {
                width: 50%;
              }
            }
          }
          #subtitle,
          #title {
            width: 90%;
          }
          #subtitle {
            line-height: 1.4;
          }
          #title {
            font-size: 35px;
            word-break: break-word;
            margin: 0;
            line-height: 1.3;
          }
        }
      }

      // ALL DEVICES
      &.all-devices {
        padding: 50px 30px;
        width: 100%;
        border-radius: $bigBorderRadius;
        border: 0;
        background: $darkestBg;

        #multiple-device-usage {
          text-align: center;
        }

        .flex {
          &.text {
            justify-content: flex-start;
            align-items: center;
            width: 70%;
            margin: 10px auto 0 auto;
            text-align: left;
            border-bottom: 1px solid $darkBorderColor;
            padding-bottom: 5px;

            .subtitle {
              margin: 0;
              padding: 0;
              min-width: 30%;
              text-align: left;
              justify-self: flex-start;
              color: white;
            }

            span {
              padding: 0;
              margin: 0;
              text-align: left;
              color: white;
              opacity: 0.7;
            }
          }
        }

        .title {
          color: $mainBlue;
          text-align: center;
        }

        svg,
        #multiple-device-usage {
          color: white;
        }

        .images {
          align-items: center;
          justify-content: center;
          gap: 15px;

          img {
            &.phone {
              width: 12%;
            }
            &.laptop {
              width: 55%;
            }
            &.tablet {
              width: 20%;
            }
          }
        }

        @media screen and (max-width: 600px) {
          .flex {
            display: block;

            &.text {
              width: 100%;
            }
          }
          .images {
            display: block;
            .img-wrapper {
              width: 100%;
              margin-bottom: 15px;
              &[data-name='phone'] {
                width: 100%;

                img {
                  width: 70%;
                  margin: 0 auto;
                }
              }
              &[data-name='laptop'] {
                width: 100%;

                img {
                  width: 100%;
                  margin: 0 auto;
                }
              }
              &[data-name='tablet'] {
                width: 100%;

                img {
                  width: 70%;
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }

      // COLLABORATION
      &#collaboration {
        border: 0;
        justify-content: space-between;
        width: 100%;
        
        background-image: linear-gradient(
          45deg,
          hsl(260deg 100% 66%) 3%,
          hsl(234deg 100% 71%) 52%,
          hsl(221deg 93% 69%) 67%,
          hsl(207deg 90% 66%) 77%,
          hsl(194deg 89% 60%) 87%,
          hsl(184deg 74% 64%) 100%
        );
        gap: 20px;
        @include shadow;

        .text-wrapper {
          max-width: 60%;
          p {
            color: white;
          }
          
        }
        .img-wrapper {
          min-width: 25%;
          img {
            width: 100%;
            height: auto;
          }
        }
        svg {
          color: white;
        }

        @media screen and (max-width: 600px) {
          display: block;
          .text-wrapper {
            width: 100%;
            max-width: 100%;
          }

          .img-wrapper {
            width: 60%;
            margin: 20px auto 0 auto;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }

    svg {
      position: absolute;
      bottom: 10px;
      right: 10px;
      opacity: 0.85;
      margin: 0;
      padding: 0;

      &.star {
        color: $gold;
        font-size: 25px;
        margin: 0 0 0 8px;
        bottom: unset;
        right: unset;
        position: unset;
      }
    }

    .flex {
      &#double {
        gap: 20px;

        @media screen and (max-width: 600px) {
          display: block;
        }
      }
    }

    .box,
    .text-box {
      border-radius: $bigBorderRadius;
      padding: 40px 20px 50px 20px;
      width: 50%;
      border: 1px solid #d6d6d7;
      min-height: 320px;
      position: relative;

      &.with-bg {
        background: #f5f7fa;
        border: 0;
      }
      &.text-box {
        .text-box-main-text {
          opacity: 0.75;
        }
      }
    }
    /*#endregion  DEFAULTS*/
    #above-fold-wrapper {
      margin: 0 auto;
      * {
        text-align: center;
        line-height: 1;
      }

      #title {
        font-size: 50px;
        font-weight: $fwBold;

        @media screen and (max-width: 600px) {
          font-size: 40px;
        }
      }
      #subtitle {
        font-size: 22px;
        opacity: 0.7;
        padding-top: 5px;
      }

      #images {
        display: flex;
        gap: 10px;
        justify-content: center;
        img {
          max-width: 330px;
          height: auto;

          &:first-child {
            position: relative;
            top: 50px;
          }
          &:last-child {
            position: relative;
            top: 50px;
          }
        }
      }
    }

    #home-navbar {
      justify-content: space-between;
      transition: all 0.3s ease-in-out;

      #choose-peace-text {
        color: $mainBlue;
        font-style: italic;
        font-weight: $fwMedium;
      }

      svg {
        position: relative;
        font-size: 16px;
        top: unset;
        bottom: unset;
        right: unset;
        left: unset;
        margin-left: 5px;
      }

      #logo {
        height: 100px;
        width: auto;
        @media screen and (max-width: 600px) {
          height: 75px;
        }
      }

      #login-buttons {
        display: flex;
        gap: 15px;

        button {
          &#register-button {
            color: $mainBlue;
            border: 1px solid $mainBlue;
          }
          &#login-button {
          }
        }

        @media screen and (max-width: 600px) {
          gap: 5px;

          button {
            font-size: 14px;
            width: auto;
            min-height: 0;
          }
        }
      }
    }
    #below-fold-intro-text {
      text-align: center;
      width: 40vw;
      margin: 100px auto 30px auto;
      display: block;
      @media screen and (max-width: 600px) {
        width: 100%;
        max-width: 100%;
        margin: 0;
      }
    }
    #below-fold-wrapper {
      background: white;
      position: relative;
      z-index: 100;
      padding-top: 25px;
      width: 60vw;
      margin: 0 auto;

      @media (min-width: 768px), (max-width: 1024px) {
        width: calc(100vw - 30px);
        max-width: calc(100vw - 30px);
      }

      .full-width-box {
        background: rgba(130, 159, 250, 0.3);
        padding: 30px;
        width: 100%;
        border-radius: $bigBorderRadius;

        p {
          text-align: center;
          margin: 0 auto;

          @media screen and (max-width: 600px) {
            max-width: 100%;
          }
        }

        .title {
          font-weight: $fwBold;
          font-size: 28px;
          padding-bottom: 20px;

          span {
            font-size: 28px;
            font-weight: $fwBold;
            color: $mainBlue;
          }

          @media screen and (max-width: 600px) {
            text-align: left;
            font-size: 22px;
            padding-bottom: 10px;

            span {
              text-align: left;
              font-size: 22px;
            }
          }
        }

        .subtitle {
          padding-bottom: 20px;
          font-size: 18px;
          opacity: 0.7;
          font-style: italic;

          b {
            font-size: 18px;
            color: $mainBlue;
          }

          @media screen and (max-width: 600px) {
            text-align: left;
            font-size: 16px;
          }
        }

        // UNIQUE FEATURES
        &.unique-features {
          background: white;
          border: 1px solid #d6d6d7;

          .flex {
            gap: 10px;
          }

          #feature-grid {
            flex-wrap: wrap;
            justify-content: center;
            align-items: stretch;
            .feature {
              padding: 20px;
              border-radius: $bigBorderRadius;
              overflow: hidden;
              border: 1px solid $iconGrey;
              align-self: stretch;
              width: calc((100% / 2) - 5px);
              position: relative;
              background: #f5f7fa;
              .star {
                position: absolute;
                top: 8px;
                right: 8px;
                z-index: 100;
              }

              .content {
                max-height: 0;
                opacity: 0;
                transition: all 0.3s ease-in-out;
              }

              .feature-title {
                font-weight: $fwMediumBold;
                font-size: 18px;
                background: transparent;
                width: 100%;
                opacity: 1;
                margin: 0;
                max-width: 100%;
                z-index: 100;
                color: $mainBlue;
                display: flex;
                align-items: center;
                justify-content: center;

                @media screen and (max-width: 600px) {
                  text-align: left;
                  left: 0;
                  position: unset;
                  margin: 0 auto 0 0;
                  justify-content: flex-start;

                  .star {
                    position: relative;
                    bottom: 2px;
                  }
                }

                b {
                  font-size: 18px;
                  color: $mainBlue;
                }
              }

              .feature-subtitle {
                text-align: left;
                max-width: 100%;
                margin: 0 0 10px 0;
                font-size: 14px;

                b {
                  font-size: 14px;
                  color: $mainBlue;
                }
              }

              ul {
                padding: 0;
                li:not(.list-title) {
                  margin-left: 25px;
                  margin-bottom: 8px;
                  font-size: 14px;

                  ul {
                    li {
                      margin-bottom: 0;
                    }
                  }
                }
                li {
                  b {
                    font-size: 14px;
                    color: $mainBlue;
                  }
                  i {
                    font-size: 14px;
                  }
                  &.list-title {
                    font-size: 14px;
                    font-weight: $fwMediumBold;
                    list-style-type: none;
                    margin-bottom: 10px;
                  }
                }
              }

              &.active {
                width: 100%;
                .content {
                  max-height: 1500px;
                  opacity: 1;
                }
              }
            }
          }

          #see-more-instructions {
            font-weight: $fwMediumBold;
          }

          #unique-features-title {
            margin-bottom: 15px;
            b {
              font-size: 20px;
            }

            span {
              font-size: 14px;
              opacity: 0.7;
            }

            @media screen and (max-width: 600px) {
              text-align: left;
            }
          }
        }
      }
      .boxes {
        justify-content: space-between;
        gap: 15px;

        .text-box {
          border-radius: $bigBorderRadius;
          padding: 40px 20px 50px 20px;
          width: 50%;
          border: 1px solid #d6d6d7;
          min-height: 320px;

          @media screen and (max-width: 600px) {
            margin-bottom: 25px;
          }

          &.with-bg {
            background: #f5f7fa;
            border: 0;
          }

          .text-box-title {
            font-size: 28px;
            line-height: 1.2;
            font-weight: $fwBold;

            @media screen and (max-width: 600px) {
              text-align: left;
              font-size: 24px;
            }
          }

          .text-box-subtitle {
            opacity: 1;
            padding-bottom: 15px;
            font-style: italic;
          }
        }

        @media screen and (max-width: 600px) {
          display: block;
        }
      }

      // FOOTER WRAPPER
      #footer-wrapper {
        justify-content: space-between;
        width: 100%;
        gap: 20px;

        #built-for-families {
          img {
            width: auto;
            height: 550px;
          }
        }

        .section {
          p {
            text-align: center;

            @media screen and (max-width: 600px) {
              text-align: left;
            }

            &:last-child {
              max-width: 60%;
              margin: 0 auto;

              @media screen and (max-width: 600px) {
                width: 100%;
                max-width: 100%;
              }
            }
          }

          &.security-and-privacy {
            .text {
              max-width: 60%;
              margin: 0 auto 15px auto;
              text-align: left;

              @media screen and (max-width: 600px) {
                width: 100%;
                margin: 0;
                max-width: 100%;
              }
            }
          }
        }

        img {
          width: 100%;
          height: auto;
          border-radius: $bigBorderRadius;
          @include shadow;
        }

        .box {
          border-radius: $bigBorderRadius;
          padding: 40px 20px 50px 20px;
          border: 1px solid #d6d6d7;
          margin-top: 30px;
          width: 100%;
        }
      }

      @media screen and (max-width: 600px) {
        width: 100%;
        max-width: 100%;
        margin: 0;
        .boxes {
          .text-box {
            width: 100%;
          }
        }
        #footer-wrapper {
          img {
            width: 100%;
          }
        }
        #expenses-wrapper {
          display: block;
          .text-wrapper {
            width: 100%;
          }
          img {
            width: 100%;
            border-left: 0;

            @media screen and (max-width: 600px) {
              width: 70%;
              margin: 20px auto 0 auto;
            }
          }
        }
        .full-width-box {
          padding: 20px;

          * {
            width: 100%;
            max-width: 100%;
          }
          &.unique-features {
            * {
              width: unset;
              max-width: unset;

              &.feature {
                max-width: calc(100vw - 50px);
              }
            }
          }
          @media screen and (max-width: 600px) {
            svg {
              width: unset;
              max-width: unset;
            }
          }
        }
        #below-fold-intro-text,
        .box,
        .text-box {
          width: 100%;
          max-width: 100%;
          margin: 0;

          @media screen and (max-width: 600px) {
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}