// Path: src\styles\screens\loginRegistration.scss
@import '../mixins';
#external-overrides {
  // REGISTRATION
  #registration-container {
    &.page-container {
      &.active {
        background-color: $lightBg;
      }
    }

    #onboarding {
      height: 100vh;
      .title {
        font-weight: $fwBold;
        font-size: 24px;
        text-align: center;
        color: $accent;
      }

      #label-wrapper {
        label {
          &#screen-2-label {
            font-size: 18px;
            color: $darkestGrey;
          }
        }
      }

      ol {
        margin-top: 15px;
        li {
          color: $darkestGrey;
          padding-bottom: 8px;
        }
      }

      button {
        margin-top: 30px;
        background: $green;
        color: white;
        position: fixed;
        bottom: 0;
        height: 80px;
        border-radius: 0;
        width: 100vw;
        left: 0;
      }

      .screen {
        opacity: 0;
        position: fixed;
        left: -100vw;
        transition: all 0.3s ease-out;
        top: 0;
        visibility: hidden;
        right: 0;
        bottom: 0;
        overflow: auto;
        background: white;

        .text-content {
          position: relative;
          p {
            &.text {
              text-align: center;
            }
          }
        }

        &.active {
          padding: 65px 20px 120px 20px;
          visibility: visible;
          transition: all 0.3s ease-in;
          left: 0;
          opacity: 1;
        }
      }
    }

    #registration-buttons {
      position: fixed;
      width: 100vw;
      bottom: 0;
      display: flex;
      left: 0;
      right: 0;
      justify-content: center;
      align-items: center;

      button {
        line-height: 1;
        white-space: nowrap;
        height: 80px;
        border-radius: 0;
        padding: 0;
        width: 100%;
        &:first-child {
          padding-right: 20px;
        }

        &:last-child {
          padding-left: 20px;
        }
        svg {
          transform: scale(1.2);
          &:first-child {
            margin-right: 15px;
          }

          &:last-child {
            margin-left: 15px;
          }
        }
      }
    }

    #add-coparent-button,
    #add-child-button {
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid $main;
      padding: 3px;
      min-height: 0;
      margin-top: 15px;
      margin-bottom: 30px;
    }

    #install-button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      width: 150px;
      font-size: 12px;
      margin: 0 auto 0 auto;
      min-width: 0;
      padding: 0 10px;
      height: 30px;
      z-index: 10000;
      color: white;
      background-color: $purple;
      @include glow();
      border-radius: $borderRadius;
      animation: beat 2s infinite;
    }

    #password-validation {
      margin: 10px 0 !important;
    }

    label {
      font-weight: bold;
      &.account-type-label {
        display: flex;
        justify-content: center;
      }
    }

    .form {
      margin: 0;

      .children {
      }

      #coparent-code-instructions {
        line-height: 1.2;
        font-weight: 300;
        background-color: #fff3cd;
        border: 1px solid #ffeeba;
        color: #856404;
        border-radius: $borderRadius;
        padding: 10px;
      }

      #coparent-input-container,
      #parent-input-container,
      #child-input-container {
        margin: 15px auto;
        border: 1px solid rgba(33, 59, 199, 0.11);
        padding: 15px;
        border-radius: $borderRadius;
        background: $grey;

        input {
          background: transparent;
          border-bottom: 1px solid rgba(179, 180, 182, 0.49);
        }

        #checkbox-group {
          margin-top: 0;
        }

        button {
          border-radius: 0;
          border: 0;
          border-bottom: 1px solid $green;
          padding: 3px;
          min-height: 0;
          margin-top: 15px;
          margin-bottom: 0;
        }

        #coparent-label,
        #group-label,
        #child-label {
          font-size: 18px;
          font-weight: bold;
        }

        #checkbox-group {
          margin: 0;
          border: 0;
          padding: 0;

          .box {
            &.active {
            }
          }
        }
      }

      .button-group {
        margin-bottom: 100px;
      }

      .password-validation {
        display: block;

        li {
          span {
            opacity: 1 !important;
            line-height: 1;
            font-size: 16px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
          }

          svg {
            font-size: 12px;
            height: 12px;
            width: 12px;
          }
        }
      }

      button:not(.back-to-login-button) {
        display: block;
        margin: 0 auto 10px auto;
        font-size: 16px;
      }

      #checkbox-group {
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        &.parent-type {
          .flex {
            width: 40%;
          }
        }

        .flex {
          width: 45%;
          flex-wrap: wrap;

          .box {
            &.active {
              .checkmark-icon {
                display: block;
                text-align: center;
                margin: 0 auto;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

  // LOGIN
  #login-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    margin-top: 0;

    .screen-header {
      img {
        border-radius: 100%;
        width: 120px;
        height: auto;
      }
    }

    .buttons {
      margin-bottom: 15px;
    }

    #below-inputs-wrapper {
      margin-top: 10px;
      #forgot-password-link {
        font-size: 16px;
        color: $linkColor;
        width: max-content;
        border-bottom: 1px solid $linkColor;
        padding-bottom: 2px;
      }

      #checkbox-group {
        width: 50%;
        #checkboxes {
          padding: 0;
          label {
            font-size: 14px;
          }
        }
      }
    }

    #install-button {
      width: 150px;
      font-weight: $fwMediumBold;
      font-size: 13px;
      margin: 0 auto;
      min-width: 0;
      z-index: 10000;
      color: $blend;
      height: 50px;
      background: white;
      border-radius: $buttonBorderRadius;
      @include hover;
      @include shadow;
      box-shadow: $boxShadow_bottom_only;
    }

    .eye-icon {
      position: relative;
      margin-left: 10px;
      color: $secondaryAccent;
      @include hover;
    }

    #contact-support-text {
      margin-top: 30px;
      font-size: 15px;
      width: 80%;
      opacity: 0.85;
      font-weight: $fwRegular;

      a {
        font-size: 15px;
      }
    }

    #quote-container {
      width: 95%;
      position: relative;
      margin: 15px auto 0;

      b {
        font-weight: $fwMediumBold;
        font-style: italic;
      }

      span {
        opacity: 0.1;
        position: absolute;

        code {
          font-size: 80px;
        }

        &:first-child {
          top: -35px;
          left: -20px;
        }
      }

      p {
        width: 100%;
        text-align: center;
        font-style: italic;
        color: white;

        &#author {
          width: 100%;
          text-align: center;
          font-size: 14px;
          color: $mediumGrey;
        }
      }
    }

    .screen-title {
      span {
        position: relative;
        top: 5px;
      }
    }

    // LOGIN FORM
    .form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 30px;

      .input-wrapper {
        input {
          background: white;
          color: $primaryText;
        }
        svg {
          z-index: 99;
          color: $darkGrey;
        }
      }

      p {
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 25px;

        &#captcha-loading-text {
          font-size: 18px;
          color: $green;
        }
      }

      #login-button {
        margin: 15px auto 25px auto;
        width: 200px;
      }

      #sign-up-link {
        font-size: 16px;
        font-weight: $fwMedium;
        margin-top: 20px;

        span {
          font-weight: $fwBold;
          color: $linkColor;
          width: max-content;
          border-bottom: 1px solid $linkColor;
          padding-bottom: 2px;
        }
      }

      .form {
        width: 100%;
        input {
          border-radius: $borderRadius;
        }
        .inputs {
          align-items: center;
        }
      }

      #checkbox-group {
        .flex {
          width: 100%;

          span {
            font-weight: 400;

            &.checkmark-icon {
              align-items: center;
              justify-content: center;
              font-size: 18px;
              text-align: center;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}