@import "../mixins";

#registration-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    overflow-y: auto;
    margin-top: 0;
    padding-bottom: 300px;

    .form {
        margin: 0;

        .children {
            input {
                &:last-child {
                    margin-bottom: 10px;
                }
            }
        }

        #coparent-code-instructions {
            color: white;
            line-height: 1.2;
            font-weight: 300;
            background-color: #fff3cd;
            border: 1px solid #ffeeba;
            color: #856404;
            border-radius: $borderRadius;
            padding: 10px;
        }

        .coparent-input-container {
            @include transBg;
            padding: 15px;
            margin: 10px auto 0 auto;
            border-radius: $borderRadius;

            #coparent-label {
                color: $lightBlue;
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 10px;
            }

            #checkbox-group {
                margin: 0;
                border: 0;
                padding: 0;

                .box {

                    &.active {
                        background-color: $mainBlue;
                    }
                }
            }

            input {
                margin: 0;
                margin-bottom: 10px;
            }
        }


        .button-group {
            margin-bottom: 100px;

        }

        button {
            margin: 20px auto 0 auto;
            display: block;
            @include button(white, $green);
            font-size: 16px;

            &#add-child-button {
                @include button(white, $translucent);
                font-size: 14px;
                margin: 0 auto;
                margin-top: 20px;

            }

            &#add-coparent-button {
                @include button(white, $translucent);
                font-size: 14px;
                margin: 0 auto;
                margin-bottom: 20px;
                margin-top: 20px;
            }

        }

        #checkbox-group {
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
    }
}

#login-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    margin-top: 0;

    #forgot-password-link {
        font-size: 16px;
        text-decoration: underline;
        color: $complimentaryBlue;

        ion-icon {
            position: relative;
            top: 3px;
            margin-left: 10px;
            font-size: 20px;
        }
    }

    #quote-container {
        width: 95%;
        margin: 0 auto;
        position: relative;
        margin-top: 40px;

        b {
            font-weight: 500;
            font-style: italic;
        }

        span {
            font-size: 100px;
            color: white;
            opacity: .1;
            position: absolute;

            &:first-child {
                top: -45px;
                left: 5px;
            }
        }

        p {
            font-size: 18px;
            width: 100%;
            color: white;
            text-align: center;
            font-style: italic;

            &#author {
                font-size: 16px;
                width: 100%;
                text-align: center;
            }
        }
    }

    .screen-title {
        ion-icon {
            position: relative;
            top: 5px;
        }
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 100px;

        p {
            width: 100%;
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 25px;
            ;
        }

        .form {

            .button-group {
                button {
                    margin: 0 auto;
                    display: block;
                    margin-bottom: 10px;
                    margin-right: 10px;

                    &.register {
                        @include buttonWithIcon(white, $complimentaryBlue);
                        min-width: 0;
                        width: 50%;
                        margin-right: 0;
                    }
                }
            }
        }

        #checkbox-group {
            margin-top: 10px;

            span {
                font-weight: 400;
            }
        }
    }
}