@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes pulse {
  0%, 100% {
    color: "#9d98fc";
  }
  50% {
    color: #2b3563;
  }
}
@keyframes pulseWhite {
  0%, 100% {
    box-shadow: 0px 0px 20px 0px white;
  }
  50% {
    box-shadow: 0px 0px 10px 0px white;
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(123, 117, 255, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animStar {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes shootingStar {
  0% {
    transform: rotate(315deg) translateX(250px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
@keyframes starTwinkle {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateMoon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}
#external-overrides #registration-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  margin-top: 0;
  padding-bottom: 300px;
}
#external-overrides #registration-container label {
  font-weight: bold;
}
#external-overrides #registration-container .form {
  margin: 0;
}
#external-overrides #registration-container .form .children input:last-child {
  margin-bottom: 10px;
}
#external-overrides #registration-container .form #coparent-code-instructions {
  color: var(--textColor);
  line-height: 1.2;
  font-weight: 300;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  color: #856404;
  border-radius: 8px;
  padding: 10px;
}
#external-overrides #registration-container .form .coparent-input-container {
  -webkit-backdrop-filter: blur(10px);
  background-color: var(--modalBg);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 15px;
  margin: 15px auto 0 auto;
  border-radius: 8px;
}
#external-overrides #registration-container .form .coparent-input-container #coparent-label {
  color: #cfd9e4;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
#external-overrides #registration-container .form .coparent-input-container #checkbox-group {
  margin: 0;
  border: 0;
  padding: 0;
}
#external-overrides #registration-container .form .coparent-input-container #checkbox-group .box.active {
  background-color: var(--compColor);
}
#external-overrides #registration-container .form .coparent-input-container input {
  margin: 0;
  margin-bottom: 10px;
}
#external-overrides #registration-container .form .button-group {
  margin-bottom: 100px;
}
#external-overrides #registration-container .form ul {
  margin-bottom: 10px;
  display: block;
}
#external-overrides #registration-container .form ul li span {
  color: var(--textColor);
  line-height: 1;
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
#external-overrides #registration-container .form ul li svg {
  font-size: 12px;
  height: 12px;
  width: 12px;
}
#external-overrides #registration-container .form button {
  margin: 20px auto 0 auto;
  display: block;
  font-size: 16px;
}
#external-overrides #registration-container .form button#add-child-button {
  opacity: 0.8;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 20px;
}
#external-overrides #registration-container .form button#add-coparent-button {
  opacity: 0.8;
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
#external-overrides #registration-container .form #checkbox-group {
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
#external-overrides #registration-container .form #checkbox-group .flex {
  width: 50%;
}
#external-overrides #registration-container .form #checkbox-group .flex .box.active .checkmark-icon {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}
#external-overrides #login-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  margin-top: 0;
}
#external-overrides #login-container #install-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 150px;
  font-size: 12px;
  margin: 0 auto 0 auto;
  min-width: 0;
  padding: 0 10px;
  height: 30px;
  z-index: 10000;
  background-color: #7b75ff;
  color: white;
  box-shadow: 0px 0px 12px 0px rgb(124, 117, 255);
  border-radius: 8px;
  animation: beat 2s infinite;
}
#external-overrides #login-container #forgot-password-link {
  font-size: 16px;
  text-decoration: underline;
  color: var(--compColor);
}
#external-overrides #login-container #forgot-password-link span {
  position: relative;
  top: 3px;
  margin-left: 10px;
  font-size: 20px;
}
#external-overrides #login-container #quote-container {
  width: 95%;
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
}
#external-overrides #login-container #quote-container b {
  font-weight: 500;
  font-style: italic;
  color: var(--accent);
  opacity: 0.8;
  font-size: 18px;
}
#external-overrides #login-container #quote-container span {
  color: var(--textColor);
  opacity: 0.1;
  position: absolute;
}
#external-overrides #login-container #quote-container span code {
  font-size: 80px;
}
#external-overrides #login-container #quote-container span:first-child {
  top: -35px;
  left: -20px;
}
#external-overrides #login-container #quote-container p {
  font-size: 18px;
  width: 100%;
  color: var(--textColor);
  text-align: center;
  font-style: italic;
}
#external-overrides #login-container #quote-container p#author {
  font-size: 16px;
  width: 100%;
  text-align: center;
}
#external-overrides #login-container .screen-title span {
  position: relative;
  top: 5px;
}
#external-overrides #login-container .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
#external-overrides #login-container .form-container p {
  width: 100%;
  text-align: center;
  color: var(--textColor);
  font-weight: bold;
  font-size: 25px;
}
#external-overrides #login-container .form-container .form .inputs {
  align-items: center;
}
#external-overrides #login-container .form-container .form .inputs span {
  color: var(--textColor);
  font-size: 25px;
  margin-left: 10px;
}
#external-overrides #login-container .form-container .form .button-group button {
  margin: 0 auto;
  margin-bottom: 10px;
  margin-right: 10px;
}
#external-overrides #login-container .form-container #checkbox-group {
  margin-top: 10px;
}
#external-overrides #login-container .form-container #checkbox-group .flex {
  width: 100%;
}
#external-overrides #login-container .form-container #checkbox-group .flex span {
  font-weight: 400;
}
#external-overrides #login-container .form-container #checkbox-group .flex span.checkmark-icon {
  align-items: center;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
}/*# sourceMappingURL=loginRegistration.css.map */