@import './../mixins';

#external-overrides {
  #memories-container {
    #disclaimer-header-button {
      border-radius: 5px;
      padding: 6px 15px 5px 15px;
      align-items: center;
      justify-content: space-between;
      line-height: 1;
      display: flex;
      font-weight: $fwMediumBold;

      svg {
        font-size: 18px;
        margin: 0;
        align-self: stretch;
        height: 100%;
        position: relative;
        line-height: 1;
        top: -1px;
      }
    }
    .MuiAccordionDetails-root {
      background: $bootstrapYellowBg;
      border-radius: $bigBorderRadius;
      padding: 10px !important;
      border: 1px solid $bootstrapYellowBorder;
      p {
        color: $bootstrapYellowColor !important;
        text-align: center;
        font-size: 15px;

        b {
          font-weight: $fwBold;
          color: $bootstrapYellowColor !important;
        }
      }
    }
    .loading-memory-gif {
      transform: scale(0.5);
    }

    // LIGHT GALLERY
    .light-gallery {
      margin-top: 8px;

      .memories-fade-wrapper {
        width: 100%;
      }

      .memory {
        position: relative;
        .memory-title {
          backdrop-filter: blur(25px);
          padding: 8px;
          width: 100%;
          text-align: center;
          border-radius: $borderRadius $borderRadius 0 0;
          z-index: 99999;
          color: white;
          position: absolute;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: $fwMediumBold;
          font-size: 14px;
          line-height: 1.3;
        }
        .memory-image {
          position: relative;
          flex-basis: 30%;
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top center;
          border-radius: $borderRadius;
          float: none;
          min-height: 250px;

          .delete-icon {
            position: absolute;
            top: 0;
            z-index: 1000;
            right: 0;
            color: $red;
            font-size: 30px;
          }
        }

        .memory-toggle-button {
          width: 100%;

          svg {
            font-size: 28px;
            text-align: center;
            margin: 0 0 5px auto;
            color: $main;
            display: block;
          }
        }

        #below-image {
          width: 100%;
          display: grid;
          align-items: center;
          grid-template-columns: repeat(2, 100px);
          justify-content: flex-end;
          gap: 5px;
          margin: 2px 0 20px 0;

          #download-text,
          #delete-button {
            color: $bootstrapGreenColor;
            font-size: 12px;
            font-weight: $fwBold;
            line-height: 1;
            margin: 0;
            padding: 8px 10px;
            background: $bootstrapBgGreen;
            border-radius: 6px;
            text-align: center;
            @include hover;

            &#delete-button {
              background: $bootstrapBgRed;
              color: $bootstrapRedColor;
            }
          }
        }

        .notes {
          color: $subtitleText;
          font-size: 14px;
        }

        .memory-date {
          color: $subtitleText;
          font-style: italic;
          font-size: 14px;
          margin-left: auto;
          margin-bottom: 10px;
        }
      }
    }

    #fyi-wrapper {
      flex-wrap: wrap;
      width: 100%;
      .material-icons-round {
        font-size: 25px;
        justify-self: flex-end;
        margin-left: auto;
      }
      .rs-panel-group {
        justify-self: flex-end;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
      }
      .rs-panel-in {
        padding: 10px;
      }
    }

    #upload-button {
      font-size: 14px;
      height: 30px;
      min-width: 0;
      padding: 0 20px;
      margin: 0 0 0 auto;
    }

    #happy-subtitle {
      font-size: 16px;
      line-height: 1;

      svg {
        color: $red;
        font-size: 20px;
        position: relative;
        top: 5px;
        border-radius: 50%;
      }
    }

    .form {
      input,
      button,
      label {
        &:first-child {
          margin-right: 10px;
        }
      }

      label {
        span {
          color: $accent;
        }
      }

      .flex {
        margin-bottom: 10px;
      }
    }

    .instructions {
      &.light-gallery {
        margin-bottom: 10px;

        opacity: 1;
        font-weight: 400;
        font-size: 14px;
      }
    }

    .light-gallery {
      &:after {
        content: '';
        display: block;
        clear: both;
      }

      .grid-sizer,
      .memory-image {
        width: 33.33%;
      }

      .memory-image {
        margin-bottom: 5px;
        transition: all 0.5s ease-in-out;

        &.active {
          transform: scale(1);
          opacity: 1;
        }
      }

      .memory-image img {
        display: block;
        max-width: 100%;
        border-radius: $borderRadius;
      }
    }
    #img-container {
      position: relative;
      max-height: 150px;
      border-radius: $borderRadius;
      overflow: hidden;

      img {
        border-radius: $borderRadius;
        box-shadow:
          0 3px 6px rgba(0, 0, 0, 0.16),
          0 3px 6px rgba(0, 0, 0, 0.23);
      }

      p {
        color: $red;
        text-align: center;
        margin: 0 auto;
        font-weight: 500;
        padding: 5px 0;
        display: none;
        font-size: 16px;

        &.notes {
          text-align: left;

          width: 100%;
          border: 0;
          margin-right: 15px;
          max-height: 150px;
          font-weight: 400;
          overflow: auto;
          font-size: 16px;

          &.fade-bottom {
            @include fadeBottom;
          }
        }
      }

      .notes-icon {
        color: white;
        position: absolute;
        font-size: 20px;
        background-color: rgb(0, 0, 0, 0.6);
        border-radius: $borderRadius 0 $borderRadius 0;
        padding: 2px;
        bottom: 24px;
        right: 0;
      }
    }

    .flex {
      align-items: center;
    }

    .instructions {
      margin-top: 0;
    }

    &.active {
      .img-container {
        opacity: 0;
        transition: all 0.3s ease-in-out;

        &.active {
          opacity: 1;
        }
      }
    }
  }
}