@import '../mixins';

#external-overrides {
  #records-wrapper {
    // ROW
    #record-row {
      flex-wrap: wrap;

      &.expenses {
        padding-bottom: 0;
        margin-bottom: 10px;
        background: $grey;
        border-radius: $borderRadius;
        border: 1px solid $lightBorderColor;
      }

      table {
        width: 100%;
        margin: 5px 12px 10px 12px;
        thead {
          margin-bottom: 5px;
          padding: 0;

          th {
            color: black;
            font-size: 14px;
            line-height: 1;
            border-collapse: collapse;
            border: 0;
            border-radius: 0;
            padding: 0;
            font-weight: $fwMedium;
            &:first-child {
              border-radius: 5px 0 0 5px;
            }

            &:last-child {
              border-radius: 0 5px 5px 0;
            }
          }
        }

        th,
        td {
          padding: 5px 0 0 0;
          text-align: left;
        }

        td {
          font-size: 13px;
          width: calc(100% / 4);
          color: $subtitleText;
        }
      }

      .title {
        font-weight: $fwMedium;
        border-bottom: 1px solid $lightBorderColor;
        background: $blurple;
        width: 100%;
        color: white;
        border-radius: $borderRadius $borderRadius 0 0;
        text-align: center;
        padding: 10px 10px 8px 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-size: 14px;
          font-weight: $fwMediumBold;
        }
      }
    }

    .payers {
      padding: 0 0 5px 0;
    }
    // FILTER DROPDOWN
    .sorting-dropdown {
      [role='combobox'] {
        padding: 10px;
        height: auto !important;
      }
    }

    #export-button {
      border-bottom: 1px solid $green;
      display: flex;
      align-items: center;
      color: $green;
      width: 90px;
      padding-bottom: 3px;
      justify-content: center;
      margin: 0 auto 15px auto;

      svg {
        color: $green;
        font-size: 18px;
        margin-left: 8px;
      }
    }
  }
}