/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes sparkles1 {
  0% {
    top: 0;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: -200%;
    left: -50%;
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes sparkles2 {
  0% {
    top: 0;
    left: 25%;
    transform: scale(1);
  }
  100% {
    top: -250%;
    left: 10%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles3 {
  0% {
    top: 0;
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: -275%;
    left: 70%;
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes sparkles4 {
  0% {
    top: 0;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: -120%;
    left: 120%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles5 {
  0% {
    top: 100%;
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: 275%;
    left: 70%;
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes sparkles6 {
  0% {
    top: 100%;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: 220%;
    left: 120%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles7 {
  0% {
    top: 100%;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 200%;
    left: -50%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles8 {
  0% {
    top: 100%;
    left: 25%;
    transform: scale(1);
  }
  100% {
    top: 250%;
    left: 10%;
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes sparkles9 {
  0% {
    top: 50%;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 60%;
    left: -100%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles10 {
  0% {
    top: 50%;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: 75%;
    left: 170%;
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0%, 100% {
    color: "#9d98fc";
  }
  50% {
    color: #5c8df7;
  }
}
@keyframes pulseWhite {
  0%, 100% {
    box-shadow: 0px 0px 20px 0px white;
  }
  50% {
    box-shadow: 0px 0px 10px 0px white;
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(123, 117, 255, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes beatRed {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #d57179;
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animStar {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes shootingStar {
  0% {
    transform: rotate(315deg) translateX(250px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
@keyframes starTwinkle {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateMoon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}
/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
/*#region  FORM*/
/*#endregion  FORM*/
/*#region  BUTTONS*/
/*#endregion  BUTTONS*/
/*#region  EFFECTS*/
/*#endregion  EFFECTS*/
/*#region  POSITIONING*/
/*#endregion  POSITIONING*/
/*#region  COMPONENTS*/
/*#endregion  COMPONENTS*/
/*#region  MENU*/
/*#endregion  MENU*/
#swap-requests .action-pills {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  left: 0;
}
#swap-requests .action-pills .flex {
  background-color: transparent;
  color: white;
  padding: 5px 0;
  display: block;
  margin: 0;
  border: 0;
  border-radius: 0;
  justify-content: flex-start;
  width: 50%;
  align-items: center;
}
#swap-requests .action-pills .flex.close {
  min-width: 45%;
}
#swap-requests .action-pills .flex p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  opacity: 0.8;
}
#swap-requests .action-pills .flex span {
  border-radius: 100%;
  font-size: 20px;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  position: relative;
  top: -7px;
}
#swap-requests .action-pills .flex p,
#swap-requests .action-pills .flex span {
  text-align: center;
  display: inline;
}
#swap-requests .action-pills.swap-request, #swap-requests .action-pills.calendar-event {
  justify-content: flex-start;
}
#swap-requests .action-pills.swap-request .flex, #swap-requests .action-pills.calendar-event .flex {
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  justify-content: center;
  padding: 0 !important;
  align-items: center;
  display: flex;
  border-radius: 0;
}
#swap-requests .action-pills.swap-request .flex p, #swap-requests .action-pills.calendar-event .flex p {
  opacity: 0.5;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}
#swap-requests .action-pills.swap-request .flex span, #swap-requests .action-pills.calendar-event .flex span {
  transition: all 0.3s ease-in-out;
}
#swap-requests .action-pills.swap-request .flex.active, #swap-requests .action-pills.calendar-event .flex.active {
  border: 0;
  background-color: transparent;
  border-radius: 0;
}
#swap-requests .action-pills.swap-request .flex.active p, #swap-requests .action-pills.calendar-event .flex.active p {
  transform: scale(1.1);
  color: #b392f0;
  opacity: 0.9;
  font-weight: bold;
}
#swap-requests .action-pills.swap-request .flex.active span, #swap-requests .action-pills.calendar-event .flex.active span {
  display: inline;
  opacity: 0.9;
  color: #b392f0;
  transform: scale(1.1);
  margin-right: 5px;
}
#swap-requests .action-pills.swap-request.swap-request .flex, #swap-requests .action-pills.calendar-event.swap-request .flex {
  max-width: 30%;
  min-width: 0;
}
#swap-requests .action-pills.swap-request.swap-request .flex.active, #swap-requests .action-pills.calendar-event.swap-request .flex.active {
  width: 60%;
  max-width: 60%;
}
#swap-requests .close {
  margin: 20px auto 10px auto;
  display: block;
  opacity: 0.8;
  padding: 0;
  height: 30px;
  width: 100px;
  min-width: 0;
  font-size: 14px;
}
#swap-requests #swap-requests-container {
  margin-top: 15px;
}
#swap-requests #swap-requests-container #title {
  max-width: 70%;
  line-height: 1.5;
}
#swap-requests #swap-requests-container .request {
  width: 100%;
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(214, 219, 222, 0.45);
  padding-bottom: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
#swap-requests #swap-requests-container .request.active {
  max-height: 10000px;
  transition: all 0.3s ease-in-out;
}
#swap-requests #swap-requests-container .request.chats {
  padding-bottom: 8px;
}
@media screen and (min-width: 650px) {
  #swap-requests #swap-requests-container .request:hover {
    cursor: pointer;
  }
}
#swap-requests #swap-requests-container .request * {
  line-height: 1;
}
#swap-requests #swap-requests-container .request .at-symbol {
  font-size: 12px;
  position: relative;
  bottom: 2px;
}
#swap-requests #swap-requests-container .request .divider {
  padding: 0 5px;
  opacity: 0.7;
  color: black;
}
#swap-requests #swap-requests-container .request a,
#swap-requests #swap-requests-container .request .notes {
  width: 100%;
}
#swap-requests #swap-requests-container .request a.notes,
#swap-requests #swap-requests-container .request .notes.notes {
  opacity: 0.85;
}
#swap-requests #swap-requests-container .request .two-column {
  width: calc(100% - 45px);
  flex-wrap: wrap;
}
#swap-requests #swap-requests-container .request .two-column p,
#swap-requests #swap-requests-container .request .two-column a {
  margin-top: 0;
  line-height: 1.3;
}
#swap-requests #swap-requests-container .request .status {
  margin-left: auto;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  align-items: center;
  line-height: 1;
}
#swap-requests #swap-requests-container .request .status.paid, #swap-requests #swap-requests-container .request .status.approved {
  background-color: rgba(173, 245, 203, 0.65);
  color: #2ecc71;
  border: 1px solid #2ecc71;
}
#swap-requests #swap-requests-container .request .status.pending {
  background-color: #fbf5bf;
  color: #e8964a;
  border: 1px solid #e8964a;
}
#swap-requests #swap-requests-container .request .status.unpaid, #swap-requests #swap-requests-container .request .status.rejected {
  background-color: #f5e0e1;
  color: #d57179;
  border: 1px solid #d57179;
}
#swap-requests #swap-requests-container .request #subtitle {
  padding-top: 5px;
  margin-top: 0;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  color: black;
  opacity: 0.9;
}
#swap-requests #swap-requests-container .request #subtitle.calendar {
  margin-left: 20px;
}
#swap-requests #swap-requests-container .request #content {
  width: calc(100% - 60px);
  margin: 0;
}
#swap-requests #swap-requests-container .request #primary-icon-wrapper {
  background-color: #edf2fd;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#swap-requests #swap-requests-container .request #primary-icon-wrapper #primary-row-icon {
  font-size: 27px;
  color: #547eff;
}
#swap-requests #swap-requests-container .request #primary-icon-wrapper span,
#swap-requests #swap-requests-container .request #primary-icon-wrapper p {
  color: #547eff;
  font-size: 13px;
  font-weight: 500;
}
#swap-requests #swap-requests-container .request .info-row {
  padding-bottom: 5px;
  width: 100%;
}
#swap-requests #swap-requests-container .request .row-title {
  color: #1c1c1c;
  font-weight: 400;
}
#swap-requests #swap-requests-container .request #details {
  max-height: 0;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  opacity: 0;
  display: flex;
  padding: 0 0 5px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
#swap-requests #swap-requests-container .request #details.open {
  opacity: 1;
  overflow: auto;
  width: 100%;
  max-height: 1000px;
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
#swap-requests #swap-requests-container .request .details-toggle-arrow {
  display: none;
  opacity: 0.4;
  position: absolute;
  right: 10px;
  font-size: 24px;
}
#swap-requests #swap-requests-container .request .details-toggle-arrow.active {
  display: inherit;
}
#swap-requests #swap-requests-container .request.row .status {
  align-self: flex-start;
}
#swap-requests #swap-requests-container .request #title {
  max-width: 70%;
  line-height: 1.5;
}
#swap-requests #swap-requests-container .request #details .content {
  position: relative;
  align-items: center;
  overflow: hidden;
}
#swap-requests #swap-requests-container .request #details .content .top-details {
  width: 100%;
}
#swap-requests #swap-requests-container .request #details .content .top-details .row {
  width: 100%;
  border-radius: 8px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#swap-requests #swap-requests-container .request #details .content .reason {
  font-weight: 300;
  font-size: 14px;
}
#swap-requests #swap-requests-container .request #details .content .reason-text {
  -ms-word-break: break-all;
  word-break: break-all;
}
#swap-requests #swap-requests-container .request #details .content .reason-text.wrap {
  width: 100%;
}
#swap-requests #swap-requests-container .request #details .content .flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#swap-requests #swap-requests-container .request #details .content .flex p {
  font-weight: 400;
  line-height: 1.2;
  opacity: 0.9;
  margin: 0;
}
#swap-requests #swap-requests-container .request #details .content .flex p.label {
  opacity: 0.87;
}
#swap-requests #swap-requests-container .request #details .content .flex p.subtext {
  opacity: 0.6;
}
#swap-requests #swap-requests-container .request #details .content .flex p.unpaid {
  color: #d57179;
  opacity: 1;
}
#swap-requests #swap-requests-container .request #details .content .flex p.request-date, #swap-requests #swap-requests-container .request #details .content .flex p.amount {
  font-weight: 500;
}
#swap-requests #swap-requests-container .request #details .content .flex p.time span {
  position: relative;
  top: 2px;
}
#swap-requests #swap-requests-container .request #details .content .flex b {
  font-weight: 500;
  display: block;
}
#swap-requests #swap-requests-container .request #details .content #reminder-button {
  margin: 10px 0;
}
#swap-requests #swap-requests-container .request #details .content #reminder-button span {
  color: black;
}
#swap-requests #swap-requests-container .request #details #children svg {
  font-size: 20px;
  margin-right: 8px;
  color: black;
  opacity: 0.4;
}
#swap-requests #swap-requests-container .request #details #children .divider {
  opacity: 0.5;
  padding: 0 5px;
}
#swap-requests #swap-requests-container .request #details #children p {
  font-size: 14px;
  color: #939393;
  margin-left: auto;
  display: flex;
  align-items: center;
  position: relative;
}
#swap-requests #swap-requests-container .request #details #delete-button {
  font-size: 14px;
  margin-left: auto;
  display: block;
  color: #d57179;
  margin-top: 15px;
  text-align: right;
  font-weight: 500;
}
#swap-requests #swap-requests-container .request #details #request-buttons {
  width: 100%;
  justify-content: center;
  gap: 15px;
}
#swap-requests #swap-requests-container .request #details #request-buttons button {
  background-color: transparent;
  padding: 0;
}
#swap-requests #swap-requests-container .request #details #request-buttons button.red {
  color: #d57179;
}
#swap-requests #swap-requests-container .request #details #request-buttons button.blue {
  color: #547eff;
}
#swap-requests #swap-requests-container .request #details #request-buttons button.green {
  color: #2ecc71;
  display: flex;
  align-items: center;
}
#swap-requests #swap-requests-container .request #details #request-buttons button.green svg {
  font-size: 18px;
  margin-left: 5px;
  position: relative;
  top: -2px;
}
#swap-requests #swap-requests-container .request #details #request-form {
  margin-top: 50px;
}
#swap-requests #swap-requests-container .request #details #request-form .rs-picker {
  margin: 0;
}
#swap-requests #swap-requests-container .request #details #request-form .form.transfer-change #checkbox-group.sending-to {
  margin-top: 85px;
}
#swap-requests #swap-requests-container .request #details #request-form .form.transfer-change input:first-child {
  margin-bottom: 0;
}
#swap-requests #swap-requests-container .request #details #request-form .form input:is(:-webkit-autofill, :-webkit-autofill:focus) {
  margin: 0 auto;
  display: block;
  width: 100%;
  border: 0;
  border-radius: 0;
  outline: 0;
  font-weight: 400;
  padding-left: 0;
  min-height: 25px;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}
#swap-requests #swap-requests-container .request #details #request-form .form input.rs-input,
#swap-requests #swap-requests-container .request #details #request-form .form textarea.rs-input {
  margin-bottom: 0;
}
#swap-requests #swap-requests-container .request #details #request-form .form input::-moz-placeholder, #swap-requests #swap-requests-container .request #details #request-form .form textarea::-moz-placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.44);
}
#swap-requests #swap-requests-container .request #details #request-form .form input::placeholder,
#swap-requests #swap-requests-container .request #details #request-form .form textarea::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.44);
}
#swap-requests #swap-requests-container .request #details #request-form .form input:focus,
#swap-requests #swap-requests-container .request #details #request-form .form textarea:focus {
  outline: none;
  border: 1px solid #547eff;
  border-radius: 4px;
  padding: 10px;
}
#swap-requests #swap-requests-container .request #details #request-form .form label {
  margin-bottom: 0;
}
#swap-requests #swap-requests-container .request #details #request-form .form label svg {
  font-size: 22px;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.44);
}
#swap-requests #swap-requests-container .request #details #request-form .form label.sorting label {
  font-weight: 500;
}
#swap-requests #swap-requests-container .request #details #request-form .form label label {
  font-weight: 400;
  margin: 0;
  line-height: 1.3;
}
#swap-requests #swap-requests-container .request #details #request-form .form label label.bold {
  font-weight: 500;
  opacity: 0.9;
}
#swap-requests #swap-requests-container .request #details #request-form .form .button-group {
  margin: 0 auto;
  justify-content: center;
}
#swap-requests #swap-requests-container .request #details #request-form .form button {
  padding: 8px 10px;
  margin: 20px auto 0 auto;
  display: block;
  width: 50%;
}
#swap-requests #swap-requests-container .request #details #request-form .form button.rs-picker-clean {
  display: none;
}
#swap-requests #swap-requests-container .request #details #request-form .form button span {
  position: relative;
  top: 3px;
  margin-left: 5px;
}
#swap-requests #swap-requests-container .request #details .button-group {
  display: flex;
}
#swap-requests #swap-requests-container .request #details .button-group button.submit {
  margin-right: 10px;
  min-width: 0;
  width: 50%;
}
#swap-requests #swap-requests-container .request #details .button-group button.close {
  min-width: 0;
  width: 50%;
}
#swap-requests #swap-requests-container .request .details-toggle-arrowsvg {
  display: none;
  opacity: 0.4;
  position: absolute;
  right: 10px;
  font-size: 24px;
}
#swap-requests #swap-requests-container .request .details-toggle-arrowsvg.active {
  display: inherit;
}
#swap-requests #swap-requests-container .request * {
  line-height: 1;
}
#swap-requests #swap-requests-container .request a {
  display: none;
  align-items: center;
  margin-top: 5px;
  font-weight: 400;
  font-size: 14px;
}
#swap-requests #swap-requests-container .request a span {
  margin-right: 5px;
}
#swap-requests #swap-requests-container .request .row,
#swap-requests #swap-requests-container .request #children {
  margin-bottom: 5px;
}
#swap-requests #swap-requests-container .request #request-date {
  line-height: 1;
  font-weight: 600;
  width: auto;
  display: inline;
}
#swap-requests #swap-requests-container .request #request-date span {
  font-size: 16px;
  display: block;
  line-height: 1.2;
  font-weight: 400;
}
#swap-requests #swap-requests-container .request #request-date span:nth-child(2), #swap-requests #swap-requests-container .request #request-date span.time {
  font-size: 12px;
  opacity: 0.7;
}

#new-swap-request-container {
  /*#region  DARK THEME*/
  /*#endregion  DARK THEME*/
}
#new-swap-request-container.dark #rejection-reason-textarea {
  background-color: #5c8df7;
}
#new-swap-request-container.dark #duration-options.swap-request .flex p,
#new-swap-request-container.dark #duration-options.swap-request .flex span {
  color: white;
}/*# sourceMappingURL=swapRequests.css.map */