@import '../variables';
@import '../palette';
@import '../mixins';

#external-overrides {
  #activity-wrapper {
    overflow: hidden;

    #updates-legend {
      border-radius: 0;

      &.MuiPaper-root {
        .MuiButtonBase-root {
          width: unset;
        }
      }

      .MuiAccordionDetails-root {
        padding: 0;
      }

      #legend-title {
        font-weight: $fwRegular;
        display: flex;
        align-items: center;
      }

      svg {
        margin-left: 5px !important;
        font-size: 14px !important;
        position: relative;
        top: 0;
      }

      .box {
        height: 10px;
        width: 10px;
        margin-right: 10px;

        &.medical {
          background-color: $red;
          border-radius: $borderRadius;
        }
        &.expenses {
          background-color: $gold;
          border-radius: $borderRadius;
        }
      }

      p {
        margin: 0;
        font-size: 15px;
        color: $darkerGrey;
      }
    }

    .clear-all {
      &.button {
        &.default {
          display: flex;
          margin-left: auto;
          margin-right: 0;
          max-width: unset;
          line-height: 1;
          height: auto;
          padding: 4px 8px;
          border-radius: 6px;
        }
      }
    }

    #activity-cards {
      gap: 8px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      display: flex;
      padding-bottom: 100px;

      #row-wrapper {
        align-items: center;
        justify-content: space-between;

        .row-checkmark {
          color: $green;
          margin-left: 25px;
        }

        .activity-row {
          margin-bottom: 0;
          width: 100%;
          padding: 10px 10px 10px 0;
          flex-wrap: wrap;

          .category {
            font-size: 12px;
            background: $grey;
            border-radius: 50px;
            padding: 5px 12px;
            margin-top: 5px;
            margin-left: auto;
            max-width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .card-title {
            font-weight: $fwMedium;
            line-height: 1;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: $main;

            svg {
              margin-right: 10px;
              font-size: 26px;
            }

            &.medical {
              svg {
                color: $red;
              }
            }

            &.expenses {
              svg {
                color: $gold;
              }
            }
          }

          #date {
            font-size: 12px;
            margin: 0;
            width: 100%;
            color: $darkGrey;
          }
          .text {
            margin: 2px 0 0 0;
            line-height: 1.4;
            padding-bottom: 5px;
            color: $primaryText;
            font-size: 14px;
            font-weight: $fwRegular;
          }
        }
      }
    }
  }
}