/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes sparkles1 {
  0% {
    top: 0;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: -200%;
    left: -50%;
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes sparkles2 {
  0% {
    top: 0;
    left: 25%;
    transform: scale(1);
  }
  100% {
    top: -250%;
    left: 10%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles3 {
  0% {
    top: 0;
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: -275%;
    left: 70%;
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes sparkles4 {
  0% {
    top: 0;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: -120%;
    left: 120%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles5 {
  0% {
    top: 100%;
    left: 50%;
    transform: scale(1);
  }
  100% {
    top: 275%;
    left: 70%;
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes sparkles6 {
  0% {
    top: 100%;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: 220%;
    left: 120%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles7 {
  0% {
    top: 100%;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 200%;
    left: -50%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles8 {
  0% {
    top: 100%;
    left: 25%;
    transform: scale(1);
  }
  100% {
    top: 250%;
    left: 10%;
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes sparkles9 {
  0% {
    top: 50%;
    left: 0;
    transform: scale(1);
  }
  100% {
    top: 60%;
    left: -100%;
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes sparkles10 {
  0% {
    top: 50%;
    left: 100%;
    transform: scale(1);
  }
  100% {
    top: 75%;
    left: 170%;
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes enlarge {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  0%, 100% {
    color: "#9d98fc";
  }
  50% {
    color: #5c8df7;
  }
}
@keyframes pulseWhite {
  0%, 100% {
    box-shadow: 0px 0px 20px 0px white;
  }
  50% {
    box-shadow: 0px 0px 10px 0px white;
  }
}
@keyframes beat {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(123, 117, 255, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes beatRed {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 #d57179;
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(123, 117, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animStar {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes shootingStar {
  0% {
    transform: rotate(315deg) translateX(250px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
@keyframes starTwinkle {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateMoon {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-90deg);
  }
}
/*#region  BASE COLORS */
/*#endregion  BASE COLORS */
/*#region  BLACKS (NOT NEGROES)*/
/*#endregion  BLACKS (NOT NEGROES)*/
/*#region  GREYS*/
/*#endregion  GREYS*/
/*#region  VISITATION COLORS*/
/*#endregion  VISITATION COLORS*/
/*#region  Dark Theme*/
/*#endregion  Dark Theme*/
/*#region  LIGHT THEME*/
/*#endregion  LIGHT THEME*/
/*#region  FORM*/
/*#endregion  FORM*/
/*#region  BUTTONS*/
/*#endregion  BUTTONS*/
/*#region  EFFECTS*/
/*#endregion  EFFECTS*/
/*#region  POSITIONING*/
/*#endregion  POSITIONING*/
/*#region  COMPONENTS*/
/*#endregion  COMPONENTS*/
/*#region  MENU*/
/*#endregion  MENU*/
#external-overrides #visitation-container .holiday-checkboxes-wrapper {
  margin-top: 25px;
}
#external-overrides #coparenting-setup-container {
  z-index: 1000000;
  /*#region rSuite */
  /*#endregion rSuite*/
}
#external-overrides #coparenting-setup-container .ff-note {
  padding: 10px;
  border: 2px solid red;
}
#external-overrides #coparenting-setup-container .rs-panel-body,
#external-overrides #coparenting-setup-container .rs-panel-btn {
  padding: 0 !important;
}
#external-overrides #coparenting-setup-container .rs-panel-header {
  padding: 10px;
  text-align: center;
}
#external-overrides #coparenting-setup-container .rs-panel-btn:active {
  background-color: transparent !important;
}
#external-overrides #coparenting-setup-container .rs-panel-btn *:focus {
  background-color: transparent !important;
}
#external-overrides #coparenting-setup-container .rs-panel-btn:hover {
  background-color: transparent !important;
}
#external-overrides #coparenting-setup-container .rs-panel-collapsible .rs-panel-header * {
  background-color: transparent;
}
#external-overrides #coparenting-setup-container .rs-panel-collapsible .rs-panel-header .rs-panel-btn:focus .rs-panel-btn:hover {
  background-color: transparent;
}
#external-overrides #coparenting-setup-container .rs-dropdown-toggle,
#external-overrides #coparenting-setup-container .rs-panel-header {
  font-weight: 400;
  padding: 8px 20px;
  background-color: transparent;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#external-overrides #coparenting-setup-container .rs-dropdown-toggle b,
#external-overrides #coparenting-setup-container .rs-panel-header b {
  padding: 0 5px;
}
#external-overrides #coparenting-setup-container .rs-dropdown-toggle span,
#external-overrides #coparenting-setup-container .rs-dropdown-toggle svg,
#external-overrides #coparenting-setup-container .rs-panel-header span,
#external-overrides #coparenting-setup-container .rs-panel-header svg {
  margin-left: auto;
  fill: #b392f0;
  color: #b392f0;
  text-align: center;
}
#external-overrides #coparenting-setup-container .rs-dropdown-toggle .rs-panel-title,
#external-overrides #coparenting-setup-container .rs-panel-header .rs-panel-title {
  text-align: left;
}
#external-overrides #coparenting-setup-container .rs-dropdown-toggle-caret {
  right: 25px;
  color: #b392f0;
  font-weight: bolder;
}
#external-overrides #coparenting-setup-container .note {
  font-weight: 400;
  margin: 0 auto;
  line-height: 1.5;
  padding: 10px;
}
#external-overrides #coparenting-setup-container .note.ff-note {
  line-height: 0;
}
#external-overrides #coparenting-setup-container .note.ff-note.active {
  padding: 10px;
  line-height: 1.5;
}
#external-overrides #coparenting-setup-container .sections .rs-panel-group .accordion-label {
  font-weight: 400;
  padding: 5px 20px;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
#external-overrides #coparenting-setup-container .sections .rs-panel-group .accordion-label b {
  padding: 0 5px;
}
#external-overrides #coparenting-setup-container .sections .rs-panel-group .accordion-label span {
  margin-left: auto;
  margin-right: 0;
}
#external-overrides #coparenting-setup-container .sections .nvm {
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 14px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}
#external-overrides #coparenting-setup-container .sections #event-date {
  font-size: 15px;
}
#external-overrides #coparenting-setup-container .sections .section {
  justify-content: flex-start;
}
#external-overrides #coparenting-setup-container .sections .section.summary {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#external-overrides #coparenting-setup-container .sections .section.summary .summary-hour {
  margin: 0;
}
#external-overrides #coparenting-setup-container .sections .section.summary .input-container {
  justify-self: flex-start;
  width: 100%;
}
#external-overrides #coparenting-setup-container .sections .section.summary .input-container .rs-input-group-addon {
  margin: 0 !important;
  border: 0 !important;
}
#external-overrides #coparenting-setup-container .sections .section.summary .input-container input {
  border-radius: 0;
  width: 100%;
}
#external-overrides #coparenting-setup-container .sections .section.summary .input-container input::-moz-placeholder {
  opacity: 0.7;
  font-style: italic;
  font-size: 16px;
}
#external-overrides #coparenting-setup-container .sections .section.summary .input-container input::placeholder {
  opacity: 0.7;
  font-style: italic;
  font-size: 16px;
}
#external-overrides #coparenting-setup-container .sections .section.visitation-schedule {
  border-bottom: 0;
}
#external-overrides #coparenting-setup-container .sections .section.visitation-schedule .rs-dropdown-open button {
  border-radius: 8px 8px 0 0;
}
#external-overrides #coparenting-setup-container .sections .section.visitation-schedule ul {
  border: 1px solid red;
  border: 0;
  height: 400px;
  border-radius: 0 0 8px 8px;
}
#external-overrides #coparenting-setup-container .sections .section.visitation-schedule ul li {
  padding: 0 10px;
}
#external-overrides #coparenting-setup-container .sections .section.summary span {
  margin: 0;
  font-size: 25px;
  margin-right: 10px;
  color: #b392f0;
}
#external-overrides #coparenting-setup-container .sections .section.summary span:nth-child(2) {
  margin-left: 20px;
  font-size: 20px;
}
#external-overrides #coparenting-setup-container .sections .section.summary div {
  margin-left: auto;
}
#external-overrides #coparenting-setup-container .sections .section.summary div span {
  font-size: 20px;
}/*# sourceMappingURL=visitation.css.map */