@import '../mixins';

#external-overrides {
  #visitation-section,
  #visitation-holidays-section {
    background: $oneMillionGrey !important;
    border-radius: $borderRadius !important;
    padding: 0 10px;
    border: 1px solid $greyOnGreyBorder;
    #checkbox-group {
      margin: 0;
    }
    .MuiAccordionDetails-root {
      padding: 0;
    }
    .MuiPaper-root {
      border: 2px solid blue !important;
      .MuiButtonBase-root {
        width: 100% !important;
        min-height: 0 !important;
      }
    }

    .MuiCollapse-root {
      background: $oneMillionGrey !important;
      border-radius: $borderRadius;
    }

    .accordion-title {
      width: 100%;
    }
  }
  #visitation-container {
    .holiday-checkboxes-wrapper {
      margin-top: 25px;
    }
  }
  #coparenting-setup-container {
    z-index: 1000000;

    .ff-note {
      padding: 10px;
      border: 2px solid red;
    }
    /*#region rSuite */
    .rs-panel-body,
    .rs-panel-btn {
      padding: 0 !important;
    }

    // Dropdown heaer
    .rs-panel-header {
      padding: 10px;
      text-align: center;
    }

    .rs-panel-btn {
      &:active {
        background-color: transparent !important;
      }
    }

    .rs-panel-btn {
      *:focus {
        background-color: transparent !important;
      }
    }

    .rs-panel-btn {
      &:hover {
        background-color: transparent !important;
      }
    }

    .rs-panel-collapsible {
      .rs-panel-header {
        * {
          background-color: transparent;
        }

        .rs-panel-btn:focus {
          .rs-panel-btn:hover {
            background-color: transparent;
          }
        }
      }
    }

    .rs-dropdown-toggle,
    .rs-panel-header {
      font-weight: 400;
      padding: 8px 20px;
      background-color: transparent;
      border-radius: 6px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      b {
        padding: 0 5px;
      }

      span,
      svg {
        margin-left: auto;
        fill: $accent;
        color: $accent;
        text-align: center;
      }

      .rs-panel-title {
        text-align: left;
      }
    }

    .rs-dropdown-toggle-caret {
      right: 25px;
      color: $accent;
      font-weight: bolder;
    }

    /*#endregion rSuite*/

    .note {
      font-weight: 400;
      margin: 0 auto;
      line-height: 1.5;
      padding: 10px;
      &.ff-note {
        line-height: 0;

        &.active {
          padding: 10px;
          line-height: 1.5;
        }
      }
    }

    // Sections
    .sections {
      .rs-panel-group {
        .accordion-label {
          font-weight: 400;
          padding: 5px 20px;
          border-radius: 6px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-align: left;

          b {
            padding: 0 5px;
          }

          span {
            margin-left: auto;
            margin-right: 0;
          }
        }
      }

      .nvm {
        text-transform: uppercase;
        opacity: 0.6;
        font-size: 14px;
        width: 100%;
        text-align: center;
        text-decoration: underline;
      }

      #event-date {
        font-size: 15px;
      }

      .section {
        justify-content: flex-start;

        //test

        &.summary {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;

          .summary-hour {
            margin: 0;
          }

          .input-container {
            justify-self: flex-start;
            width: 100%;

            .rs-input-group-addon {
              margin: 0 !important;
              border: 0 !important;
            }

            input {
              border-radius: 0;

              width: 100%;

              &::placeholder {
                opacity: 0.7;
                font-style: italic;
                font-size: 16px;
              }
            }
          }
        }

        &.visitation-schedule {
          border-bottom: 0;

          .rs-dropdown-open {
            button {
              border-radius: $borderRadius $borderRadius 0 0;
            }
          }

          ul {
            border: 1px solid red;
            border: 0;
            height: 400px;
            border-radius: 0 0 $borderRadius $borderRadius;

            li {
              padding: 0 10px;
            }
          }
        }

        &.summary {
          span {
            margin: 0;
            font-size: 25px;
            margin-right: 10px;
            color: $accent;

            &:nth-child(2) {
              margin-left: 20px;

              font-size: 20px;
            }
          }

          div {
            margin-left: auto;

            span {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}